{% extends 'index.html' %}
{% block content %}
<section class="md:flex overflow-y-auto">
  <div class="w-full md:w-64 border border-sky-500 bg-white">{% include 'menu.html' %}</div>
  <div class="w-full flex justify-center overflow-y-auto">
    {% if object == 'commande' %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'content_commande.html' %}</div>
    {% elif object == 'Offresurmesure' %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'content_offresurmesure.html'%}</div>
    {% elif object == 'instance' %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'content_instance.html'%}</div>
    {% elif object == 'service' %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'content_service.html'%}</div>
    {% elif object == 'paiement' %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'content_paiement.html'%}</div>
    {% elif object == 'Offresurmesuredetail' %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'content_offresurmesuredetail.html'%}</div>
    {% elif object == 'profil' %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'profil_user.html'%}</div>
    {% elif object == 'application' %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'user/content_application.html'%}</div>
    {% else %}
    <div class="w-full flex justify-center overflow-y-auto">{% include 'content_user.html' %}</div>
    {% endif %}
  </div>
</section>
{% endblock %}