<div class="flex justify-center w-full">
  <div class="col-lg-8">
    <div class="card shadow-lg border-0 rounded-lg">
      <div class="card-header justify-content-center bg-blue-200">
        <h3 class="font-weight-light py-2 text-center">Payez votre commande</h3>
      </div>
      <div class="card-body bg-gray-100">
        <form class="p-2 rounded" {% if action == 'add' %} action='' {% else %} action="/user/account/commande/{{ commande_to_paid.code }}/add_paiement/" {% endif %} method="POST">
          {% csrf_token %}
          {% if form_paiement.non_field_errors %}
          <div class="mb-4 md:mr-2 md:mb-0 w-full justify-center">
            <div class="flex text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 justify-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill mt-3" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <span class="font-bold mt-3">{{ form.non_field_errors }}</span>
          </div>
          {% endif %}
          <div class="mb-4 md:flex md:justify-center">
            <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">
              <label class="block mb-2 text-md font-bold text-black" for="{{ form.commande.id_for_label }}">
                Commande
              </label>
              {{ form_paiement.commande }}
            </div>
            <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">
              <label class="block mb-2 text-md font-bold text-black" for="{{ form.date_paiement.id_for_label }}">
                Date Paiement
              </label>
              {{ form_paiement.date_paiement }}
            </div>
          </div>
          <div class="mb-4 md:flex md:justify-center">
            <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
              <label class="block mb-2 text-md font-bold text-black" for="{{ form.mode_paiement.id_for_label }}">
                  Mode de Paiement
              </label>
              {{ form_paiement.mode_paiement }}
            </div>
            <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
              <label class="block mb-2 text-md font-bold text-black" for="{{ form.numTransaction_or_numCarte.id_for_label }}">
                Numéro Transaction
              </label>
              {{ form_paiement.numTransaction_or_numCarte }}
            </div>
          </div>
          <div class="mb-4 md:flex md:justify-center">
            <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
              <label class="block mb-2 text-md font-bold text-black" for="{{ form.montant.id_for_label }}">
                  Montant
              </label>
              {{ form_paiement.montant }}
            </div>
            <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
              <label class="block mb-2 text-md font-bold text-black" for="{{ form.devise.id_for_label }}">
                Devise
              </label>
              {{ form_paiement.devise }}
            </div>
          </div>
          <div class="m-2 text-center">
            <button
              class="px-4 py-1.5 font-bold text-black bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
              type="submit">
              Enregistrer
            </button>
            {% if action == 'add' %}
              <a href="/user/account/paiement" class="px-4 py-2 font-bold text-black bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                Annuler
              </a>
            {% else %}
              <a href="/user/account/commande?code={{ commande_detail.code }}" class="px-4 py-2 font-bold text-black bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                Annuler
              </a>
            {% endif %}
          </div>
          <hr class="mb-6 border-t" />
          <div></div>
        </form>
      </div>
    </div>
  </div>
</div>
