<div class="flex mt-1 w-full md:text-lg text-xs">
  {% if action == 'add' %}
    {% include 'add_paiement.html' %}
  {% elif action == 'edit' %}
    {% include 'add_paiement.html' %}
  {% else %}
  <div class="w-full flex flex-col">
    {% if page %}
    <form class="w-full" action="{% url 'user_action_paiement' %}" method="post">
      {% csrf_token %}
      <div class="w-full overflow-x-scroll">
        <table class="w-full md:text-lg text-xs">
          <thead class="border-4 border-gray-200 justify-center">
            <tr class="bg-gray-800 justify-center">
              <th class="px-1 py-2">
                <span class="text-indigo-50"></span>
              </th>
              <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                <span class="text-indigo-50">Code</span>
              </th>
              <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                <span class="text-indigo-50">Commande</span>
              </th>
              <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                <span class="text-indigo-50">Mode Paiement </span>
              </th>
              <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-indigo-50"> Transaction</span>
              </th>
              <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-indigo-50"> Date Paiement </span>
              </th>
              <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-indigo-50"> Date </span>
              </th>
              <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-indigo-50"> Montant </span>
              </th>
              <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-indigo-50"> Status </span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-gray-200">
            {% for paiement in page.object_list %}
            <tr class="bg-white border-4 border-gray-200 text-center">
              <td class="px-1 py-2 items-center">
                <span><input type="checkbox" value="{{ paiement.id }}" id="{{ paiement.id }}" name = "select_items"/></span>
              </td>
              <td class="px-3 py-2">
                  <span class="text-center">{{ paiement.code }}</span>
              </td>
              <td>
                <a href="{% url 'user_commande' %}?code={{ paiement.commande }}">
                  <span class="text-center">{{ paiement.commande }}</span>
                </a>
              </td>
              <td class="px-3 py-2">
                  <span class="text-center">{{ paiement.mode_paiement.name }}</span>
              </td>
              <td class="px-3 py-2">
                  <span class="text-center">{{ paiement.numTransaction_or_numCarte }}</span>
              </td>
              <td class="px-3 py-2">
                  <span class="text-center">{{ paiement.date_paiement }}</span>
              </td>
              <td class="px-3 py-2">
                  <span class="text-center">{{ paiement.date_created }}</span>
              </td>
              <td class="px-3 py-2">
                  <span class="text-center">{{ paiement.montant|floatformat:0 }} {{ paiement.devise }}</span>
              </td>
              <td class="px-3 py-2">
                <span class="text-center">
                  {% if paiement.state == 'validat' %}
                  <span class="text-green-500"> Valider</span>
                  {% elif paiement.state == 'open' %}
                  <span class="text-blue-500"> En Cours </span>
                  {% elif paiement.state == 'cancel' %}
                  <span class="text-red-500"> Annuler </span>
                  {% elif paiement.state == 'reject' %}
                  <span class="text-red-500"> Rejeter </span>
                  {% endif %}
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
    <div class="w-full mt-auto">
      {% include 'pagination.html' %}
    </div>
    {% else %}
    <div class="w-full justify-center text-center font-bold flex items-center py-8">
        Votre liste de paiements est vide !!!
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>