<div class="mt-8 container">
  <div class="mx-auto grid max-w-7xl  grid-cols-1 gap-6 p-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {% for grp_service in user_services %}
    <article class="rounded-xl  shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 ">
      <div class=" bg-white ">
        <div class="h-48">
          <div class="h-60"
            style="background-image: url({{ grp_service.image.url }});background-position: center;background-size:cover;background-repeat: no-repeat;">
          </div>
        </div>
        <div class="bg-white rounded-lg  mx-2 h-full">
          <div class="p-2 text-center">
            <h6 class="font-bold text-blue-800 my-3 block  groupe-service-title">
                {{ grp_service.name }}
            </h6>
            <p class="text-base text-body-color  groupe-service-description">
              {{ grp_service.description }}
            </p>
            <a href="/groupe_service?name={{ grp_service.name }}"
            class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
            Découvrir
          </a>
          </div>
        </div>
      </div>
    </article> 
    {% endfor %}
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    function resize() {
      var maxHeight_desc = Math.max.apply(null, $(".groupe-service-description").map(function ()
      {
          return $(this).height();
      }).get());

      $('.groupe-service-description').height(maxHeight_desc);
      
      var maxHeight_title = Math.max.apply(null, $(".groupe-service-title").map(function ()
      {
          return $(this).height();
      }).get());
      $('.groupe-service-title').height(maxHeight_title);
    }
    window.onload  = resize();
    function handleResize() {
      $('.groupe-service-description').height('auto');
      $('.groupe-service-title').height('auto');
      resize();
    }
    window.addEventListener('resize', handleResize)
  });
</script>
