<div id="popup" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title_paiement"></h5>
        <button type="button" class="close rounded-md bg-red-700 py-1 px-2 font-bold" data-dismiss="modal"
          aria-label="Close" id="button_exit_modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="grid md:grid-cols-2">
          <div class="h-full">
            <div class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <div class="font-semibold text-blue-600">Client SSH ==> Instance <span class="modal_instance_code"></span>
              </div>
              <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                <span class="material-symbols-outlined">
                  done
                </span>
                Télécharger la clé <code><span class="modal_instance_access_key"></span></code> dans les détails de
                l'instance <span class="font-semibold text-blue-600 modal_instance_code"></span>
              </span>
              <br>
              <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                <span class="material-symbols-outlined">
                  done
                </span>
                Ouvrir un terminal, puis donner les droits nécessaire :
                <code>chmod 400 <span class="modal_instance_access_key"></span></code>
              </span>
              <br>
              <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                <span class="material-symbols-outlined">
                  done
                </span>
                Connectez-vous à votre instance(clé ssh,user,adresse IP):
                <code>ssh -i "<span class="modal_instance_access_key"></span>" ubuntu@<span class="modal_instance_ip_address"></span></code>
              </span>
            </div>
          </div>
          <div class="h-full">
            <div class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <div class="font-semibold text-blue-600">Web SSH ==> Instance <span class="modal_instance_code"></span>
              </div>
              <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                <span class="material-symbols-outlined">
                  done
                </span>
                Instance : <code><span class="modal_instance_code"></span></code>
              </span>
              <br>
              <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                <span class="material-symbols-outlined">
                  done
                </span>
                Clé d'accés : <code><span class="modal_instance_access_key"></span></code>
              </span>
              <br>
              <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                <span class="material-symbols-outlined">
                  done
                </span>
                Adresse IP publique : <code><span class="modal_instance_ip_address"></span></code>
              </span>
              <div class="flex justify-end">
                <a href="{% url 'web_ssh_console_instance' 'ggggggg' %}" target="_blank" id='link_web_shh'>
                  <button class="p-2 bg-blue-600 text-white font-bold rounded border-1">Se connecter</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn py-2 px-2 bg-gray-300 text-black font-bold rounded border-1" data-dismiss="modal"
          id="button_cancel_edit">Fermer
        </button>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="flex mt-1 w-full">
  <div class="w-full flex flex-col md:text-lg text-xs">
    {% if page %}
    <form class="w-full" action="{% url 'user_action_instance' %}" method="post">
      {% csrf_token %}
      <div class="inline-flex w-full items-center justify-end">
        {% include 'menu_action_object.html' %}
      </div>
      <div class="w-full overflow-x-scroll">
        <table class="w-full md:text-lg text-xs">
          <thead class="border-4 border-gray-200 justify-center w-full">
            <tr class="bg-gray-800 justify-center">
              <th class="px-1 py-3">
                <span class="text-indigo-50"></span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center md:font-bold tracking-wider">
                <span class="text-indigo-50">Code</span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center md:font-bold tracking-wider">
                <span class="text-indigo-50">Commande</span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center md:font-bold tracking-wider">
                <span class="text-indigo-50">Créé</span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center md:font-bold tracking-wider">
                <span class="text-indigo-50">Expire</span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center md:font-bold tracking-wider">
                <span class="text-indigo-50">Status</span>
              </th>
              <th class="px-2 py-3 text-center">
                <span class="text-indigo-50">Evolution</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-gray-200 w-full">
            {% for instance in page.object_list %}
            <tr class="bg-white border-4 border-gray-200 text-center">
              <td class="px-1 py-2 items-center">
                <span><input type="checkbox" value="{{ instance.id }}" id="{{ instance.id }}"
                    name="select_items" /></span>
              </td>
              <td>
                <a href="?code={{ instance.code }}">
                  <span class="text-center ml-2 md:font-bold">{{ instance.code }}</span>
                </a>
              </td>

              <td>
                <a href="{% url 'user_commande' %}?code={{ instance.code_commande }}">
                  <span class="text-center ml-2 md:font-bold">{{ instance.code_commande }}</span>
                </a>
              </td>
              <td class="px-3 py-2"> {{ instance.date_created }} </td>
              <td class="px-3 py-2">{{ instance.date_revoked }}</td>
              <td class="px-3 py-2">
                <span class="text-center">
                  {% if instance.state == 'started' %}
                  <span class="text-green-500"> Démarrée</span>
                  {% elif instance.state == 'open' %}
                  <span class="text-blue-500">En cours de Construction</span>
                  {% elif instance.state == 'pending' %}
                  <span class="text-blue-500">En cours de Démarrage</span>
                  {% elif instance.state == 'deleting' %}
                  <span class="text-blue-500">En cours de Suppression</span>
                  {% elif instance.state == 'stopping' %}
                  <span class="text-blue-500">En cours d'Arret</span>
                  {% elif instance.state == 'revoking' %}
                  <span class="text-blue-500">En cours de révocation</span>
                  {% elif instance.state == 'stopped' %}
                  <span class="text-blue-500">Arrêtée</span>
                  {% elif instance.state == 'revoked' %}
                  <span class="text-red-500">Révoquée</span>
                  {% elif instance.state == 'expire' %}
                  <span class="text-red-500">Expirée</span>
                  {% endif %}
                </span>
              </td>
              <td class="px-2 py-3">
                {% if instance.state == 'open' %}
                <div class="w-full rounded-full bg-blue-600">
                  <div class="bg-blue-600 text-xs font-medium text-white text-center p-0.5 leading-none rounded-full"
                    style="width: 100%">construction</div>
                </div>
                {% else %}
                <div class="w-full rounded-full bg-green-600">
                  <div class="bg-red-600 text-xs font-medium text-white text-center p-0.5 leading-none rounded-full"
                    style="width: {{ instance.get_percent|default:'100%' }}">{{ instance.get_percent|default:"error" }}
                  </div>
                </div>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
    <div class="w-full mt-auto">
      {% include 'pagination.html' %}
    </div>
    {% elif not instance_detail %}
    <div class="w-full justify-center text-center font-bold flex items-center py-8">
      Votre liste d'instances est vide !!!
    </div>
    {% else %}
    <div class="mx-2">
      <div class="justify-between">
        <div>
          <div class="md:text-lg text-xs flex justify-between">
            <div>
              <h3 class="font-bold md:text-lg text-xs">Détails de l'instance</h3>
            </div>
            <div class="flex justify-end">
              <div>
                {% if instance_detail.state == 'started' %}
                <button class="border-2 border-blue-500 p-2 rounded-md open-terminal"
                  data-popup-url="{{ instance_detail.code }}">
                  Terminal
                </button>
                {%endif%}
              </div>
              <form class="w-full" action="{% url 'user_action_instance' %}" method="post">
                {% csrf_token %}
                <input class="hidden" type="checkbox" checked value="{{ instance_detail.id }}"
                  id="{{ instance_detail.id }}" name="select_items" />
                {% if instance_detail.state == 'stopped' %}
                <button class="border-2 border-blue-500 p-2 rounded-md" type='submit' name='demarrer'>
                  DEMARRER
                </button>
                {% elif instance_detail.state == 'started' %}
                <button class="border-2 border-blue-500 p-2 rounded-md" type='submit' name='arreter'>
                  ARRETER
                </button>
                {%endif%}
              </form>
            </div>
          </div>
          <div>
            <div class="flex w-full justify-center my-2 border-2 p-2 border-blue-500">
              <div class="flex-1">
                <span class="font-bold md:text-lg text-xs">{{ instance_detail.code }}</span><br>
                <span class="font-bold md:text-lg text-xs">{{ instance_detail.service }}</span><br>
                <span class="font-bold md:text-lg text-xs">
                  <a href="{% url 'user_commande' %}?code={{ instance_detail.code_commande }}">
                    <span class="text-center">{{ instance_detail.code_commande }}</span>
                  </a>
                </span><br>
                <p class="text-gray-600">créé le : {{ instance_detail.date_created }}</p>
                <p class="text-gray-600">expire le : {{ instance_detail.date_revoked }}</p>
              </div>
              <div class="flex-1 text-right">
                <p class="text-gray-600">Status :
                  {% if instance_detail.state == 'started' %}
                  <span class="text-green-500"> Démarrée</span>
                  {% elif instance_detail.state == 'open' %}
                  <span class="text-blue-500">En cours de Construction</span>
                  {% elif instance_detail.state == 'pending' %}
                  <span class="text-blue-500">En cours de Démarrage</span>
                  {% elif instance_detail.state == 'deleting' %}
                  <span class="text-blue-500">En cours de Suppression</span>
                  {% elif instance_detail.state == 'stopping' %}
                  <span class="text-blue-500">En cours d'Arret</span>
                  {% elif instance_detail.state == 'revoking' %}
                  <span class="text-blue-500">En cours de révocation</span>
                  {% elif instance_detail.state == 'stopped' %}
                  <span class="text-blue-500">Arrêtée</span>
                  {% elif instance_detail.state == 'revoked' %}
                  <span class="text-red-500">Révoquée</span>
                  {% elif instance_detail.state == 'error' %}
                  <span class="text-red-500">Erreur</span>
                  {% elif instance_detail.state == 'expire' %}
                  <span class="text-red-500">Expirée</span>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="w-full justify-center my-2 border-2 p-2 border-blue-500">
            {% for action_value in instance_detail.instance_action_value_instance.all %}
            <div class="text-left w-full my-2 border-2 p-2 border-blue-500">
              {% if action_value.action.name == 'SSH' %}
              <p class="flex text-gray-600 text-left">{{ action_value.action }} :<span
                  id="instance_detail_access_key">{{ instance_detail.code }}_access_key.pem</span>
                <a
                  href="{% url 'get_instance_access_key' code=action_value.code filename=instance_detail.code|add:'_access_key.pem' %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-download mx-2 my-1" viewBox="0 0 16 16">
                    <path
                      d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                    <path
                      d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                  </svg>
                </a>
              </p>
              {% elif action_value.action.name == 'IP' %}
              <p class="text-gray-600 text-left">{{ action_value.action }} :<span id="instance_detail_ip_address">{{ action_value.value }}</span></p>
              {% else %}
              <p class="text-gray-600 text-left">{{ action_value.action }} : {{ action_value.value }}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  //
  document.addEventListener("DOMContentLoaded", function(event) {
    $(document).on("click", ".open-terminal", function (e) {
      e.preventDefault();
      e.stopPropagation();
      var $popup = $("#popup");
      var popup_url = $(this).data("popup-url");
      //$(".modal-body", $popup).load(popup_url, function () {
      //span_id_commande
      $('.modal_instance_code').text(popup_url)
      $('.modal_instance_access_key').text($('#instance_detail_access_key').text())
      $('.modal_instance_ip_address').text($('#instance_detail_ip_address').text())
      //$('#link_paiement_manual').attr("href", "/user/account/commande/"+popup_url+"/add_paiement/manual");
      //$('#link_paiement_automatic').attr("href", "/user/account/commande/"+popup_url+"/add_paiement/automatic");
      $('#link_web_shh').attr("href", "/user/account/instance/ssh/"+popup_url+"/");
      $popup.modal("show");
      //});
    });
    //
    $("#button_exit_modal").click(function () {
      $("#popup").modal("hide");
    });
    // 
    $("#button_cancel_edit").click(function () {
      $("#popup").modal("hide");
    });
  });
</script>