{% load mathfilters %}
<div id="popup" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_title_paiement"></h5>
        <button  type="button" class="close rounded-md bg-red-700 py-1 px-2 font-bold" data-dismiss="modal" aria-label="Close" id="button_exit_modal">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="grid md:grid-cols-2">
          <div class="h-full">
            <a href="#" id="link_paiement_manual" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                <div class="font-semibold">Paiement manuel : par transfert</div>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                  done
                  </span>
                  Vous transférez l'argent sur un de nos compte
                </span>
                <br>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Le montant ne doit pas être inférieur à celui de la commande à payer
                </span>
                <br>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Les frais de transfert sont à votre charge
                </span>
                <br>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Cliquez ici et renseigner les informations en rapport avec le transfert
                </span>
                <br>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Les services seront disponible une fois le paiement approuvé
                </span>
            </a>
          </div>
          <div class="h-full">
            <a href="#" target="_blank" id="link_paiement_automatic" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                <div class="font-semibold">Paiement automatique : en ligne</div>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Vous serez redirigé vers une plateforme de paiement dédiée et sécurisée
                </span>
                <br>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Vous choisissez votre moyen de paiement
                </span>
                <br>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Vous renseignez les informations demandées
                </span>
                <br>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Validez les informations saisies pour confirmer votre paiement
                </span>
                <br>
                <span class="text-sm font-light text-gray-500 dark:text-gray-400">
                  <span class="material-symbols-outlined">
                    done
                  </span>
                  Les services seront disponible une fois le paiement approuvé
                </span>
            </a>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn py-2 px-2 bg-gray-300 text-black font-bold rounded border-1" data-dismiss="modal" id="button_cancel_edit">Fermer
        </button>
      </div>
    </div>
  </div>
</div>
<div class="flex mt-1 w-full md:text-lg text-xs">
  <div class="w-full flex flex-col">
    {% if page %}
    <form class="w-full" action="{% url 'user_action_commande' %}" method="post">
      {% csrf_token %} 
      <div class="inline-flex w-full items-center justify-end">
        {% include 'menu_action_object.html' %}
      </div>
      <div class="w-full overflow-x-scroll flex-grow">
        <table class="w-full md:text-lg text-xs">
          <thead class="border-4 border-gray-200 justify-center w-full">
            <tr class="bg-gray-800 justify-center">
              <th class="px-1 py-3">
                <span class="text-indigo-50"></span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center tracking-wider">
                <span class="text-indigo-50">Code</span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center tracking-wider">
                <span class="text-indigo-50">Créé le</span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center tracking-wider">
                <span class="text-indigo-50">Prix total</span>
              </th>
              <th class="px-2 py-3 border-b-2 border-gray-200 text-center tracking-widers">
                <span class="text-indigo-50">Status</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-gray-200 w-full">
            {% for commande in page.object_list %}
            <tr class="bg-white border-4 border-gray-200 text-center">
              <td class="px-1 py-2 items-center">
                <span><input type="checkbox" value="{{ commande.id }}" id="{{ commande.id }}" name = "select_items"/></span>
              </td>
              <td>
                <a href="?code={{ commande.code }}" class="hover:underline">
                  <span class="text-center ml-2 md:font-bold"
                    >{{ commande.code }}</span
                  >
                </a>
              </td>
              <td class="px-2 py-2">{{ commande.date_created }}</td>
              <td class="px-2 py-2">
                <span class="uppercase">{{ commande.total_price|floatformat:0 }} fcfa</span>
              </td>

              <td class="px-2 py-2">
                <div class="flex justify-center items-center">
                  {% if commande.state == 'validat' %}
                  <span class="text-blue-600 text-center">Validé/Paiement en cours</span>
                  {% elif  commande.state == 'paid' %}
                  <span class="text-green-500 text-center">Validé/Payé</span>
                  {% elif commande.state == 'open' %}
                  <span class="text-blue-500 text-center">En cours</span>
                  <div class="text-center w-40">
                    <a href="#" class="bg-blue-600 text-white px-2 py-1 rounded-xl open-paiement-commande" data-popup-url="{{ commande.code }}">
                      <span class="text-center">
                        Payé Ici
                      </span>
                    </a>
                  </div>
                  {% elif commande.state == 'cancel' %}
                  <span class="text-red-500">Annulée</span>
                  {% endif %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
    <div class="w-full mt-auto">
      {% include 'pagination.html' %}
    </div>
    {% elif not commande_detail %}
    <div class="w-full justify-center text-center font-bold flex items-center py-8">
        Votre liste de commandes est vide !!!
    </div>
    {% else %}
    <div class="">
      {% if action and action == 'add_paiement' %}
      <div class="flex justify-end">
        {% include 'add_paiement.html' with commande_to_paid=commande_detail %}
      </div>
      {% else %}
        {% if next_commande or prev_commande %}
          <div class="flex text-center items-center justify-center relative">
              {% if prev_commande %}
              <a href="?code={{ prev_commande.code }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill h-6 w-6 mr-4 text-gray-700 hover:text-indigo-600 transition duration-200" viewBox="0 0 16 16">
                      <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                  </svg>
              </a>
              {% endif %}
              {% if next_commande %}
              <a href="?code={{ next_commande.code }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill h-6 w-6 mr-4 text-gray-700 hover:text-indigo-600 transition duration-200" viewBox="0 0 16 16">
                      <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
                  </svg>
              </a>
              {% endif %}
          </div>
        {% endif %}
        {% if not check_paiement %}
        <div class="flex justify-end space-x-1 mt-1">
          <div>
            <a href="#" class="text-center  open-paiement-commande" data-popup-url="{{ commande_detail.code }}">
              <button class="text-white md:p-2 p-1 md:text-lg text-xs rounded bg-blue-500 hover:bg-blue-700 border-2 border-blue-500">
                Payé Ici
              </button>
            </a>
          </div>
          <div class="">
            <form class="w-full" action="{% url 'user_action_commande' %}" method="post">
              {% csrf_token %}
              <input class="hidden" type="checkbox" checked value="{{ commande_detail.id }}" id="{{ commande_detail.id }}" name = "select_items"/>
              {% if commande_detail.state == 'open' %}
              <button class="border-2 border-blue-500 md:p-2 p-1 md:text-lg text-xs rounded-md" type='submit' name='annuler'>
                Annuler
              </button>
              {% endif %}
              {% if commande_detail.state == 'open' or commande_detail.state == 'cancel' %}
              <button class="border-2 border-blue-500 md:p-2 p-1 md:text-lg text-xs rounded-md" type='submit' name='supprimer'>
                Supprimer
              </button>
              {% endif %}
            </form>
          </div>
        </div>
        {% endif %}
      {% endif %}
      <div class="justify-between mt-1 md:text-lg text-xs">
        <div class="flex mb-1 overflow-x-scroll">
          <div class="flex-1">
            <h2 class="md:text-lg text-sm font-bold">{{ commande_detail.code }}</h2>
            <p class="text-gray-600 md:text-lg text-sm">Date Heure : {{ commande_detail.date_created }}</p>
          </div>
          <div class="flex text-right">
            <div class="text-right">
              <div class="text-gray-600 w-full border-4 md:text-lg text-sm font-bold">
                Status :
                {% if commande_detail.state == 'validat' %}
                <span class="text-green-500">Validé/Paiement en cours</span>
                {% elif  commande_detail.state == 'paid' %}
                <span class="text-green-500">Validé/Payé</span>
                {% elif commande_detail.state == 'open' %}
                <span class="text-blue-500">En cours</span>
                {% elif commande_detail.state == 'cancel' %}
                <span class="text-red-500">Annulé</span>
                {% endif %}
              </div>
              {% if commande_detail.state == 'paid'%}
              <div class="flex relative text-center bg-blue-500 font-bold hover:bg-blue-700 justify-center">
                <a href="/user/account/action/facture/?code={{ commande_detail.code }}&action=view" target="_blank" class="w-full h-full">
                  <button class="text-white font-bold py-2 px-4 rounded">
                    Facture
                  </button>
                </a>
              </div>
              {% else %}
              <div class="flex relative text-center bg-blue-500 font-bold hover:bg-blue-700 justify-center">
                <a href="/user/account/action/facture/?code={{ commande_detail.code }}&action=view" target="_blank" class="w-full h-full">
                  <button class="text-white font-bold py-2 px-4 rounded">
                    Devis
                  </button>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div>
          <div class="w-full p-2">
            {% if commande_detail.commmande_ligne_commande.all %}
            <div class="w-full overflow-x-scroll">
              <table class="w-full md:text-lg text-xs">
                <thead class="justify-between">
                  <tr class="border-b-4 border-gray-200">
                    <th class="">
                      <div class="text-gray-300 bg-gray-800 px-3 py-2" style="max-width:200px;">Serveur Métier</div>
                    </th>
                  </tr>
                  <tr class="bg-gray-800">
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Nom</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Prix Unitaire Mensuel</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Quantité</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Durée</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Réduction</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center md:font-bold tracking-wider">
                      <span class="text-gray-300">Prix Total</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-gray-200">
                  {% for match_service in commande_detail.commmande_ligne_commande.all %}
                  <tr class="bg-white border-4 border-gray-200">
                    <td class="items-center justify-center text-center px-3 py-2 md:table-cell">
                      <span class="text-center items-center md:font-bold">{{ match_service.service.groupe_service.name }} : {{ match_service.service.name }}</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2 uppercase">
                      <span class="text-center items-center md:font-bold">{{ match_service.price|floatformat:0 }} {{ match_service.service.currency }}</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2">
                      <span class="text-center items-center md:font-bold">{{ match_service.quantity }}</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2">
                      <span class="text-center items-center md:font-bold">{{ match_service.durree }} Mois</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2">
                      <span class="text-center items-center md:font-bold">{{ match_service.reduction }} %</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2">
                      <span class="text-center items-center md:font-bold uppercase">{{ match_service.total_price|floatformat:0 }} {{ match_service.service.currency }}</span>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
            {% if commande_detail.commmande_ligne_app_commande.all %}
            <div class="w-full overflow-x-scroll">
              <table class="w-full md:text-lg text-xs">
                <thead class="justify-between">
                  <tr class="border-b-4 border-gray-200">
                    <th class="">
                      <div class="text-gray-300 bg-gray-800 px-3 py-2" style="max-width:200px;">Application Métier</div>
                    </th>
                  </tr>
                  <tr class="bg-gray-800">
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Nom</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Prix Unitaire Mensuel</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Quantité</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Durée</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                      <span class="text-gray-300">Réduction</span>
                    </th>
                    <th class="px-3 py-2 border-b-2 border-gray-200 text-center md:font-bold tracking-wider">
                      <span class="text-gray-300">Prix Total</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-gray-200">
                  {% for match_app in commande_detail.commmande_ligne_app_commande.all %}
                  <tr class="bg-white border-4 border-gray-200">
                    <td class="items-center justify-center text-center px-3 py-2 md:table-cell">
                      <span class="text-center items-center md:font-bold">{{ match_app.app_name }} : {{ match_app.package }}</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2 uppercase">
                      <span class="text-center items-center md:font-bold">{{ match_app.price|floatformat:0 }} fcfa</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2">
                      <span class="text-center items-center md:font-bold">{{ match_app.quantity }}</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2">
                      <span class="text-center items-center md:font-bold">{{ match_app.durree }} Mois</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2">
                      <span class="text-center items-center md:font-bold">{{ match_app.reduction }} %</span>
                    </td>
                    <td class="items-center justify-center text-center px-3 py-2">
                      <span class="text-center items-center md:font-bold uppercase">{{ match_app.total_price|floatformat:0 }} fcfa</span>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
          <div class="flex justify-end py-2 m-2">
            <div class="md:w-1/2 w-full uppercase space-y-2 md:text-lg text-xs font-bold">
              <div class="flex justify-between justify-self-end border-b border-gray-500 md:px-4 px-2 py-1 text-end">
                  <div class="text-center text-gray-800">
                    Prix Total HT
                  </div>
                  <div class="text-center text-gray-900">
                    {{ commande_detail.price|floatformat:2 }} fcfa
                  </div>
              </div>
              <div class="flex justify-between justify-self-end border-b border-gray-500 md:px-4 px-2 py-1 text-end">
                <div class="text-center text-gray-800">
                    TVA : ({{ commande_detail.TVA  }} %)
                </div>
                <div class="text-center text-gray-900">
                  {{ commande_detail.total_price|sub:commande_detail.price|floatformat:0 }} fcfa
                </div>
              </div>
              <div class="flex justify-between justify-self-end border-b border-gray-500 md:px-4 px-2 py-1 text-end">
                  <div class="text-center text-gray-800">
                    Prix Total TTC
                  </div>
                  <div class="text-center text-gray-900">
                    {{ commande_detail.total_price|floatformat:0 }} fcfa
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  //
  document.addEventListener("DOMContentLoaded", function(event) {
    $(document).on("click", ".open-paiement-commande", function (e) {
      e.preventDefault();
      e.stopPropagation();
      var $popup = $("#popup");
      var popup_url = $(this).data("popup-url");
      //$(".modal-body", $popup).load(popup_url, function () {
        //span_id_commande
        $('#modal_title_paiement').text("Paiement commande  : "+popup_url)
        $('#link_paiement_manual').attr("href", "/user/account/commande/"+popup_url+"/add_paiement/manual");
        $('#link_paiement_automatic').attr("href", "/user/account/commande/"+popup_url+"/add_paiement/automatic");
        $popup.modal("show");
      //});
    });
    //
    $("#button_exit_modal").click(function () {
        $("#popup").modal("hide");
    });
    // 
    $("#button_cancel_edit").click(function () {
        $("#popup").modal("hide");
    });
  });
</script>
