<div class="flex mt-2 w-full">
    <div class="inline-block w-full px-2">
      <form class="w-full" action="{% url 'user_offresurmesure' %}" method="post">
        {% csrf_token %} 
        <div class="inline-flex w-full items-center justify-end">
          {% include 'menu_action_object.html' %}
        </div>
        <div class="w-full">
          <table class="w-full md:text-lg text-xs">
            <thead class="border-4 border-gray-200 justify-center w-full">
              <tr class="bg-gray-800 justify-center">
                <th class="px-1 py-3">
                  <span class="text-indigo-50"></span>
                </th>
                <th class="px-2 py-3 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-indigo-50">Code</span>
                </th>
                <th class="px-2 py-3 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-indigo-50">Demande</span>
                </th>
                <th class="px-2 py-3 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-indigo-50">Date</span>
                </th>
                <th class="px-2 py-3 border-b-2 border-gray-200 text-center tracking-widers">
                  <span class="text-indigo-50">Status</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-gray-200">
              {% for Offresurmesure in Offresurmesure %}
  
              <tr class="bg-white border-4 border-gray-200 text-center">
                <td class="px-1 py-2 items-center">
                  <span><input type="checkbox" value="{{ Offresurmesure.id }}" id="{{ Offresurmesure.id }}" name = "select_items"/></span>
                </td>
                <td class="px-5 py-3">
                  <a href="?code={{ Offresurmesure.code }}">
                    <span class="text-center font-semibold">{{ Offresurmesure.code }}</span>
                  </a>
                </td>
                <td class="px-2 py-2">{{ Offresurmesure.message }}</td>
                <td class="px-2 py-2">{{ Offresurmesure.date_demande }}</td>
                
                
                <td class="px-2 py-2">
                  <span class="text-center">
                    {% if Offresurmesure.state == 'validat' %}
                    <span class="text-blue-600 text-center">Validé</span>
                    {% elif Offresurmesure.state == 'encours' %}
                    <span class="text-blue-500 text-center">En cours de Traitement</span>
                    {% elif Offresurmesure.state == 'cancel' %}
                    <span class="text-red-500">Annulée</span>
                    {% endif %}
                  </span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="w-full">
            {% include 'pagination.html' %}
          </div>
        </div>
      </form>
    </div>
  </div>