<div class="w-full">
    <div class="grid grid-cols-1 xl:grid-cols-3 p-4 gap-2 w-full">
        <div class="bg-gray-300 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-1 border-b-4  border-x-2 border-blue-500 dark:border-gray-600 text-white font-medium group">
            <div class='md:flex space-x-2 justify-between w-full'>
                <div class="flex items-center justify-between space-x-4">
                    <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path>
                        </svg>
                    </div>
                    <div class="text-right">
                        <p class="text-2xl">{{ commande.count }}</p>
                        <p>Commandes</p>
                    </div>
                </div>
                <div class="flex space-x-2 flex-wrap justify-end">
                    <div class="text-right text-blue-500 bg-gray-100 p-2 rounded-md my-1">
                        <p class="text-2xl">{{ commande.count_open }}</p>
                        <p>En cours</p>
                    </div>
                    <div class="text-right text-rose-500 bg-gray-100 p-2 rounded-md my-1">
                        <p class="text-2xl">{{ commande.count_reject_or_cancel }}</p>
                        <p>Annulées</p>
                    </div>
                    <div class="text-right text-green-500 bg-gray-100 p-2 rounded-md my-1">
                        <p class="text-2xl">{{ commande.count_validat }}</p>
                        <p>Payées</p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="bg-gray-300 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-x-2 border-blue-500 dark:border-gray-600 text-white font-medium group">
            <div class="text-sm text-center flex flex-wrap w-full items-center justify-center">
                <div class="m-2 p-2 bg-white text-blue-500 rounded-lg">
                    <div class="font-mono leading-none" x-text="days" id='instance_time_execution_d'>{{ instance.time_execution.d }}</div>
                    <div class="font-mono uppercase text-sm leading-none">Jours</div>
                </div>
                <div class="m-2 p-2 bg-white text-blue-500 rounded-lg">
                    <div class="font-mono leading-none" x-text="hours" id='instance_time_execution_h'>{{ instance.time_execution.h }}</div>
                    <div class="font-mono uppercase text-sm leading-none">Heures</div>
                </div>
                <div class="m-2 p-2 bg-white text-blue-500 rounded-lg">
                    <div class="font-mono leading-none" x-text="minutes" id='instance_time_execution_m'>{{ instance.time_execution.m }}</div>
                    <div class="font-mono uppercase text-sm leading-none">Minutes</div>
                </div>
                <div class="m-2 p-2 bg-white text-blue-500 rounded-lg">
                    <div class="font-mono leading-none" x-text="seconds" id='instance_time_execution_s'>{{ instance.time_execution.s }}</div>
                    <div class="font-mono uppercase text-sm leading-none">Secondes</div>
                </div>
            </div>
        </div>
        <div
            class="bg-gray-300 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-1 border-b-4 border-x-2 border-blue-500 dark:border-gray-600 text-white font-medium group">
            <div class='md:flex space-x-2 justify-between w-full'>
                <div class="flex items-center justify-between space-x-4">
                    <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                        <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                        </svg>
                    </div>
                    <div class="text-right">
                        <p class="text-2xl">{{ instance.count }}</p>
                        <p>Instances</p>
                    </div>
                </div>
                <div class="flex space-x-2 flex-wrap justify-end">
                    <div class="text-right text-blue-500 bg-gray-100 p-2 rounded-md my-1">
                        <p class="text-2xl">{{ instance.count_stop }}</p>
                        <p>Arrêtées</p>
                    </div>
                    <div class="text-right text-rose-500 bg-gray-100 p-2 rounded-md my-1">
                        <p class="text-2xl">{{ instance.count_expire_or_error }}</p>
                        <p>Expirées</p>
                    </div>
                    <div class="text-right text-green-500 bg-gray-100 p-2 rounded-md my-1">
                        <p class="text-2xl">{{ instance.count_start }}</p>
                        <p>Démarrées</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
        <div class="p-1 col-span-1 lg:col-span-2">
            <div class="border-b bg-white">
                <div class="flex justify-between px-6 -mb-px">
                    <h3 class="text-blue-500 py-4 font-normal text-lg">Activités récentes</h3>
                </div>
            </div>
            <div class="flex flex-col bg-gray-50 dark:bg-gray-800 w-full shadow-lg rounded space-y-2 p-1">
                <div class="rounded-t mb-0 border-0 p-2">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50">Commandes
                            </h3>
                        </div>
                        <div class="relative w-full max-w-full flex-grow flex-1 text-right">
                            <a href="{% url 'user_commande' %}">
                                <button
                                    class="bg-blue-500 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    type="button">Voir tout</button>
                            </a>
                        </div>
                    </div>
                    <div class="block w-full">
                        <div
                            class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            {% for elt in commande.recent_commandes %}
                            <div class="space-x-2 my-2 flex flex-wrap">
                                <span><a href="/user/account/commande?code={{ elt.code }}" class="hover:underline">{{ elt.code }}  </a>==></span><span> {{ elt.total_price}} FCFA  ==></span><span> {{ elt.date_created }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="rounded-t mb-0 border-0 p-2">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50">Paiements
                            </h3>
                        </div>
                        <div class="relative w-full max-w-full flex-grow flex-1 text-right">
                            <a href="{% url 'user_paiement' %}">
                                <button
                                    class="bg-blue-500 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    type="button">Voir tout</button>
                            </a>
                        </div>
                    </div>
                    <div class="block w-full">
                        <div
                            class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            {% for elt in paiement.recent_paiements %}
                            <div class="space-x-2 my-2 flex flex-wrap">
                                <span>
                                    <a href="/user/account/instance?code={{ elt.code }}" class="hover:underline">{{ elt.code }}  </a>
                                    ==>
                                </span>
                                <span> {{ elt.date_created }} ==></span>
                                {% if elt.state == 'validat' %}
                                <span class="text-green-500"> Valider</span>
                                {% elif elt.state == 'open' %}
                                <span class="text-blue-500"> En Cours </span>
                                {% elif elt.state == 'cancel' %}
                                <span class="text-red-500"> Annuler </span>
                                {% elif elt.state == 'reject' %}
                                <span class="text-red-500"> Rejeter </span>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="rounded-t mb-0 border-0 p-2">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50">Instances et Applications
                            </h3>
                        </div>
                        <div class="relative w-full max-w-full flex-grow flex-1 text-right">
                            <a href="{% url 'user_instance' %}">
                                <button
                                    class="bg-blue-500 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    type="button">Voir tout</button>
                            </a>
                        </div>
                    </div>
                    <div class="block w-full">
                        <div
                            class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            {% for elt in instance.recent_instances %}
                            <div class="space-x-2 my-2 flex flex-wrap">
                                <span>
                                    <a href="/user/account/instance?code={{ elt.code }}" class="hover:underline">{{ elt.code }}  </a>
                                    ==>
                                </span>
                                <span> {{ elt.date_created }} ==></span>
                                {% if elt.state == 'started' %}
                                <span class="text-green-500"> Démarrée</span>
                                {% elif elt.state == 'open' %}
                                <span class="text-blue-500">En cours de Construction</span>
                                {% elif elt.state == 'pending' %}
                                <span class="text-blue-500">En cours de Démarrage</span>
                                {% elif elt.state == 'deleting' %}
                                <span class="text-blue-500">En cours de Suppression</span>
                                {% elif elt.state == 'stopping' %}
                                <span class="text-blue-500">En cours d'Arret</span>
                                {% elif elt.state == 'revoking' %}
                                <span class="text-blue-500">En cours de révocation</span>
                                {% elif elt.state == 'stopped' %}
                                <span class="text-blue-500">Arrêtée</span>
                                {% elif elt.state == 'revoked' %}
                                <span class="text-red-500">Révoquée</span>
                                {% elif elt.state == 'expire' %}
                                <span class="text-red-500">Expirée</span>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--
                <div class="rounded-t mb-0 border-0 bg-gray-200 p-2">
                    <div class="flex flex-wrap items-center px-4 py-2">
                        <div class="relative w-full max-w-full flex-grow flex-1">
                            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50">Offres sur mesures
                            </h3>
                        </div>
                        <div class="relative w-full max-w-full flex-grow flex-1 text-right">
                            <a href="{% url 'user_offresurmesure' %}">
                                <button
                                    class="bg-blue-500 dark:bg-gray-100 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    type="button">Voir tout</button>
                            </a>
                        </div>
                    </div>
                    <div class="block w-full">
                        <div
                            class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            Today
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="p-1 col-span-1 w-full">
            <div class="border-b bg-white">
                <div class="flex justify-between px-6 -mb-px">
                    <h3 class="text-blue-500 py-4 font-normal text-lg">Cori Digital</h3>
                </div>
            </div>
            <div class="flex flex-col bg-gray-50 dark:bg-gray-800 w-full shadow-lg rounded space-y-2 p-1">
                <div class="rounded-t mb-0 border-0 p-2">
                    <div class="flex flex-wrap items-center px-1 py-2 justify-end">
                        <a href="#">
                            <button
                                class="bg-blue-500 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button">Comment ça marche</button>
                        </a>
                       
                    </div>
                    <div class="block w-full">
                        <div
                            class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            Cori Digital ,comment ça marche !!
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="rounded-t mb-0 border-0 p-2">
                    <div class="flex flex-wrap items-center px-1 py-2 justify-end">
                        <a href="#">
                            <button
                                class="bg-blue-500  text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button">Nouveautés</button>
                        </a>
                       
                    </div>
                    <div class="block w-full">
                        <div
                            class="px-4 bg-gray-100 dark:bg-gray-600 text-gray-500 dark:text-gray-100 align-middle border border-solid border-gray-200 dark:border-gray-500 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                            Nouveautés sur cori Digital
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let milliseconds = 0 ;
    let seconds = {{ instance.time_execution.s }}
    let minutes = {{ instance.time_execution.m }}
    let hours = {{ instance.time_execution.h }}
    let days = {{ instance.time_execution.d }}
    let int = null;
    int = setInterval(displayTimer,1000);

    function displayTimer(){
        if(seconds+minutes+hours+days>0)
        {
            milliseconds+=1000;
            if(milliseconds == 1000){
                milliseconds = 0;
                seconds--;
                if(seconds ==0){
                    seconds = 60;
                    minutes--;
                    if(minutes == 0){
                        minutes = 60;
                        hours--;
                        if(hours == 0){
                            hours=24
                            days--;
                            if(days<0)
                            {
                                seconds=0;
                                minutes=0;
                                hours=0;
                                days=0;
                            }
                        }
                    }
                }
            }
            $('#instance_time_execution_s').html(seconds < 10 ? "0" + seconds : seconds);
            $('#instance_time_execution_m').html(minutes < 10 ? "0" + minutes : minutes);
            $('#instance_time_execution_h').html(hours < 10 ? "0" + hours : hours);
            $('#instance_time_execution_d').html(days < 10 ? "000" + days : days < 100 ? "00" + days : days < 1000 ? "0" + days : days);
        }
        
    }
</script>
        