{% if object == 'commande' %}
<div class=" w-full md:block md:w-auto ">
    <ul class="flex flex-col  md:flex-row ">
        <li class="text-black dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:block hover:text-white focus:text-gray-900 hover:bg-blue-700 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
            <a href="#" class="font-semibold hover:bg-gray-50">/Commande</a>
        </li>
    </ul>
</div>
{% elif object == 'instance' %}
<div class=" w-full md:block md:w-auto ">
    <ul class="flex flex-col  md:flex-row  ">
        <li class="text-black dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:block hover:text-white focus:text-gray-900 hover:bg-blue-700 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
            <a href="#" class="block  font-semibold hover:bg-gray-50 ">/Instance</a>
        </li>
    </ul>
</div>
{% elif object == 'service' %}
<div class=" w-full md:block md:w-auto ">
    <ul class="flex flex-col  md:flex-row  ">
        <li class="text-black dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:block hover:text-white focus:text-gray-900 hover:bg-blue-700 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
            <a href="#" class="block  font-semibold hover:bg-gray-50 ">/Service</a>
        </li>
    </ul>
</div>
{% elif object == 'paiement' %}
<div class=" w-full md:block md:w-auto ">
    <ul class="flex flex-col  md:flex-row  ">
        <li class="text-black dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:block hover:text-white focus:text-gray-900 hover:bg-blue-700 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
            <a href="#" class="block  font-semibold hover:bg-gray-50 ">/Paiement</a>
        </li>
    </ul>
</div>
{% else %}
<div class=" w-full md:block md:w-auto ">
    <ul class="flex flex-col  md:flex-row  ">
        <li class="text-black dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:block hover:text-white focus:text-gray-900 hover:bg-blue-700 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
            <a href="#" class="block  font-semibold hover:bg-gray-50 ">/</a>
        </li>
    </ul>
</div>
{%endif%}