{% load static %}
<!--
<script src="{%  static 'sidebar.js' %}" defer></script>
-->
<div class="py-2 px-2 bg-white">
  <nav class="md:px-2 md:py-2.5">
    <div class="flex flex-wrap justify-between items-center mx-auto">
      <div class="flex items-center md:order-2">
        <button data-collapse-toggle="mobile-menu-language-select" type="button" class="inline-flex items-center ml-1 bg-gray-50 text-sm rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-language-select" aria-expanded="false">
          <span class="material-symbols-outlined text-blue-600 font-bold">
            apps
          </span>
        </button>
      </div>
      <div class="hidden mt-4 justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-language-select">
        <ul class="space-y-10 content-start justify-start">
          <li>
            <a href="{% url 'account' %}"
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200"
            hover:text-indigo-600>
              <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
                  dashboard
              </span>
              ACCUEIL</a>
            <div id="dropdownRight"
              class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
            </div>
          </li>
          <li>
            <a href="{% url 'user_service' %}"
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200"
            hover:text-indigo-600>
              <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
                dns
              </span>
              SERVICES</a>
            <div id="dropdownRight"
              class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
            </div>
          </li>
          <li>
            <a href="{% url 'user_instance' %}"
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200"
            hover:text-indigo-600>
            <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
              terminal
            </span>
              INSTANCES</a>
          </li>
          <li>
            <a href="{% url 'user_application' %}"
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200"
            hover:text-indigo-600>
            <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
              web
            </span>
              APPLICATIONS</a>
          </li>
          <li>
            <a href="{% url 'user_commande' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200"
              hover:text-indigo-600>
              <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
                keyboard_command_key
              </span>
              COMMANDES</a>
          </li>
          <li>
            <a href="{% url 'user_offresurmesure' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200"
              hover:text-indigo-600>
              <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
                precision_manufacturing
              </span>
              OFFRE SUR MESURE</a>
          </li>
          <li>
            <a href="#"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200"
              hover:text-indigo-600>
              <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
                file_present
              </span>
              FACTURES</a>
          </li>
          <li>
            <a href="{% url 'user_paiement' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200"
              hover:text-indigo-600>
              <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
                payments
              </span>
              PAIEMENT</a>
          </li>
          <li>
            <a href="{% url 'user_profil' %}" class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200">
              <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
                manage_accounts
              </span>
              PROFIL
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200">
              <span class="material-symbols-outlined h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200">
                logout
              </span>
              LOGOUT
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>