{% if object == 'paiement'  %}
<ul class="bg-white rounded-md shadow dark-mode:bg-gray-800 flex border-2 border-gray-700">
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='valider'>Valider</button></li>
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='annuler'>Annuler</button></li>
</ul>
{% elif object == 'instance' %}
<ul class="bg-white rounded-md shadow dark-mode:bg-gray-800 flex border-2 border-gray-700">
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='arreter'>Arréter</button></li>
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='demarrer'>Démarrer</button></li>
</ul>
{% elif object == 'commande' %}
<ul class="bg-white rounded-md shadow dark-mode:bg-gray-800 flex border-2 border-gray-700">
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='valider'>Valider</button></li>
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='annuler'>Annuler</button></li>
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='supprimer'>Supprimer</button></li>
</ul>
{% elif object == 'Offresurmesure' %}
<ul class="bg-white rounded-md shadow dark-mode:bg-gray-800 flex border-2 border-gray-700">
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='valider'>Valider</button></li>
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='annuler'>Annuler</button></li>
    <li class="rounded-sm px-2 py-1 hover:bg-gray-100"><button type='submit' name='supprimer'>Supprimer</button></li>
</ul>
{% endif %}




