<div class="w-full h-full justify-center items-center">
  <div class="md:p-2 p-1">
    <div class="md:p-8 p-2 shadow mt-32">
      <div class="grid grid-cols-1 lg:grid-cols-3">
        <div class="grid grid-cols-3 text-center mt-20 lg:mt-0">
          <div>
            <p class="font-bold text-gray-700 text-xl">{{ count_commandes }}</p>
            <p class="text-gray-400">Commandes</p>
          </div>
          <div>
            <p class="font-bold text-gray-700 text-xl">{{ count_paiements }}</p>
            <p class="text-gray-400">Paiements</p>
          </div>
          <div>
            <p class="font-bold text-gray-700 text-xl">{{ count_instances }}</p>
            <p class="text-gray-400">Instances</p>
          </div>
        </div>
        <div class="relative">
          <div
            class="w-48 h-48  bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 lg:-mt-32 -mt-72 flex items-center justify-center text-indigo-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>

        <div class="md:space-x-8 space-x-2 flex md:mt-32 mt-0 lg:justify-end justify-between">
          <button
            class="text-white py-2 px-4 uppercase rounded bg-blue-400 hover:bg-blue-500 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
            hx-get="{% url 'send-reclamation' %}" hx-target="#div_for_send_msg_or_recl">
            Reclamation
          </button>
          <button
            class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
            hx-get="{% url 'send-message' %}" hx-target="#div_for_send_msg_or_recl">
            Message
          </button>
        </div>
      </div>
      <div id="div_for_send_msg_or_recl">
      </div>
      <div class="flex flex-wrap w-full justify-center items-center mt-4">
        <div
          class="border-b bg-indigo-100 md:border-x-indigo-500 md:border-t-indigo-500 md:border-x-2 border-t-2">
          <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent"
            role="tablist">
            <li class="mr-2" role="presentation">
              <button
                class="inline-block px-2 py-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 md:uppercase"
                id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                aria-selected="true" onclick="changeAtiveTab(event,'tab-profile')">Mon Profil</button>
            </li>
            <li class="mr-2" role="presentation">
              <button
                class="inline-block px-2 py-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 md:uppercase"
                id="edit-profil-tab" data-tabs-target="#edit-profil" type="button" role="tab"
                aria-controls="edit-profil" aria-selected="false"
                onclick="changeAtiveTab(event,'tab-edit-profil')">Editer Mon profil</button>
            </li>
            <li class="mr-2" role="presentation">
              <button
                class="inline-block px-2 py-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 md:uppercase"
                id="edit-password-tab" data-tabs-target="#edit-password" type="button" role="tab"
                aria-controls="edit-password" aria-selected="false"
                onclick="changeAtiveTab(event,'tab-edit-password')">Editer Mon Mot de Passe</button>
            </li>
            <li class="mr-2" role="presentation">
              <button
                class="inline-block px-2 py-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 md:uppercase"
                id="session-tab" data-tabs-target="#session" type="button" role="tab" aria-controls="session"
                aria-selected="true" onclick="changeAtiveTab(event,'session-profile')">Mes Sessions</button>
            </li>
          </ul>
        </div>
        <div id="myTabContent" class="w-full bg-gray-50 rounded-lg">
          <div class="rounded-lg mt-4 border-b p-2 " id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="flex flex-col justify-center items-center">
              <div>
                <div class="">
                  <h1 class="text-4xl font-medium text-gray-700">
                    {{ user_connect.first_name }}
                    <span class="font-light text-gray-500 mx-2">{{ user_connect.last_name }}</span>
                  </h1>
                </div>
                <div class="border-l ml-2 p-2">
                  <p class="mt-2 text-gray-500">{{ user_connect.email }}</p>
                  <p class="mt-2 text-gray-500">{{ user_connect.phone }}</p>
                  <p class="font-light text-gray-600 mt-3">
                    {{ user_connect.address }}
                    <span class="font-light text-gray-500 mx-1">; {{ user_connect.country.name }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="hidden mt-4 border-b p-2" id="edit-profil" role="tabpanel" aria-labelledby="edit-profil-tab">
            <div class="flex justify-center items-center justify-content-center">
              <div class="col-lg-8">
                <div class="card shadow-lg border-0 rounded-lg">
                  <div class="card-header justify-content-center bg-blue-200">
                    <h3 class="font-bold md:text-lg text-xs md:py-2 py-1 text-center">Mofidier mon compte</h3>
                  </div>
                  <div class="card-body bg-gray-100">
                    <form class="rounded p-2" action="{% url 'user_profil_edit' code=user_connect.code %}" method="POST"
                      id="form_edit_profil">
                      {% csrf_token %}
                      {% if form.non_field_errors %}
                      <div class="mb-4 md:mr-2 md:mb-0 w-full justify-center">
                        <div
                          class="flex text-sm text-red-700 bg-red-100 rounded-lg justify-center"
                          role="alert">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-exclamation-triangle-fill mt-3" viewBox="0 0 16 16">
                            <path
                              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                          </svg>
                          <span class="font-bold mt-3">{{ form.non_field_errors }}</span>
                        </div>
                      </div>
                      {% endif %}
                      <div class="mb-4 md:flex md:justify-center">
                        <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">

                          <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form.first_name.id_for_label }}">
                            Prénom
                          </label>
                          {{ form.first_name }}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
                          <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form.last_name.id_for_label }}">
                            Nom
                          </label>
                          {{ form.last_name }}
                        </div>
                      </div>
                      <div class="mb-4 md:flex md:justify-between">
                        <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                          {% comment %} {{ form.phone.errors }} {% endcomment %}
                          <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form.phone.id_for_label }}">
                            Téléphone
                          </label>
                          {{ form.phone }}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2">
                          {% comment %} {{ form.email.errors }} {% endcomment %}
                          <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form.email.id_for_label }}">
                            Email
                          </label>
                          {{ form.email }}
                        </div>
                      </div>
                      <div class="mb-4 md:flex md:justify-between">
                        <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                          {% comment %} {{ form.country.errors }} {% endcomment %}
                          <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form.country.id_for_label }}">
                            Pays
                          </label>
                          {{ form.country }}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2">
                          {% comment %} {{ form.address.errors }} {% endcomment %}
                          <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form.address.id_for_label }}">
                            Adresse
                          </label>
                          {{ form.address }}
                        </div>
                      </div>
                  </div>
                  <div class="flex w-full mb-2 px-2 {% if not form.non_field_errors %} hidden {% else %} {% endif %}"
                    id="div_edit_button">
                    <button type="submit"
                      class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in">
                      <span class="mr-2">Enregistrer</span>
                      <span class="material-symbols-outlined">save</span>
                    </button>
                  </div>
                  <hr class="mb-6 border-t" />
                  <div class="text-right">

                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden mt-4 border-b p-2 w-full flex justify-center" id="edit-password" role="tabpanel"
          aria-labelledby="edit-password-tab">
          <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg">
              <div class="card-header justify-content-center bg-blue-200">
                <h3 class="font-bold md:text-lg text-xs md:py-2 py-1 text-center">Mofidier mon mot de passe</h3>
              </div>
              <div class="card-body bg-gray-100">
                <form class="rounded p-2" action="{% url 'user_profil_change_password' %}" method="POST"
                  id="form_edit_password">
                  {% csrf_token %}
                  {% if form_password.errors %}
                  <div class="mb-4 md:mr-2 md:mb-0 w-full justify-center">
                    {% if form_password.old_password.errors %}
                    <div
                      class="flex text-sm text-red-700 bg-red-100 rounded-lg justify-center"
                      role="alert">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill mt-3" viewBox="0 0 16 16">
                        <path
                          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                      </svg>
                      <span class="font-bold mt-3">{{ form_password.old_password.errors }}</span>
                    </div>
                    {% endif %}
                    {% if form_password.new_password1.errors %}
                    <div
                      class="flex text-sm text-red-700 bg-red-100 rounded-lg justify-center"
                      role="alert">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill mt-3" viewBox="0 0 16 16">
                        <path
                          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                      </svg>
                      <span class="font-bold mt-3">{{ form_password.new_password1.errors }}</span>
                    </div>
                    {% endif %}
                    {% if form_password.new_password2.errors %}
                    <div
                      class="flex text-sm text-red-700 bg-red-100 rounded-lg justify-center"
                      role="alert">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill mt-3" viewBox="0 0 16 16">
                        <path
                          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                      </svg>
                      <span class="font-bold mt-3">{{ form_password.new_password2.errors }}</span>
                    </div>
                    {% endif %}
                  </div>
                  {% endif %}
                  <div class="m-2 p-2 md:flex flex-col md:justify-center items-center">
                    <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full">
                      <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form_password.old_password.id_for_label }}">
                        Actuel mot de passe
                      </label>
                      {{ form_password.old_password }}
                    </div>
                    <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full">
                      <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form_password.new_password1.id_for_label }}">
                        Nouveau mot de passe
                      </label>
                      {{ form_password.new_password1 }}
                    </div>
                    <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full">
                      <label class="block mb-2 md:text-lg text-xs font-bold" for="{{ form_password.new_password2.id_for_label }}">
                        Nouveau mot de passe confirmé
                      </label>
                      {{ form_password.new_password2 }}
                    </div>
                  </div>
                  <div class="flex w-full mb-2" id="div_edit_password_button">
                    <button type="submit"
                      class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in">
                      <span class="mr-2">Enregistrer</span>
                      <span class="material-symbols-outlined">save</span>
                    </button>
                  </div>
                  <hr class="mb-6 border-t" />
                  <div class="text-right">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="rounded-lg mt-4 border-b p-2 " id="session" role="tabpanel" aria-labelledby="session-tab">
          <div class="flex flex-col justify-center items-center">
            <div>
              {% for elt in user_sessions %}
              <div class="flex flex-wrap space-x-2 justify-between">
                <span>{{ elt.session_key }} ==></span>
                <span>expire le {{ elt.expire_date }}</span>
                <span class="text-red-500">
                  <a href='{% url 'user_logout_session' session_key=elt.session_key %}' class="text-red-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash3" viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                  </a>
                </span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/flowbite@latest/dist/flowbite.js"></script>
<script>
  const tabElements = [
    {
      id: 'tab-profile',
      triggerEl: document.querySelector('#profile-tab'),
      targetEl: document.querySelector('#profile')
    },
    {
      id: 'tab-edit-profil',
      triggerEl: document.querySelector('#edit-profil-tab'),
      targetEl: document.querySelector('#edit-profil')
    },
    {
      id: 'tab-edit-password',
      triggerEl: document.querySelector('#edit-password-tab'),
      targetEl: document.querySelector('#edit-password')
    },
    {
      id: 'tab-session',
      triggerEl: document.querySelector('#session-tab'),
      targetEl: document.querySelector('#session')
    },

  ];
  //
  const options = {
    defaultTabId: 'tab-profile',
    activeClasses: 'border-b-2 text-blue-600 hover:text-blue-600 border-blue-600 ',
    inactiveClasses: 'text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300',
    onShow: () => {
    }
  };
  const tabs = new Tabs(tabElements, options);
  {% if tab and tab == 'editprofile' %}
  tabs.show("tab-edit-profil");
  {% elif tab and tab == 'editpassword' %}
  tabs.show("tab-edit-password");
  {% else %}
  tabs.show("tab-profile");
  {% endif %}
  function changeAtiveTab(event,tabID){
      const tabs = new Tabs(tabElements, options);
      tabs.show(tabID);
  }
  //
  $("#form_edit_profil").on("input", function () {
    $('#div_edit_button').show();
  });
</script>