{% if action == 'add' %}
  {% include 'admin/admin_add_application.html' %}
{% elif action == 'edit' %}

{% elif action == 'delete' %}

{% else %}
<div class="w-full mt-1 flex flex-col">
  {% if not application_detail %}
  <form class="w-full" action="{% url 'admin_application_ation' %}" method="post">
    {% csrf_token %}
    <div class='md:flex justify-end p-2'>
      {% include 'dropdown_action_object.html' %}
    </div>
    {% if page %}
    <div class="inline-block w-full overflow-x-scroll">
      <table class="table-auto w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-center">
          <tr class="bg-indigo-600 justify-center">
            <th class="px-1 py-3 text-center">
              <span class="text-indigo-50"></span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Code</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Commande</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Date de Création</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Date de la Construction</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Date de Révocation</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Remote ID</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Status</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Evolution</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          {% for application in page.object_list %}
          <tr class="bg-white border-4 border-gray-200 text-center px-3 py-2">
            <td class="px-1 py-2 items-center">
              <span><input type="checkbox" value="{{ application.id }}" id="{{ application.id }}" name = "select_items"/></span>
            </td>
            <td>
              <a href="?code={{ application.code }}">
                <span class="text-center">{{ application.code }}</span>
              </a>
            </td>
            <td>
              <a href="{% url 'admin_commande' %}?code={{ application.code_commande }}">
                <span class="text-center">{{ application.code_commande }}</span>
              </a>
            </td>
            <td class="px-3 py-2">{% if application.date_created %} {{ application.date_created }} {% endif %}</td>
            <td class="px-3 py-2">{% if application.build_date %} {{ application.build_date }} {% endif %}</td>
            <td class="px-3 py-2">{% if application.date_revoked %} {{ application.date_revoked }} {% endif %}</td>
            <td class="px-3 py-2">{{ application.remote_id }}</td>
            <td class="px-3 py-2">
              <span class="text-center">
                {% if application.state == 'started' %}
                <span class="text-green-500"> Démarrée</span>
                {% elif application.state == 'open' %}
                <span class="text-blue-500">En cours de Construction</span>
                {% elif application.state == 'pending' %}
                <span class="text-blue-500">En cours de Démarrage</span>
                {% elif application.state == 'deleting' %}
                <span class="text-blue-500">En cours de Suppression</span>
                {% elif application.state == 'stopping' %}
                <span class="text-blue-500">En cours d'Arret</span>
                {% elif application.state == 'revoking' %}
                <span class="text-blue-500">En cours de révocation</span>
                {% elif application.state == 'stopped' %}
                <span class="text-blue-500">Arrêtée</span>
                {% elif application.state == 'revoked' %}
                <span class="text-red-500">Révoquée</span>
                {% elif application.state == 'error' %}
                <span class="text-red-500">Erreur</span>
                {% elif application.state == 'expire' %}
                <span class="text-red-500">Expirée</span>
                {% endif %}
              </span>
            </td>
            <td class="px-3 py-2">
              {% if application.state == 'open' %}
              <div class="w-full rounded-full bg-blue-600">
                <div class="bg-blue-600 text-xs font-medium text-white text-center p-0.5 leading-none rounded-full" style="width: 100%">construction</div>
              </div>
              {% else %}
                <div class="w-full rounded-full bg-green-600">
                  <div class="bg-red-600 text-xs font-medium text-white text-center p-0.5 leading-none rounded-full" style="width: {{ instance.get_percent|default:'100%' }}">{{ instance.get_percent|default:"error" }}</div>
                </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="w-full justify-center text-center font-bold flex items-center py-8">
        La liste des applications est vide !!!
    </div>
    {% endif %}
  </form>
  {% if page %}
  <div class="w-full mt-auto">
    {% include 'pagination.html' %}
  </div>
  {% endif %}
  {% elif application_detail %}
  {% include 'admin/admin_detail_application.html' %}
  {% endif %}
</div>
{% endif %}