<!DOCTYPE html>
<html lang="en">
{% load tailwind_tags %}
{% load bootstrap5 %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="author" content="ANS">
  <title>Cori Digital</title>
  <link rel="icon" href="{{ STATIC_URL }}/media/images/logo_cori.png"/>
  {% include 'script_style.html' %}
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {# Load tailwind_css #}
  {% tailwind_css %}
</head>

<body class="flex flex-col min-h-screen px-1">
  <div class="w-full z-50 md:px-2 px-1">
    {% include 'header6.html' %}
  </div>
  <div class="w-full bg-gray-100 flex-grow">
    {% block content %} 
    <div class="bg-gray-100 h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
            <h1 class="text-4xl font-bold text-gray-800 mb-8">404 - Page Not Found</h1>
            <p class="text-gray-600 mb-6">
                La page que vous recherchez a peut-être été supprimée, son nom a été modifié ou elle est temporairement indisponible.
            </p>
            <a href="/" class="inline-block py-3 px-6 bg-blue-500 hover:bg-blue-600 text-white rounded-lg font-semibold">Accueil</a>
        </div>
    </div>
    {% endblock content %}
   
  </div>
  <div class="w-full md:px-2 px-1 mt-auto">
    {% include 'footer.html' %}
  </div>
</body>
</html>