<div class=" container rounded-xl mx-auto px-6  pb-4 pt-2 ">
  <div class="container mx-auto" id="div_htmx_change">
    <div class="mt-10 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:mt-12 xl:gap-12 ">
      <div class=" border rounded-xl shadow-xl   border-primary border-opacity-20 w-full space-y-4 rounded-lg  border border-gray-100 p-8 text-center  border-gray-700  p-8 text-center rounded-xl space-y-6 overflow-hidden transition-all duration-500 transform hover:-translate-y-6 -translate-y-2 scale-105 shadow-xl hover:shadow-2xl cursor-pointer">
        <p class=" uppercase  text-primary font-semibold text-lg block ">Particulier</p>
        <h2 class=" font-bold text-dark  text-[42px]">{{4000.00|floatformat}}</h2>
        <p class=" text-base text-body-color font-medium ">FCFA/MOIS</p>
        <button class="mt-10 w-full transform rounded-md bg-blue-600 px-4 py-2 capitalize tracking-wide text-white transition-colors duration-300 hover:bg-blue-500 focus:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" hx-get="{% url 'application_forfait' application=page_name package='particulier' %}" hx-target="#div_htmx_change">Commander</button>
        <ul class="text-letf font-semibold mx-auto ">
          <li><i class="bi bi-check text-2xl text-green-600"></i>50 Go de stockage SSD</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>100 Go de bande passante</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Domaine gratuit</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i></a>SSL gratuit illimité</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Sauvegardes hebdomadaires</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>0,75 GO DE RAM</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>1 CPU Cores</li>
          <li><i class="bi bi-x text-2xl text-red-600"></i>Ressources dédiées</li>
          <li><i class="bi bi-x text-2xl text-red-600"></i>Adresse IP dédiée</li>
        </ul>
      </div>
      <div class="border transition hover:bg-indigo-100 border-primary border-opacity-20 w-full space-y-4 rounded-lg bg-indigo-100 p-8 text-center rounded-xl space-y-6 overflow-hidden transition-all duration-500 transform hover:-translate-y-6 -translate-y-2 scale-105 shadow-xl hover:shadow-2xl cursor-pointer">
        <p class="uppercase  text-primary font-semibold text-lg block">Professionnelle</p>
        <h2 class="text-4xl font-bold uppercase  text-gray-700">{{7000.00|floatformat}}</h2>
        <p class=" text-base text-body-color font-medium ">FCFA/MOIS</p>
        <button class="mt-10 w-full transform rounded-md bg-white px-4 py-2 capitalize tracking-wide text-blue-500 transition-colors duration-300 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring focus:ring-gray-200 focus:ring-opacity-80" hx-get="{% url 'application_forfait' application=page_name package='professionnel' %}" hx-target="#div_htmx_change">Commander </button>
        <ul class="text-letf font-semibold mx-auto">
          <li><i class="bi bi-check text-2xl text-green-600"></i>100 Go de stockage SSD</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Bande passante illimitée</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Domaine gratuit</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>SSL gratuit illimité</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Sauvegardes hebdomadaires</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>2 GO DE RAM</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>1 CPU Cores</li>
          <li><i class="bi bi-x text-2xl text-red-600"></i>Ressources dédiées</li>
          <li><i class="bi bi-x text-2xl text-red-600"></i>Adresse IP dédiée</li>
        </ul>
      </div>
      <div class="border border-primary border-opacity-20 w-full space-y-4 rounded-lg  border border-gray-100 p-8 text-center  border-gray-700  p-8 text-center rounded-xl space-y-6 overflow-hidden transition-all duration-500 transform hover:-translate-y-6 -translate-y-2 scale-105 shadow-xl hover:shadow-2xl cursor-pointer">
        <p class="uppercase  text-primary font-semibold text-lg block">Enterprise</p>
        <h2 class=" font-bold text-dark  text-[42px]">{{20000.00|floatformat}}</h2>
        <p class=" text-base text-body-color font-medium ">FCFA/MOIS</p>
        <button class="mt-10 w-full transform rounded-md bg-blue-600 px-4 py-2 capitalize tracking-wide text-white transition-colors duration-300 hover:bg-blue-500 focus:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" hx-get="{% url 'application_forfait' application=page_name package='entreprise' %}" hx-target="#div_htmx_change"> Commander</button>
        <ul class="text-letf font-semibold mx-auto">
          <li><i class="bi bi-check text-2xl text-green-600"></i>200 Go de stockage SSD</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Bande passante illimitée</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Domaine gratuit</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>SSL gratuit illimité</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Sauvegardes quotidiennes</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>3 GO DE RAM</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>2 cœurs de processeur</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Ressources dédiées</li>
          <li><i class="bi bi-check text-2xl text-green-600"></i>Adresse IP dédiée</li>
        </ul>
      </div>
    </div>
  </div>
</div>


