<div class="mx-auto grid max-w-7xl  grid-cols-1 gap-6 p-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

  <div class="w-full shadow rounded-lg overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer ">
    <a class="bg-white rounded-lg overflow-hidden mb-10">
         <img
         src="{{ STATIC_URL }}/media/images/booking.jpg"         
          alt="image"
            class="w-full h-48"
            />
         <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
            <h3>
               <a
                  href="/page/page_booking"
                  class="
                  font-semibold
                  text-dark text-xl
                  sm:text-[22px]
                  md:text-xl
                  lg:text-[22px]
                  xl:text-xl
                  2xl:text-[22px]
                  mb-4
                  block
                  hover:text-primary
                  "
                  >
               BOOKING
               </a>
            </h3>
            <a href="/page/page_booking" class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
               Découvrir
           </a>
           
         </div>
        </a>
   </div>
    
   
    <div class="w-full shadow rounded-lg overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer ">

    <a class="bg-white rounded-lg overflow-hidden mb-10">
      <img
       src="{{ STATIC_URL }}/media/images/sap.png"        
        alt="image"
          class="w-full h-48"
          />
       <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
          <h3>
             <a
                href="/page/page_sap-ngu"
                class="
                font-semibold
                text-dark text-xl
                sm:text-[22px]
                md:text-xl
                lg:text-[22px]
                xl:text-xl
                2xl:text-[22px]
                mb-4
                block
                hover:text-primary
                "
                >
                SAP dans NGU
             </a>
          </h3>
          <a href="/page/page_sap-ngu" class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
            Découvrir
        </a>
        
       </div>
      </a>
 </div>

 

 <div class="w-full shadow rounded-lg overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer ">
  <a  class="bg-white rounded-lg overflow-hidden mb-10 w-full  ">
     <img
     src="{{ STATIC_URL }}/media/images/projet.png"         
      alt="image"
        class="w-full h-48"
        />
     <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
        <h3>
           <a
              href="/page/page_projet"
              class="
              font-semibold
              text-dark text-xl
              sm:text-[22px]
              md:text-xl
              lg:text-[22px]
              xl:text-xl
              2xl:text-[22px]
              mb-4
              block
              hover:text-primary
              "
              >
              Gestion de projet
           </a>
        </h3>
        <a href="/page/page_projet" class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
         Découvrir
     </a>
      
     </div>
    </a>
</div>


<div class="w-full shadow rounded-lg overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer ">
  <a class="bg-white rounded-lg overflow-hidden mb-10">
     <img
      src="{{ STATIC_URL }}/media/images/help_desk.png"   
      alt="image"
        class="w-full h-48"
        />
     <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
        <h3>
           <a
              href="/page/page_support"
              class="
              font-semibold
              text-dark text-xl
              sm:text-[22px]
              md:text-xl
              lg:text-[22px]
              xl:text-xl
              2xl:text-[22px]
              mb-4
              block
              hover:text-primary
              "
              >
              Application sur mesure
           </a>
        </h3>
        <a href="/page/page_support" class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
         Découvrir
     </a>
    
     </div>
    </a>
</div>

</div>