{% load static %}
<link rel="stylesheet" href="{% static '/chatbot.css' %}" >
<button class="floating-btn" onclick="showchatbot()"><img src="{{ STATIC_URL }}/media/images/chatbot/message.svg" alt=""
        srcset="" class="floating-btn-image">
    <div class="wrapper-bot" id="wrapper-bot">

        <div class="entete">

            <a href="/"><img src="{{ STATIC_URL }}/media/images/chatbot/exit.svg" alt="" srcset="" id="exit"></a>

            <p class="bot-name">CORI</p>

        </div>

        <div class="discussion">

            <div class="discussion-bot">

                <div class="bot">

                    <div class="msg-content-bot">

                        <p class="msg_">

                            Bonjour, Je m’appelle CORI .<br>

                            Que souhaitez-vous ?<br>

                            <span class='clickable' onclick="choice()"> Être accompagné dans la digitalisation de votre
                                entreprise</span>

                            <span class='clickable' onclick="choice()">Digitaliser une activité identifié</span>

                            <span class='clickable' onclick="choice()">Acheter un serveur</span>

                        </p>

                    </div>

                    <span class="heure-bot">00:00</span>

                </div>

            </div>
        </div>
        <div class="message">

            <textarea name="msg" id="msg" placeholder="message...." rows="1" cols="50" wrap="physical"
                name="comments"></textarea>

            <button class="paper-btn" id="paper-btn"><img src="{{ STATIC_URL }}/media/images/chatbot/send.svg" alt=""
                    id="paper"></button>
        </div>
    </div>
</button>
<script type="text/javascript" src="{% static '/js/chatbot.js' %}"></script>
<script>
    function choice() {
        var date = new Date()
        var h = date.getHours();
        if (h < 10) { h = "0" + h }
        var m = date.getMinutes();
        if (m < 10) { m = "0" + m }
        var message = event.target.innerText;
        if (message == null || message.trim() === '') {
            console.log('empty')
        }
        else {
            document.getElementById('msg').value = ''
            var html_client_code = `
                <div class="discussion-client">
                
                <div class="client">
                
                <div class="msg-content-client" >
                
                <p class="msg_" >${message}</p>
                
                </div>
                
                <span class="heure-client">${h}:${m}</span>
                
                </div>
                
                </div>
            `
            document.getElementsByClassName('discussion')[0].innerHTML += html_client_code;
            let data = new FormData();
            data.append('message', message);
            data.append('token', 'b39851d6-43f4-11ed-b878-0242ac120002');
            // http://ec2-54-185-75-197.us-west-2.compute.amazonaws.com
            fetch("http://ec2-35-90-106-224.us-west-2.compute.amazonaws.com/message/", {

                method: 'POST',
                body: data,

            }).then(response => response.json()).then(data => newMessage(data.response))
        }

    }
</script>
<script>
    //#
    function showchatbot() {
        document.getElementById('wrapper-bot').style.display = "flex";
        document.getElementById('paper-btn').style.display = "flex";
    }
//*
</script>

