<footer class="text-start bg-light text-muted">
	<section class="w-full border-top">
		<div class="w-full mt-2 flex justify-center">
			<div class="mt-2 container w-full flex flex-wrap justify-between space-x-2 space-y-2">
				<div class="p-2">
					<h6 class="text-uppercase fw-bold mb-4">
						Découvrir
					</h6>
					<!-- <p>
						<a href="{% url 'access_page_footer' page_name_footer='produit_service' %}"
							class="text-reset">Produits & Services 
						</a>
					</p> -->
					<p>
						<a href="/page/page_perimetre_intervention"
							class="text-reset">Nos Produits & Services 
						</a>
					</p>
					<p>
						<a href="{% url 'access_page_footer' page_name_footer='offre_projet' %}" class="text-reset">Nos
							offres projet
						</a>
					</p>
					<p>
						<a href="{% url 'access_page_footer' page_name_footer='offre_metier' %}"
							href="/page_footer/offre_metier" class="text-reset"> Nos  Applications Métiers </a>
					</p>
				</div>
				<div class="">
					<h6 class="text-uppercase fw-bold mb-4">
						Connectez-vous
					</h6>
					<p>
						<a href="{% url 'access_page_footer' page_name_footer='espace_client' %}"
							class="text-reset">Espace client
						</a>
					</p>
					<p>
						<a href="{% url 'access_page_footer' page_name_footer='offre_package' %}" class="text-reset">
							Nos Offres packagées de serveurs
						</a>
					</p>
					<!-- <p>
						<a href="{% url 'access_page_footer' page_name_footer='support' %}" class="text-reset"> Support
						</a>
					</p> -->
					<p>
						<a href="/page/page_perimetre_intervention" class="text-reset"> Support
						</a>
					</p>
					<p>
						<a href="/groupe_service?name=PME" class="text-reset">Tester notre SANDBOX</a>
					</p>
				</div>
				<div class="p-2">

					<h6 class="text-uppercase fw-bold mb-4">A propos de Cori Digital</h6>
					<p>
						<a href="{% url 'access_page_footer' page_name_footer='nous_contactez' %}"
							class="text-reset">Contactez nous
						</a>
					</p>
					<p>
						<a href="{% url 'access_page_footer' page_name_footer='propos_cori' %}" class="text-reset"> À
							propos de Cori
						</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2023 Copyright:
		<a class="text-reset fw-bold" href="https://coridigitalcom/">coridigital.com</a>
	</div> -->
</footer>
