<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse flex justify-center" id="main_nav">
      <ul class="navbar-nav"> 
        <li class="nav-item dropdown">
          <a  href="#" data-bs-toggle="dropdown" class=" space-x-3 nav-link dropdown-toggle h-10 inline-block text-sm text-center px-2 py-2 font-bold leading-none border rounded text-white border-white bg-blue-700 hover:border-transparent hover:text-teal hover:bg-gray-300"> Produits & Servives </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> Service Cloud  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">offre particulier </a></li>
                <li><a class="dropdown-item" href="#">Offre PME</a></li>
                <li><a class="dropdown-item" href="#">Offre grandes entreprises</a></li>
                <li><a class="dropdown-item" href="#">offre sur mesure </a></li>
                <li><a class="dropdown-item" href="#">Offre évènement </a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Hébergement </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Nom de domaine & DNS</a></li>
                <li><a class="dropdown-item" href="#">Email pro</a></li>
                <li><a class="dropdown-item" href="#">Hébergement</a></li>
                <li><a class="dropdown-item" href="#">SSL certificat</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Nom de domaine </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Achat de nom de domaine</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Stockage  Backup service  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Cori  backup</a></li>
                <li><a class="dropdown-item" href="#">Cori  backup pro</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Support  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Support HO</a></li>
                <li><a class="dropdown-item" href="#">Support HNO pro</a></li>
                <li><a class="dropdown-item" href="#">Support dédié</a></li>
                <li><a class="dropdown-item" href="#">Ouvrir un ticket</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Supervision  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Supervision 24/7 </a></li>
                <li><a class="dropdown-item" href="#">Monitoring serveur</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> BIG DATA, AI  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Etude marcketing </a></li>
                <li><a class="dropdown-item" href="#">Valorisation des données</a></li>
                <li><a class="dropdown-item" href="#">Création de nouveau business </a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li style="margin-left:2%" class="nav-item dropdown">
          <a  href="#" data-bs-toggle="dropdown" class=" nav-link dropdown-toggle h-10 inline-block text-sm text-center px-2 py-2 font-bold leading-none border rounded text-white border-white bg-blue-700 hover:border-transparent hover:text-teal hover:bg-gray-300"> Nos offres projet </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> Etude & conseil </a></li>
            <li><a class="dropdown-item" href="#"> Un nouveau projet  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Cloud  public</a></li>
                <li><a class="dropdown-item" href="#">Cloud privé</a></li>
                <li><a class="dropdown-item" href="#">Cloud hybride</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Formation  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Cloud  public</a></li>
                <li><a class="dropdown-item" href="#">Cloud privé</a></li>
                <li><a class="dropdown-item" href="#">Cloud hybride</a></li>
              </ul>
            </li>
           
          </ul>
        </li>
        <li style="margin-left:2%"class="nav-item dropdown">
          <a   href="#" data-bs-toggle="dropdown" class=" nav-link dropdown-toggle h-10 inline-block text-sm text-center px-2 py-2 font-bold leading-none border rounded text-white border-white bg-blue-700 hover:border-transparent hover:text-teal hover:bg-gray-300"> Nos offres métier </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> Sécurité  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Caméra de surveillance </a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Santé  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Serveur de stockage de données d'analyse médical </a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Éducation </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Bureau virtuel pour chaque étudiant </a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Finance </a></li>
            <li><a class="dropdown-item" href="#"> Transport </a></li>
            <li><a class="dropdown-item" href="#"> Services </a></li>
            <li><a class="dropdown-item" href="#"> Assurances </a></li>
            <li><a class="dropdown-item" href="#"> BTP </a></li>
          </ul>
        </li>
        <li style="margin-left:2%" class="nav-item dropdown">
          <a  href="#" data-bs-toggle="dropdown" class=" nav-link dropdown-toggle h-10 inline-block text-sm text-center px-2 py-2 font-bold leading-none border rounded text-white border-white bg-blue-700 hover:border-transparent hover:text-teal hover:bg-gray-300"> A propose de nous </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> Nous connaître  </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Sur base info B </a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Documentation  </a></li>
          </ul>
        </li>
        <li style="margin-left:2%" class="nav-item dropdown">
          <a href="#" data-bs-toggle="dropdown" class=" nav-link dropdown-toggle h-10 inline-block text-sm text-center px-2 py-2 font-bold leading-none border rounded text-white border-white bg-blue-700 hover:border-transparent hover:text-teal hover:bg-gray-300"> Espace client </a>
          <!-- <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> Nous connaître &raquo; </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Sur base info B </a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Documentation  </a></li>
          </ul> -->
        </li>
      </ul>
    </div>
      <!--- Start Search Bar -->
    <div style="margin-left:8%" class="flex justify-center">
      <div class="xl:w-96">
        <div class="input-group relative flex flex-wrap items-stretch w-full">
          <input type="search"
            class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
          <button
            class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
            type="button" id="button-addon2">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
              </path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="hidden  md:flex items-center space-x-3 justify-end ">
      <ul class="flex justify-end ">
        <li
          class=" font-sans block align-middle text-black hover:text-gray-700 dark-mode:bg-gray-800 bg-gray-400 mx-1 rounded-md relative">
          <a href="{% url 'panier_services' %}" class="">
            <svg class="text-white w-12 h-10 fill-current" viewbox="0 0 24 24">
              <path
                d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
            </svg>
            {% if request.session and request.session.panier %}
            <span
              class="absolute right-0 top-0 rounded-full bg-red-600 w-6 h-6 text-white font-mono font-bold text-md  leading-tight text-center py-1">
              {{ request.session.panier|length }}
            </span>
            {% endif %}
            </span>
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="align-middle justify-center items-center mx-1">
          <a href="{% url 'login' %}">
            <div class="flex items-center text-white bg-indigo-600 rounded-md">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
                class="bi bi-person w-12 h-10" viewBox="0 0 16 16">
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
              </svg>
              <div class="container">
                <span class="text-md tracking-tight text-center">{{ request.user.first_name}}</span>
                <span class=" text-md tracking-tight text-center">{{ request.user.last_name}}</span>
              </div>
            </div>
          </a>
        </li>
        {% else %}
        <li class="justify-center items-center mx-1">
          <a href="{% url 'login' %}"
            class="h-10 inline-block text-sm text-center px-2 py-2 font-bold leading-none border rounded text-white border-white bg-blue-700 hover:border-transparent hover:text-teal hover:bg-white">Se
            Connecter</a>
        </li>
        <li class="justify-center items-center mx-1">
          <a href="{% url 'register' %}"
            class="h-10 inline-block text-sm text-center px-2 py-2 font-bold leading-none border rounded text-white border-white bg-blue-700 hover:border-transparent hover:text-teal hover:bg-white">S'inscrire</a>
        </li>
        {% endif %}
      </ul>
    </div>
    </div> <!-- navbar-collapse.// -->
  </div> <!-- container-fluid.// -->
</nav>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    /////// Prevent closing from click inside dropdown
    document.querySelectorAll('.dropdown-menu').forEach(function (element) {
      element.addEventListener('click', function (e) {
        e.stopPropagation();
      });
    })
  });
	// DOMContentLoaded  end
</script>