<style type="text/css">
    a:link {
        text-decoration: none;
    }

    .dropdown-menu li {
        position: relative;
    }

    /*  */
    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
        width: 100%;
    }

    /*  */
    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
        width: 100%;
    }

    /*  */
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }

    /*  */
    .dropdown-menu>li:hover>.submenu {
        display: block;
        width: auto
    }
</style>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        /////// Prevent closing from click inside dropdown
        document.querySelectorAll('.dropdown-menu').forEach(function (element) {
            element.addEventListener('click', function (e) {
                e.stopPropagation();
            });
        })
    });
      // DOMContentLoaded  end
</script>
<nav
    class="relative w-full flex flex-wrap items-center justify-between shadow-lg navbar navbar-expand-lg navbar-light px-3">
    <!--  -->
    <div class="w-full flex  bg-gradient-to-r from-white to-blue-200">
        <div class="justify-center items-center">
            <a href="/">
                <img src="{{ STATIC_URL }}/media/images/logo_cori_1.png" class="md:w-64 w-40 h-full" alt="logo" />
            </a>
        </div>
        <div
            class="w-full row text-center justify-center items-center text-blue-800 font-bold md:text-xl text-xs md:py-2 py-1 bg-gradient-to-r from-white to-blue-500">
            <!--style="background-image: url(/media/images/nuage.png);background-position: center;background-size:cover;background-repeat: no-repeat;"-->
            <!--text-transparent bg-clip-text bg-gradient-to-br from-blue-900 to-text-white-->
            <span class="uppercase">Cori Digital</span>
            <span class="">
                <marquee> Notre mission : Vous accompagnez au quotidien dans votre transformation numérique avec le
                    cloud </marquee>
            </span>
        </div>
    </div>
    <!--  -->
    <div class="flex w-full items-center justify-end py-2">
        <div class="justify-center w-full">
            <div class="flex items-center md:order-2">
                <button data-collapse-toggle="navbarSupportedContent1" type="button"
                    class="inline-flex items-center ml-1 bg-gray-50 text-sm rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbarSupportedContent1" aria-expanded="false">
                    <span class="material-symbols-outlined text-blue-600 font-bold">
                        apps
                    </span>
                </button>
            </div>
            <div class="hidden justify-center items-center w-full md:flex" id="navbarSupportedContent1">
                <ul class="md:flex space-x-4 justify-center navbar-nav" id="menu">
                    <li class="nav-item dropdown ml-4">
                        <a href="#" data-bs-toggle="dropdown"
                            class="space-x-3 dropdown-toggle inline-block text-sm text-center px-2 py-2 font-bold text-black">
                            Produits & Services </a>
                        <ul class="dropdown-menu">
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Service Cloud
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">offre particulier </a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Offre PME</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Offre grandes entreprises</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">offre sur mesure </a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Offre évènement </a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Hébergement
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Nom de domaine & DNS</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Email pro</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Hébergement</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">SSL certificat</a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Nom de domaine
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Achat de nom de domaine</a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Stockage Backup
                                    service
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Cori backup</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Cori backup pro</a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Support
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Support HO</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Support HNO pro</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Support dédié</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Ouvrir un ticket</a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Supervision
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Supervision 24/7 </a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Monitoring serveur</a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> BIG DATA, AI
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Etude marcketing </a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Valorisation des données</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Création de nouveau business </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                            class="space-x-3 dropdown-toggle inline-block text-sm text-center px-2 py-2 font-bold text-black">
                            Nos offres projet </a>
                        <ul class="dropdown-menu">
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Etude & conseil </a>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Un nouveau projet
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Cloud public</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Cloud privé</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Cloud hybride</a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Formation
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Cloud public</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Cloud privé</a></li>
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Cloud hybride</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                            class=" space-x-3 dropdown-toggle inline-block text-sm text-center px-2 py-2 font-bold text-black">
                            Nos offres métier </a>
                        <ul class="dropdown-menu">
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_erp"> ERP </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_hrm"> HRM </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_education"> EDUCATION </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_e-commerce"> E-COMMERCE </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_sondage"> SONDAGE </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_analytique"> ANALYTIQUE </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_mailing"> MAILING </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_booking"> BOOKING </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_sap-ngu"> SAP dans NGU </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_projet"> Gestion de projet </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_support"> Support Help Desk </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="/page/page_fact-pme"> FACTURATION DES FREELANCES, PME </a></li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Sécurité
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a
                                            class="dropdown-item text-left inline-flex items-center text-black"
                                            href="#">Caméra de surveillance </a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Santé
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Serveur de stockage de données d'analyse médical </a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Éducation
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Bureau virtuel pour chaque étudiant </a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="#"> Finance </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="#"> Transport </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="#"> Services </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="#"> Assurances </a></li>
                            <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                    href="#"> BTP </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                            class=" space-x-3 dropdown-toggle inline-block text-sm text-center px-2 py-2 font-bold text-black">
                            A propose de nous </a>
                        <ul class="dropdown-menu">
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Nous connaître
                                    <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </a>
                                <ul class="submenu dropdown-menu">
                                    <li class="px-4 min-w-max"><a class="text-left inline-flex items-center text-black"
                                            href="#">Sur base info B </a></li>
                                </ul>
                            </li>
                            <li class="px-4 min-w-max">
                                <a class="text-left inline-flex items-center text-black" href="#"> Documentation </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-bs-toggle="dropdown"
                            class=" space-x-3 dropdown-toggle inline-block text-sm text-center px-2 py-2 font-bold text-black">
                            Espace client </a>
                        <!-- <ul class="dropdown-menu">
                        <li><a class="text-left inline-flex items-center text-black" href="#"> Nous connaître &raquo; </a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="text-left inline-flex items-center text-black" href="#">Sur base info B </a></li>
                        </ul>
                        </li>
                        <li><a class="text-left inline-flex items-center text-black" href="#"> Documentation  </a></li>
                    </ul> -->
                    </li>
                    <div class="flex items-center justify-center md:ml-8">
                        <form class="flex items-center justify-center">
                            <input type="search"
                                class="form-control relative flex-auto block w-full px-3 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="Recherche..." aria-label="Search" aria-describedby="button-addon-search">
                            <button
                                class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
                                type="button" id="button-addon-search">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                                    class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="currentColor"
                                        d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                    </path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </ul>
                <!-- Left links -->
            </div>
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="flex items-center relative justify-end  ml-8" id="account_menu">
            <!-- Icon -->
            <div class="dropdown relative">
                <a class="text-white mr-4 hidden-arrow flex items-center" href="{% url 'panier_services' %}">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart" class="w-4"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="black"
                            d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z">
                        </path>
                    </svg>
                    {% if request.session and request.session.panier %}
                    <span class="text-white bg-red-700 absolute rounded-full text-xs -mt-2.5 ml-2 py-0 px-1"
                        id="panier_count"></span>
                    {% endif %}
                </a>
            </div>
            <!--  -->

            <div class="dropdown relative right-0">
                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm px-1 py-1 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-workspace" viewBox="0 0 16 16">
                        <path
                            d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                        <path
                            d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
                    </svg>
                    <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="dropdownNavbar"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    {% if request.user.is_authenticated %}
                    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                        <div>
                            <span class="text-md tracking-tight text-center">{{ request.user.first_name}}</span>
                            <span class=" text-md tracking-tight text-center">{{ request.user.last_name}}</span>
                        </div>
                        <div class="font-medium truncate">
                            <span class="text-md tracking-tight text-center">{{ request.user.email}}</span>
                        </div>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'account' %}"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tableau
                            de Bord</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'account' %}"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mon
                            Compte</a>
                    </div>
                    <div class="py-1">
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profil</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'logout' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Se
                            Déconnecter</a>
                    </div>
                    {% else %}
                    <div class="py-1">
                        <a href="{% url 'login' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Se
                            Connecter</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'register' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Créer
                            Un Compte</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!--  -->
        </div>
        <!--  -->
        <!-- Right elements -->
    </div>
</nav>
<script type="text/javascript">
    $.ajax({
        url: "{% url 'count_panier_content' %}",
        data: {

        },
        dataType: 'json',
        success: function (data) {
            $("#panier_count").text(data.counter);
        }
    });
</script>




<nav class="bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
        <a href="https://flowbite.com" class="flex items-center">
            <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
        <button data-collapse-toggle="mega-menu-full" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu-full" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div id="mega-menu-full" class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1">
            <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</a>
                </li>
                <li>
                    <button id="mega-menu-full-dropdown-button" data-collapse-toggle="mega-menu-full-dropdown" class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Company <svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
                </li>
                <li>
                    <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Marketplace</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Resources</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="mega-menu-full-dropdown" class="mt-1 bg-gray-50 border-gray-200 shadow-sm md:bg-white border-y dark:bg-gray-800 dark:border-gray-600">
        <div class="grid py-5 px-4 mx-auto max-w-screen-xl text-gray-900 dark:text-white sm:grid-cols-2 md:px-6">
            <ul>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                        <div class="font-semibold">Online Stores</div>
                        <span class="text-sm font-light text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                        <div class="font-semibold">Segmentation</div>
                        <span class="text-sm font-light text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                        <div class="font-semibold">Marketing CRM</div>
                        <span class="text-sm font-light text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                        <div class="font-semibold">Online Stores</div>
                        <span class="text-sm font-light text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                        <div class="font-semibold">Segmentation</div>
                        <span class="text-sm font-light text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                        <div class="font-semibold">Marketing CRM</div>
                        <span class="text-sm font-light text-gray-500 dark:text-gray-400">Connect with third-party tools that you're already using.</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>