<div class="absolute hidden md:block bg-red-500 top-0 right-0 mx-1 text-right px-2">
    <span>Ce site est en cours de construction</span>
</div>
<div class="bg-red-500 w-full text-right px-2 md:hidden">
    <span>Ce site est en cours de construction</span>
</div>

<nav class="px-2 bg-white ">
    <div class="w-full flex">
        <div class="flex justify-center items-center hidden md:block">
            <a href="/">
                <img src="{{ STATIC_URL }}/media/images/logo_cori_1.png" class="md:w-64 w-40 h-32 mt-auto" alt="logo" />
            </a>
        </div>

        <a href="/" class="md:hidden">
            <img src="{{ STATIC_URL }}/media/images/logo_cori_1.png" class="w-32 h-20" alt="logo" />
        </a>
        <div
            class="w-full row text-center justify-center items-center text-blue-800 font-bold">
            <!-- <div
                class="w-full row text-center justify-center items-center text-blue-800 font-bold  bg-gradient-to-r from-white to-blue-500">
                <span class="md:text-xl text-sm">Cori Digital</span>
                <span class="md:text-lg text-xs">
                    <span> Notre mission : Vous accompagnez au quotidien dans votre transformation numérique avec le
                        cloud </span>
                </span>
            </div> -->
            <div class="container flex flex-wrap justify-between justify-items-stretch items-center mx-auto">
                <div></div>

                <div class="flex items-center md:order-2 justify-self-end">

                    <div class="dropdown relative flex p-1 space-x-4 justify-end">
                        <a class="text-white hidden-arrow flex items-center mr-2" href="{% url 'panier_services' %}">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart"
                                class="md:w-8 md:h-8 w-6 h-6" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 576 512">
                                <path fill="#0131B4"
                                    d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z">
                                </path>
                            </svg>
                            {% if request.session and request.session.panier or request.session.panier_application %}
                            <span class="text-white bg-red-700 absolute rounded-full text-xs -mt-2.5 ml-4 py-0 px-1"
                                id="panier_count"></span>
                            {% endif %}
                        </a>
                        <button type="button"
                            class="flex text-sm bg-white rounded-full focus:ring-4 focus:ring-gray-300"
                            id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                            data-dropdown-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-circle md:w-8 md:h-8 w-6 h-6" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </button>
                        <div class="md:text-sm text-xs hidden z-50 w-48 my-4 bg-white text-base list-none rounded divide-y divide-gray-100 shadow"
                            id="user-dropdown">
                            {% if request.user.is_authenticated %}
                            <div class="px-4 py-3 text-sm text-gray-900 text-left">
                                <div>
                                    <span class="tracking-tight text-center">{{ request.user.first_name}}</span>
                                    <span class="tracking-tight text-center">{{ request.user.last_name}}</span>
                                </div>
                                <div class="font-medium truncate">
                                    <span class="tracking-tight text-center">{{ request.user.email}}</span>
                                </div>
                            </div>
                            <div class="py-1 text-left">
                                <a href="{% url 'account' %}" class="block px-4 py-2 hover:bg-gray-100">Tableau
                                    de Bord</a>
                            </div>
                            <div class="py-1 text-left">
                                <a href="{% url 'user_profil' %}" class="block px-4 py-2 hover:bg-gray-100">Profil</a>
                            </div>
                            <div class="py-1">
                                <a href="{% url 'logout' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Se
                                    Déconnecter</a>
                            </div>
                            {% else %}
                            <div class="py-1 text-left">
                                <a href="{% url 'login' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Se
                                    Connecter</a>
                            </div>
                            <div class="py-1 text-left">
                                <a href="{% url 'register' %}"
                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Créer
                                    Un Compte</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>


                    <button data-collapse-toggle="mobile-menu-2" type="button"
                        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                        aria-controls="mobile-menu-2" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>

                <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
                    <ul
                        class="flex flex-col mt-2 px-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
                        <li class="block rounded-lg hover:bg-gray-100 md:p-2  hover:underline underline-offset-12 bg-gradient-to-r from-white to-blue-200">
                            <button id="mega-menu-full-dropdown-button_produits_services" aria-expanded="false"
                                data-dropdown-toggle="mega-menu-full-dropdown_produits_services"
                                data-dropdown-placement="bottom"
                                class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Produits
                                & Services<svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg></button>
                        </li>

                        <li class="block rounded-lg hover:bg-gray-100 md:p-2 hover:underline underline-offset-12 bg-gradient-to-r from-white to-blue-200">
                            <button id="mega-menu-full-dropdown-button_nos_offres_metier" aria-expanded="false"
                                data-dropdown-toggle="mega-menu-full-dropdown_nos_offres_metier"
                                data-dropdown-placement="bottom"
                                class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">
                                Nos offres Applications Metiers<svg class="ml-1 w-5 h-5" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg></button>
                        </li>

                        <li class="block rounded-lg hover:bg-gray-100 md:p-2 hover:underline underline-offset-12 bg-gradient-to-r from-white to-blue-200">
                            <a href="{% url 'access_page_footer' page_name_footer='propos_cori' %}">
                                <button id="mega-menu-full-dropdown-button_espace_client" aria-expanded="false"
                                    class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">
                                    A propose de nous</button>
                            </a>
                        </li>
                        <li class="block rounded-lg hover:bg-gray-100 md:p-2 hover:underline underline-offset-12 bg-gradient-to-r from-white to-blue-200">
                            <a href="{% url 'account' %}">
                                <button id="mega-menu-full-dropdown-button_espace_client" aria-expanded="false"
                                    class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0">Espace
                                    client</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <div class="" id="sous-menu">
        <div id="mega-menu-full-dropdown_produits_services"
            class="hidden z-50 mt-1 bg-gray-50 border-gray-200 shadow-sm md:bg-white border-y">
            <div class="flex flex-wrap py-3 text-black-900 ">
                <ul>
                    <li class=" mx-auto">
                        <ul class="my-1 text-gray-600" id="dropdown-menu_groupe_services"></ul>

                    </li>
                </ul>

            </div>
        </div>

        <div id="mega-menu-full-dropdown_nos_offres_metier"
            class="w-full hidden z-50 mt-1 bg-gray-50 border-gray-200 shadow-sm md:bg-white border-y  ">
            <div class="flex flex-wrap  text-gray-900  justify-left">

                <div class="flex flex-wrap md:py-4 text-black-900  justify-left">
                    <ul>
                        <li class="mx-8">
                            <span class="block font-semibold">
                                Gestion des ressources (GR)
                            </span>

                            <ul class="my-1 text-gray-600">
                                <li>
                                    <a href="/page/page_hrm" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="text-sm font-semibold leading-6 hover:underline underline-offset-12">
                                            Gestion des ressources humaines  </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/page/page_erp" class="block p-1 rounded-lg hover:bg-gray-100">
                                        <div
                                            class="text-sm font-semibold leading-6 hover:underline underline-offset-12">
                                            Gestion des ressources de l'entreprise (GRE)  </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/page/page_sap-ngu" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="text-sm font-semibold leading-6 hover:underline underline-offset-12">
                                            SAP </div>
                                    </a>
                                </li>
                                <li>
                            </ul>

                        </li>
                    </ul>

                </div>

                <div class="flex flex-wrap md:py-4 text-black-900  justify-left">
                    <ul>
                        <li class=" mx-8">
                            <span class="block font-semibold">
                                Collaboration
                            </span>
                            <ul class="my-1 text-gray-600">
                                <li>
                                    <a href="/page/page_projet" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="text-sm font-semibold leading-6 hover:underline underline-offset-12">
                                            Gestion de projet </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/page/page_analytique" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="text-sm font-semibold leading-6 hover:underline underline-offset-12">
                                            Analyste de données </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/page/page_mailing" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="text-sm font-semibold leading-6 hover:underline underline-offset-12">
                                            E-mail </div>
                                    </a>
                                </li>
                                <li>
                            </ul>

                        </li>
                    </ul>

                </div>

                <div class="flex flex-wrap md:py-4 text-black-900  justify-left">
                    <ul>
                        <li class=" mx-8">
                            <span class="block font-semibold">
                                Application
                            </span>
                            <ul class="my-1 text-gray-600">
                                <li>
                                    <a href="/page/page_invoice_freelance"
                                        class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="font-semibold text-sm leading-6 hover:underline underline-offset-12">
                                            Facturation </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/page/info/support" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="font-semibold text-sm leading-6 hover:underline underline-offset-12">
                                            Support </div>
                                    </a>
                                </li>

                                <li>
                            </ul>

                        </li>
                    </ul>

                </div>


                <div class="flex flex-wrap md:py-4 text-black-900  justify-left">
                    <ul>
                        <li class=" mx-8">
                            <span class="block font-semibold">
                                Par domaine
                            </span>
                            <ul class="my-1 text-gray-600">
                                <li>
                                    <a href="/page/page_erp_hearlth" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="font-semibold text-sm leading-6 hover:underline underline-offset-12">
                                            Domaine Médical  </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="/page/page_education" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="font-semibold text-sm leading-6 hover:underline underline-offset-12">
                                            Ecole  </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/page/page_e-commerce" class="block p-1 rounded-lg hover:bg-gray-100 ">
                                        <div
                                            class="font-semibold text-sm leading-6 hover:underline underline-offset-12">
                                            E-Commerce   </div>
                                    </a>
                                </li>

                            </ul>

                        </li>
                    </ul>

                </div>


            </div>
        </div>

    </div>
</nav>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        $.ajax({
            url: "{% url 'count_panier_content' %}",
            data: {

            },
            dataType: 'json',
            success: function (data) {
                $("#panier_count").text(data.counter);
            }
        });

        function getAllGroupeService() {
            $.ajax({
                url: "{% url 'api_list_groupe_service' %}",
                type: "GET",
                dataType: "json",
                success: (data) => {
                    if (data && data.groupes_services) {
                        groupe_services = data.groupes_services
                        $("#dropdown-menu_groupe_services").empty();
                        for (var i = 0; i < groupe_services.length; i++) {
                            html_code = '<li class="pr-2 hover:underline underline-offset-12"><a href="/groupe_service/?name=' + groupe_services[i].name + '&methode=list" class="block p-2 rounded-lg hover:bg-gray-100 "><div class="text-sm font-semibold leading-6">' + groupe_services[i].name + '</div></a></li>'

                            $('#dropdown-menu_groupe_services').append(html_code);
                        }
                    }
                },
                error: (error) => {
                }
            });

        }

        getAllGroupeService()
    });
</script>