<script>
    import {
        Collapse,
        Dropdown,
        Ripple,
        Carousel,
        initTE
    } from 'tw-elements';

    initTE({ Collapse, Dropdown, Ripple, Carousel });
</script>
<!-- <style>
    .c-h{
        height: 600px;
    }
</style> -->
<nav class="z-0">
    <div id="carouselExampleCaptions" class="relative max-w-400 mx-auto" data-te-carousel-init data-te-ride="carousel">
      
        <div class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
            data-te-carousel-indicators>
            <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="0" data-te-carousel-active
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-gray-300 bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="1"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-gray-200 bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 2"></button>
            <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="2"
                class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-gray-300 bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                aria-label="Slide 3"></button>
        </div>

       
        <div class="bg-gray-200 relative overflow-hidden after:clear-both after:block after:content-['']">
            
            <div class="c-h relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none w-full bg-no-repeat bg-cover bg-center h-96 sm:h-96 md:h-128 lg:h-152 xl:h-152"
                data-te-carousel-active data-te-carousel-item style="backface-visibility: hidden;background-image: url({{ STATIC_URL }}/media/images/cori_c_1_m1.webp);">
                <!--<img src="{{ STATIC_URL }}/media/images/image_c_1.webp" class="object-cover block w-full" alt="..." />-->
                <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
                    <!--
                    <h5 class="text-xl">Cori Digital</h5>
                    <p>
                        Notre mission : Vous accompagnez au quotidien dans votre transformation numérique avec le
                        cloud.
                    </p>
                    -->
                    
                </div>
            </div>
            
            <div class="c-h relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none bg-no-repeat bg-cover bg-center h-96 sm:h-96 md:h-128 lg:h-152 xl:h-152"
                data-te-carousel-item style="backface-visibility: hidden;background-image: url({{ STATIC_URL }}/media/images/cori_c_2_m1.webp);">
                <!--<img src="{{ STATIC_URL }}/media/images/image_c_2.webp" class="object-cover block w-full" alt="..." />-->
                <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
                    <!--
                    <h5 class="text-xl">Cori Digital</h5>
                    <p>
                        Notre mission : Vous accompagnez au quotidien dans votre transformation numérique avec le
                        cloud.
                    </p>
                    -->
                </div>
            </div>
            
            <div class="c-h relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none bg-no-repeat bg-cover bg-center h-96 sm:h-96 md:h-128 lg:h-152 xl:h-152"
                data-te-carousel-item style="backface-visibility: hidden;background-image: url({{ STATIC_URL }}/media/images/cori_c_3_m1.webp);">
                <!--<img src="{{ STATIC_URL }}/media/images/image_c_3.webp" class="object-cover block w-full" alt="..." />-->
                <div class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block">
                    <!--
                    <h5 class="text-xl">Cori Digital</h5>
                    <p>
                        Notre mission : Vous accompagnez au quotidien dans votre transformation numérique avec le
                        cloud.
                    </p>
                    -->
                </div>
            </div>
        </div>

       
        <button
            class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-75 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-blue-800 hover:no-underline hover:opacity-90 hover:outline-none focus:text-blue-800 focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button" data-te-target="#carouselExampleCaptions" data-te-slide="prev">
            <span class="inline-block h-8 w-8 bg-gray-900 p-1 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </span>
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
        </button>
        
        <button
            class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-75 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-blue-800 hover:no-underline hover:opacity-90 hover:outline-none focus:text-blue-800 focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button" data-te-target="#carouselExampleCaptions" data-te-slide="next">
            <span class="inline-block h-8 w-8 bg-gray-900 p-1 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </span>
            <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
        </button>
    </div>

</nav>