<!DOCTYPE html>
<html lang="en">
{% load tailwind_tags %}
{% load bootstrap5 %}

<head>

  <link rel="stylesheet" id="blocksy-dynamic-global-css"
    href="https://groupe-bbu.com/wp-content/uploads/blocksy/css/global.css?ver=83037" media="all">
  <link rel="stylesheet" id="wp-block-library-css"
    href="https://groupe-bbu.com/wp-includes/css/dist/block-library/style.min.css?ver=6.4.3" media="all">

  <style id="wp-block-library-inline-css">
    .has-text-align-justify {
      text-align: justify;
    }
  </style>
  <link rel="stylesheet" id="edsanimate-block-style-css"
    href="https://groupe-bbu.com/wp-content/plugins/animate-it/assets/css/block-style.css?ver=1678205958" media="all">
  <link rel="stylesheet" id="mediaelement-css"
    href="https://groupe-bbu.com/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css?ver=4.2.17" media="all">
  <link rel="stylesheet" id="wp-mediaelement-css"
    href="https://groupe-bbu.com/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=6.4.3" media="all">
  <link rel="stylesheet" id="fontawesome-free-css"
    href="https://groupe-bbu.com/wp-content/plugins/getwid/vendors/fontawesome-free/css/all.min.css?ver=5.5.0"
    media="all">
  <link rel="stylesheet" id="slick-css"
    href="https://groupe-bbu.com/wp-content/plugins/getwid/vendors/slick/slick/slick.min.css?ver=1.9.0" media="all">
  <link rel="stylesheet" id="slick-theme-css"
    href="https://groupe-bbu.com/wp-content/plugins/getwid/vendors/slick/slick/slick-theme.min.css?ver=1.9.0"
    media="all">
  <link rel="stylesheet" id="fancybox-css"
    href="https://groupe-bbu.com/wp-content/plugins/getwid/vendors/fancybox/jquery.fancybox.min.css?ver=3.5.7"
    media="all">
  <link rel="stylesheet" id="getwid-blocks-css"
    href="https://groupe-bbu.com/wp-content/plugins/getwid/assets/css/blocks.style.css?ver=2.0.5" media="all">
  <style id="getwid-blocks-inline-css">
    .wp-block-getwid-section .wp-block-getwid-section__wrapper .wp-block-getwid-section__inner-wrapper {
      max-width: 1900px;
    }
  </style>
  <style id="global-styles-inline-css">
    body {
      --wp--preset--color--black: #000000;
      --wp--preset--color--cyan-bluish-gray: #abb8c3;
      --wp--preset--color--white: #ffffff;
      --wp--preset--color--pale-pink: #f78da7;
      --wp--preset--color--vivid-red: #cf2e2e;
      --wp--preset--color--luminous-vivid-orange: #ff6900;
      --wp--preset--color--luminous-vivid-amber: #fcb900;
      --wp--preset--color--light-green-cyan: #7bdcb5;
      --wp--preset--color--vivid-green-cyan: #00d084;
      --wp--preset--color--pale-cyan-blue: #8ed1fc;
      --wp--preset--color--vivid-cyan-blue: #0693e3;
      --wp--preset--color--vivid-purple: #9b51e0;
      --wp--preset--color--palette-color-1: var(--theme-palette-color-1, #fed202);
      --wp--preset--color--palette-color-2: var(--theme-palette-color-2, #fed202);
      --wp--preset--color--palette-color-3: var(--theme-palette-color-3, #353535);
      --wp--preset--color--palette-color-4: var(--theme-palette-color-4, #000000);
      --wp--preset--color--palette-color-5: var(--theme-palette-color-5, #e9e9e9);
      --wp--preset--color--palette-color-6: var(--theme-palette-color-6, #4d5f75);
      --wp--preset--color--palette-color-7: var(--theme-palette-color-7, #fdfdfd);
      --wp--preset--color--palette-color-8: var(--theme-palette-color-8, #ffffff);
      --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
      --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
      --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
      --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
      --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
      --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
      --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
      --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
      --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
      --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
      --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
      --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
      --wp--preset--gradient--juicy-peach: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
      --wp--preset--gradient--young-passion: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
      --wp--preset--gradient--true-sunset: linear-gradient(to right, #fa709a 0%, #fee140 100%);
      --wp--preset--gradient--morpheus-den: linear-gradient(to top, #30cfd0 0%, #330867 100%);
      --wp--preset--gradient--plum-plate: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      --wp--preset--gradient--aqua-splash: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
      --wp--preset--gradient--love-kiss: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
      --wp--preset--gradient--new-retrowave: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
      --wp--preset--gradient--plum-bath: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
      --wp--preset--gradient--high-flight: linear-gradient(to right, #0acffe 0%, #495aff 100%);
      --wp--preset--gradient--teen-party: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
      --wp--preset--gradient--fabled-sunset: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
      --wp--preset--gradient--arielle-smile: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      --wp--preset--gradient--itmeo-branding: linear-gradient(180deg, #2af598 0%, #009efd 100%);
      --wp--preset--gradient--deep-blue: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
      --wp--preset--gradient--strong-bliss: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
      --wp--preset--gradient--sweet-period: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
      --wp--preset--gradient--purple-division: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
      --wp--preset--gradient--cold-evening: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
      --wp--preset--gradient--mountain-rock: linear-gradient(to right, #868f96 0%, #596164 100%);
      --wp--preset--gradient--desert-hump: linear-gradient(to top, #c79081 0%, #dfa579 100%);
      --wp--preset--gradient--ethernal-constance: linear-gradient(to top, #09203f 0%, #537895 100%);
      --wp--preset--gradient--happy-memories: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
      --wp--preset--gradient--grown-early: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
      --wp--preset--gradient--morning-salad: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
      --wp--preset--gradient--night-call: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
      --wp--preset--gradient--mind-crawl: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
      --wp--preset--gradient--angel-care: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
      --wp--preset--gradient--juicy-cake: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
      --wp--preset--gradient--rich-metal: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
      --wp--preset--gradient--mole-hall: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
      --wp--preset--gradient--cloudy-knoxville: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      --wp--preset--gradient--soft-grass: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
      --wp--preset--gradient--saint-petersburg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
      --wp--preset--gradient--everlasting-sky: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
      --wp--preset--gradient--kind-steel: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
      --wp--preset--gradient--over-sun: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
      --wp--preset--gradient--premium-white: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
      --wp--preset--gradient--clean-mirror: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
      --wp--preset--gradient--wild-apple: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
      --wp--preset--gradient--snow-again: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
      --wp--preset--gradient--confident-cloud: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
      --wp--preset--gradient--glass-water: linear-gradient(to top, #dfe9f3 0%, white 100%);
      --wp--preset--gradient--perfect-white: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
      --wp--preset--font-size--small: 13px;
      --wp--preset--font-size--medium: 20px;
      --wp--preset--font-size--large: clamp(22px, 1.375rem + ((1vw - 3.2px) * 0.625), 30px);
      --wp--preset--font-size--x-large: clamp(30px, 1.875rem + ((1vw - 3.2px) * 1.563), 50px);
      --wp--preset--font-size--xx-large: clamp(45px, 2.813rem + ((1vw - 3.2px) * 2.734), 80px);
      --wp--preset--spacing--20: 0.44rem;
      --wp--preset--spacing--30: 0.67rem;
      --wp--preset--spacing--40: 1rem;
      --wp--preset--spacing--50: 1.5rem;
      --wp--preset--spacing--60: 2.25rem;
      --wp--preset--spacing--70: 3.38rem;
      --wp--preset--spacing--80: 5.06rem;
      --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
      --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
      --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
      --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
      --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
    }

    body {
      margin: 0;
      --wp--style--global--content-size: var(--theme-block-max-width);
      --wp--style--global--wide-size: var(--theme-block-wide-max-width);
    }

    .wp-site-blocks>.alignleft {
      float: left;
      margin-right: 2em;
    }

    .wp-site-blocks>.alignright {
      float: right;
      margin-left: 2em;
    }

    .wp-site-blocks>.aligncenter {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    :where(.wp-site-blocks)>* {
      margin-block-start: var(--theme-content-spacing);
      margin-block-end: 0;
    }

    :where(.wp-site-blocks)> :first-child:first-child {
      margin-block-start: 0;
    }

    :where(.wp-site-blocks)> :last-child:last-child {
      margin-block-end: 0;
    }

    body {
      --wp--style--block-gap: var(--theme-content-spacing);
    }

    :where(body .is-layout-flow)> :first-child:first-child {
      margin-block-start: 0;
    }

    :where(body .is-layout-flow)> :last-child:last-child {
      margin-block-end: 0;
    }

    :where(body .is-layout-flow)>* {
      margin-block-start: var(--theme-content-spacing);
      margin-block-end: 0;
    }

    :where(body .is-layout-constrained)> :first-child:first-child {
      margin-block-start: 0;
    }

    :where(body .is-layout-constrained)> :last-child:last-child {
      margin-block-end: 0;
    }

    :where(body .is-layout-constrained)>* {
      margin-block-start: var(--theme-content-spacing);
      margin-block-end: 0;
    }

    :where(body .is-layout-flex) {
      gap: var(--theme-content-spacing);
    }

    :where(body .is-layout-grid) {
      gap: var(--theme-content-spacing);
    }

    body .is-layout-flow>.alignleft {
      float: left;
      margin-inline-start: 0;
      margin-inline-end: 2em;
    }

    body .is-layout-flow>.alignright {
      float: right;
      margin-inline-start: 2em;
      margin-inline-end: 0;
    }

    body .is-layout-flow>.aligncenter {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    body .is-layout-constrained>.alignleft {
      float: left;
      margin-inline-start: 0;
      margin-inline-end: 2em;
    }

    body .is-layout-constrained>.alignright {
      float: right;
      margin-inline-start: 2em;
      margin-inline-end: 0;
    }

    body .is-layout-constrained>.aligncenter {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    body .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
      max-width: var(--wp--style--global--content-size);
      margin-left: auto !important;
      margin-right: auto !important;
    }

    body .is-layout-constrained>.alignwide {
      max-width: var(--wp--style--global--wide-size);
    }

    body .is-layout-flex {
      display: flex;
    }

    body .is-layout-flex {
      flex-wrap: wrap;
      align-items: center;
    }

    body .is-layout-flex>* {
      margin: 0;
    }

    body .is-layout-grid {
      display: grid;
    }

    body .is-layout-grid>* {
      margin: 0;
    }

    body {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }

    .has-black-color {
      color: var(--wp--preset--color--black) !important;
    }

    .has-cyan-bluish-gray-color {
      color: var(--wp--preset--color--cyan-bluish-gray) !important;
    }

    .has-white-color {
      color: var(--wp--preset--color--white) !important;
    }

    .has-pale-pink-color {
      color: var(--wp--preset--color--pale-pink) !important;
    }

    .has-vivid-red-color {
      color: var(--wp--preset--color--vivid-red) !important;
    }

    .has-luminous-vivid-orange-color {
      color: var(--wp--preset--color--luminous-vivid-orange) !important;
    }

    .has-luminous-vivid-amber-color {
      color: var(--wp--preset--color--luminous-vivid-amber) !important;
    }

    .has-light-green-cyan-color {
      color: var(--wp--preset--color--light-green-cyan) !important;
    }

    .has-vivid-green-cyan-color {
      color: var(--wp--preset--color--vivid-green-cyan) !important;
    }

    .has-pale-cyan-blue-color {
      color: var(--wp--preset--color--pale-cyan-blue) !important;
    }

    .has-vivid-cyan-blue-color {
      color: var(--wp--preset--color--vivid-cyan-blue) !important;
    }

    .has-vivid-purple-color {
      color: var(--wp--preset--color--vivid-purple) !important;
    }

    .has-palette-color-1-color {
      color: var(--wp--preset--color--palette-color-1) !important;
    }

    .has-palette-color-2-color {
      color: var(--wp--preset--color--palette-color-2) !important;
    }

    .has-palette-color-3-color {
      color: var(--wp--preset--color--palette-color-3) !important;
    }

    .has-palette-color-4-color {
      color: var(--wp--preset--color--palette-color-4) !important;
    }

    .has-palette-color-5-color {
      color: var(--wp--preset--color--palette-color-5) !important;
    }

    .has-palette-color-6-color {
      color: var(--wp--preset--color--palette-color-6) !important;
    }

    .has-palette-color-7-color {
      color: var(--wp--preset--color--palette-color-7) !important;
    }

    .has-palette-color-8-color {
      color: var(--wp--preset--color--palette-color-8) !important;
    }

    .has-black-background-color {
      background-color: var(--wp--preset--color--black) !important;
    }

    .has-cyan-bluish-gray-background-color {
      background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
    }

    .has-white-background-color {
      background-color: var(--wp--preset--color--white) !important;
    }

    .has-pale-pink-background-color {
      background-color: var(--wp--preset--color--pale-pink) !important;
    }

    .has-vivid-red-background-color {
      background-color: var(--wp--preset--color--vivid-red) !important;
    }

    .has-luminous-vivid-orange-background-color {
      background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
    }

    .has-luminous-vivid-amber-background-color {
      background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
    }

    .has-light-green-cyan-background-color {
      background-color: var(--wp--preset--color--light-green-cyan) !important;
    }

    .has-vivid-green-cyan-background-color {
      background-color: var(--wp--preset--color--vivid-green-cyan) !important;
    }

    .has-pale-cyan-blue-background-color {
      background-color: var(--wp--preset--color--pale-cyan-blue) !important;
    }

    .has-vivid-cyan-blue-background-color {
      background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
    }

    .has-vivid-purple-background-color {
      background-color: var(--wp--preset--color--vivid-purple) !important;
    }

    .has-palette-color-1-background-color {
      background-color: var(--wp--preset--color--palette-color-1) !important;
    }

    .has-palette-color-2-background-color {
      background-color: var(--wp--preset--color--palette-color-2) !important;
    }

    .has-palette-color-3-background-color {
      background-color: var(--wp--preset--color--palette-color-3) !important;
    }

    .has-palette-color-4-background-color {
      background-color: var(--wp--preset--color--palette-color-4) !important;
    }

    .has-palette-color-5-background-color {
      background-color: var(--wp--preset--color--palette-color-5) !important;
    }

    .has-palette-color-6-background-color {
      background-color: var(--wp--preset--color--palette-color-6) !important;
    }

    .has-palette-color-7-background-color {
      background-color: var(--wp--preset--color--palette-color-7) !important;
    }

    .has-palette-color-8-background-color {
      background-color: var(--wp--preset--color--palette-color-8) !important;
    }

    .has-black-border-color {
      border-color: var(--wp--preset--color--black) !important;
    }

    .has-cyan-bluish-gray-border-color {
      border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
    }

    .has-white-border-color {
      border-color: var(--wp--preset--color--white) !important;
    }

    .has-pale-pink-border-color {
      border-color: var(--wp--preset--color--pale-pink) !important;
    }

    .has-vivid-red-border-color {
      border-color: var(--wp--preset--color--vivid-red) !important;
    }

    .has-luminous-vivid-orange-border-color {
      border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
    }

    .has-luminous-vivid-amber-border-color {
      border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
    }

    .has-light-green-cyan-border-color {
      border-color: var(--wp--preset--color--light-green-cyan) !important;
    }

    .has-vivid-green-cyan-border-color {
      border-color: var(--wp--preset--color--vivid-green-cyan) !important;
    }

    .has-pale-cyan-blue-border-color {
      border-color: var(--wp--preset--color--pale-cyan-blue) !important;
    }

    .has-vivid-cyan-blue-border-color {
      border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
    }

    .has-vivid-purple-border-color {
      border-color: var(--wp--preset--color--vivid-purple) !important;
    }

    .has-palette-color-1-border-color {
      border-color: var(--wp--preset--color--palette-color-1) !important;
    }

    .has-palette-color-2-border-color {
      border-color: var(--wp--preset--color--palette-color-2) !important;
    }

    .has-palette-color-3-border-color {
      border-color: var(--wp--preset--color--palette-color-3) !important;
    }

    .has-palette-color-4-border-color {
      border-color: var(--wp--preset--color--palette-color-4) !important;
    }

    .has-palette-color-5-border-color {
      border-color: var(--wp--preset--color--palette-color-5) !important;
    }

    .has-palette-color-6-border-color {
      border-color: var(--wp--preset--color--palette-color-6) !important;
    }

    .has-palette-color-7-border-color {
      border-color: var(--wp--preset--color--palette-color-7) !important;
    }

    .has-palette-color-8-border-color {
      border-color: var(--wp--preset--color--palette-color-8) !important;
    }

    .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
      background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
    }

    .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
      background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
    }

    .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
      background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
    }

    .has-luminous-vivid-orange-to-vivid-red-gradient-background {
      background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
    }

    .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
      background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
    }

    .has-cool-to-warm-spectrum-gradient-background {
      background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
    }

    .has-blush-light-purple-gradient-background {
      background: var(--wp--preset--gradient--blush-light-purple) !important;
    }

    .has-blush-bordeaux-gradient-background {
      background: var(--wp--preset--gradient--blush-bordeaux) !important;
    }

    .has-luminous-dusk-gradient-background {
      background: var(--wp--preset--gradient--luminous-dusk) !important;
    }

    .has-pale-ocean-gradient-background {
      background: var(--wp--preset--gradient--pale-ocean) !important;
    }

    .has-electric-grass-gradient-background {
      background: var(--wp--preset--gradient--electric-grass) !important;
    }

    .has-midnight-gradient-background {
      background: var(--wp--preset--gradient--midnight) !important;
    }

    .has-juicy-peach-gradient-background {
      background: var(--wp--preset--gradient--juicy-peach) !important;
    }

    .has-young-passion-gradient-background {
      background: var(--wp--preset--gradient--young-passion) !important;
    }

    .has-true-sunset-gradient-background {
      background: var(--wp--preset--gradient--true-sunset) !important;
    }

    .has-morpheus-den-gradient-background {
      background: var(--wp--preset--gradient--morpheus-den) !important;
    }

    .has-plum-plate-gradient-background {
      background: var(--wp--preset--gradient--plum-plate) !important;
    }

    .has-aqua-splash-gradient-background {
      background: var(--wp--preset--gradient--aqua-splash) !important;
    }

    .has-love-kiss-gradient-background {
      background: var(--wp--preset--gradient--love-kiss) !important;
    }

    .has-new-retrowave-gradient-background {
      background: var(--wp--preset--gradient--new-retrowave) !important;
    }

    .has-plum-bath-gradient-background {
      background: var(--wp--preset--gradient--plum-bath) !important;
    }

    .has-high-flight-gradient-background {
      background: var(--wp--preset--gradient--high-flight) !important;
    }

    .has-teen-party-gradient-background {
      background: var(--wp--preset--gradient--teen-party) !important;
    }

    .has-fabled-sunset-gradient-background {
      background: var(--wp--preset--gradient--fabled-sunset) !important;
    }

    .has-arielle-smile-gradient-background {
      background: var(--wp--preset--gradient--arielle-smile) !important;
    }

    .has-itmeo-branding-gradient-background {
      background: var(--wp--preset--gradient--itmeo-branding) !important;
    }

    .has-deep-blue-gradient-background {
      background: var(--wp--preset--gradient--deep-blue) !important;
    }

    .has-strong-bliss-gradient-background {
      background: var(--wp--preset--gradient--strong-bliss) !important;
    }

    .has-sweet-period-gradient-background {
      background: var(--wp--preset--gradient--sweet-period) !important;
    }

    .has-purple-division-gradient-background {
      background: var(--wp--preset--gradient--purple-division) !important;
    }

    .has-cold-evening-gradient-background {
      background: var(--wp--preset--gradient--cold-evening) !important;
    }

    .has-mountain-rock-gradient-background {
      background: var(--wp--preset--gradient--mountain-rock) !important;
    }

    .has-desert-hump-gradient-background {
      background: var(--wp--preset--gradient--desert-hump) !important;
    }

    .has-ethernal-constance-gradient-background {
      background: var(--wp--preset--gradient--ethernal-constance) !important;
    }

    .has-happy-memories-gradient-background {
      background: var(--wp--preset--gradient--happy-memories) !important;
    }

    .has-grown-early-gradient-background {
      background: var(--wp--preset--gradient--grown-early) !important;
    }

    .has-morning-salad-gradient-background {
      background: var(--wp--preset--gradient--morning-salad) !important;
    }

    .has-night-call-gradient-background {
      background: var(--wp--preset--gradient--night-call) !important;
    }

    .has-mind-crawl-gradient-background {
      background: var(--wp--preset--gradient--mind-crawl) !important;
    }

    .has-angel-care-gradient-background {
      background: var(--wp--preset--gradient--angel-care) !important;
    }

    .has-juicy-cake-gradient-background {
      background: var(--wp--preset--gradient--juicy-cake) !important;
    }

    .has-rich-metal-gradient-background {
      background: var(--wp--preset--gradient--rich-metal) !important;
    }

    .has-mole-hall-gradient-background {
      background: var(--wp--preset--gradient--mole-hall) !important;
    }

    .has-cloudy-knoxville-gradient-background {
      background: var(--wp--preset--gradient--cloudy-knoxville) !important;
    }

    .has-soft-grass-gradient-background {
      background: var(--wp--preset--gradient--soft-grass) !important;
    }

    .has-saint-petersburg-gradient-background {
      background: var(--wp--preset--gradient--saint-petersburg) !important;
    }

    .has-everlasting-sky-gradient-background {
      background: var(--wp--preset--gradient--everlasting-sky) !important;
    }

    .has-kind-steel-gradient-background {
      background: var(--wp--preset--gradient--kind-steel) !important;
    }

    .has-over-sun-gradient-background {
      background: var(--wp--preset--gradient--over-sun) !important;
    }

    .has-premium-white-gradient-background {
      background: var(--wp--preset--gradient--premium-white) !important;
    }

    .has-clean-mirror-gradient-background {
      background: var(--wp--preset--gradient--clean-mirror) !important;
    }

    .has-wild-apple-gradient-background {
      background: var(--wp--preset--gradient--wild-apple) !important;
    }

    .has-snow-again-gradient-background {
      background: var(--wp--preset--gradient--snow-again) !important;
    }

    .has-confident-cloud-gradient-background {
      background: var(--wp--preset--gradient--confident-cloud) !important;
    }

    .has-glass-water-gradient-background {
      background: var(--wp--preset--gradient--glass-water) !important;
    }

    .has-perfect-white-gradient-background {
      background: var(--wp--preset--gradient--perfect-white) !important;
    }

    .has-small-font-size {
      font-size: var(--wp--preset--font-size--small) !important;
    }

    .has-medium-font-size {
      font-size: var(--wp--preset--font-size--medium) !important;
    }

    .has-large-font-size {
      font-size: var(--wp--preset--font-size--large) !important;
    }

    .has-x-large-font-size {
      font-size: var(--wp--preset--font-size--x-large) !important;
    }

    .has-xx-large-font-size {
      font-size: var(--wp--preset--font-size--xx-large) !important;
    }

    .wp-block-navigation a:where(:not(.wp-element-button)) {
      color: inherit;
    }

    .wp-block-pullquote {
      font-size: clamp(0.984em, 0.984rem + ((1vw - 0.2em) * 0.645), 1.5em);
      line-height: 1.6;
    }
  </style>
  <link rel="stylesheet" id="edsanimate-animo-css-css"
    href="https://groupe-bbu.com/wp-content/plugins/animate-it/assets/css/animate-animo.css?ver=6.4.3" media="all">
  <link rel="stylesheet" id="cookies-and-content-security-policy-css"
    href="https://groupe-bbu.com/wp-content/plugins/cookies-and-content-security-policy/css/cookies-and-content-security-policy.min.css?ver=2.22"
    media="all">
  <link rel="stylesheet" id="sta_css-css"
    href="https://groupe-bbu.com/wp-content/plugins/scroll-triggered-animations/frontend/animations.css" media="">
  <link rel="stylesheet" id="awsm-jobs-general-css"
    href="https://groupe-bbu.com/wp-content/plugins/wp-job-openings/assets/css/general.min.css?ver=3.4.3" media="all">
  <link rel="stylesheet" id="awsm-jobs-style-css"
    href="https://groupe-bbu.com/wp-content/plugins/wp-job-openings/assets/css/style.min.css?ver=3.4.3" media="all">
  <link rel="stylesheet" id="parent-style-css"
    href="https://groupe-bbu.com/wp-content/themes/blocksy/style.css?ver=6.4.3" media="all">
  <link rel="stylesheet" id="font-awesome-official-css" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
    media="all" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5"
    crossorigin="anonymous">
  <link rel="stylesheet" id="blocksy-fonts-font-source-google-css"
    href="https://fonts.googleapis.com/css2?family=Karla:wght@500;600;700;800&amp;display=swap" media="all">
  <link rel="stylesheet" id="ct-main-styles-css"
    href="https://groupe-bbu.com/wp-content/themes/blocksy/static/bundle/main.min.css?ver=2.0.23" media="all">
  <link rel="stylesheet" id="ct-getwid-styles-css"
    href="https://groupe-bbu.com/wp-content/themes/blocksy/static/bundle/getwid.min.css?ver=2.0.23" media="all">
  <link rel="stylesheet" id="ct-wpforms-styles-css"
    href="https://groupe-bbu.com/wp-content/themes/blocksy/static/bundle/wpforms.min.css?ver=2.0.23" media="all">
  <link rel="stylesheet" id="ct-flexy-styles-css"
    href="https://groupe-bbu.com/wp-content/themes/blocksy/static/bundle/flexy.min.css?ver=2.0.23" media="all">
  <link rel="stylesheet" id="font-awesome-official-v4shim-css"
    href="https://use.fontawesome.com/releases/v6.1.1/css/v4-shims.css" media="all"
    integrity="sha384-4Jczmr1SlicmtiAiHGxwWtSzLJAS97HzJsKGqfC0JtZktLrPXIux1u6GJNVRRqiN" crossorigin="anonymous">
  <script src="https://groupe-bbu.com/wp-includes/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
  <script src="https://groupe-bbu.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1"
    id="jquery-migrate-js"></script>
  <link rel="https://api.w.org/" href="https://groupe-bbu.com/wp-json/">
  <link rel="alternate" type="application/json" href="https://groupe-bbu.com/wp-json/wp/v2/pages/2807">
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://groupe-bbu.com/xmlrpc.php?rsd">
  <meta name="generator" content="WordPress 6.4.3">
  <link rel="shortlink" href="https://groupe-bbu.com/?p=2807">
  <link rel="alternate" type="application/json+oembed"
    href="https://groupe-bbu.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fgroupe-bbu.com%2Fservices%2F">
  <link rel="alternate" type="text/xml+oembed"
    href="https://groupe-bbu.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fgroupe-bbu.com%2Fservices%2F&amp;format=xml">
  <style></style>
  <style>
    .h-captcha {
      position: relative;
      display: block;
      margin-bottom: 2rem;
      padding: 0;
      clear: both
    }

    .h-captcha[data-size="normal"] {
      width: 303px;
      height: 78px
    }

    .h-captcha[data-size="compact"] {
      width: 164px;
      height: 144px
    }

    .h-captcha[data-size="invisible"] {
      display: none
    }

    .h-captcha::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(https://groupe-bbu.com/wp-content/plugins/hcaptcha-for-forms-and-more/assets/images/hcaptcha-div-logo.svg) no-repeat;
      border: 1px solid transparent;
      border-radius: 4px
    }

    .h-captcha[data-size="normal"]::before {
      width: 300px;
      height: 74px;
      background-position: 94% 28%
    }

    .h-captcha[data-size="compact"]::before {
      width: 156px;
      height: 136px;
      background-position: 50% 79%
    }

    .h-captcha[data-theme="light"]::before,
    body.is-light-theme .h-captcha[data-theme="auto"]::before,
    .h-captcha[data-theme="auto"]::before {
      background-color: #fafafa;
      border: 1px solid #e0e0e0
    }

    .h-captcha[data-theme="dark"]::before,
    body.is-dark-theme .h-captcha[data-theme="auto"]::before,
    html.wp-dark-mode-active .h-captcha[data-theme="auto"]::before,
    html.drdt-dark-mode .h-captcha[data-theme="auto"]::before {
      background-image: url(https://groupe-bbu.com/wp-content/plugins/hcaptcha-for-forms-and-more/assets/images/hcaptcha-div-logo-white.svg);
      background-repeat: no-repeat;
      background-color: #333;
      border: 1px solid #f5f5f5
    }

    .h-captcha[data-size="invisible"]::before {
      display: none
    }

    .h-captcha iframe {
      position: relative
    }

    div[style*="z-index: 2147483647"] div[style*="border-width: 11px"][style*="position: absolute"][style*="pointer-events: none"] {
      border-style: none
    }
  </style>
  <style>
    img#wpstats {
      display: none
    }
  </style>
  <noscript>
    <link rel='stylesheet' href='https://groupe-bbu.com/wp-content/themes/blocksy/static/bundle/no-scripts.min.css'
      type='text/css'>
  </noscript>
  <style type="text/css" id="cookies-and-content-security-policy-css-custom">
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-box-header {
      background-color: #4d5f75;
    }

    .modal-cacsp-position .modal-cacsp-box.modal-cacsp-box-settings .modal-cacsp-box-settings-list ul li:first-child,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns,
    .modal-cacsp-position .modal-cacsp-box.modal-cacsp-box-settings .modal-cacsp-box-settings-list ul li,
    .modal-cacsp-position .modal-cacsp-box.modal-cacsp-box-show.modal-cacsp-box-bottom {
      border-color: #cccccc;
    }

    .modal-cacsp-position,
    .modal-cacsp-position,
    .modal-cacsp-position,
    .modal-cacsp-position *,
    .modal-cacsp-position .modal-cacsp-box.modal-cacsp-box-settings .modal-cacsp-box-settings-list ul li span.modal-cacsp-toggle-switch.modal-cacsp-toggle-switch-active.disabled span {
      color: #353535;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-box-header,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-box-header * {
      color: #ffffff;
    }

    .modal-cacsp-position .modal-cacsp-box.modal-cacsp-box-settings .modal-cacsp-box-settings-list ul li a.modal-cacsp-toggle-switch.modal-cacsp-toggle-switch-active span {
      color: #353535;
    }

    .modal-cacsp-position .modal-cacsp-box.modal-cacsp-box-settings .modal-cacsp-box-settings-list ul li a.modal-cacsp-toggle-switch.modal-cacsp-toggle-switch-active span.modal-cacsp-toggle {
      background-color: rgba(77, 95, 117, .2);
    }

    .modal-cacsp-position .modal-cacsp-box.modal-cacsp-box-settings .modal-cacsp-box-settings-list ul li a.modal-cacsp-toggle-switch.modal-cacsp-toggle-switch-active span.modal-cacsp-toggle-switch-handle {
      background-color: #4d5f75;
    }

    .modal-cacsp-position .modal-cacsp-box.modal-cacsp-box-settings .modal-cacsp-box-settings-list ul li a.modal-cacsp-toggle-switch.modal-cacsp-toggle-switch-active span {
      color: #4d5f75;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-settings {
      background-color: #ffffff;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-settings {
      border-color: #353535;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-settings,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-settings * {
      color: #353535;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-save {
      background-color: #ffffff;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-save {
      border-color: #353535;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-save,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-save * {
      color: #353535;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-accept,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-accept-all {
      background-color: #fed202;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-accept,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-accept-all {
      border-color: #fed202;
    }

    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-accept,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-accept *,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-accept-all,
    .modal-cacsp-position .modal-cacsp-box .modal-cacsp-btns .modal-cacsp-btn.modal-cacsp-btn-accept-all * {
      color: #353535;
    }
  </style>

  <style id="wp-custom-css">
    :root {
      --form-field-padding: 0 20px;
    }

    .ct-breadcrumbs-shortcode {
      margin-bottom: 2.5em;
      --color: var(--theme-palette-color-1);
      --linkInitialColor: #fff;
      --fontSize: 12px;
      --fontWeight: 600;
      --textTransform: uppercase;
    }

    .d-none {
      display: none !important;
    }

    @media screen and (max-width: 768px) {
      .ct-breadcrumbs-shortcode {
        text-align: center;
      }
    }

    @media(max-width:780px) {
      .order-2 {
        order: 2;
      }

      .order-3 {
        order: 3;
      }

      .hide-sm {
        display: none;
      }
    }

    a:link {
      text-decoration: none !important;
    }

    .block-right {
      justify-content: end;
    }

    .bbu-submenu>a:hover,
    .bbu-submenu>a:focus,
    .bbu-submenu>a:active {
      color: #FED202 !important;
    }

    .inline {
      display: inline-block;
    }

    .align-items-center {
      align-items: center !important;
    }

    .middle {
      vertical-align: middle;
    }

    .d-flex {
      display: flex !important;
    }

    .wrap {
      flex-wrap: wrap;
    }

    .text-justify {
      text-align: justify;
    }

    .text-center {
      text-align: center;
    }

    .mx-auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .rounded,
    .button {
      border-radius: 5px !important;
    }

    .rounded-2 {
      border-radius: 10px !important;
    }

    .rounded-3 {
      border-radius: 15px !important;
    }

    .rounded-4 {
      border-radius: 20px !important;
    }

    .btn.pill {
      border-radius: 100px;
    }

    .point-jaune {
      display: inline-block;
      height: 13px;
      width: 13px;
      background-color: #FED202;
      border-radius: 50%;
    }

    .point-bleu {
      display: inline-block;
      height: 13px;
      width: 13px;
      background-color: #4D5F75;
      border-radius: 50%;
    }

    .box {
      border-radius: 5px;
      padding: 1.2rem;
      vertical-align: middle;
    }

    .card {
      border-radius: 5px;
      vertical-align: middle;
    }

    .card-img {
      height: 220px;
      border-radius: 5px 5px 0 0;
    }

    .border {
      border-width: 1px !important;
      border-color: rgba(77, 95, 117, 0.2) !important;
    }

    .line {
      border: solid;
    }

    .dash {
      border: dashed;
    }

    .shadow {
      box-shadow: 0 0.375rem 1.5rem 0 rgba(200, 200, 200, 0.3);
    }

    .sfx-3d {
      transition: all 0.2s ease-in-out !important;
    }

    .sfx-3d:hover,
    .sfx-3d:focus {
      transform: translateY(-3px) !important;
      box-shadow: -2px 3px 10px rgba(254, 210, 2, 0.3);
      !important;
      border-radius: 5px;
    }

    .sfx-3d.bleu:hover,
    .sfx-3d.bleu:focus,
    .sfx-3d.soft-bleu:hover,
    .sfx-3d.soft-bleu:focus {
      transform: translateY(-3px) !important;
      box-shadow: -2px 3px 10px rgba(77, 95, 117, 0.3);
      !important;
      border-radius: 5px;
    }

    .sfx-3d.dark:hover,
    .sfx-3d.dark:focus,
    .sfx-3d.soft-dark:hover,
    .sfx-3d.soft-dark:focus {
      transform: translateY(-3px) !important;
      box-shadow: -2px 3px 10px rgba(35, 35, 35, 0.3);
      !important;
      border-radius: 5px;
    }

    .sfx-3d.white:hover,
    .sfx-3d.white:focus,
    .sfx-3d.soft-white:hover,
    .sfx-3d.soft-white:focus {
      transform: translateY(-3px) !important;
      box-shadow: -2px 3px 10px rgba(35, 35, 35, 0.3);
      !important;
      border-radius: 5px;
    }


    .space-1 {
      padding-top: 2rem !important;
    }

    .space-2 {
      padding-top: 4rem !important;
    }

    .space-3 {
      padding-top: 8rem !important;
    }

    .space-4 {
      padding-top: 12rem !important;
    }

    .p-0 {
      padding: 0 !important;
    }

    .mt-0,
    .my-0 {
      margin-top: 0rem !important;
    }

    .mb-0,
    .my-0 {
      margin-bottom: 0rem !important;
    }

    .pt-0,
    .py-0 {
      padding-top: 0rem !important;
    }

    .pb-0,
    .py-0 {
      padding-bottom: 0rem !important;
    }

    .mr-0,
    .mx-0 {
      margin-right: 0rem !important;
    }

    .ml-0,
    .mx-0 {
      margin-left: 0rem !important;
    }

    .pr-0,
    .px-0 {
      padding-right: 0rem !important;
    }

    .pl-0,
    .px-0 {
      padding-left: 0rem !important;
    }

    .mr-1,
    .mx-1 {
      margin-right: 0.5rem !important;
    }

    .ml-1,
    .mx-1 {
      margin-left: 0.5rem !important;
    }

    .mt-1,
    .my-1 {
      margin-top: 0.5rem !important;
    }

    .mb-1,
    .my-1 {
      margin-bottom: 0.75rem !important;
    }

    .px-1 {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }

    .pt-1,
    .py-1 {
      padding-top: 0.5rem !important;
    }

    .pb-1,
    .py-1 {
      padding-bottom: 0.5rem !important;
    }

    .mr-3,
    .mx-3 {
      margin-right: 1rem !important;
    }

    .ml-3,
    .mx-3 {
      margin-left: 1rem !important;
    }

    .mt-3,
    .my-3 {
      margin-top: 1rem !important;
    }

    .mb-3,
    .my-3 {
      margin-bottom: 1rem !important;
    }

    .px-3 {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }

    .pt-3,
    .py-3 {
      padding-top: 1rem !important;
    }

    .pb-3,
    .py-3 {
      padding-bottom: 1rem !important;
    }

    .mt-5,
    .my-5 {
      margin-top: 2rem !important;
    }

    .mb-5,
    .my-5 {
      margin-bottom: 2rem !important;
    }

    .px-5 {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }

    .pt-5,
    .py-5 {
      padding-top: 2rem !important;
    }

    .pb-5,
    .py-5 {
      padding-bottom: 2rem !important;
    }


    .text-link,
    .text-link-bleu {
      color: #353535 !important;
    }

    .text-link:hover {
      color: #FED202 !important;
      font-weight: 700;
    }

    .text-link-bleu:hover {
      color: #4D5F75 !important;
      font-weight: 700;
    }

    .text-white {
      color: #FFFFFF;
    }

    .text-link-jaune:hover {
      color: #FED202 !important;
      font-weight: 700;
    }

    .btn {
      display: inline-block;
      font-weight: 500;
      text-align: center;
      vertical-align: middle;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.3125rem;
      transition: all 0.2s ease-in-out;
    }

    .btn.white-jaune {
      background: #FFFFFF;
      color: #353535;
    }

    .btn.jaune,
    a.soft-jaune:hover,
    a.white-jaune:hover {
      background: #FED202;
      color: #353535 !important;
    }

    .btn.soft-jaune {
      background: #FFED9A;
      color: #353535 !important;
    }

    .btn.bleu,
    a.soft-bleu:hover {
      background: #4D5F75;
      color: #FFFFFF;
    }

    .btn.soft-bleu {
      background: #DBDFE3;
      color: #353535;
    }

    .btn.dark,
    a.soft-dark:hover {
      background: #353535;
      color: #FFFFFF;
    }

    .btn.soft-dark {
      background: #e7e7e7;
      color: #353535;
    }

    .btn.white,
    a.soft-white:hover {
      background: #FFFFFF;
      color: #353535;
    }

    .btn.soft-white {
      background: #505050;
      color: #FFFFFF;
    }

    .btn-xs {
      display: inline-block;
      font-size: 0.6875rem !important;
      padding: 0.4375rem 0.9375rem !important;
    }

    .btn-sm {
      display: inline-block;
      font-size: 0.8175rem !important;
      padding: 0.75rem 1.125rem !important;
    }

    .btn-md {
      display: inline-block;
      font-size: 0.9rem !important;
      padding: 0.75rem 1.125rem !important;
    }

    .btn-lg {
      display: inline-block;
      font-size: 1.25rem !important;
      padding: 0.75rem 1.125rem !important;
    }

    .btn-icon {
      position: relative;
      line-height: 0;
      font-size: 1rem;
      width: 3.125rem;
      height: 3.125rem;
      padding: 0;
    }

    .superpose {
      position: absolute;
      transform: translate(50%, 60%);
    }

    .superpose-2 {
      position: absolute;
      transform: translate(-25%, 65%) rotate(90deg);
    }

    .btn-icon__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .btn-icon__shift {
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translate(-20%, -20%);
    }

    .btn-icon.btn-xs,
    .btn-round.btn-xs {
      font-size: 0.75rem !important;
      width: 1.9rem;
      height: 1.875rem;
    }

    .btn-icon.btn-sm,
    .btn-round.btn-sm {
      font-size: 0.8175rem !important;
      width: 2rem;
      height: 2.2rem;
    }

    .btn-icon.btn-md,
    .btn-round.btn-md {
      font-size: 1rem !important;
      width: 2.6rem;
      height: 2.6rem;
    }


    .btn-icon.btn-lg,
    .btn-round.btn-lg {
      font-size: 1.5rem !important;
      width: 3.5rem;
      height: 3.5rem;
    }

    .btn-round,
    .btn.btn-round {
      border-radius: 50% !important;
    }

    div.entry-tags {
      text-align: center;
    }

    .slick-dots>li>button:before {
      font-size: 14px;
      color: #FFF !important;
      opacity: .5;
    }

    .slick-dots li.slick-active button::before {
      color: #FED202 !important;
      opacity: 1;
    }

    .slick-dots {
      margin-bottom: 1.5rem !important;
    }

    .awsm_job_openings .entry-header {
      text-align: center;
    }

    .awsm_job_openings .page-title,
    #postuler {
      font-size: 45px !important;
      font-weight: 800;
    }

    @media screen and (max-width: 992px) {

      .awsm_job_openings .page-title,
      #postuler {
        font-size: 36px !important;
        font-weight: 800;
      }

    }

    input[type=checkbox] {
      border-radius: var(--form-checkbox-border-radius, 3px);
      display: inline-block;
      vertical-align: baseline;
      position: relative;
      top: var(--top, 3px);
      min-width: 16px;
      width: 16px;
      height: 16px;
      min-height: initial;
      padding: 0 !important;
      margin: var(--form-selection-control-margin, 0 0.7em 0 0);
      border-width: var(--form-selection-control-border-width, var(--form-field-border-width, 1px));
      border-style: solid;
      cursor: pointer;
      -webkit-appearance: none;
      background: rgba(0, 0, 0, 0);
      border-color: var(--form-selection-control-initial-color);
    }


    input[type=checkbox]:checked {
      border-color: var(--form-selection-control-accent-color);
      background: var(--form-selection-control-accent-color);
    }

    input[type=checkbox]:checked:before {
      opacity: 1;
      top: 2px;
      left: 2px;
      width: 8px;
      height: 5px;
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      position: absolute;
      content: "";
      z-index: 2;
      margin: auto;
    }

    #awsm_form_privacy_policy a {
      text-decoration: underline !important;
    }

    .awsm-selectric,
    .awsm-selectric-items {
      border-color: #353535;
      border-radius: 5px;
      border: 2px solid #E9E9E9;
      box-shadow: none;

    }

    .wp-block-column {
      position: relative !important;
    }
  </style>
  <script async="" src="https://groupe-bbu.com/wp-content/plugins/blocksy-companion/static/bundle/sticky.js?ver=2.0.23">
  </script>













  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="author" content="ANS">
  <title>Cori Digital</title>
  <link rel="icon" href="{{ STATIC_URL }}/media/images/logo_cori.png" />
  {% include 'script_style.html' %}
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {# Load tailwind_css #}
  {% tailwind_css %}



</head>

<body class="flex flex-col min-h-screen">
  <div class="w-full mxt-auto">
    {% include 'header_6_adrien.html' %}
  </div>
  <div class="w-full flex-grow bg-gray-100">
    {% block content %}
    {% include 'content.html' %}
    {% endblock content %}
  </div>

  <div class="w-full mt-auto">
    {% include 'footer.html' %}
  </div>
  {% if request.user.is_authenticated %}
  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      function get_notify_content(message) {
        return `
          <div class="alert bg-blue-600 shadow-lg mx-auto w-96 max-w-full text-sm pointer-events-auto bg-clip-padding rounded-lg block mb-3"
              role="alert">
            <div
              class="bg-blue-600 flex justify-between items-center py-2 px-3 bg-clip-padding border-b border-blue-500 rounded-t-lg">
              <p class="font-bold text-white flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle"
                  class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                  </path>
                </svg>
                info
              </p>
              <button type="button"
              class="btn-close btn-close btn-close-white box-content w-4 h-4 ml-2 text-white border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-white hover:opacity-75 hover:no-underline"
              data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            <div class="p-3 bg-blue-600 rounded-b-lg break-words text-white">
              ${message}
            </div>
          </div>`
      };

      let chatSocket = null;
      function connect() {
        protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://',
          socketURL = protocol + location.hostname + ((location.port) ? (':' + location.port) : '') + '/notify/'
        chatSocket = new WebSocket(socketURL);
        chatSocket.onopen = function (e) {
        }

        chatSocket.onclose = function (e) {
          setTimeout(function () {
            connect();
          }, 2000);
        };

        chatSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          switch (data.type) {
            case "notify_message":
              $("#div_notify").append(get_notify_content(data.message))
              break;
            default:
              break;
          }
        };

        chatSocket.onerror = function (err) {
          chatSocket.close();
        }
      }
      connect();
    });
  </script>
  {% endif %}
</body>

</html>