<!DOCTYPE html>
<html lang="en">
{% load tailwind_tags %}
{% load bootstrap5 %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="author" content="ANS">
  <title>Cori Digital</title>
  <link rel="icon" href="{{ STATIC_URL }}/media/images/logo_cori.png"/>
  {% include 'script_style.html' %}
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {# Load tailwind_css #}
  {% tailwind_css %}
</head>

<body class="flex flex-col min-h-screen">
  
  <!-- test_page -->
<!-- <div class="w-full mt-auto">
  {% include 'test_page.html' %}
</div> -->
<!-- test_page -->

  <!-- <div class="w-full z-50">
    {% include 'header6.html' %}
  </div>
  <div class="w-full z-50">
    {% include 'header_carousole.html' %}
  </div> -->
 
  <div class="w-full">
  </div>
  <!-- <div class="w-full items-center justify-center text-center z-index: 50">
    {% include 'notification_message.html' %}
  </div> -->
  <div class="w-full bg-gray-100 flex-grow">
    {% block content %} 
        {% include 'content.html' %}
    {% endblock content %}
    <!--{% include 'chatbot.html' %}-->
  </div>
  
  <div class="w-full mt-auto">
    {% include 'footer.html' %}
  </div>
  {% if request.user.is_authenticated %}
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      function get_notify_content(message){
        return `
          <div class="alert bg-blue-600 shadow-lg mx-auto w-96 max-w-full text-sm pointer-events-auto bg-clip-padding rounded-lg block mb-3"
              role="alert">
            <div
              class="bg-blue-600 flex justify-between items-center py-2 px-3 bg-clip-padding border-b border-blue-500 rounded-t-lg">
              <p class="font-bold text-white flex items-center">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle"
                  class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                      d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                  </path>
                </svg>
                info
              </p>
              <button type="button"
              class="btn-close btn-close btn-close-white box-content w-4 h-4 ml-2 text-white border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-white hover:opacity-75 hover:no-underline"
              data-bs-dismiss="alert" aria-label="close"></button>
            </div>
            <div class="p-3 bg-blue-600 rounded-b-lg break-words text-white">
              ${message}
            </div>
          </div>`
      };

      let chatSocket = null;
      function connect() {
        protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://',
        socketURL = protocol + location.hostname + ((location.port) ? (':' + location.port) : '') + '/notify/'
        chatSocket = new WebSocket(socketURL);
        chatSocket.onopen = function(e) {
        }

        chatSocket.onclose = function(e) {
            setTimeout(function() {
                connect();
            }, 2000);
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            switch (data.type) {
                case "notify_message":
                    $("#div_notify").append(get_notify_content(data.message))
                    break;
                default:
                    break;
            }
        };

        chatSocket.onerror = function(err) {
            chatSocket.close();
        }
      }
      connect();
    });
  </script>
  {% endif %}
</body>
</html>