<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Document</title>
</head>
{% load mathfilters %}
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="0"> <img src="/usr/src/cori_cloud/storage/media/images/new_logo.png"
                    width="260px" alt="logo" /> </td>
            <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"
                            align="right">
                            CORI <span style="color: red;">DIGITAL</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"
                            align="right">
                            15 Nord Foire SODALO
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;"
                            align="right">
                            Dakar , Sénégal
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="49%">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:15px;">
                                        Nom et Prenom : {{commande.proprietaire.last_name}} {{commande.proprietaire.first_name}} 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
                                        Type de facture : Souscription</td>
                                </tr>
                                <tr>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
                                        Commande : {{commande.code}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
                                        Date commande : {{commande.date_created}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
                                        Paiement : {{paiement.code}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
                                        Date paiement : {{paiement.date_paiement}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:15px">
                                        Numéro de transaction : {{paiement.numTransaction_or_numCarte}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td width="51%" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right"></td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="right">
                            Information de paiement :
                        </td>
                    </tr>
                    <tr>
                        {% if paiement.state == 'validat' %}
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; color: red;"
                            align="right">
                            La facture a été réglée.
                        </td>
                        {% else %}
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; color: red;"
                            align="right">
                        Devis
                        </td>
                        {% endif %}
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        {% if commande.commmande_ligne_commande.all %}
        <tr>
            <td colspan="2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr style="padding-top: 0.3em;" >
                        <td style="background-color: #0080ff; color: white; font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            width="34%" height="32" align="center">Serveur métier
                        </td>
                    </tr>
                    <tr style="padding-top: 0.3em; background-color: #0080ff; color: white; " >
                        <td style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            width="34%" height="32" align="center">Offre
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center"> Prix Unitaire Mensuel 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center">Quantité 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center"> Durée 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center"> Réduction 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center">Prix Total HT 
                        </td>
                    </tr> 
                    {% for match_service in commande.commmande_ligne_commande.all %}
                    <tr style="padding-top: 0.3em;">
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            height="32" align="center">{{ match_service.service.groupe_service.name }} : {{match_service.service.name }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{ match_service.price|floatformat:0 }} fcfa
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{match_service.quantity}}
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{match_service.durree}} Mois
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{match_service.reduction}} %
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{ match_service.total_price|floatformat:0 }} fcfa
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        {% if commande.commmande_ligne_app_commande.all %}
        <tr>
            <td colspan="2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr style="padding-top: 0.3em;" >
                        <td style="background-color: #0080ff; color: white; font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            width="34%" height="32" align="center">Application métier
                        </td>
                    </tr>
                    <tr style="padding-top: 0.3em; background-color: #0080ff; color: white; " >
                        <td style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            width="34%" height="32" align="center">Offre
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center"> Prix Unitaire Mensuel 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center">Quantité 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center"> Durée 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center"> Réduction 
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="30%" align="center">Prix Total HT 
                        </td>
                    </tr> 
                    {% for match_app in commande.commmande_ligne_app_commande.all %}
                    <tr style="padding-top: 0.3em;">
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            height="32" align="center">{{ match_app.app_name }} : {{ match_app.package }}</td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{ match_app.price|floatformat:0 }} fcfa
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{match_app.quantity}}
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{match_app.durree}} Mois
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{match_app.reduction}} %
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="center">{{ match_app.total_price|floatformat:0 }} fcfa
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td  width="600%" valign="top"> 
            </td>
            <td  width="600%"  valign="top">
                <table  border="0" cellspacing="0" cellpadding="0">
                    <tr style="padding-top: 0.2em;">
                        <td style="padding-left: 0.2em; font-family:Verdana, Geneva, sans-serif;  font-weight:300; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                        >PRIX TOTAL HT </td>
                        <td style="padding-right: 0.2em; font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                        align="right"> {{commande.price|floatformat:0}} FCFA
                        </td>
                    </tr>
                    <tr style="padding-top: 0.2em;">
                        <td style="padding-left: 0.2em; font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                        >TVA ({{commande.TVA}} %)
                        </td>
                        <td style="padding-right: 0.2em; font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="right"> {{commande.total_price|sub:commande.price|floatformat:0}} FCFA
                        </td>
                    </tr>
                    <tr style="padding-top: 0.2em;">
                        <td style="padding-left: 0.2em; font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            >PRIX TOTAL TTC
                        </td>
                        <td style="padding-right: 0.2em;font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333;"
                            align="right">{{commande.total_price|floatformat:0}} FCFA
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">Pas
                d'escompte.</td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">
                Tout incident de paiement peut entrainer une suspension de services et est passible de penalites de retard.
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">
                Ils seront calculees sur la base de trois fois le taux d interert en vigueur au Sénégal, avec un montant d
                indenmnite forfaitaire minimum de 5 000 FCFA.
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">
                Nos coordonnees bancaires.</td>

        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">
                Bicis :</td>

        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">
                BIC :</td>

        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2">
                IBAN :</td>

        </tr>

        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2"
                align="center">CORI DIGITAL -15 NOrd Foire SODALO </td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2"
                align="center">SAS au capital de 100 000 000 FCFA Dakar Senegal - Code APE 2xxxx </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    </table>
</body>
</html>