<div class="mb-4">
  <section class="pt-10 pb-10 lg:pb-20 bg-[#F3F4F6]">
    <div class="container ml-auto mr-auto">
      <div>
        <div class="h-50">
          <div class=" mb-10 mx-4 justify-center items">
            <img class="h-full w-full rounded-lg object-fill" src="{{ STATIC_URL }}/media/images/facturation.jpg" alt="logo"
              style="background-position: center;background-size:cover;background-repeat: no-repeat;" />
          </div>
        </div>
        <div class="w-full space-y-2 flex items-center accordion-body">
          <div>
            <p>
             
            </p>
            <p>
              <span class="font-semibold " style="color:dodgerblue;"> Cori Digital facturation </span> est un projet OpenSource
              basé sur un serveur WAMP, MAMP ou LAMP.
              Notre solution ERP est un système d'information qui permet de gérer et suivre au quotidien, l'ensemble des
              informations et
              des services opérationnels d'une entreprise.
            </p>
            <p>
              <span class="font-semibold " style="color:dodgerblue;"> Cori Digital ERP </span> est publié sous la
              licence GNU GENERAL PUBLIC LICENSE.
            </p>
          </div>
        </div>
        <!--
        <div
          class="w-full space-y-2 justify-center items-center text-center justify-center flex items-center accordion-body">
          <div>
            <table class="table-auto w-full">
              <thead class="border-4 border-gray-200 justify-between">
                <tr class="bg-indigo-600">

                  <th class="px-5 py-3 text-center">
                    <span class="text-indigo-50">Mode user</span>
                  </th>
                  <th class="px-5 py-3 text-center">
                    <span class="text-indigo-50">Mode administrateur</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-gray-200">
                <tr class="bg-white border-4 border-gray-200 text-center">
                  <td class="px-5 py-3">
                    <a href="https://coridigital.fr/ERP" target="_blank">
                      <span class="text-center font-semibold">https://coridigital.fr/ERP</span>
                    </a>
                  </td>
                  <td class="px-5 py-3">
                    <a href="https://coridigital.fr/ERP/admin/index.php" target="_blank">
                      <span class="text-center font-semibold">https://coridigital.fr/ERP/admin/index.php</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        -->
  </section>
</div>