<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À Propos de Cori Education</h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-4 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-5">
            <img class="object-cover  mx-auto ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/education.jpg" alt="">
           </div>
          <div class="col-md-7">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                Cori Education est le système de gestion de l'apprentissage (LMS) open-source le plus réputé au monde. Il offre un ensemble puissant d'outils centrés sur l'apprenant pour construire un environnement d'apprentissage collaboratif qui renforce à la fois l'enseignement et l'apprentissage.
              </p>
              <p>
                Que vous souhaitiez soutenir un apprentissage collaboratif approfondi par le biais d'activités de groupe comme les wikis ou les forums, encourager l'évaluation par les pairs dans les ateliers, faire passer à vos apprenants une liste de contrôle pour la conformité, ou fournir un MOOC à grande échelle pour des milliers d'apprenants - Moodle peut soutenir votre style d'éducation en ligne.
              </p>
              <p>
                Cori Education  est un véritable logiciel libre, complet, qui vous permet de posséder votre site et votre contenu selon vos propres conditions.
              </p>
              <p>
                Cori Education  est publié sous la licence publique générale GNU.
              </p>
             
          </div>
      </div>
  </div>
</section>


{% include 'application_pricing.html' %}
<section class="mb-4">
  <div class="container bg-white py-2 shadow rounded-xl">
    <div class="row mt-4">
      <div >
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> -  </span> Que vous souhaitiez soutenir un apprentissage collaboratif  :
          approfondi par le biais d'activités de groupe telles que les wikis ou les forums, encourager
          l'évaluation par les pairs dans les ateliers, faire passer à vos apprenants une liste
          de contrôle pour la conformité, ou fournir un MOOC à grande échelle pour des
          milliers d'apprenants, Moodle peut soutenir votre style d'éducation en ligne.
        </p>
       
      </div>
    </div>
  </div>
</section>
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin </td>
            <td class="px-2 py-2"> Cori_digital22 </td>
            <td class="px-5 py-3">
              <a href="https://coridigital.fr/education-collaborative-learning/login/index.php" target="_blank">
                <span style="color: black;">https://coridigital.fr/education-collaborative-learning/login/index.php </span>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->
