<section class="mt-4">
  <div class="container">
    <div class="row">
      <h3> À Propos de Cori Digital Help  desk </h3>
      <p>
        est une solution de help desk pour votre entreprise. Elle s'intègre facilement à votre site et les demandes d'assistance peuvent être créées par e-mail ou via des formulaires Web.
      </p>
      <p>
        Il vous donnera une interface conviviale pour la gestion des tickets de votre site. 
        Vous pouvez créer une large base de connaissances pour vos clients et avec la possibilité de créer des réponses préétablies pour les demandes les plus populaires, vous améliorerez la productivité de votre système de support. En résumé, puissant, facile à utiliser, fiable, open source et GRATUIT.
      </p>
    </div>
    <div class="relative overflow-hidden bg-no-repeat bg-cover"
      style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/help_desk.png'); height: 400px;">
    </div>
    <div class="mt-2">
      <p>
        Support  help desk est publié sous licence GNU General Public License.
      </p>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2>Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Nombre illimité de comptes personnalisés pour le personnel 
         
        </p>
        <p> <span class="font-bold"> - </span> Nombre illimité de catégories  
          
        </p>
        <p> <span class="font-bold"> - </span> Réponses automatiques 
        </p>
        <p> <span class="font-bold"> - </span> Pièces jointes 
        </p>
       <p>
        <span class="font-bold"> - </span> Base de connaissances complète (articles, catégories, recherche,...) 
       </p>
       <p>
        <span class="font-bold"> - </span> Champs personnalisés dans le formulaire "Soumettre un ticket 
       </p>
       <p>
        <span class="font-bold"> - </span> Contrôles anti-SPAM lors de la soumission d'un ticket 
       </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Des fonctions puissantes de recherche de tickets 
          
        </p>
        <p>
          <span class="font-bold"> - </span> Notifications par e-mail des nouveaux tickets et des réponses  
        </p>
        <p>
          <span class="font-bold"> - </span> Evaluation des réponses du personnel et des articles de la base de connaissances 
        </p>
        <p>
          <span class="font-bold"> - </span> Fermeture automatique des tickets après X jours 
        </p>
        <p>
          <span class="font-bold"> - </span> Interface web facile à utiliser 
        </p>
        <p>
          <span class="font-bold"> - </span> Facile à traduire dans n'importe quelle langue 
        </p>
        <p>
          <span class="font-bold"> - </span> Et bien d'autres choses encore !  
        </p>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-7">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/help1.png'); height: 400px;">
      </p>
      </div>
      <div style="margin-top: 14px; " class="col-md-5 drop-cap-text ">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/help2.png'); height: 400px;">
      </p>
      </div>
    </div>
  </div>
</section>
{% include 'application_pricing.html' %}
<section class="mb-4"></section>
<!--
<section class="mb-4 ">
  <div class="container">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-gray-800 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin </td>
            <td class="px-2 py-2"> cori_digital </td>
            <td class="px-5 py-3">
              <a href=" #" target="_blank">
                <span style="color: black;"> https://coridigital.fr/supportHelpDesk/admin </span>
              </a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</section>
-->

