<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À Propos de Cori Project Management</h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-4 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-5 ">
            <img class="object-cover  mx-auto ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/projet.png" alt="">

             <!--   <div class="relative overflow-hidden bg-no-repeat bg-cover"
               style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/sap.png'); height: 400px;">
             </div> -->
           </div>
          <div class="col-md-7">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                Cori Project Management est un logiciel de gestion de projet qui vous permet de piloter facilement vos projets, d'organiser
                le travail et d'améliorer la productivité de vos collaborateurs. 
                Cori projet est votre propre application unique, que vous créez vous-même, en fonction de vos besoins ! En utilisant une variété de paramètres, en une demi-heure vous serez en mesure de déployer sur votre serveur un système de gestion de projet, personnel ou autre (CRM, ERP, HRM, WMS, etc.).
              </p>
              <p>
                La polyvalence et la souplesse de la personnalisation sont les principales caractéristiques du système. Le Cori projet peut remplacer toute une série de décisions et rendre votre travail plus facile et plus transparent. C'est pourquoi, le Cori projet peut être utilisé dans différents domaines d'activité.
              </p>
              <p>
                Dans la partie standard du Cori projet, vous disposez d'un ensemble complet d'outils nécessaires. Vous pouvez créer un nombre illimité d'entités et de champs, personnaliser l'apparence des listes et des formulaires, distribuer de manière flexible les droits d'accès à des groupes d'utilisateurs, importer rapidement des données depuis un fichier Excel.
              </p>
          </div>
      </div>
  </div>
</section>

{% include 'application_pricing.html' %}
<section class="">
  <div class="container bg-white py-2 shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Projets : 
          Permet de gérer les projets, de configurer l'accès aux projets, de créer des rapports personnalisés sur les projets et d'exporter les projets.
        </p>
        <p> <span class="font-bold"> - </span> Tâches : 
          Permet de gérer les tâches, de configurer l'accès aux tâches, de regrouper les tâches, de filtrer les tâches et de créer des rapports de tâches personnalisés.
        </p>
        <p> <span class="font-bold"> - </span> Tickets de support : 
          Les clients interagissent à l'aide d'un système de tickets qui est intégré à la gestion des tâches.
        </p>
        <p>
          <span class="font-bold"> - </span> Discussions : 
          Vous pouvez créer des discussions entre les équipes de projet.
        </p>
        <p>
          <span class="font-bold"> - </span> Utilisateurs : 
          Permet de gérer les utilisateurs, de configurer les droits des utilisateurs, d'envoyer des e-mails aux groupes d'utilisateurs.
        </p>
        <p>
          <span class="font-bold"> - </span> Scheduler : 
          Champs supplémentaires illimités pour les projets, tâches, tickets et utilisateurs.
        </p>
        <p>
          <span class="font-bold"> - </span> Configuration des tâches : 
          Permet de configurer le statut des tâches, les étiquettes, les types, la priorité et les champs
          supplémentaires personnalisés pour les tâches.
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        
        <p>
          <span class="font-bold"> - </span> Champs supplémentaires :  
          Navigateurs Web, résolution, plug-in géré, etc.
        </p>
        <p>
          <span class="font-bold"> - </span> Rapports de projets : 
          Permet de créer des rapports de projets personnalisés et de les afficher sur le tableau de bord d'accueil ou dans le menu supérieur.
        </p>
        <p>
          <span class="font-bold"> - </span> Diagramme de Gantt : 
          Vous pouvez voir le diagramme de Gantt pour chaque projet ou pour l'ensemble des projets.
        </p>
        <p>
          <span class="font-bold"> - </span> Envoi d'Emails via SMTP : 
          Permet d'envoyer tous les emails via SMTP.
        </p>
        <p> <span class="font-bold"> - </span> Construire votre application : 
          Cori projet vous permet de construire votre propre base de données en ajoutant de nouvelles entités et relations.
        </p>
        <p> <span class="font-bold"> - </span> Créer les champs nécessaires  : 
          Pour chaque entité, vous pouvez ajouter des champs de différents types.
        </p>
        <p> <span class="font-bold"> - </span> Règles d'affichage des champs  : 
          Pour les champs de type Drop Down, vous avez la possibilité de personnaliser l'affichage des champs, en fonction des valeurs de la liste sélectionnée.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="py-4">
  <div class="container bg-white shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2></h2>
        <p>
          <span class="font-bold"> - </span> Statut automatique  : 
          Un type de champ spécial pour suivre les progrès/étapes du projet, de la tâche ou de toute autre entité.
        </p>
        <p>
          <span class="font-bold"> - </span> Configuration de la vue : 
          Vous pouvez personnaliser la vue du formulaire et d'une liste d'éléments.
        </p>
        <p>
          <span class="font-bold"> - </span> Configuration de la page des éléments : 
          Pour chaque entité, vous pouvez personnaliser votre propre affichage de la page des éléments.
        </p>
        <p>
          <span class="font-bold"> - </span> Utiliser les commentaires : 
          Les commentaires sont utilisés si nécessaire pour garder un historique des changements.
        </p>
        <p>
          <span class="font-bold"> - </span> Créer des rapports : 
          Avec les rapports, vous pouvez filtrer les données par n'importe quel champ
        </p>
        <p>
          <span class="font-bold"> - </span> Configurer l'accès : 
          Vous avez la possibilité de configurer l'accès à chaque entité, champs et commentaires.
        </p>
        <p>
          <span class="font-bold"> - </span> Intégration de cartes : 
          Les fonctionnalités de l'éditeur de cartes vous permettent de sélectionner une zone sur la carte, de dessiner un itinéraire ou de placer un marqueur.
        </p>
        <p>
          <span class="font-bold">  - </span> Exportation de données : 
          Le système permet d'exporter des données au format Excel / PDF.
        </p>
        <p>
          <span class="font-bold"> - </span> Importation de données : 
          Vous avez la possibilité d'importer des données depuis un fichier Excel.
        </p>
       
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        
        <p>
          <span class="font-bold"> - </span> Notification des utilisateurs :  
          Les utilisateurs assignés seront notifiés lorsqu'un nouvel enregistrement sera créé
        </p>
        <p>
          <span class="font-bold"> - </span> Recherche et filtres faciles : 
          Dans Cori projet, vous pouvez rechercher des enregistrements par n'importe quel champ de texte.
        </p>
        <p>
          <span class="font-bold"> - </span> Enregistrements liés : 
          Vous avez la possibilité de lier des enregistrements entre différentes entités.
        </p>
        <p>
          <span class="font-bold"> - </span> Code barre et QR Code : 
          La possibilité d'attacher des codes-barres et des codes QR à l'enregistrement et de les imprimer selon les paramètres prédéfinis.
        </p>
        <p>
          <span class="font-bold"> - </span> Multilingue : 
          Cori projet supporte le multilingue
        </p>
        <p>
          <span class="font-bold"> - </span> Skins : 
          Cori projet propose plusieurs schémas de couleurs
        </p>
        <p>
          <span class="font-bold"> - </span> Sauvegarde de la base de données : 
          Vous pouvez configurer une sauvegarde quotidienne de la base de données.
        </p>
        <p>
          <span class="font-bold"> - </span> Sécurité : 
          Protégez votre site web contre les abus tout en laissant seulement les personnes réelles utiliser votre application.
        </p>
        
      </div>
    </div>
  </div>
</section>

    <section class="mb-4 relative container overflow-hidden bg-no-repeat bg-cover  shadow-xl"
      style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/projet1.png'); height: 400px;">
    </section>
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50  md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin</td>
            <td class="px-2 py-2"> cori_digital </td>
            <td class="px-5 py-3">
              <a href="https://coridigital.fr/projet/index.php?module=users/login" target="_blank">
                <span style="color: black;">https://coridigital.fr/projet/index.php?module=users/login</span>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->
