<!-- component -->
    <div class="">
      <h1 class="text-center text-3xl font-semibold capitalize text-gray-800 py-2 lg:text-3xl">À Propos de Cori HRM</h1>
      <p class="mx-auto mt-3 max-w-2xl text-center text-sm font-normal text-gray-900   xl:mt-6">Cori HRM a pour objectif d'être la première solution de GRH open source au monde pour les petites et moyennes entreprises (PME) en fournissant un système de GRH flexible et facile à utiliser, abordable pour toute entreprise dans le monde entier.</p>
      <p class="mx-auto mb-4 max-w-2xl text-center text-sm font-normal text-gray-900  ">
        <span class="font-bold">CoriHRM</span> est publié sous la licence GNU GENERAL PUBLIC LICENSE.
      </p>
  <!-- application -->
  {% include 'application_pricing.html' %}
    </div>
<!-- Fonctionnalités -->
<section class="mb-4">
  <div class="container bg-white py-2 shadow rounded-xl">
    <div class="row mt-10">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Administration de l'application 
        </p>
        <p> <span class="font-bold"> - </span> Support 
         
        </p>
        <p> <span class="font-bold"> - </span> Sécurité et confidentialité  
          
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Paie 
          
        </p>
        <p>
          <span class="font-bold"> - </span> Collaboration  
         
        </p>
        <p>
          <span class="font-bold"> - </span> Analytique  
         
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Tableau -->
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              User
            </td>
            <td class="px-2 py-2"> User1_HRM </td>
            <td class="px-2 py-2"> Cori_user1234 </td>
            <td class="px-5 py-3">
              <a href="https://coridigital.fr/HRM/symfony/web/index.php/auth/login" target="_blank">
                <span style="color: black;"> https://coridigital.fr/HRM/symfony/web/index.php/auth/login </span>
              </a>
            </td>
          </tr>
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin </td>
            <td class="px-2 py-2"> Cori_digital22 </td>
            <td class="px-5 py-3">
              <a href="https://coridigital.fr/HRM/index.php" target="_blank">
                <span style="color: black;"> https://coridigital.fr/HRM/index.php </span>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->

