

<div class=" ">
  <h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À Propos de Cori SAP</h1>
  <section class="home-info-grey  p-4 ">
    <div class="container rounded-lg py-4 shadow-md bg-white">
        <div class="row mt-4">
            <div class="col-md-6 ">
              <img class="object-cover  mx-auto rounded-full ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/sap.png" alt="">

               <!--   <div class="relative overflow-hidden bg-no-repeat bg-cover"
                 style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/sap.png'); height: 400px;">
               </div> -->
             </div>
            <div class="col-md-6">
                <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
                <p>
               
                C'est un projet OpenSource basé sur un serveur WAMP, MAMP ou LAMP. Notre solution ERP est un système d'information qui permet de gérer et suivre au quotidien, l'ensemble des informations et des services opérationnels d'une entreprise.
                </p>
                <p>
                  Il est publié sous la licence GNU GENERAL PUBLIC LICENSE.
                </p>
            </div>
        </div>
    </div>
</section>
    </div>
{% include 'application_pricing.html' %}
<section class="">
  <div class="container bg-white py-2 shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2  class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Facturation facile : 
          InvoicePlane permet de créer facilement de nouvelles factures en quelques clics : ajoutez des produits enregistrés, 
          définissez les taux de TVA et envoyez la facture par e-mail au client depuis l'application.
        </p>
        <p> <span class="font-bold"> - </span> Gérez vos clients : 
          L'application offre une gestion de type CRM pour vos clients. 
          Saisissez les coordonnées, les notes ou ajoutez des champs personnalisés pour vos propres informations, comme les identifiants de projet.
        </p>
        <p> <span class="font-bold"> - </span> Devis pour les clients : 
          Envoyez un devis à votre client. Il peut l'approuver d'un simple clic à partir du panneau web d'InvoicePlane, 
          ce qui vous permet de commencer à travailler sur le projet ou à livrer les éléments listés.
        </p>
        
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Personnaliser InvoicePlane: 
          Vous pouvez personnaliser InvoicePlane pour vous assurer qu'il répondra à vos besoins : 
          devises, interface de l'application, modèles d'e-mails, groupes de factures,
           taxes et modèles de devis ou de factures.
        </p>
        <p>
          <span class="font-bold"> - </span> Suivi de tous les paiements :  
          Classification par continent/pays (carte du monde interactive).
        </p>
        <p>
          <span class="font-bold"> - </span> Laissez vos clients utiliser PayPal : 
          Enregistrez votre compte marchand sur PayPal.com, saisissez vos informations d'identification 
          et InvoicePlane est prêt à fournir à vos clients des paiements en ligne faciles et en un clic via PayPal.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
  <div class="container">
    <div class="row mt-4  justify-between">
      <div class="col-md-6 bg-white shadow rounded-xl  ">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/sap1.jpeg'); height: 400px;">
      </p>
      </div>
      <div  class="col-md-5  drop-cap-text bg-white shadow rounded-xl ">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/sap2.jpeg'); height: 400px;">
      </p>
      </div>
    </div>
  </div>
</section>
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin@coridigital.fr</td>
            <td class="px-2 py-2"> cori_digital </td>
            <td class="px-5 py-3">
              <a href="https://coridigital.fr/SAP/index.php/sessions/login" target="_blank">
                <span style="color: black;">https://coridigital.fr/SAP/index.php/sessions/login </span>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->
