<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À  Propos de Cori Mailing</h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-4 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-6 ">
            <img class="object-cover  mx-auto ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/mailing1.jpg" alt="">
           </div>
          <div class="col-md-6">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                Cori Email webmail est un client IMAP multilingue basé sur un navigateur avec une interface utilisateur de type application. Il fournit toutes les fonctionnalités que vous attendez d'un client e-mail, y compris le support MIME, le carnet d'adresses, la manipulation des dossiers, la recherche de messages et la vérification orthographique.
              </p>
              <p>
                Cori Email webmail est un client IMAP multilingue basé sur un navigateur avec une interface utilisateur de type application.
              </p>
              <p>
                Il offre toutes les fonctionnalités que vous attendez d'un client de messagerie, y compris le support MIME, le carnet d'adresses, la manipulation des dossiers, la recherche de messages et la vérification orthographique.
              </p>
              <p>
                Cori Email est publié sous la licence GNU General Public License.
                Cori Email is released under the GNU General Public License.
              </P>
              
          </div>
      </div>
  </div>
</section>


{% include 'application_pricing.html' %}
<section class="">
  <div class="container shadow py-2 rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>

        <p> <span class="font-bold"> - </span> Domaines multiples  
           
        </p>
        <p> <span class="font-bold"> - </span> Dossiers de courrier et dossiers imbriqués  
          
        </p>
        <p> <span class="font-bold"> - </span> Carnet d'adresses (contacts et groupes)  
           
        </p>
        <p>
          <span class="font-bold"> - </span> Filtres de courrier, via Sieve  
           
        </p>
        <p>
          <span class="font-bold"> - </span> Répondeur automatique, via Sieve   
           
      </p>
        <p>
          <span class="font-bold"> - </span> Redirection, via Sieve 
          
        </p>
        <p >
          <span class="font-bold"> - </span> Plugins (changement de mot de passe, etc.)  
           
        </p>
       
        
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        
        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Recherche de courrier   
           
        </p>
        <p>
          <span class="font-bold"> - </span> Synchronisation IMAP  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Quotas IMAP  
           
        </p>
        <p>
          <span class="font-bold"> - </span> Recherche IMAP 
           
        </p>
        <p>
          <span class="font-bold"> - </span> Gestion des dossiers IMAP  
           
        </p>
        <p>
          <span class="font-bold"> - </span> Confirmation de livraison  
           
        </p>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container shadow py-2 rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Facilité d'utilisation</h2>
        <p> <span class="font-bold"> - </span> Volet de prévisualisation des messages  
           
        </p>
        <p> <span class="font-bold"> - </span> Complétion automatique des adresses e-mail  
          
        </p>
        <p> <span class="font-bold"> - </span> Raccourcis clavier  
           
        </p>
        <p>
          <span class="font-bold"> - </span> Vérification de l'orthographe  
           
        </p>
        
        
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        
        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Composition d'e-mails en mode HTML (WYSIWYG) ou en mode texte brut  
           
        </p>
        <p>
          <span class="font-bold"> - </span> Habillages intégrés et définis par l'utilisateur   
           
        </p>
        <p>
          <span class="font-bold"> - </span> Panneau d'administration Web (gestion des paramètres du système et des domaines)  
           
        </p>
       
      </div>
    </div>
  </div>
</section>

<section class="">
    <div class="container shadow py-2 rounded-xl">

    <div class="row mt-4">
      <div class="col-md-7">
        <h2  class="text-primary font-semibold text-lg block"> Sécurité </h2>
        <p> <span class="font-bold"> - </span> Supporte les connexions SSL avec les serveurs de messagerie  </span>
           
        </p> 
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        
        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Peut bloquer le javascript et les images externes dans les e-mails  </span> 
           
        </p>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container shadow py-2 rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2  class="text-primary font-semibold text-lg block"> Compatibilité </h2>
        <p> <span class="font-bold"> - </span> Supporte les protocoles SMTP/IMAP/POP3  
           
        </p> 
        <p> <span class="font-bold"> - </span> Base de données MySQL, MS SQL ou MS Access  
           
        </p> 
        <p> <span class="font-bold"> - </span> Supporte AJAX dans tous les navigateurs modernes IE6+, Firefox, Chrome, Safari, Opera  
           
        </p> 
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        
        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Jeux de caractères internationaux, y compris UTF-8  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Analyseur et visualisateur d'e-mails précis  
           
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
  <div class="container shadow py-2 rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2  class="text-primary font-semibold text-lg block"> Détails </h2>
        <p> <span class="font-bold"> - </span> Disponible dans plus de 70 langues  
           
        </p> 
        <p> <span class="font-bold"> - </span> Gestion des messages par glisser-déposer 
           
        </p> 
        <p> <span class="font-bold"> - </span> Support complet des messages MIME et HTML  
           
        </p> 
        <p>
          <span class="font-bold"> - </span> Protection sophistiquée de la vie privée 
           
        </p>
        <p >
          <span class="font-bold"> - </span> Composition de messages avec pièces jointes  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Identités d'expéditeurs multiples  
           
        </p> 



        <p> <span class="font-bold"> - </span> Carnet d'adresses complet avec groupes et connecteurs LDAP  
           
        </p> 
        <p> <span class="font-bold"> - </span> Intégration d'un carnet d'adresses de type "Find-as-you-type"  
           
        </p> 
        <p> <span class="font-bold"> - </span> Composition de messages en Richtext/HTML  
           
        </p> 
        <p>
          <span class="font-bold"> - </span> Transfert de messages avec pièces jointes  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Recherche de messages et de contacts 
           
        </p>
        <p >
          <span class="font-bold"> - </span> Liste de messages en file d'attente  
           
        </p> 
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        
        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Support IDNA   
           
        </p>
        <p >
          <span class="font-bold"> - </span> Vérification de l'orthographe  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Gestion des dossiers IMAP  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Dossiers IMAP partagés/globaux  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Prise en charge d'un serveur SMTP externe  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Support des listes de contrôle d'accès (ACL)  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Mise en cache intégrée pour un accès rapide aux boîtes aux lettres  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Utilisateurs et messages illimités  
           
        </p>
        <p >
          <span class="font-bold"> - </span> Système de modèles pour des habillages personnalisés  
           
        </p>
        <p >
          <span class="font-bold"> - </span> API de plug-in pour des extensions flexibles  
           
        </p>

      </div>
    </div>
  </div>
</section>



<!-- Tableau -->
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              User
            </td>
            <td class="px-2 py-2">  email-test@coridigital.com </td>
            <td class="px-2 py-2"> Cori_digital22 </td>
            <td class="px-5 py-3">
              <a href="" target="_blank">
                <span style="color: black;"></span>
              </a>
            </td>
          </tr>
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2">  </td>
            <td class="px-2 py-2">  </td>
            <td class="px-5 py-3">
              <a href="" target="_blank">
                <span style="color: black;"> </span>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->
