{% extends 'index.html' %}
{% block content %}
<div class="overflow-y-auto w-full justify-center items-center">
    {% if page_name_footer == 'produit_service' %}
    <div class="container">
        <div class=" my-4 font-bold md:text-xl text-md ">
            <h2> Produit </h2>
        </div>

        <div class="mx-4 mb-4 grid gap-4 md:grid-cols-2 lg:grid-cols-4">

            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> Service Cloud </h4>
                <p class="mx-4">
                    Cori vous permet d’accéder à des infrastructures (serveurs, stockages…..)
                    et à des applications métiers qui sont sur le cloud. Nos services cloud permettent
                    de faciliter le flux des donnés utilisateurs par Internet entre les clients front-end,
                    c'est-à-dire n'importe quel matériel du côté de l'utilisateur (serveur, tablette, ordinateur
                    de bureau ou portable), et les systèmes du fournisseur.

                </p>

            </div>
            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> Nom de domaine </h4>
                <p class="mx-4">
                    Grâce aux outils que nous avons mis en place, vous pouvez acquérir le nom de votre site
                    internet ou nom de domaine en quelques minutes .
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> Hébergement </h4>
                <p class="mx-4">
                    Cori digital vous offre un espace sécurisé (un serveur) où seront stockés tous les éléments qui
                    composent votre site web.
                </p>
            </div>


            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> BIG DATA, AI et Machine Learning </h4>
                <p class="mx-4 ">
                    CORI digital est le partenaire idéal pour valoriser vos data .
                    Grâce à notre expertise en Big data, en Artificial intelligence (AI)
                    et Machine learning (ML) , nous vous proposons de vous accompagner à tirer de la valeur de vos
                    données clients.
                </p>
            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Stockage Backup service </h4>
                <p class="mx-4 ">
                    Cori digital vous offre un semble de solution vous permettant de faire
                    le backup de vos informations. Nous pouvons également vous accompagner a identifier
                    la solution de backup la plus adéquate àvotre besoin et dont la moins chère par rapport à votre
                    besoin.
                </p>
            </div>






        </div>
    </div>
    <div class="container">
        <div class=" my-4 font-bold md:text-xl text-md ">
            <h2> Service </h2>
        </div>

        <div class="mx-4 mb-4 grid gap-4 md:grid-cols-2 lg:grid-cols-4">




            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> Support </h4>
                <p class="mx-4">
                    Cori digital vous assure un support 24/7 selon vos besoins. Vous pouvez bénéficier de l’accompagnant
                    de nos experts de proximité qui traitent l'intégralité de vos demandes de support et d'assistance
                    dès que vous en avez besoin. Notre équipe support est disponible pour vous accompagner 24/7 par
                    téléphone,
                    par mail et par WhatsApp.
                    BIG DATA, AI et Machine Learning CORI digital est le partenaire idéal pour valoriser vos data .
                    Grâce à notre expertise en Big data, en Artificial intelligence (AI) et Machine learning (ML) ,
                    nous vous proposons de vous accompagner à tirer de la valeur de vos données clients.


                </p>
            </div>



            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Supervision </h4>
                <p class="mx-4 ">
                    Cori digital a intègre la supervision de ces serveurs dès la phase de création,
                    car nous pensons qu'il est impératif de fournir un service et des ressources IT 100 % disponible
                    pour nos clients et pour le business.
                    Avec Cori, vous pouvez superviser votre serveur et recevoir des alertes en cas d’arrêt.
                    En cas d’alerte, notre support vous accompagne à la résolution du problème dans les minutes qui
                    suivent.
                </p>
            </div>




        </div>
    </div>
    {% elif page_name_footer == 'offre_projet' %}
    <div class="container">
        <div class=" my-4 font-bold md:text-xl text-md ">
            <h2> Nos offres projet </h2>
        </div>

        <div class="mx-4 mb-4 grid gap-4 md:grid-cols-2 lg:grid-cols-4">

            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2">
                    Etude & conseil </h4>
                <p class="mx-4">
                    Coridigital vous accompagne dans votre transformation digitale
                    et vous met à disposition des experts dans le domaine pour réaliser
                    vos demandes d’Etudes&Conseils durant toutes les phases de votre projet.

                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> Un nouveau projet </h4>
                <p class="mx-4">
                    Coridigital vous accompagne durant toutes les phases de votre projet :
                    de la définition de votre plan stratégique de migration jusqu’ à
                    l’exploitation en continu de votre environnement cloud.
                </p>
            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> Formation </h4>
                <p class="mx-4">
                    Coridigital dispense des formations sur les nouvelles technologies
                    et surtout les fondamentaux du cloud afin de sensibiliser, accompagner
                    les décideurs et les équipes opérationnelles dans le but de créer un vivier
                    africain de sachants capables de tirer le mouvement de la transformation numérique.
                </p>
            </div>
        </div>

        <p>
            Choisir Coridigital, c’est bénéficier d’un accompagnement d’experts de proximité,
            d’offres claires et attrayantes et du meilleur de la technologie. En somme,
            tout pour que vous puissiez vous concentrer sur votre cœur de métier.
        </p>
    </div>
    {% elif page_name_footer == 'offre_metier' %}
    <div class="container">
        <div class=" my-4 font-bold md:text-xl text-md ">
            <h2> Nos offres métiers </h2>
        </div>

        <div class="mx-4 mb-4 grid gap-4 md:grid-cols-2 lg:grid-cols-4">

            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> ERP </h4>
                <p class="mx-4">
                    ERP (Enterprise Resource Planning) ou encore parfois appelé PGI (Progiciel de Gestion Intégré).
                    Notre solution ERP est un système d'information qui permet de gérer et de suivre au quotidien,
                    l'ensemble des informations et des services opérationnels d'une entreprise.
                    Grace a cet outil, nous proposons de digitaliser votre activité facilement en quelques minutes.

                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> Health ERP </h4>
                <p class="mx-4">
                    Health ERP est une application destinée à accompagner les services de la santé.
                    Il permet de gerer des dossiers médicaux électroniques. Heath EHR est centré sur la clinique,
                    conçu pour être à la fois facile à utiliser et personnalisable pour être utilisé dans une variété
                    de contextes de soins de santé. Grace a cet outil, nous proposons de digitaliser votre activité
                    facilement en quelques minutes.

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 mt-2"> HRM </h4>
                <p class="mx-4">
                    Human Ressource Management ( HRM) ou Gestion des rources Humaines est un outil
                    qui a pour objectif d'être la première solution de GRH pour les petites et moyennes entreprises
                    (PME)
                    en fournissant un système de GRH flexible et facile à utiliser, abordable pour toute entreprise dans
                    le monde entier. Grace a cet outil, nous proposons de digitaliser votre activité facilement en
                    quelques minutes.
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Éducation </h4>
                <p class="mx-4 ">
                    Cori éducation est un logiciel orienté vers le domaine de l’éducation.
                    Il offre un ensemble puissant d'outils centrés sur l'apprenant pour
                    construire un environnement d'apprentissage collaboratif qui renforce
                    à la fois l'enseignement et l'apprentissage. Grace a cet outil,
                    nous proposons de digitaliser votre activité facilement en quelques minutes
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> E-Commerce </h4>
                <p class="mx-4 ">
                    La solution Cori E-Commerce a été conçue pour tirer parti des innovations essentielles du Web 2.0,
                    telles que les fonctions dynamiques alimentées par AJAX et l'ergonomie de nouvelle génération.
                    Grace a cet outil, nous proposons de digitaliser votre activité facilement en quelques minutes
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Cori Sondage </h4>
                <p class="mx-4 ">
                    est une application d'enquête en ligne open source écrite en PHP et basée sur une base de données
                    MySQL,
                    PostgreSQL ou MSSQL. Elle permet aux utilisateurs sans connaissances en codage de développer,
                    publier et
                    collecter des réponses à des enquêtes. Grace a cet outil, nous proposons de réaliser un outil de
                    sondage en quelques minutes .
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Cori Analytics </h4>
                <p class="mx-4 ">
                    Cette application vous permet de tirer de la valeur de vos données clients .
                    Grace a notre outil vous avez une meilleur connaissance des vos clients :
                    savoir qui sont vos clients et d'où ils viennent. Notre outil est conforme au standard RGPD.
                    Elle vous permet d'identifier le canal de marketing qui vous donne le meilleur ROI.
                    Il vous aidera à déterminer où les visiteurs arrêtent leur visite et vous permettra de tester
                    et d'apprendre continuellement les habitudes de vos clients.
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Cori Mailing </h4>
                <p class="mx-4 ">
                    Vous permet de créer votre serveur de mail avec le nomde votre entreprise en quelques minutes.
                    Cori Email webmail est un client IMAP multilingue basé sur un navigateur avec une interface
                    utilisateur de type application.
                    Il fournit toutes les fonctionnalités que vous attendez d'un client e-mail, y compris le support
                    MIME, le carnet d'adresses,
                    la manipulation des dossiers, la recherche de messages et la vérification orthographique. Cori Email
                    - Webmail gratuit pour les masses.
                    Grace a cet outil, nous proposons de digitaliser votre activité facilement en quelques minutes
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Booking </h4>
                <p class="mx-4 ">
                    est un système de reservationélectronique pour les hôtels et les réservations sur Prestashop.
                    Cori Booking est un logiciel libre et gratuit. Avec l'aide de Cori Booking, vous pouvez lancer
                    votre site de réservation d'hôtel sans aucun coût et prendre et gérer des réservations en ligne.
                    Vous pouvez gérer vos réservations en ligne et sur place facilement avec Cori Booking.
                    Grace a cet outil, nous proposons de digitaliser votre activité facilement en quelques minutes
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> CORI SAP </h4>
                <p class="mx-4 ">
                    est un logiciel de gestion intégré.
                    Il est actuellement très employé dans le monde de l'entreprise et permet d’accelerer la croissance
                    de l’entreprise tout en controlant les flux d’entrées et de sorties de son businsess
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Cori project management </h4>
                <p class="mx-4 ">
                    est un logiciel de gestion de projet qui vous permet de piloter facilement vos projets, d'organiser
                    le travail et d'améliorer la productivité de vos collaborateurs. Cori projet est votre propre
                    application unique, que vous créez vous-même, en fonction de vos besoins ! En utilisant une variété
                    de paramètres, en une demi-heure vous serez en mesure de déployer sur votre serveur un système de
                    gestion de projet, personnel ou autre (CRM, ERP, HRM, WMS, etc.). Grace a cet outil,
                    nous proposons de digitaliser votre activité facilement en quelques
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> Cori help Desk</h4>
                <p class="mx-4 ">
                    Vous permettez de créer votre serveur de mail avec le nom de votre entreprise en quelques minutes.
                    Cori Email webmail est un client IMAP multilingue basé sur un navigateur avec une interface
                    utilisateur de type application.
                    Il fournit toutes les fonctionnalités que vous attendez d'un client e-mail, y compris le support
                    MIME, le carnet d'adresses,
                    la manipulation des dossiers, la recherche de messages et la vérification orthographique. Cori Email
                    - Webmail gratuit pour les masses.
                    Grace a cet outil, nous proposons de digitaliser votre activité facilement en quelques minutes.
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> CORI invoice </h4>
                <p class="mx-4 ">
                    Cori facture a été construit pour servir les freelances et les propriétaires d'entreprises
                    avec une suite complète d'outils de facturation et de paiement pour faire progresser votre
                    entreprise.
                    Grace a cet outil, nous proposons de digitaliser votre activité facilement en quelques minutes
                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> CORI invoice PME </h4>
                <p class="mx-4 ">

                </p>

            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> CORI invoice Freelances </h4>
                <p class="mx-4 ">


            </div>

            <div class="rounded-lg border-1">
                <h4 class="mx-4 my-2"> CORI Collaboration </h4>
                <p class="mx-4 ">

                </p>

            </div>
        </div>
    </div>
    {% comment %} {% elif page_name_footer == 'espace_client' %}
    <section class="pt-10 pb-10 lg:pb-20 bg-[#F3F4F6]">
        <p> section 4 </p>
    </section> {% endcomment %}
    {% elif page_name_footer == 'offre_package' %}
    <div class="container">
        <div class=" my-4 font-bold md:text-xl text-md ">
            <h2> Assistance Cori Digital serveurs métiers</h2>
        </div>

        <div class=" my-2 pb-2 card card-side bg-base-200 shadow-xl">
            <div
                class="font-semibold  text-black card-title inline-block mt-2 mx-2  py-2 px-7 border border-[#E5E7EB]   text-body-color font-medium ">

                <p class="text-center mt-2">
                    Service Particuliers
                </p>
            </div>
            <div class=" grid gap-2 md:grid-cols-2 lg:grid-cols-2" style="background-color: rgb(248 250 252);">
                <div class="card card-side mx-2 bg-base-200 shadow-xl">
                    <div class="card-body">
                        <h5
                            class="card-title inline-block  border border-[#E5E7EB] rounded-md px-2 py-1  text-body-color font-medium ">
                            C'est quoi le service particulier</h5>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">Le service particulier </span>
                            est
                        </p>
                        <p>

                        </p>
                    </div>
                </div>

                <div class="card card-side mx-2 bg-base-200 shadow-xl">
                    <div class="card-body ">
                        <h5
                            class="card-title inline-block  border border-[#E5E7EB] rounded-md px-2 py-1 text-body-color font-medium ">
                            Les avantages de ces offres </h5>
                        <p> Nous vous proposons 3 types d’offres avec un support/assistance
                            par tchat 5/7 en heures ouvrées. Profitez-en et découvrir le monde sécurisé du cloud.
                        </p>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offre
                            Standard par rapport aux offres Silver et Gold
                            sont :

                        </p>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offres
                            Silver par rapport aux offres Standard et Gold
                            sont :
                        </p>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offres
                            Gold par rapport aux offres Standard et Silver
                            sont :
                        </p>

                    </div>
                </div>
            </div>
            <div
                class="font-semibold  text-black card-title inline-block mt-2 mx-2  py-2 px-7 border border-[#E5E7EB]   text-body-color font-medium ">

                <p class="text-center mt-2 ">
                    Service PME
                </p>
            </div>
            <div class=" grid gap-2 md:grid-cols-2 lg:grid-cols-2" style="background-color: rgb(248 250 252);">
                <div class="card card-side mx-2 bg-base-200 shadow-xl">

                    <div class="card-body">
                        <h5
                            class="card-title inline-block  border border-[#E5E7EB] rounded-md px-2 py-1  text-body-color font-medium ">
                            C'est quoi le service PME</h5>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">Le service PME </span>
                            est

                        </p>
                        <p>



                    </div>

                </div>

                <div class="card card-side mx-2 bg-base-200 shadow-xl">
                    <div class="card-body ">
                        <h5
                            class="card-title inline-block  border border-[#E5E7EB] rounded-md px-2 py-1 text-body-color font-medium ">
                            Les avantages de ces offres </h5>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offre
                            Standard par rapport aux offres Silver et Gold
                            sont :

                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offres
                            Silver par rapport aux offres Standard et Gold
                            sont :
                        </p>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offres
                            Gold par rapport aux offres Standard et Silver
                            sont :
                        </p>

                    </div>
                </div>

            </div>
            <div
                class="font-semibold  text-black card-title inline-block mt-2 mx-2  py-2 px-7 border border-[#E5E7EB]   text-body-color font-medium ">

                <p class="text-center mt-2 ">
                    Service Grande Entreprise
                </p>
            </div>
            <div class=" grid gap-2 md:grid-cols-2 lg:grid-cols-2" style="background-color: rgb(248 250 252);">
                <div class="card card-side mx-2 bg-base-200 shadow-xl">

                    <div class="card-body">
                        <h5
                            class="card-title inline-block  border border-[#E5E7EB] rounded-md px-2 py-1  text-body-color font-medium ">
                            C'est quoi le service Grande Entreprise</h5>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">Le service Grande Entreprise </span>
                            est
                        </p>
                        <p>


                        </p>

                    </div>

                </div>

                <div class="card card-side mx-2 bg-base-200 shadow-xl">
                    <div class="card-body ">
                        <h5
                            class="card-title inline-block  border border-[#E5E7EB] rounded-md px-2 py-1 text-body-color font-medium ">
                            Les avantages de ces offres </h5>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offre
                            Standard par rapport aux offres Silver et Gold
                            sont :

                        </p>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offres
                            Silver par rapport aux offres Standard et Gold
                            sont :
                        </p>
                        <p>
                            <span class="font-bold " style="margin-right: 4px;">- </span> Les avangates de l'offres
                            Gold par rapport aux offres Standard et Silver
                            sont :
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>



    {% elif page_name_footer == 'test_sendbox' %}
    <section class="pt-10 pb-10 lg:pb-20 bg-[#F3F4F6]">
        <p> section 6</p>
    </section>

    {% elif page_name_footer == 'nous_contactez' %}

    <div class="container px-6 mx-auto">

        <!-- Section: Design Block -->
        <section class="mb-32 text-gray-800">

            <div class="relative overflow-hidden bg-no-repeat bg-cover"
                style="background-position: 50%; background-image: url('https://mdbootstrap.com/img/new/textures/full/284.jpg'); height: 400px;">
            </div>
            <div class=" text-gray-800 px-6 md:px-12">
                <div class="block rounded-lg shadow-lg py-10 md:py-12 px-2 md:px-6"
                    style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px);">
                    <div class="grid lg:grid-cols-2 grid-cols-1">
                        <div class="grow-0 shrink-0 basis-auto px-3 lg:px-6 mb-12 xl:mb-0">
                            <form>
                                <div class="form-group mb-6 mt-6">
                                    <input type="text"
                                        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                        id="exampleInput7" placeholder="Name">
                                </div>
                                <div class="form-group mb-6">
                                    <input type="email"
                                        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out  m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                        id="exampleInput8" placeholder="Email address">
                                </div>
                                <div class="form-group mb-6">
                                    <textarea
                                        class="form-control block  w-full  px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                        id="exampleFormControlTextarea13" rows="3" placeholder="Message"></textarea>
                                </div>
                                <button type="submit"
                                    class=" w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Send</button>
                            </form>
                        </div>
                        <div class="grow-0 shrink-0 basis-auto">
                            <div class="grid md:grid-cols-2 grid-cols-1 mt-4">
                                <div class="mb-12 grow-0 shrink-0 basis-auto px-3 lg:px-6">
                                    <div class="flex items-start">
                                        <div class="shrink-0">
                                            <div
                                                class="p-4 bg-blue-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                    data-icon="headset" class="w-5 text-white" role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M192 208c0-17.67-14.33-32-32-32h-16c-35.35 0-64 28.65-64 64v48c0 35.35 28.65 64 64 64h16c17.67 0 32-14.33 32-32V208zm176 144c35.35 0 64-28.65 64-64v-48c0-35.35-28.65-64-64-64h-16c-17.67 0-32 14.33-32 32v112c0 17.67 14.33 32 32 32h16zM256 0C113.18 0 4.58 118.83 0 256v16c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-16c0-114.69 93.31-208 208-208s208 93.31 208 208h-.12c.08 2.43.12 165.72.12 165.72 0 23.35-18.93 42.28-42.28 42.28H320c0-26.51-21.49-48-48-48h-32c-26.51 0-48 21.49-48 48s21.49 48 48 48h181.72c49.86 0 90.28-40.42 90.28-90.28V256C507.42 118.83 398.82 0 256 0z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="grow ml-4">
                                            <p class="font-bold mb-1">Support Technique</p>
                                            <p class="text-gray-500">supporttechnique@cori.com</p>
                                            <p class="text-gray-500">+221 77 699 20 92</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-12 grow-0 shrink-0 basis-auto px-3 lg:px-6">
                                    <div class="flex items-start">
                                        <div class="shrink-0">
                                            <div
                                                class="p-4 bg-blue-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                    data-icon="dollar-sign" class="w-3 text-white" role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512">
                                                    <path fill="currentColor"
                                                        d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="grow ml-4">
                                            <p class="font-bold mb-1">Questions</p>
                                            <p class="text-gray-500">questions@cori.com</p>
                                            <p class="text-gray-500">+33 612 75 18 81</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-12 md:mb-0 grow-0 shrink-0 basis-auto px-3 lg:px-6">
                                    <div class="flex align-start">
                                        <div class="shrink-0">
                                            <div
                                                class="p-4 bg-blue-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                    data-icon="newspaper" class="w-5 text-white" role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                    <path fill="currentColor"
                                                        d="M552 64H88c-13.255 0-24 10.745-24 24v8H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h472c26.51 0 48-21.49 48-48V88c0-13.255-10.745-24-24-24zM56 400a8 8 0 0 1-8-8V144h16v248a8 8 0 0 1-8 8zm236-16H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm-208-96H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm0-96H140c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h360c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="grow ml-4">
                                            <p class="font-bold mb-1">Presse</p>
                                            <p class="text-gray-500">presse@cori.com</p>
                                            <p class="text-gray-500">+33 614 96 59 61</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grow-0 shrink-0 basis-auto px-3 lg:px-6">
                                    <div class="flex align-start">
                                        <div class="shrink-0">
                                            <div
                                                class="p-4 bg-blue-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                    data-icon="bug" class="w-5 text-white" role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor"
                                                        d="M511.988 288.9c-.478 17.43-15.217 31.1-32.653 31.1H424v16c0 21.864-4.882 42.584-13.6 61.145l60.228 60.228c12.496 12.497 12.496 32.758 0 45.255-12.498 12.497-32.759 12.496-45.256 0l-54.736-54.736C345.886 467.965 314.351 480 280 480V236c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v244c-34.351 0-65.886-12.035-90.636-32.108l-54.736 54.736c-12.498 12.497-32.759 12.496-45.256 0-12.496-12.497-12.496-32.758 0-45.255l60.228-60.228C92.882 378.584 88 357.864 88 336v-16H32.666C15.23 320 .491 306.33.013 288.9-.484 270.816 14.028 256 32 256h56v-58.745l-46.628-46.628c-12.496-12.497-12.496-32.758 0-45.255 12.498-12.497 32.758-12.497 45.256 0L141.255 160h229.489l54.627-54.627c12.498-12.497 32.758-12.497 45.256 0 12.496 12.497 12.496 32.758 0 45.255L424 197.255V256h56c17.972 0 32.484 14.816 31.988 32.9zM257 0c-61.856 0-112 50.144-112 112h224C369 50.144 318.856 0 257 0z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="grow ml-4">
                                            <p class="font-bold mb-1">bugs</p>
                                            <p class="text-gray-500">bugs@cori.com</p>
                                            <p class="text-gray-500">+221 77 776 70 75</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Section: Design Block -->

    </div>

    {% elif page_name_footer == 'propos_cori' %}

    <h4 class="text-3xl font-semibold text-gray-800 tracking-widest uppercase pt-2 text-center">À propos de Cori</h4>
    <p class="text-center  mt-2">Cori digital est une startup sénégalaise crée par deux sénégalais de la DIASPORA évoluant dans le
        domaine de l’IT depuis plus de 20 ans</p>
    <section class="home-info-grey  p-4 ">
        <div class="container rounded-lg py-4 shadow-md">
            <div class="row mt-4">
                <div class="col-md-7">
                    <video class="h-60 w-max w-fit" autoplay loop muted plays-inline controls class="facial-video object-cover"  >
                         <source style="background-color:red " src="{{ STATIC_URL }}/media/videos/presentation.mp4" type="video/mp4">
                         
                     </video>  
 
                 </div>
                <div class="col-md-5">
                    <h4 class="text-xl font-bold text-gray-700 underline underline-offset-12">Notre ambition</h4>

                    <p>
                        Notre ambition est de mettre davantage les technologies au service des communautés africaines
                        afin de créer un impact direct sur des centaines de millions d’africains et développer ainsi
                        l’économie numérique du continent.
                    </p>
                </div>
              



            </div>
        </div>
    </section>

    <section class="home-info-grey p-4">
        <div class="container rounded-lg shadow-xl">
            <div class="row mt-4">
                <div class="col-md-7">
                    <h4 class="text-xl font-bold text-gray-700 underline underline-offset-12">Notre mission</h4>

                    <p class="text-gray-700">
                        Notre mission est d’accompagner les entreprises africaines de toutes tailles à opérer leur
                        transformation numérique optimale et sécurisée à travers les services du cloud permettant ainsi
                        aux entreprises de s'installer en ligne.
                    </p>
                    <h5 class="text-blue-600">Comment notre mission s’inscrit dans la stratégie et les enjeux de votre entreprise ?</h5>
                    <p> Nous vous proposons des solutions qui vous permettent de : </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span> Fournir de façon agile à votre entreprise les systèmes
                        d’informations nécessaires permettant d’implémenter la stratégie de l’entreprise et de piloter
                        tous les processus clés de votre entreprise.
                    </p>
                    <p class="text-gray-700"> <span class="font-bold"> - </span>
                        Développer et exploiter des applications, à moindre coût, en garantissant la meilleure
                        utilisation des nouvelles technologies du point de vue du client final.
                    </p>

                </div>
                <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
                    <p  class="text-gray-700 mt-24"> <span class="font-bold"> - </span>
                        Construire, développer et exploiter un ensemble global de systèmes d’information, qui réponde
                        aux exigences de vos clients internes et externes en termes de disponibilité, de fiabilité et de
                        capacité de reprise en cas d’incident.
                    </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        Développer des systèmes d’information dont le coût complet est compétitif, grâce à une bonne
                        connaissance des solutions et des acteurs du marché
                    </p>
                    <p  class="text-gray-700"> <span class="font-bold"> - </span>
                        Profiter des nouvelles opportunités technologies pour préparer l’avenir (accélérateur de
                        business, réduction de coûts, simplicité de fonctionnement).
                    </p>
                    <p  class="text-gray-700"> <span class="font-bold"> - </span>
                        Contribuer à la stratégie de l’entreprise en permettant à votre entreprise de s’approprier des
                        dernières nouvelles technologies de l’information (IA, automatisation, machine learning, open
                        source, cloud, SaaS, …).
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="home-info-grey">
        <div class="container rounded-lg shadow-xl">
            <div class="row mt-4">
                <div class="col-md-7">
                    <h4 class="text-xl font-bold text-gray-700 underline underline-offset-12">Nos objectifs</h4>

                    <h5 class="text-blue-600"> A) Proposer des services et solutions cloud </h5>
                    <p class="text-gray-700"> pour accompagner la transformation numérique des entreprises de toute taille : Nos offres sont
                        articulées sur 3 axes : </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span> Hébergement, calcul, stockage, bases de données, nom de
                        domaine, sécurité,
                    </p>
                    <p class="text-gray-700"> <span class="font-bold"> - </span> Intégration, déploiement, développement et gestion
                        d'applications
                    </p>
                    <p class="text-gray-700"> <span class="font-bold"> - </span> Mise en réseau, supervision et support local à la résolution
                        d’incidents
                    </p class="text-gray-700">
                    <p> <span class="font-bold"> - </span> Analyse des données, automatisation, machine learning,
                        intelligence artificielle (IA)
                    </p>
                </div>
                <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">

                    <h5 class="text-blue-600 mt-4"> B) Proposer des applications business aux entreprises pour
                        accompagner leur transformation
                        numérique </h5>
                    <p class="text-gray-700">
                        Dans tous les secteurs, les entreprises de différentes tailles équipent leurs collaborateurs
                        d'outils numériques. Aujourd'hui, le numérique est omniprésent et les entreprises
                        qui ne prennent pas le virage du numérique risquent de perdre leurs parts de marché, leurs
                        employés ou tout simplement de disparaître d'ici 5 ans.
                        De plus, le COVID-19 a fortement accéléré l'utilisation du numérique dans tous les secteurs de
                        l'économie : finance, santé, banque, services, etc.
                        En effet, l'utilisation des applications numériques apporte aux entreprises plus de
                        compétitivité, de productivité, d'efficacité, de gain de temps et augmente le chiffre d'affaires
                    </p>

                </div>

            </div>
        </div>
    </section>

    <section class="home-info-grey">
        <div class="container rounded-lg shadow-xl my-3">
            <div class="row mt-4">
                <div class="col-md-7">

                    <h5 class="text-blue-600"> C) Dispenser des formations </h5>
                    <p class="text-gray-700">
                        sur les nouvelles technologies et surtout les fondamentaux du cloud afin de sensibiliser les
                        décideurs et les équipes opérationnelles dans le but de créer un vivier africain de sachants
                        capables de tirer le mouvement de la transformation numérique.
                    </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        L’objectif de ces formations est d’acquérir des compétences en matière de développement (linux,
                        sql, Python,…), réseaux, sécurité et analyse des données (BIG DATA)
                    </p>
                    <h5 class="text-blue-600"> D) Notre différentiation </h5>
                    <p class="text-gray-700">
                        Grace à une très bonne connaissance du marché africain et à notre parfait maîtrise des outils
                        technologiques ( Cloud , Big Data, AI , ML , ….) , nous comptons offrir des outils simple
                        d’accès, abordable et surtout adaptés au besoin du marché local.
                    </p>
                    <p class="text-gray-700">Notre offre se différencie par : </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        La mise en place d’une plateforme où vous avez la capacité d’utiliser au bout de quelques
                        minutes un serveur que vous venez d’acheter à l’instant. Cela est possible grâce à
                        l’automatisation du processus de commande et d’achat.
                    </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        La mise en place d’un Dashboard client qui vous permet de suivre les performances de vos
                        serveurs et l’ensemble des données administratives
                    </p>


                </div>
                <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
                    <p class="text-gray-700 mt-4">
                        <span class="font-bold"> - </span>
                        La mise en place d’un Dashboard client qui vous permet de suivre les performances de vos
                        serveurs et l’ensemble des données administratives
                    </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        L’accompagnement par une équipe de support et de supervision qui vous accompagner au quotidien.
                    </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        Un support personnalité lors de vos projets de migration : de la phase d’étude jusqu’à la mise
                        en service de la solution choisie.
                    </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        Par un accompagnement premium réalisé par une équipe experte dans le domaine
                    </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        Par l’amélioration de vos actuels grâce au big data et a l’intelligence artificiel AI
                    </p>
                    <p class="text-gray-700">
                        <span class="font-bold"> - </span>
                        Par la mise à disposition d’application métiers sécurisées qui vous permettent de gagner en
                        agité et
                        efficacité opérationnelle et économique.
                    <p>
                </div>
            </div>
        </div>
    </section>


    <!-- component -->

    {% endif %}
</div>
{% endblock %}