
    
<div class=" ">
  <h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À Propos de Cori ERP</h1>
  <section class="home-info-grey  p-4 ">
    <div class="container rounded-lg py-4 shadow-md bg-white">
        <div class="row mt-4">
            <div class="col-md-5">
              <img class="object-cover  mx-auto rounded-full ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/ERP_image.png" alt="">

              <!--    <div class="relative overflow-hidden bg-no-repeat bg-cover"
                 style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/ERP_image.png'); height: 400px;">
               </div> -->
             </div>
            <div class="col-md-7">
                <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
                <p>
                  Cori Digital ERP (Enterprise Resource Planning) ou encore parfois appelé PGI (Progiciel de Gestion Intégré).
                  Dolibarr est un logiciel construit par addition de modules, pour gérer des petites ou moyennes entreprises, des freelances ou des fondations.
                </p>
                <p>
                    C'est un projet OpenSource basé sur un serveur WAMP, MAMP ou LAMP. Notre solution ERP est un système d'information qui permet de gérer et suivre au quotidien, l'ensemble des informations et des services opérationnels d'une entreprise. Il est publié sous la licence GNU GENERAL PUBLIC LICENSE
                </p>
            </div>
        </div>
    </div>
</section>
    </div>

{% include 'application_pricing.html' %}


<!-- Fonctionnalités -->
<section class="mb-4">
  <div class="container bg-white py-2 shadow rounded-xl">
    <div class="row mt-10">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Catalogue de produits et services

        </p>
        <p> <span class="font-bold"> - </span> Gestion de stock

        </p>

        <p> <span class="font-bold"> - </span> Gestion des comptes bancaires

        </p>

        <p> <span class="font-bold"> - </span> Annuaire Clients, Fournisseurs ou Prospects

        </p>

        <p> <span class="font-bold"> - </span> Répertoire des contacts

        </p>

        <p> <span class="font-bold"> - </span> Gestion des actions commerciales 

        </p>

        <p> <span class="font-bold"> - </span> Gestion des commandes avec générateur PDF 

        </p>

        <p> <span class="font-bold"> - </span> Gestion des contrats

        </p>
        <p> <span class="font-bold"> - </span> Gestion des paiements

        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Gestion des ordres permanents
        </p>
        <p> <span class="font-bold"> - </span>  
          Gestion des expéditions
        </p>
        <p> <span class="font-bold"> - </span> Prise en charge de la TVA NPR 

        </p>
        <p> <span class="font-bold"> - </span> Gestion des favoris

        </p>
        <p> <span class="font-bold"> - </span> Envoi par courrier électronique

        </p>
        <p> <span class="font-bold"> - </span> Ordre du jour 

        </p>
        <p> <span class="font-bold"> - </span> Point de vente

        </p>
        <p> <span class="font-bold"> - </span> Outils d'exportation de données


        </p>

      </div>
    </div>
  </div>
</section>
