<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À Propos de Cori invoice collaboration </h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-2 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-4 ">
            <img class="object-cover  h-60  ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/collaboration.jpeg" alt="">
           </div>
          <div class="col-md-8">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                Cori invoice collaboration est une application web hautement personnalisable qui permet à vos clients de prendre rendez-vous avec
                vous via le web. De plus, elle offre la possibilité de synchroniser vos données avec Google Calendar afin que vous puissiez
                les utiliser avec d'autres services. C'est un projet open source et il fonctionnera sans problème avec votre site web existant,
                car il peut être installé dans un seul dossier du serveur et bien sûr, les deux sites peuvent partager la même base de données.        
              </p>

              <p>
                Cori Digital Collaboration est publié sous la
                licence GNU GENERAL PUBLIC LICENSE.
              </p>
              
          </div>
      </div>
  </div>
</section>


{% include 'application_pricing.html' %}
<section class="mb-4">
  <div class="container shadow rounded-xl rounded-xl ">
    <div class="row mt-4">
      <div class="col-md-7 py-2">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Gestion des rendez-vous et des clients : 
          Gérez tous vos rendez-vous avec des affichages et des mises en page de calendrier
          flexibles. Traitez toutes les informations sur les clients et leur historique de réservation plus facilement que jamais.
        </p>
        <p> <span class="font-bold"> - </span> Services et fournisseurs de services : 
          Configurez vos services et les employés/équipes/sections qui serviront les clients.
          Chaque service est entièrement configurable et chaque prestataire a son propre planning.
            
        </p>
        <p> <span class="font-bold"> - </span> Flux de travail et règles de réservation : 
          Configurez le système à votre guise, appliquez les heures d'ouverture et les pauses
          et laissez les clients réserver, modifier ou annuler des rendez-vous dans des périodes spécifiques.
            
        </p>
        <p> <span class="font-bold"> - </span> Synchronisation avec Google Calendar: 
          Synchronisez vos événements avec Google Calendar et partagez-les avec d'autres
          applications. Les prestataires et les secrétaires pourront également programmer leurs données.
        
        </p>
        <p> <span class="font-bold"> -  </span> Notifications par e-mail: 
          Recevez des notifications par email pour tout changement sur le planning, y compris les
          réservations, les modifications et les annulations. Les clients sont également informés à temps des modifications de leurs
          rendez-vous.
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Assistants multiples : 
          Activez des créneaux horaires pour plusieurs préposés et gérez des groupes de clients à certains
          moments. Pas d'inquiétude, : Cori Collaboration peut le faire aussi !
            
        </p>
        <p>
          <span class="font-bold"> - </span> Liens dédiés vers les prestataires et les services : 
          Utilisez des URL dédiés sur votre site web pour permettre à vos clients de
          prendre rendez-vous avec des services et/ou des prestataires spécifiques.
        </p>
        <p>
          <span class="font-bold"> - </span> Responsive Design : 
          Lancez l'application à partir de votre téléphone portable et gérez toutes les interfaces utilisateur de
          manière parfaite, quelle que soit la taille de la fenêtre.
        </p>
        <p>
          <span class="font-bold"> - </span> API REST : 
          développez des applications à contenu riche en utilisant le point de terminaison flexible de l'API REST et
          traitez toutes les informations relatives à l'application provenant de vos clients.
          
        </p>
      </div>
    </div>
  </div>
</section>
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin </td>
            <td class="px-2 py-2">  Cori_digital22 </td>
            <td class="px-5 py-3">
              <a href=" https://coridigital.fr/education-collaborative-learning/admin" target="_blank">
                <span style="color: black;"> https://coridigital.fr/education-collaborative-learning/admin  </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->
  
  