<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À  Propos de Cori E-Commerce </h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-4 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-5">
            <img class="object-cover  mx-auto ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/E-commerce.png" alt="">
           </div>
          <div class="col-md-7">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                La solution Cori E-Commerce a été conçue pour tirer parti des innovations
                essentielles du Web 2.0, telles que les fonctions dynamiques alimentées par
                AJAX et l'ergonomie de nouvelle génération. Cori E-Commerce guide les
                utilisateurs à travers votre catalogue de produits de manière intelligente et sans
                effort, transformant des visiteurs intrigués en clients payants.
              </p>
              <p>
                Cori Analytics se veut une alternative open source à Google Analytics.
                Cori Analytics est publié sous la licence GNU/GPL.
              </p>
             
          </div>
      </div>
  </div>
</section>

{% include 'application_pricing.html' %}
<section class="">
    <div class="container bg-white py-2 shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Modèles</h2>

        <p> <span class="font-bold"> - </span> Vous avez le contrôle de la création 

        </p>
        <p> <span class="font-bold"> - </span> Démarquez-vous avec un design adapté aux mobiles 

        </p>
        <p> <span class="font-bold"> - </span> Plus de 2 000 modèles de sites Web de commerce électronique
            professionnels

        </p>
        <p>
          <span class="font-bold"> - </span> Rencontrez notre réseau de designers experts 

        </p>
        <p>
          <span class="font-bold"> - </span> Concepteurs, laissez votre empreinte 

        </p>
        <p>
          <span class="font-bold"> - </span> Créateur de boutique 

        </p>

        <p> <span class="font-bold"> - </span> Plus de 310 fonctions intégrées puissantes pour vous aider à vendre davantage
          </span>

        </p>
        <p> <span class="font-bold"> - </span> Impressionnez vos visiteurs avec une vitrine conçue pour convertir 

        </p>
        <p> <span class="font-bold"> - </span> Vue rapide des produits 

        </p>
        <p>
          <span class="font-bold"> - </span> Bannières promotionnelles attrayantes 
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">

        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Ajout au panier avec vente croisée 

        </p>
        <p>
          <span class="font-bold"> - </span> Offrez à vos clients une expérience d'achat transparente et conviviale
          

        </p>
        <p>
          <span class="font-bold"> - </span> Mise en page des produits 

        </p>
        <p>
          <span class="font-bold"> - </span> Recherche filtrée instantanée 

        </p>
        <p>
          <span class="font-bold"> - </span> Navigation puissante 

        </p>
        <p>
          <span class="font-bold"> - </span> Simplifiez la gestion quotidienne grâce à un back-office centralisé 

        </p>
        <p>
          <span class="font-bold"> - </span> Fonctions d'installation rapide 

        </p>
        <p>
          <span class="font-bold"> - </span> Interface intuitive 

        </p>
        <p>
          <span class="font-bold"> - </span> Des analyses brillantes 

        </p>

      </div>
    </div>

</section>

<section class="py-2">
    <div class="container bg-white shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7 py-2 ">
        <h2 class="text-primary font-semibold text-lg block">Panier d'achat </h2>
        <p> <span class="font-bold"> - </span> Acceptez les paiements instantanément 
        </p>
        <p> <span class="font-bold"> - </span> Configurez l'expédition avec les principaux transporteurs 
        </p>
        <p> <span class="font-bold"> - </span> Configurez facilement les règles fiscales 
        </p>
        <p>
          <span class="font-bold"> - </span> Paiement transparent pour les clients 
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Outils de service à la clientèle intégrés Mobile 
        </p>
        <p>
          <span class="font-bold"> - </span> Restez proche de vos clients, où qu'ils aillent 
        </p>
        <p>
          <span class="font-bold"> - </span> Paiement mobile fluide 
        </p>
        <p>
          <span class="font-bold"> - </span> Gérez votre boutique en déplacement, 24h/24, 7j/7 
        </p>
      </div>
    </div>

</section>

<section class=" ">
  <div class="container bg-white  shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7 py-2 ">
        <h2 class="text-primary font-semibold text-lg block">eMarketing</h2>

        <p> <span class="font-bold"> - </span> Propulsez-vous en tête des résultats de recherche 

        </p>
        <p> <span class="font-bold"> - </span> Transformez vos données en ventes 

        </p>
        <p> <span class="font-bold"> - </span> Prenez de l'avance grâce à des fonctionnalités de marketing en ligne complètes
          
        </p>
        <p>
          <span class="font-bold"> - </span> Définissez des règles de panier 
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Proposez des coupons et des bons d'achat

        </p>
        <p>
          <span class="font-bold"> - </span> Encouragez les commentaires des clients 

        </p>

        <p> <span class="font-bold"> - </span> Fidélisez vos clients 

        </p>
        <p> <span class="font-bold"> - </span> Dominez le marketing par e-mail 

        </p>

      </div>
    </div>

</section>

<section class="">
    <div class="container bg-white shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7 py-2 ">
        <h2 class="text-primary font-semibold text-lg block">International</h2>
        <p> <span class="font-bold"> - </span> Localisez les devises, les taxes et les unités de mesure 
        </p>
        <p> <span class="font-bold"> - </span> Logistique flexible basée sur la localisation 
        </p>
       
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px;">
        <span class="font-bold"> - </span> Fonds d'intégration 
        </p>
    </div>

</section>

<section class="">
  <div class="container bg-white shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7 py-2 ">
        <h2 class="text-primary font-semibold text-lg block">Intégrations</h2>

        <p> <span class="font-bold"> - </span> Plus de 310 fonctions intégrées 
        </p>
        <p> <span class="font-bold"> - </span> Fonctions et services des partenaires officiels au bout de vos doigts 
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px;">
          <span class="font-bold"> - </span> Intégrer la puissance des addons PrestaShop 
        </p>
        <p>
          <span class="font-bold"> - </span> Développeurs, venez nous voir
        </p>
      </div>
    </div>

</section>
<section class="mb-4">
    <div class="container bg-white shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
          style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/ecommerce1.png'); height: 400px;">
        </p>
      </div>
      <div class="col-md-5 drop-cap-text ">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
          style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/ecommerce2.png'); height: 400px;">
        </p>
      </div>
    </div>
  </div>
</section>

<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> </td>
            <td class="px-2 py-2"> </td>
            <td class="px-5 py-3">
              <a href="#" target="_blank">
                <span style="color: black;"> </span>
              </a>
            </td>
          </tr>
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              User
            </td>
            <td class="px-2 py-2"> admin@coridigital.fr </td>
            <td class="px-2 py-2"> cori_digital </td>
            <td class="px-5 py-3">
              <a  href="https://coridigital.fr/E-commerce1/admin123" target="_blank">
                <span style="color: black;">https://coridigital.fr/E-commerce1/admin123</span>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->
