
<section class="mt-4">
  <div class="container">
    <div class="row">
      <h3> À  Propos de Cori Sondage  </h3>
      <p>
        est une application d'enquête en ligne open source écrite en PHP et basée sur une base de données MySQL,
        PostgreSQL ou MSSQL. Elle permet aux utilisateurs sans connaissances en codage de développer, publier et
        collecter des
        réponses à des enquêtes.
      </p>
    </div>
    <div class="relative overflow-hidden bg-no-repeat bg-cover"
      style="background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/sondage.png'); height: 400px;">
    </div>
    <div class="mt-2">
      <p>
        Les enquêtes peuvent inclure des branchements, une mise en page et un design personnalisés (en utilisant un système de modèles web), et peuvent fournir une analyse statistique de base des résultats de l'enquête. 
        Les enquêtes peuvent être accessibles au public ou être strictement contrôlées par l'utilisation de jetons "uniques" pour chaque participant.
        En outre, les résultats peuvent être anonymes grâce à la séparation des données sur les participants et des données sur les résultats, même pour les enquêtes contrôlées.
      </p>
    </div>
  </div>
</section>
{% include 'application_pricing.html' %}
<section class="">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2>Ces Cori Sondage offre actuellement </h2>
        <p> <span class="font-bold"> - </span> Un nombre illimité d'enquêtes en même temps  
         
        </p>
        <p> <span class="font-bold"> - </span> Nombre illimité de questions dans une enquête (uniquement limité par votre base de données) 
          
        </p>
        <p> <span class="font-bold"> - </span> Nombre illimité de participants à une enquête  
          
        </p>
        <p> <span class="font-bold"> - </span> Enquêtes multilingues  
          
        </p>
        <p >
          <span class="font-bold"> - </span> Gestion des utilisateurs 
          
        </p>
        <p>
          <span class="font-bold"> - </span> 20 types de questions différents et d'autres à venir 
          
        </p>
        <p>
          <span class="font-bold"> - </span> Éditeur HTML WYSIWYG
        </p>
        <p>
          <span class="font-bold"> - </span> Gestion des quotas 
        </p>
        <p>
          <span class="font-bold"> - </span> Intégration d'images et de films dans une enquête 
        </p>
        <p>
          <span class="font-bold"> - </span> Création d'une version imprimable de l'enquête 
        </p>
        <p>
          <span class="font-bold"> - </span> Conditions pour les questions en fonction des réponses précédentes (Skip Logic / Branching) 
        </p>
        <p>
          <span class="font-bold"> - </span> Ensembles de réponses éditables et réutilisables 
        </p>
        <p>
          <span class="font-bold"> - </span> Questions prêtes à être importées 
        </p>
        <p>
          <span class="font-bold"> - </span> Enquêtes d'évaluation 
        </p>
        <p>
          <span class="font-bold"> - </span> Enquête anonyme et non anonyme 
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Enquêtes ouvertes et fermées à un groupe de participants
          
        </p>
        <p>
          <span class="font-bold"> - </span> Inscription publique facultative pour les enquêtes 
          
        </p>
        <p>
          <span class="font-bold"> - </span> Envoi d'invitations, de rappels et de jetons par courrier électronique 
        </p>
        <p>
          <span class="font-bold"> - </span> Possibilité pour les participants de mettre en mémoire leurs réponses afin de poursuivre l'enquête ultérieurement. 
        </p>
        <p>
          <span class="font-bold"> - </span> Enquêtes basées sur des cookies ou des sessions 
        </p>
        <p>
          <span class="font-bold"> - </span> Éditeur de modèles pour créer votre propre mise en page 
        </p>
        <p>
          <span class="font-bold"> - </span> Interface d'administration étendue et conviviale 
        </p>
        <p>
          <span class="font-bold"> - </span> Possibilité de saisie de données en back-office 
        </p>
        <p>
          <span class="font-bold"> - </span> Dates d'expiration de l'enquête pour l'automatisation 
        </p>
        <p>
          <span class="font-bold"> - </span> Fonctions améliorées d'importation et d'exportation au format texte, CSV, PDF, SPSS, R, queXML et MS Excel. 
        </p>
        <p>
          <span class="font-bold"> - </span> Analyse statistique et graphique de base avec possibilité d'exportation 
        </p>
        <p>
          <span class="font-bold"> - </span> Accessibilité aux lecteurs d'écran 
        </p>
        <p>
          <span class="font-bold"> - </span> Conformité W3C 
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-7">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/sondage2.png'); height: 400px;">
     </p>
      </div>
      <div class="col-md-5 drop-cap-text ">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/sondage.jpeg'); height: 400px;">
       </p>
      </div>
    </div>
  </div>
</section>
<!--
<section class="mb-4 ">
  <div class="container">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-gray-800 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              User
            </td>
            <td class="px-5 py-3">
              <a href="https://coridigital.fr/sondage/index.php/247511?newtest=Y&lang=fr" target="_blank">
                <span style="color: black;"> https://coridigital.fr/sondage/index.php/247511?newtest=Y&lang=fr </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->
