<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À Propos de Cori for Healthcare industries</h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-4 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-5">
            <img class="object-cover  mx-auto ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/Health_ERP.png" alt="">
           </div>
          <div class="col-md-7">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                L'application LibreHealth EHR est un système de dossiers médicaux électroniques (EHR) centré sur la clinique,
                conçu pour être à la fois facile à utiliser et personnalisable pour être utilisé dans une variété de contextes de
                soins de santé.
              </p>
              <p>
                Il s'appuie sur la force de la boîte à outils LibreHealth, et adapte un grand nombre d'expériences
                d'utilisateur éprouvées construites au fil des ans dans le système OpenEMR.
                Il est conçu pour être une expérience moderne et facile à utiliser pour les professionnels de la santé dans
                leur travail quotidien.
              </p>
              <p>
                LibreHealth EHR est publié sous la Mozilla Public License Version 2.
              </p>
             
          </div>
      </div>
  </div>
</section>



{% include 'application_pricing.html' %}
<section class="">
  <div class="container bg-white py-2 shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Ouverture : 
          LibreHealth est ouvert à tous les individus dans leurs capacités individuelles, et offre la même opportunité à
          tous. Tout le monde participe avec les mêmes règles.
        </p>
        <p> <span class="font-bold"> - </span> Orientation vers les résultats : 
          Pas de besoins imaginaires ! Nous nous concentrons sur la conception, le développement et le déploiement de
          technologies qui auront un impact mesurable sur la santé des personnes dans le monde entier.
        </p>
        <p> <span class="font-bold"> - </span> Transparence : 
          Toutes les discussions, procès-verbaux, plans de projet, conceptions, plans de nouvelles fonctionnalités et
          autres artefacts doivent être ouverts, publics, consultables et facilement accessibles à tous.
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Organisation parapluie :
          LibreHealth est une organisation parapluie où de multiples projets de technologie de l'information de santé
          collaborent.
        </p>
        <p>
          <span class="font-bold"> - </span> LibreHealth : 
          est motivé par les besoins réels des patients et des cliniciens du dernier kilomètre qui veulent améliorer la
          santé et la prestation des services de santé.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
    <div class="container bg-white shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/health_erp2.jpeg'); height: 400px;">
      </p>
      </div>
      <div class="col-md-5 drop-cap-text ">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/health_erp3.jpeg'); height: 400px;">
      </p>
      </div>
    </div>
  </div>
</section>

<!-- Tableau -->
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin </td>
            <td class="px-2 py-2"> cori_digital </td>
            <td class="px-5 py-3">
              <a href="http://coridigital.fr/heath_EHR/interface/login/login.php?site=default" target="_blank">
                <span style="color: black;"> http://coridigital.fr/heath_EHR/interface/login/login.php?site=default</span>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->
