<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À Propos de Cori invoice PME </h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-4 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-6 ">
            <img class="object-cover w-64 mx-auto ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/facturation.jpg" alt="">
           </div>
          <div class="col-md-6">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                Cori facture a été construit pour servir les freelances et les propriétaires d'entreprises avec une suite complète d'outils de facturation et de paiement pour faire progresser votre entreprise.
              </p>

              
          </div>
      </div>
  </div>
</section>




{% include 'application_pricing.html' %}
<section class="">
  <div class="container shadow py-2 rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Créez et envoyez des factures et des devis en temps réel : 
          regardez votre facture prendre vie en temps réel au fur et à mesure que vous ajoutez les détails du client et du projet.
        </p>
        <p> <span class="font-bold"> - </span> Utilisateurs supplémentaires et autorisations : 
          Ajoutez jusqu'à 20 utilisateurs et définissez des autorisations pour ce que chaque utilisateur peut modifier ou visualiser.
        </p>
        <p> <span class="font-bold"> - </span> Création de factures récurrentes et facturation automatique des clients : 
          Gagnez du temps en facturant automatiquement les clients à long terme avec des factures récurrentes.
        </p>
        <p>
          <span class="font-bold"> - </span> Joignez des fichiers tiers aux factures et dépenses : 
          Associez des fichiers importants à votre facture. Tout cela en un seul envoi par e-mail.
        </p>
        <p>
          <span class="font-bold"> - </span> Créer des tâches de projet et suivre le temps :
          Enregistrez chaque tâche. Enregistrez chaque seconde. 
          Il suffit ensuite de cliquer pour ajouter les données à votre facture.
        </p>
        <p>
          <span class="font-bold"> - </span> Tableaux Kanban pour gérer les projets : 
          Organisez et planifiez le travail de vos clients grâce à notre outil de gestion de projet visuel.
        </p>
        <p>
          <span class="font-bold"> - </span> Portail client et historique des factures : 
          Permettez à vos clients de voir toutes leurs transactions avec vous en un seul coup d'œil.
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Conception de facture entièrement personnalisable  : 
          Adaptez l'apparence de votre facture au design de votre marque.
        </p>
        <p>
          <span class="font-bold"> - </span> Emails de rappel automatique de paiement de facture : 
          Utilisez une séquence d'e-mails de rappel automatique pré-écrite pour rappeler aux clients que votre facture doit être payée.
        </p>
        <p>
          <span class="font-bold"> - </span> Alertes lorsque le client consulte et paie les factures  : 
          Recevez des notifications lorsqu'un client consulte et paie votre facture.
        </p>
        <p>
          <span class="font-bold"> - </span> Système de bibliothèque d'articles et de produits  : 
          Sélectionnez rapidement parmi des milliers de descriptions de services et de produits prédéfinis.
        </p>
        <p>
          <span class="font-bold"> - </span> Création de rapports, de comptes chronologiques et de relevés de compte client :
          Comprenez la situation financière dans son ensemble grâce à nos fonctions de rapport avancées.
        </p>
        <p>
          <span class="font-bold"> - </span> Prise en charge de plusieurs devises et langues : 
          Ajustez les paramètres de facturation pour mieux refléter votre emplacement et votre devise préférée.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-4">
  <div class="container shadow  rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7 py-2">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
          style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/freelance_pme2.png'); height: 400px;">
        </p>
      </div>
      <div class="col-md-5 drop-cap-text ">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
          style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/freelance_pme3.png'); height: 400px;">
        </p>
      </div>
    </div>
  </div>
</section>
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin@coridigital.fr </td>
            <td class="px-2 py-2"> cori_digital </td>
            <td class="px-5 py-3">
              <a href=" #" target="_blank">
                <span style="color: black;">  https://coridigital.fr/freelancers/public/index.php </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
-->

