<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À  Propos de Cori for Healthcare industries</h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-4 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-6 ">
            <img class="object-cover  mx-auto ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/analytics.png" alt="">
           </div>
          <div class="col-md-6">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                Cette application vous permet de savoir qui sont vos clients et d'où ils viennent.
                Elle est conforme au RGPD. Elle vous permet d'identifier le canal de marketing qui vous donne le meilleur ROI.
                Il vous aidera à déterminer où les visiteurs arrêtent leur visite et vous permettra de tester et d'apprendre continuellement les habitudes de vos clients. 
              </p>
              <p>
                Cori Analytics  se veut une alternative open source à Google Analytics.
                Cori Analytics est publié sous la licence GNU/GPL.
              </p>
              
          </div>
      </div>
  </div>
</section>

{% include 'application_pricing.html' %}
<section class="">
  <div class="container bg-white py-2 shadow rounded-xl">
    <div class="row mt-4">
      <div class="col-md-7">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> 1. </span> Une interface propre et conviviale : 
          pour présenter les données et aider à leur analyse.
        </p>
        <p> <span class="font-bold"> 2. </span> Des graphiques clairs et concis : 
          présentant des informations importantes dans un format facile à comprendre.
        </p>
        <p> <span class="font-bold"> 3. </span> Gratuit : 
          phpMyVisites est entièrement gratuit. Un logo peut être ajouté si vous le souhaitez.
        </p>
        <p>
          <span class="font-bold"> 4. </span> Sécurité : 
          Parce que la sécurité est un élément critique du logiciel, phpMyVisites a une protection maximale contre les intrusions et les attaques externes.
        </p>
        <p>
          <span class="font-bold"> 5. </span> Sites Web multiples : 
           Plusieurs sites web peuvent être ajoutés. Chaque site aura des statistiques précises et distinctes.
        </p>
        <p>
          <span class="font-bold"> 6. </span> Multi-utilisateurs : 
          Ajoutez un nombre infini d'utilisateurs et gérez les permissions pour chaque utilisateur (droits de visualisation et/ou d'administration pour certains sites).
        </p>
        <p>
          <span class="font-bold"> 7. </span> International : 
          phpMyVisites est disponible dans plus de 30 langues.
        </p>
        <p>
          <span class="font-bold"> 8. </span> Statistiques  : 
          précises des visiteurs sur une période de temps (jour/semaine/mois/année).
        </p>
        <p>
          <span class="font-bold"> 9. </span> Fréquence des visiteurs: 
          nouveaux visiteurs, visiteurs réguliers (connus) et fréquence de consultation du site web.
        </p>
        <p>
          <span class="font-bold"> 10. </span> Gestion des statistiques:  
          du site et de tous les types de fichiers (PDF, images, etc.).
        </p>
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> 11. </span> Classification des pages : 
          du site Web disponible (par groupes, par sous-groupes, etc.).
        </p>
        <p>
          <span class="font-bold"> 12. </span> Statistiques géographiques : 
          Classification par continent/pays (carte du monde interactive).
        </p>
        <p>
          <span class="font-bold"> 13. </span> Statistiques de configuration technique : 
          Navigateurs Web, résolution, plug-in géré, etc.
        </p>
        <p>
          <span class="font-bold"> 14. </span> Statistiques complètes et claires : 
          sur la découverte du site web : Comment les visiteurs arrivent-ils sur le site web ?
        </p>
        <p>
          <span class="font-bold"> 15. </span> Cinq outils de découverte : 
          de sites Web clairement définis : Moteurs de recherche, sites Web, sites partenaires, bulletins d'information et accès direct.
        </p>
        <p>
          <span class="font-bold"> 16. </span> Capable de détecter plus de 300 moteurs de recherche : 
          et associations de mots-clés utilisés dans le monde entier.
        </p>
        <p>
          <span class="font-bold"> 17. </span> Définir des sites Web  : 
          en tant que partenaires et ajouter un nombre illimité de bulletins d'information.
        </p>
        <p>
          <span class="font-bold"> 18. </span> Aperçu de plusieurs sites Web : 
          un résumé des statistiques importantes de tous les sites Web gérés.
        </p>
        <p>
          <span class="font-bold"> 19. </span> Recevez chaque jour des statistiques  : 
          sur les sites Web par e-mail, par flux RSS, etc.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pb-2 pt-4 mb-4">
  <div class="container bg-white py-2 shadow rounded-xl">

    <div class="row mt-4">
      <div class="col-md-7">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
           style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/analytique2.jpeg'); height: 400px;">
        </p>
      </div>
      <div class="col-md-5 drop-cap-text ">
        <p class="relative overflow-hidden bg-no-repeat bg-cover"
        style=" background-position: 50%; background-image: url('{{ STATIC_URL }}/media/images/analytique3.jpeg'); height: 400px;">
       </p>
      </div>
    </div>
  </div>
</section>
