<h1 class="text-center text-3xl font-semibold capitalize text-gray-800 pt-4 lg:text-3xl">À  Propos de Cori Booking </h1>
<section class="home-info-grey  p-4 ">
  <div class="container rounded-lg py-2 shadow-md bg-white">
      <div class="row mt-4">
          <div class="col-md-6 ">
            <img class="object-cover  h-60 w-full mx-auto ring-4 ring-gray-300" src="{{ STATIC_URL }}/media/images/booking.jpg" alt="">
           </div>
          <div class="col-md-6">
              <h4 class="text-xl font-bold text-blue-700 underline underline-offset-12">Description</h4>
              <p>
                est un système de commerce électronique pour les hôtels et les réservations sur Prestashop. 
                Cori Booking est un logiciel libre et gratuit. Avec l'aide de Cori Booking, vous pouvez lancer votre site de réservation
                d'hôtel sans aucun coût et prendre et gérer des réservations en ligne. Vous pouvez gérer vos réservations en ligne et sur place
                facilement avec Cori Booking.
              </p>
              <p>
                C'est une plateforme de commerce hôtelier véritablement opensource, sous licence Open Software License 3.0.
                Il est publié sous la licence GNU GENERAL PUBLIC LICENSE.
              </p>
          </div>
      </div>
  </div>
</section>


{% include 'application_pricing.html' %}
<section class="mb-4">
  <div class="container shadow rounded-xl rounded-xl ">
    <div class="row mt-4">
      <div class="col-md-7 py-2">
        <h2 class="text-primary font-semibold text-lg block">Ces Fonctionnalités</h2>
        <p> <span class="font-bold"> - </span> Réservation : 
           Lancement d'un site de réservation d'hôtel et d'un système de réservation très simple, exquis et convivial.
        </p>
        <p> <span class="font-bold"> - </span> Gestion des impôts : 
           Cori Booking dispose des fonctionnalités de gestion des taxes qui vous permettent de gérer toute la ville.
        </p>
        <p>
          <span class="font-bold"> - </span> Réservation par paiement partiel : 
          Avec l'aide du système de réservation d'hôtel de Cori Booking, les clients peuvent réserver des chambres
          d'hôtel.
        </p>
        <p> <span class="font-bold"> - </span> Passerelle de paiement intégrée : 
          Cori Booking prend en charge toutes les passerelles de paiement. Nous fournissons la passerelle de paiement Paypal intégrée par défaut.
        </p>
      
      </div>
      <div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
        <p style="margin-top: 35px; ">
          <span class="font-bold"> - </span> Langues et devises multiples : 
          Cori Booking prend en charge plusieurs langues et devises. Maintenant, vous pouvez attirer les clients de votre pays
        </p>
        <p>
          <span class="font-bold"> - </span> Notification instantanée par email : 
          Lorsque vous effectuez un paiement en ligne pour réserver des chambres, la chose la plus importante dont un client a besoin est d'être informé par e-mail.
        </p>
        <p>
          <span class="font-bold"> - </span> Gestion des réservations hors ligne : 
          Gérez les réservations hors ligne très efficacement avec l'aide de Cori Booking. Système de réservation
          en ligne Cori Booking
        </p>
        <p>
          <span class="font-bold"> - </span> Optimisation des moteurs de recherche : 
          L'optimisation des moteurs de recherche augmente la visibilité de votre site de réservation d'hôtel dans
          les moteurs de recherche.
        </p>
       
      </div>
    </div>
  </div>
</section>
<!--
<section class="mb-4 ">
  <div class="container shadow rounded-xl ">
    <div class="row mt-4">
      <table class="w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-blue-500 justify-center">
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50 md:font-bold uppercase">Mode</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Login</span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">Mot de passe </span>
            </th>
            <th class="px-3 py-2 text-center md:font-bold uppercase">
              <span class="text-indigo-50">URL</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-3 py-2">
              Administrateur
            </td>
            <td class="px-2 py-2"> admin@coridigital.fr </td>
            <td class="px-2 py-2">  cori_digital </td>
            <td class="px-5 py-3">
              <a href=" #" target="_blank">
                <span style="color: black;"> https://coridigital.fr/booking_hotel_restaurant/admin123 </span>
              </a>
            </td>
          </tr>
          
        </tbody>
      </table>


    </div>
  </div>
  </div>
</section>
-->
