
        <div class="py-4 bg-gray-100">
            <h2 class="font-bold text-center text-6ml text-slate-700 font-display py-2">
                Nos périmètres d’intervention
            </h2>
            <p class="text-center mt-4 font-medium text-slate-500">Nous intervenons à chaque étape de votre transformation : stratégie, cadrage, pilotage et implémentation.</p>
            <section class="py-4">
                <div class="mx-auto grid max-w-7xl  grid-cols-1 gap-6 p-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                    <div
                        class="bg-white w-full shadow rounded-lg overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer ">

                        <a href="http://coridigital.fr/heath_EHR/interface/login/login.php?site=default"
                            class="bg-white rounded-lg overflow-hidden mb-10">
                            <div class="flex justify-center items-center pt-12"> 
                                <figure class="wp-block-image size-full is-resized"><img decoding="async"
                                    src="{{ STATIC_URL }}/media/images/etude_conseil.png"  alt="" class="wp-image-2839"
                                    style="width:45px">
                            </figure>
                       </div> 
                            <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                                <h3>
                                    <a href="/page/page_erp_hearlth" 
                                    class="
                                    font-semibold
                                    text-dark text-xl
                                    sm:text-[22px]
                                    md:text-xl
                                    lg:text-[22px]
                                    xl:text-xl
                                    2xl:text-[22px]
                                    mb-4
                                    block
                                    hover:text-primary
                                    ">
                                    Etudes & Conseils
                                    </a>
                                </h3>
                                <p>
                                    Diagnostiquer et adapter votre stratégie d’entreprise.
                                </p>
                                <a href="/page/page_perimetre_intervention" class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
                                    Découvrir
                                </a>
                            </div>
                        </a>
                    </div>
                    <div
                        class="bg-white w-full shadow rounded-lg overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer ">

                        <a href="http://coridigital.fr/heath_EHR/interface/login/login.php?site=default"
                            class="bg-white rounded-lg overflow-hidden mb-10">

                            <div class="flex justify-center items-center pt-12"> 
                                <figure class="wp-block-image size-full is-resized"><img decoding="async"
                                    src="{{ STATIC_URL }}/media/images/pilotage.png" alt="" class="wp-image-2836"
                                    style="width:60px">
                            </figure>
                       </div> 
                            <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                                <h3>
                                    <a href="/page/page_perimetre_intervention" class="
                                    font-semibold
                                    text-dark text-xl
                                    sm:text-[22px]
                                    md:text-xl
                                    lg:text-[22px]
                                    xl:text-xl
                                    2xl:text-[22px]
                                    mb-4
                                    block
                                    hover:text-primary
                                    ">
                                    Pilotage
                                    </a>
                                </h3>
                                <p>
                                    Coordonner vos programmes et leurs parties prenantes.
                                </p>
                               
                                <a href="/page/page_perimetre_intervention" 
                                class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
                                    Découvrir
                                </a>
                            </div>
                        </a>
                    </div>
                    <div
                        class="bg-white w-full shadow rounded-lg overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer ">

                        <a href="http://coridigital.fr/heath_EHR/interface/login/login.php?site=default"
                            class="bg-white rounded-lg overflow-hidden mb-10">
                            <div class="flex justify-center items-center pt-12"> 
                                <figure class="wp-block-image size-full is-resized"><img decoding="async"
                                    src="{{ STATIC_URL }}/media/images/support_maintenance.png" alt="" class="wp-image-2838"
                                    style="width:60px">
                            </figure>
                       </div> 
                            <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                                <h3>
                                    <a href="/page/page_erp_hearlth" class="
                                    font-semibold
                                    text-dark text-xl
                                    sm:text-[22px]
                                    md:text-xl
                                    lg:text-[22px]
                                    xl:text-xl
                                    2xl:text-[22px]
                                    mb-4
                                    block
                                    hover:text-primary
                                    ">
                                    Support & Maintenance
                                    </a>
                                </h3>
                                <p>
                                    24H/24 et 7J/7.
                                </p>
                                <a href="/page/page_perimetre_intervention" class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
                                    Découvrir
                                </a>
                            </div>
                        </a>
                    </div>
                    <div
                        class="bg-white w-full shadow rounded-lg overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer ">
                        <a href="http://coridigital.fr/heath_EHR/interface/login/login.php?site=default"
                            class="bg-white rounded-lg overflow-hidden mb-10">
                            <div class="flex justify-center items-center pt-12"> 
                                <figure class="wp-block-image size-full is-resized"><img decoding="async"
                                    src="{{ STATIC_URL }}/media/images/formation.png" alt="" class="wp-image-2837"
                                    style="width:60px">
                            </figure>
                       </div> 
                              
                            <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                                <h3>
                                    <a href="/page/page_erp_hearlth" class="
                                    font-semibold
                                    text-dark text-xl
                                    sm:text-[22px]
                                    md:text-xl
                                    lg:text-[22px]
                                    xl:text-xl
                                    2xl:text-[22px]
                                    mb-4
                                    block
                                    hover:text-primary
                                    ">
                                    Formation
                                    </a>
                                </h3>
                                <p>
                                    Diagnostiquer et adapter votre stratégie d’entreprise.
                                </p>
                                <a href="/page/page_perimetre_intervention" class="inline-block bg-gradient-to-r from-white to-blue-200  w-full py-2 px-7 border border-[#E5E7EB] rounded-full text-base text-body-color font-medium hover:text-blue-800 hover:bg-blue-600 transition">
                                    Découvrir
                                </a>
                            </div>
                        </a>
                    </div>
                    
            </section>
        </div>
    