<div class=" py-2 wp-block-getwid-advanced-heading mb-3 has-custom-font-size fs-tablet-80 fs-mobile-80"
			style="font-size:45px">
			<h2 class="wp-block-getwid-advanced-heading__content has-text-color has-palette-color-6-color"
				style="text-align:center">Nos périmètres d’intervention</h2>
</div>

<section class="py-2">
	<div class="container bg-white py-2 shadow rounded-xl">
		<div class="row mt-4">
			<div class="col-md-7">
				<div>
					<figure class="wp-block-image size-full is-resized"><img decoding="async"
							src="{{ STATIC_URL }}/media/images/etude_conseil.png" alt="" alt="" class="wp-image-2839"
							style="width:60px">
					</figure>
				</div>
				<div>
					<h2 class="text-primary font-semibold text-lg block">Etudes & Conseils</h2>
					<ul class="text-justify px-3">
						<li><strong> Experts en transformation digitale</strong>,
							Cori digital offre des conseils stratégiques et des
							solutions innovantes pour propulser votre présence en
							ligne en Afrique.</li>

						<li>Avec une expertise locale et une vision globale,
							<strong>Cori digital est votre partenaire de
								confiance</strong> pour naviguer dans le paysage
							numérique africain."
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5" style="margin-top: 10px;">
				<figure class="wp-block-image aligncenter size-full is-resized"><img decoding="async"
						src="{{ STATIC_URL }}/media/images/etude_conseil_droite.png" alt="" alt="" class="wp-image-2893"
						style="width:450px">
				</figure>
			</div>
		</div>
	</div>
</section>



<section class="py-2">
	<div class="container bg-white py-2 shadow rounded-xl">
		<div class="row mt-4">
			<div class="col-md-7">
				<div>
					<figure class="wp-block-image size-full is-resized"><img decoding="async"
							src="{{ STATIC_URL }}/media/images/pilotage.png" alt="" class="wp-image-2836"
							style="width:60px">
					</figure>
				</div>
				<div>
					<h2 class="text-primary font-semibold text-lg block">Pilotage</h2>
					<ul class="text-justify px-3">
						<li><strong> Fort de deux décennies d'expertise </strong>
							dans le domaine et d'une experience solide acquise
							auprès de grands groupes européens et africains, Cori
							digital propose un service de pilotage de projets
							digitaux inégalé.
						</li>
						<li> <strong>Confiez-nous vos ambitions numériques en toute
								confiance,</strong> Cori digital garantit une
							réussite assurée.
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5" style="margin-top: 10px;">
				<figure class="wp-block-image aligncenter size-full is-resized"><img decoding="async"
						src="{{ STATIC_URL }}/media/images/pilotage_droite.png" alt="" class="wp-image-2890"
						style="width:500px"></figure>
			</div>
		</div>
	</div>
</section>



<section class="py-2">
	<div class="container bg-white py-2 shadow rounded-xl">
		<div class="row mt-4">
			<div class="col-md-7">
				<div>
					<figure class="wp-block-image size-full is-resized"><img decoding="async"
							src="{{ STATIC_URL }}/media/images/support_maintenance.png" alt="" class="wp-image-2838"
							style="width:60px">
					</figure>
				</div>
				<div>
					<h2 class="text-primary font-semibold text-lg block">Support & Maintenance</h2>
					<ul class="text-justify px-3">
						<li><strong> Grâce à nos processus automatisés,</strong>
							l'équipe de Cori digital assure un support et une
							maintenance 24/7 de vos applications et serveurs, ainsi
							<strong> une disponibilité continue </strong> de votre
							activité et une tranquillité d'esprit totale.
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5" style="margin-top: 10px;">
				<figure class="wp-block-image aligncenter size-full is-resized"><img decoding="async"
						src="{{ STATIC_URL }}/media/images/maintenace_droite.png" alt="" class="wp-image-2892"
						style="width:450px"></figure>
			</div>
		</div>
	</div>
</section>

<section class="py-2">
	<div class="container bg-white py-2 shadow rounded-xl">
		<div class="row mt-4">
			<div class="col-md-7">
				<div>
					<figure class="wp-block-image size-full is-resized"><img decoding="async"
							src="{{ STATIC_URL }}/media/images/formation.png" alt="" class="wp-image-2837"
							style="width:60px">
					</figure>
				</div>
				<div>
					<h2 class="text-primary font-semibold text-lg block">Formation</h2>
					<ul class="text-justify px-3">
						<li><strong>Découvrez l'offre de formation </strong> de Cori
							digital
							dans le domaine de <strong> la transformation digitale
								et du cloud</strong>.
						</li>
						<li>Notre objectif est de vous permettre <strong>de
								maîtriser le digital et de créer de la valeur
								ajoutée</strong> .</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5 drop-cap-text" style="margin-top: 10px;">
				<figure class="wp-block-image aligncenter size-full is-resized"><img decoding="async"
						src="{{ STATIC_URL }}/media/images/formation_droite.png" alt="" class="wp-image-2891"
						style="width:450px"></figure>
			</div>
		</div>
	</div>
</section>
