{% load static %}
<!--
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
-->
<!-- tw-elements pour la carousel des applications -->
<link rel="stylesheet" type="text/css" href="{% static 'tw-elements/dist/css/tw-elements.min.css' %}" />
<script type="text/javascript" src="{% static 'tw-elements/dist/js/tw-elements.umd.min.js' %}" defer></script>
<!-- BOOTSTRAP -->
<link  rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.0.2/css/bootstrap.min.css' %}" />
<script type="text/javascript" src="{% static 'bootstrap-5.0.2/js/bootstrap.bundle.min.js' %}" defer></script>
<!-- FLOWBITE -->
<script type="text/javascript" src="{% static 'js/flowbite-1.6.5.js' %}" defer></script>
<!-- HTMX -->
<script type="text/javascript" src="{% static 'js/htmx.min-1.9.2.js' %}" defer></script>
<!-- MATERIAL-SYMBOLS -->
<link rel="stylesheet" type="text/css" href="{% static 'material-symbols/index.css' %}" />
<!-- JQUERY -->
<!--<script src="{% static 'js/jquery-3.6.4.min.js' %}" defer></script>-->
<script type="text/javascript" src="{% static 'js/jquery.min-3.6.4.js' %}" defer></script>
<style type="text/css"> 
    a:link 
    { 
        text-decoration:none; 
    }
</style>