<form class="m-2" hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
    <div class="space-2">
        <div class"mb-2">
            <input type="text" name="subject" placeholder="object de votre reclamation" class="w-full font-serif  p-4 text-gray-600 bg-indigo-50 outline-none rounded-md" required/>
        </div>
        <div class"mt-2">
            <textarea id="content" name="body" rows="5" placeholder="écrivez votre reclamation ici..." class="w-full font-serif  p-4 text-gray-600 bg-indigo-50 outline-none rounded-md" required></textarea>
        </div>
        <button type="submit" class="my-2 flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in">Envoyer</button>
    </div>
</form>