{% autoescape off %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
</head>
<head>
    <title>Cori Digital</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
</head>
<body style="background-color: #ffffff; font-size: 16px;">
    <div>
        <div style="border-style: solid;">
            <p>Utilisateur :</p>
            <p style="margin-left: 20px;">identifiant : {{user_code}}</p>
            <p style="margin-left: 20px;">Prénom: {{user_first_name}}</p>
            <p style="margin-left: 20px;">Nom : {{user_last_name}}</p>
            <p style="margin-left: 20px;">Email : {{user_email}}</p>
            <p style="margin-left: 20px;">Téléphone : {{user_phone}}</p>
        </div>
        <div style="border-style: solid;margin-top: 10px;">
            {{message_content}}
        </div>
    </div>
</body>
</html>
{% endautoescape %}