<!-- Container -->
<form class="rounded" action="" method="POST">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Modification Utilisateur :</h5>
        <button  type="button" class="close rounded-md bg-red-700 py-1 px-2 font-bold" data-dismiss="modal" aria-label="Close" id="button_exit_modal">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container mx-auto font-mono modal-body">
        <div class="flex justify-center px-2">
            <div class="w-full flex justify-center">
                <div class="w-full bg-white rounded-lg lg:rounded-l-none">
                    {% if form.non_field_errors %}
                    <div class="mb-4 md:mr-2 md:mb-0 w-full justify-center">
                        <div class="flex text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 justify-center" role="alert">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill mt-3" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                          </svg>
                          <span class="font-bold mt-3">{{ form.non_field_errors }}</span>
                        </div>
                      </div>
                    {% endif %}
                    <div class="mb-4 md:flex md:justify-center">
                        <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper" >
                            <label class="block mb-2 text-md font-bold " for="{{ form.first_name.id_for_label }}">
                                Prénom
                            </label>
                            {{ form.first_name }}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
                            <label class="block mb-2 text-md font-bold " for="{{ form.last_name.id_for_label }}" >
                                Nom
                            </label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="mb-4 md:flex md:justify-between">
                        <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                            <label class="block mb-2 text-md font-bold "cfor="{{ form.phone.id_for_label }}">
                                Téléphone
                            </label>
                            {{ form.phone }}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2">
                            <label class="block mb-2 text-md font-bold " for="{{ form.email.id_for_label }}">
                                Email
                            </label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="mb-4 md:flex md:justify-between">
                        <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                            <label class="block mb-2 text-md font-bold " for="{{ form.country.id_for_label }}" >
                                Pays
                            </label>
                            {{ form.country }}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2">
                            <label class="block mb-2 text-md font-bold "for="{{ form.address.id_for_label }}">
                            Adresse
                            </label>
                            {{ form.address }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center modal-footer">
        <button
            class="px-2 py-2 bg-blue-500 hover:bg-blue-700  font-bold rounded"
            type="submit">
            Valider Modification
        </button>
        <button type="button" data-dismiss="modal" id="button_cancel_edit"
            class="py-2 px-2 bg-gray-300 text-black font-bold rounded border-1">
            Annuler Modification
        </button>
    </div>
</form>
<script type="text/javascript">
    $("#button_exit_modal").click(function () {
        $("#modal").modal("hide");
    });
    // 
    $("#button_cancel_edit").click(function () {
        $("#modal").modal("hide");
    });
</script>