{% load mathfilters %}
<div class="container px-2 py-2 mx-auto">
    <div class="grid gap-6 mt-4 md:-mx-6 sm:gap-8 sm:grid-cols-2 md:grid-cols-2 justify-center lg:grid-cols-3 xl:grid-cols-4">
        {% for forfait in forfaits  %}
        <div class="px-6 py-4 transition-colors hover:border hover:transform hover:scale-105 duration-300 border-2 border-blue-400 rounded-xl"> 
            <div class="flex items-center justify-between pb-6 mb-6 border-b">
                <div>
                    <p class="text-sm font-bold tracking-wider uppercase">
                    {{ forfait.durree }} Mois 
                    </p>
                    {% widthratio forfait.reduction 100 price as prix_reduction_un_mois %}
                    {% widthratio prix_reduction_un_mois 1 forfait.durree as prix_reduction_all_mois %}
                    {% widthratio price 1 forfait.durree as prix_sans_reduction_all_mois %}             
                    <p class="md:text-5xl sm:text-2xl font-extrabold">{{ prix_sans_reduction_all_mois|sub:prix_reduction_all_mois|floatformat }}<span class="text-base font-normal text-gray-600 text-gray-400">fcfa</span></p>
                </div>
                <div class="flex items-center justify-center w-24 h-24 rounded-full bg-gray-200">
                    <div class="">
                        <span class="text-sm  font-bold "> Remise </span><br>
                        <span class="text-md font-bold text-center text-red-600 p-2.5">{{ forfait.reduction }} %</span>
                    </div>
                </div>
            </div>
            <form method="POST" action="{% url 'ajouter_application_panier' application package %}">
                {% csrf_token %}
                <input id="prix_forfait_{{ forfait.id }}" checked type="radio" value="{{ forfait.id }}" name="forfait" hidden >
                <button   type="submit" class="w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
                    Ajouter au Panier
                </button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>