<!-- Container -->
<form class="rounded" action="" method="POST">
  {% csrf_token %}
  <div class="modal-header">
      <h5 class="modal-title"> Suppression Compte Admin :</h5>
      <button  type="button" class="close rounded-md bg-red-700 py-1 px-2 font-bold" data-dismiss="modal" aria-label="Close" id="button_exit_modal">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="container mx-auto font-mono modal-body">
      <div class="flex justify-center px-2">
        <div class="modal-body">
          <p class="delete-text"> Êtes-vous sûr de vouloir supprimer le compte ? </p>
        </div>
      </div>
  </div>
  <div class="text-center modal-footer">
      <button
          class="px-2 py-2 bg-blue-500 hover:bg-blue-700  font-bold rounded"
          type="submit">
          Supprimer
      </button>
      <button type="button" data-dismiss="modal" id="button_cancel_edit"
          class="py-2 px-2 bg-gray-300 text-black font-bold rounded border-1">
          Annuler
      </button>
  </div>
</form>
<script type="text/javascript">
  $("#button_exit_modal").click(function () {
      $("#modal").modal("hide");
  });
  // 
  $("#button_cancel_edit").click(function () {
      $("#modal").modal("hide");
  });
</script>