
<!-- component -->
{% load mathfilters %}
<div class="container px-2 py-4 mx-auto">
  <div class="grid gap-6 mt-16 md:-mx-6 sm:gap-8 sm:grid-cols-2 md:grid-cols-2 justify-center lg:grid-cols-3 xl:grid-cols-4">
    {% for forfait in forfaits  %}
    <div class="px-2 py-2 transition-colors hover:border hover:transform hover:scale-105 duration-300 border-2 border-blue-400 rounded-xl"> 
      <div class="items-center justify-between pb-6 mb-6 border-b">
        <div>
          <p class="text-sm font-bold tracking-wider uppercase">
            {{ forfait.durree }} Mois 
          </p>
            {% widthratio forfait.reduction 100 service.price as prix_reduction_un_mois %}
            {% widthratio prix_reduction_un_mois 1 forfait.durree as prix_reduction_all_mois %}
            {% widthratio service.price 1 forfait.durree as prix_sans_reduction_all_mois %}             
          <p class="md:text-5xl sm:text-2xl font-extrabold">{{ prix_sans_reduction_all_mois|sub:prix_reduction_all_mois|floatformat }}<span class="text-base font-normal text-gray-600 text-gray-400">{{ service.currency }}</span></p>
        </div>
        <div class="flex justify-center">
          <div class="flex items-center justify-center w-full h-16 rounded-md bg-gray-200">
              <div class="">
              <span class="text-sm  font-bold "> Remise </span><br>
              <span class="text-md font-bold text-center text-red-600 p-2.5">{{ forfait.reduction }} %</span>
              </div>
          </div>
        </div>
      </div>
      <p class="mb-2 font-bold tracking-wide">Informations par Defaut</p>
      {% for action in service.action.all%}
      <div class="mt-4 p-2 space-y-2 hover:bg-gray-200" >
          <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
              <span class="mx-4 text-gray-700">{{ action.name }}</span>
          </div>
      </div>
      {% endfor %}
      <form method="POST" action="add_panier/">
        {% csrf_token %}
        <input id="prix_forfait_{{ forfait.id }}" checked type="radio" value="{{ forfait.id }}" name="forfait" hidden >
        <button   type="submit" class="w-full px-4 py-2 mt-10 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
          Ajouter au Panier
        </button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>