{% extends 'index.html' %} 
{% block content %}
<div class="py-4 w-full">
  <div class="flex container w-full"> 
    {% if service and methode == "form" %}
      {% include 'form_content.html' %}
    {% else %}
    <div class="w-full">
      <div class="bg-gray-800 p-1 border-b-4  border-x-2 border-blue-500 shadow-lg rounded-md mb-4 text-center justify-center items-center text-white font-bold md:text-xl text-md content-center py-2">
        <span class="">{{ groupe_service }}<span>
      </div>
      <div class="grid gap-6 md:grid-cols-3 w-full px-2">
      {% for service_ in services %}
        {% include 'list_content.html' %}
      {% endfor %}
      <div>
    </div>
    {% endif %}
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    function resize() {
      var maxHeight_desc = Math.max.apply(null, $(".service-title").map(function ()
      {
          return $(this).height();
      }).get());

      $('.service-title').height(maxHeight_desc);
      
      var maxHeight_title = Math.max.apply(null, $(".service-action").map(function ()
      {
          return $(this).height();
      }).get());
      $('.service-action').height(maxHeight_title);
    }
    window.onload  = resize();
    function handleResize() {
      $('.service-title').height('auto');
      $('.service-action').height('auto');
      resize();
    }
    window.addEventListener('resize', handleResize)
  });
</script>
{% endblock %}

