{% extends 'index.html' %} {% block content %}
<div class="form-content my-3 justify-center items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card shadow-lg border-0 rounded-lg">
          <div class="card-header justify-content-center bg-blue-200">
            <h3 class="font-weight-light py-2 text-center"> Offre sur Mesure </h3>
          </div>
          <div class="card-body bg-gray-100">
            <form class="rounded p-2" action="{% url 'add_offre_sur_mesure' %}" method="POST">
              {% csrf_token %}
              {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %} 
                      <div class="alert alert-danger">
                          <strong>{{field.label_tag|escape}} {{ error|escape|lower }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% endif %}
              <div class="mb-4 md:flex md:justify-center">
                <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">

                  <label class="block mb-2 text-md font-bold" for="{{ form.type_demande.id_for_label }}">
                    Type de la demande 
                  </label>
                  {{ form.type_demande }}
                </div>
                <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
                  <label class="block mb-2 text-md font-bold" for="{{ form.critique_demande.id_for_label }}">
                    Critique de la demande
                  </label>
                  {{ form.critique_demande }}
                </div>
              </div>
              <div class="mb-4 md:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                  <label class="block mb-2 text-md font-bold" for="{{ form.date_livraison_souhaite.id_for_label }}">
                    Date de livraison souhaitée
                  </label>
                  {{ form.date_livraison_souhaite }}
                </div>
                <div class="md:ml-2 w-full md:w-1/2">
                  <label class="block mb-2 text-md font-bold"  for="{{ form.date_livraison_plus_tard.id_for_label }}">
                    Date de livraison plus tard
                  </label>
                  {{ form.date_livraison_plus_tard }}
                </div>
              </div>
              <div class="mb-4 md:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                  <label class="block mb-2 text-md font-bold" for="{{ form.message.id_for_label }}">
                    Description de la demande
                  </label>
                  {{ form.message }}
                </div>
                <div class="md:ml-2 w-full md:w-1/2">
                  <label class="block mb-2 text-md font-bold" for="{{ form.detail_demande.id_for_label }}">
                    Detail de la demande
                  </label>
                  {{ form.detail_demande }}
                </div>
              </div>
              <div class="md-2:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2 flex space-x-4 items-center">
                  {{ form.condition }}
                  <label class="block text-md font-bold" for="{{ form.condition.id_for_label }}">
                    J'accepte les conditions
                  </label>
                </div>
              </div>
              {% if not request.user.is_authenticated %}
              <div class="p-4 bg-green-100 rounded-lg dark:bg-green-200 text-center" role="alert">
                <div class="flex justify-center">
                  <svg class="mr-2 w-5 h-5 text-green-700 dark:text-green-800" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <h3 class="md:text-lg text-xs font-medium text-green-700 dark:text-green-800">
                    Info
                  </h3>
                </div>
                <div class="mt-2 mb-4 text-sm text-green-700 dark:text-green-800">
                  Vous devez vous connecter pour pouvoir soumettre votre demande
                </div>
              </div>
              {% else %}
              <div class="mb-6 text-center">
                <button
                class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in"
                  type="submit">
                  <span class="mr-2 uppercase">Enregistrer</span>
                  <span class="material-symbols-outlined">save</span>
                </button>
              </div>
              {% endif %}
              <hr class="mb-6 border-t" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 











