<div class="bg-white pt-4 rounded-xl  overflow-hidden  transition-all duration-500 transform hover:-translate-y-6 hover:scale-105 shadow-xl hover:shadow-2xl cursor-pointer">
  <div class="px-8 py-2 flex justify-between items-center">
    <h4 class="text-xl font-bold px-4 text-gray-800">{{ service_.name }}</h1>

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-fill h-5 w-5 text-gray-700 mx-4" viewBox="0 0 16 16">
      <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
    </svg>
    </div>
    <h1 class="text-4xl text-center font-bold">{{ service_.price|floatformat:0 }} </h1>
    <p class="px-4 text-center text-gray-600 pb-4 font-light text-sm">{{ service_.currency }} / mois</p>
    <ul class="p-2">
      {% for action in service_.action.all %}
      <li class="flex items-center space-x-2 ">
        <span class="bg-blue-500 rounded-full p-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-white" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
        </span>
        <span class="text-gray-600 capitalize">{{ action.name }}</span>
      </li>
      {% endfor %}
    </ul> 
    <div class="block w-full float-end text-center animate-bounce mx-auto ">
      <a href="/groupe_service/{{ groupe_service.name }}/{{ service_.name }}?methode=form"
        class="mt-4  inline-block py-2 px-7 border border-[#E5E7EB] rounded-lg w-full text-base text-body-color font-medium  text-white bg-blue-500">
        Commander
      </a>
    </div>
</div>