{% extends 'index.html' %} {% block content %}
{% load mathfilters %}
<div>
  <div class="pt-10 pb-10 lg:pb-20 bg-[#F3F4F6] w-full justify-center" >
    {% if request.session and request.session.panier and request.session.panier|length > 0 or request.session.panier_application and request.session.panier_application|length > 0 %}
    <div class="container w-full justify-center" >
      <div class="w-full p-2">
        {% if request.session and request.session.panier and request.session.panier|length > 0 %}
        <div class="overflow-x-scroll">
          <table class="w-full md:text-lg text-xs">
            <thead class="justify-between">
              <tr class="border-b-4 border-gray-200">
                <th class="">
                  <div class="text-gray-300 bg-gray-800 px-3 py-2" style="max-width:200px;">Serveur Métier</div>
                </th>
              </tr>
              <tr class="bg-gray-800">
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Nom:Package</span>
                </th>
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Prix Unitaire Mensuel</span>
                </th>
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Quantité</span>
                </th>
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Durée</span>
                </th>
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Réduction</span>
                </th>
                <!--
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center text-xs font-semibold uppercase tracking-wider">
                  <span class="text-gray-300">Prix Unitaire Mensuel avec Réduction</span>
                </th>
                -->
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Prix Total</span>
                </th>

                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Action</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-gray-200">
              {% for match_service in match_services %}
                {% for detail in match_service.details %}
                <tr class="bg-white border-4 border-gray-200">
                  <!--
                  <td class="px-3 py-2 flex flex-row items-center justify-center text-center hidden md:table-cell">
                    <img class="h-8 w-8 rounded-full object-cover " src="{{ match_service.service.image.url }}" alt="" />
                  </td>
                  -->
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.service.groupe_service.name }} : {{ match_service.service.name }}</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.service.price|floatformat:0 }} fcfa</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <div class="flex justify-center">
                    <span class="text-center items-center" >{{ detail.quantite }}</span>
                    {% if detail.quantite >= 2 %}
                    <a href=" {% url 'panier_services_remove_qtt' %}?service_to_add_qtt={{ match_service.service.id }}&reduction={{ detail.reduction }}" class="relative flex mt-1 ml-3">
                      <span class="text-blue-500 ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </span>
                    </a>
                    {% endif %}
                    {% if detail.quantite < 10 %}
                    <a href=" {% url 'panier_services_add_qtt' %}?service_to_add_qtt={{ match_service.service.id }}&reduction={{ detail.reduction }}" class="relative flex mt-1 ml-2">
                      <span class="text-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                        </svg>
                      
                      </span>
                    </a>
                    {% endif %}
                  </div>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ detail.durree }} Mois</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ detail.reduction }} %</span>
                  </td>
                  {% widthratio detail.reduction 100 match_service.service.price as prix_reduction_un_mois %}
                  {% widthratio prix_reduction_un_mois 1 detail.durree as prix_reduction_all_mois %}
                  {% widthratio match_service.service.price 1 detail.durree as prix_sans_reduction_all_mois %}
                  <!--
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center font-semibold">{{ match_service.service.price|sub:prix_reduction_un_mois|floatformat:1 }} {{ match_service.service.currency }}</span>
                  </td>
                  -->
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ prix_sans_reduction_all_mois|sub:prix_reduction_all_mois|mul:detail.quantite|floatformat }} fcfa</span>
                  </td>

                  <td class="items-center justify-center text-center px-3 py-2">
                    <a href="?service_to_delete={{ match_service.service.id }}&reduction={{ detail.reduction }}" class="relative flex">
                      <span class="text-red-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-trash3" viewBox="0 0 16 16">
                          <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                      </span>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
        {% if request.session and request.session.panier_application and request.session.panier_application|length > 0 %}
        <div class="overflow-x-scroll">
          <table class="w-full md:text-lg text-xs">
            <thead class="justify-between">
              <tr class="border-b-4 border-gray-200">
                <th class="">
                  <div class="text-gray-300 px-3 py-2 bg-gray-800" style="max-width:200px;">Application Métier</div>
                </th>
              </tr>
              <tr class="bg-gray-800">
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Nom:Package</span>
                </th>
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Prix Unitaire Mensuel</span>
                </th>
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Quantité</span>
                </th>
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Durée</span>
                </th>
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Réduction</span>
                </th>
                <!--
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center text-xs font-semibold uppercase tracking-wider">
                  <span class="text-gray-300">Prix Unitaire Mensuel avec Réduction</span>
                </th>
                -->
                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Prix Total</span>
                </th>

                <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                  <span class="text-gray-300">Action</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-gray-200">
              {% for match_app in match_apps %}
                {% for detail in match_app.details %}
                <tr class="bg-white border-4 border-gray-200">
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_app.app.name }} </span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_app.app.price|floatformat:0 }} fcfa</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <div class="flex justify-center">
                    <span class="text-center items-center" >{{ detail.quantite }}</span>
                    {% if detail.quantite >= 2 %}
                    <!--
                    <a href=" {% url 'panier_services_remove_qtt' %}?service_to_add_qtt={{ match_service.service.id }}&reduction={{ detail.reduction }}" class="relative flex mt-1 ml-3">
                      <span class="text-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        </svg>
                      </span>
                    </a>
                    -->
                    {% endif %}
                    {% if detail.quantite < 10 %}
                    <!--
                    {% comment %} <a href=" {% url 'panier_services_add_qtt' %}?service_to_add_qtt={{ match_service.service.id }}&reduction={{ detail.reduction }}" class="relative flex mt-1 ml-2">
                      <span class="text-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                        </svg>
                      
                      </span>
                    </a> {% endcomment %}
                    -->
                    {% endif %}
                  </div>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ detail.durree }} Mois</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ detail.reduction }} %</span>
                  </td>
                  {% widthratio detail.reduction 100 match_app.app.price as prix_reduction_app_un_mois %}
                  {% widthratio prix_reduction_app_un_mois 1 detail.durree as prix_reduction_app_all_mois %}
                  {% widthratio match_app.app.price 1 detail.durree as prix_sans_reduction_app_all_mois %}
                  <!--
                  {% comment %} <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center font-semibold">{{ match_service.service.price|sub:prix_reduction_un_mois|floatformat:1 }} {{ match_service.service.currency }}</span>
                  </td> {% endcomment %}
                  -->
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ prix_sans_reduction_app_all_mois|sub:prix_reduction_app_all_mois|mul:detail.quantite|floatformat }} fcfa</span>
                  </td>

                  <td class="items-center justify-center text-center px-3 py-2">
                    <a href="?app_to_delete={{ match_app.app.code }}&reduction={{ detail.reduction }}" class="relative flex">
                      <span class="text-red-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-trash3" viewBox="0 0 16 16">
                          <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                      </span>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
      <div class="flex justify-end p-2">
        <div class="md:w-1/2 w-full uppercase space-y-2 md:text-lg text-xs font-bold">
          <div class="flex justify-between justify-self-end border-b border-gray-500 px-4 py-1 text-end">
              <div class="text-center text-gray-800">
                Prix Total HT
              </div>
              <div class="text-center text-gray-900">
                {{ match_total|floatformat:0 }} fcfa
              </div>
          </div>
          <div class="flex justify-between justify-self-end border-b border-gray-500 px-4 py-1 text-end">
            <div class="text-center text-gray-800">
                TVA : ({{ tva }} %)
            </div>
            <div class="text-center text-gray-900">
              {{ taxes_tva|floatformat:0 }} fcfa
            </div>
          </div>
          <div class="flex justify-between justify-self-end border-b border-gray-500 px-4 py-1 text-end">
              <div class="text-center text-gray-800">
                Prix Total TTC
              </div>
              <div class="text-center text-gray-900">
                {{ match_total|add:taxes_tva|floatformat:0 }} fcfa
              </div>
          </div>
        </div>
      </div>
      <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between mx-2">
        <div class="inline-flex mt-2 mb-2 xs:mt-0">
          <a href="{% url 'acceuil' %}"
            class="px-2 text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 rounded-l">
            Ajouter Service
          </a>
          &nbsp; &nbsp;
          <a href="{% url 'valider_panier' %}"
            class="px-2 text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 rounded-r">
            Valider Panier
          </a>
        </div>
      </div>
      {% if not request.user.is_authenticated %}
      <div class="p-4 mb-4 bg-green-100 rounded-lg dark:bg-green-200 text-center mx-2" role="alert">
        <div class="flex justify-center">
          <svg class="mr-2 w-5 h-5 text-green-700 dark:text-green-800" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
              clip-rule="evenodd"></path>
          </svg>
          <h3 class="md:text-lg text-xs font-medium text-green-700 dark:text-green-800">
            Info
          </h3>
        </div>
        <div class="mt-2 mb-4 text-sm text-green-700 dark:text-green-800">
          Vous devez vous connecter pour valider votre panier
        </div>
      </div>
      {% endif %}
    </div>
    {% else %}
    <div class="p-4 mb-4 bg-green-100 rounded-lg dark:bg-green-200 text-center container justify-center" role="alert">
      <div class="flex justify-center">
        <svg class="mr-2 w-5 h-5 text-green-700 dark:text-green-800" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"></path>
        </svg>
        <h3 class="md:text-lg text-xs font-medium text-green-700 dark:text-green-800">
          Info
        </h3>
      </div>
      <div class="mt-2 mb-4 text-sm text-green-700 dark:text-green-800 font-bold">
        Votre panier est vide !!!
      </div>
      <div class="inline-flex mt-2 mb-2 xs:mt-0">
        <a href="{% url 'acceuil' %}"
          class="px-2 text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 rounded">
          Ajouter un Service au panier ici
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}