@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.bot-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3b82f6;

}

.clickable {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    padding-top: px;
    /* padding-bottom: 10px; */
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #3b82f6;
    align-self: start;
    text-align: center;
    line-height: 16px;
    padding: 15px;
    margin-top: 15px;
    /* margin-bottom: 12px; */

}

.clickable:hover {
    transition: 0.5s;
    background-color: #B7D2FE;
    color: #FFF;
}

.wrapper-bot {
    width: 360px;
    height: 600px;
    background: #EAEAEA;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    transform: translate(-180px, -50%);
    display: none;
}



#logo {
    width: 100px;
    height: 37.5px;
}

.entete {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    background: #EAEAEA;
}

#exit {
    position: absolute;
    top: 20px;
    left: 10px;
}

#paper {
    width: 30px;
    height: 30px;
}

.message {
    position: relative;
    margin-top: 10px;
    width: 374px;
    height: 68px;
    align-self: center;
}

#msg {
    width: 300px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 31px;
    border: none;
    resize: none;
    padding-left: 20px;
    padding-right: 70px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding-top: 10px;
    padding-left: 20px;
}

::placeholder {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}



#msg:focus {
    outline: none;
}

.paper-btn {
    z-index: 7;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: none;
    position: fixed;
    bottom: 105px;
    right: 120px;
}

.discussion {
    width: 345px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.discussion-bot {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    max-width: 80%;
}

.msg-content-bot {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 12px;
    color: #FFFFFF;
}

.discussion-client {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.msg-content-client {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000;
    align-self: flex-end;

}

.heure-bot {
    align-self: flex-end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
}

/* a {
    color: #FFF;
    font-weight: 700;
} */

.bot {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    background: #3b82f6;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    max-width: 290px;
}

.client {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    background: #FFF;
    border-radius: 10px;
    padding: 20px;
    max-width: 290px;
    align-self: flex-end;
}

.heure-client {
    align-self: flex-end;
    align-self: flex-end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 3px;
}

.msg_ {
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.floating-btn-image {
    width: 50px;
    height: 50px;
}

.floating-btn {
    z-index: 7;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 450px) {
    .floating-btn {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
    }

    .wrapper-bot {
        transform: translate(-130px, -50%);
        border-radius: 0px 0px 0px 0px;
    }

    .paper-btn {
        position: fixed;
        bottom: 53px;
        right: 20px;
    }

    .floating-btn-image {
        width: 30px;
        height: 30px;
    }
}