<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@5.1.0/css/xterm.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal@2.35.2/css/emoji.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal@2.35.2/css/jquery.terminal.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/jquery.terminal@2.35.2,npm/jquery@3.6.3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/attach/attach.js"></script>
    <style>
      .input-width {
          width: 20%;
          display: inline-block;
      }

      .hide {
          display: none;
      }
    </style>

    <script>
      function checkwindow() {
        event.returnValue=false;
      }
    </script>

  </head>
  <body>
    <div class="mx-2 row">
        <div class="col-md-4">
            <img src="{{ STATIC_URL }}/media/images/logo_cori_1.png" class="" style="width:120px;height:70px;"alt="logo" />
        </div>
        <div class="col-md-8 d-flex flex-row-reverse">
            {% if error %}
            <div>
                <span class="text-red">
                    {{ error }}
                </span>
            <div>
            {% endif %}
            <div class="">
                <span class="text-right">
                    {{ instance_id }}
                </span>
                <br>
                <span class="text-right">
                    {{ user.first_name }}
                </span>
                <span class="text-right">
                    {{ user.last_name }}
                </span>
            </div>
        </div>
    </div>
    <div class="alert alert-danger mx-2 hide" id="div_error">
        <div class="spinner-grow text-danger"></div>
        <strong>Non connecté !!!</strong><br>
        <span class="mx-2">Pour vous connectez à nouveau veillez actualiser la page ou réessayer plus tard si l'erreur persiste</span>
        <span>Si après plusieurs tantatives vous ne parvenez toujours pas à vous connecter, contactez l'équipe de cori digital</span>
    </div>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary mx-2 rounded-0" disabled id="button_connecting">
            <span class="spinner-border spinner-border-sm"></span>
            connexion en cours ...
        </button>
        <button class="btn btn-success mx-2 hide rounded-0" disabled id="button_connected">
            <span class="spinner-grow spinner-grow-sm"></span>
            connecté
        </button>
    </div>
    <div id="django-webssh-terminal" class="px-2">
        <div id="terminal" class="p-2" style="background-color:#202B33;"></div>
    </div>
  </body>
  <script>
    function get_connect_info() {
        var connect_info ="session_key={{ session_key }}&user_id={{ user_id }}&instance_id={{ instance_id }}"
        return connect_info
    }
    //
    function get_term_size() {
        var init_width = 12;
        var init_height = 21;
    
        var windows_width = $(window).width();
        var windows_height = $(window).height();
    
        return {
            cols: Math.floor(windows_width / init_width),
            rows: Math.floor(windows_height / init_height),
        }
    }
    //
    function websocket() {
        var cols = get_term_size().cols;
        var rows = get_term_size().rows;
        var connect_info = get_connect_info();
    
        var term = new Terminal(
            {
                cols: cols,
                rows: rows,
                useStyle: true,
                cursorBlink: true,
                theme: {
                    background: "#202B33",
                    foreground: "#F5F8FA"
                }
            }
            ),
            protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://',
            socketURL = protocol + location.hostname + ((location.port) ? (':' + location.port) : '') +
            '/webssh/?' + connect_info + '&width=' + cols + '&height=' + rows;
    
        var sock;
        sock = new WebSocket(socketURL);
    
        // Ouvrir une connexion websocket, ouvrir un terminal web
        sock.addEventListener('open', function () {
            $('#django-webssh-terminal').removeClass('hide');
            term.open(document.getElementById('terminal'));
        });
    
        // Lire les données envoyées par le serveur et les écrire dans le terminal web.
        sock.addEventListener('message', function (recv) {
            var data = JSON.parse(recv.data);
            var message = data.message;
            var status = data.status;
            if (status === 0) {
                term.write(message)
                $('#button_connected').removeClass('hide');
                $('#button_connecting').addClass('hide');
            } else {
                //window.location.reload()
                $('#div_error').removeClass('hide');
                $('#button_connected').addClass('hide');
                $('#button_connecting').addClass('hide');
            }
        });
    
        /*
        * Le statut est 0, passe l'entrée de l'utilisateur au backend via websocket, les données sont les données passées, ignorez les paramètres cols et rows.
        /* Si le statut est 1, redimensionner la taille du terminal pty ssh, cols est le nombre maximum de mots par ligne, rows est le nombre maximum de mots par colonne, ignorer le paramètre data.
        */
        var message = {'status': 0, 'data': null, 'cols': get_term_size().cols, 'rows': get_term_size().rows};
    
        // Envoi de données vers le serveur
        term.on('data', function (data) {
            message['status'] = 0;
            message['data'] = data;
            var send_data = JSON.stringify(message);
            sock.send(send_data)
        });
        
        // Écoute de la fenêtre du navigateur, modification de la taille du terminal en fonction de la taille de la fenêtre du navigateur.
        $(window).resize(function () {
            var cols = get_term_size().cols;
            var rows = get_term_size().rows;
            message['status'] = 1;
            message['cols'] = cols;
            message['rows'] = rows;
            var send_data = JSON.stringify(message);
            sock.send(send_data);
            term.resize(cols, rows)
        })
    }
    //
    websocket()
  </script>
</html>