<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js"></script>
    <style>
      .input-width {
          width: 20%;
          display: inline-block;
      }

      .hide {
          display: none;
      }
    </style>

    <script>
      function checkwindow() {
        event.returnValue=false;
      }
    </script>
    <script src="{% static '/js/webssh.js' %}" ></script>

  </head>
  <body>
    <div style="margin-top: 10px" id="form">
      <form class="form-horizontal">
          {% csrf_token %}
          <div class="form-group">
              <label class="col-sm-2 control-label">Adresse de l'hôte</label>
              <div class="col-sm-10">
                  <input type="text" class="input-width form-control" id="host" placeholder="host" value="192.168.223.111">
              </div>
          </div>
  
          <div class="form-group">
              <label class="col-sm-2 control-label">Port</label>
              <div class="col-sm-10">
                  <input type="text" class="input-width form-control" id="port" value="22">
              </div>
          </div>
  
          <div class="form-group">
              <label class="col-sm-2 control-label">Nom d'utilisateur</label>
              <div class="col-sm-10">
                  <input type="text" class="input-width form-control" id="user" placeholder="user" value="root">
              </div>
          </div>
  
          <div class="form-group">
              <label class="col-sm-2 control-label">type d'identification</label>
              <div class="col-sm-10">
                  <label class="radio-inline">
                      <input type="radio" name="auth" id="inlineRadio1" value="pwd" checked> Authentification par mot de passe
                  </label>
                  <label class="radio-inline">
                      <input type="radio" name="auth" id="inlineRadio2" value="key"> clé d'authentification
                  </label>
              </div>
          </div>
  
          <div class="form-group">
              <label class="col-sm-2 control-label">le mot de passe</label>
              <div class="col-sm-10">
                  <input type="password" class="input-width form-control" id="password" placeholder="password" value="123456">
              </div>
          </div>
  
          <div class="form-group">
              <label class="col-sm-2 control-label">fichier clé</label>
              <div class="col-sm-10">
                  <input type="file" id="pkey">
              </div>
          </div>
  
          <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                  <span id="helpBlock" class="help-block">
                    Remarquer:
                      <p style="color: red">1. Lorsque le type d'authentification est l'authentification par mot de passe, le contenu de la zone de saisie de la clé sera ignoré</p>
                      <p style="color: red">2. Lorsque le type d'authentification est l'authentification par clé secrète, si la zone de saisie du mot de passe n'est pas vide, le contenu de la zone de saisie du mot de passe sera utilisé comme mot de passe de déchiffrement de la clé secrète.</p>
                  </span>
              </div>
          </div>
  
  
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" class="btn btn-default" onclick="websocket()">Connexion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Connexion
                  </button>
              </div>
          </div>
      </form>
  </div>
  
  <div id="django-webssh-terminal" class="hide">
      <div id="terminal"></div>
  </div>
  </body>
  <script>
    function get_connect_info() {
        var host = $.trim($('#host').val());
        var port = $.trim($('#port').val());
        var user = $.trim($('#user').val());
        var auth = $("input[name='auth']:checked").val();
        var pwd = $.trim($('#password').val());
        var password = window.btoa(pwd);
        var ssh_key = null;
    
        if (auth === 'key') {
            var pkey = $('#pkey')[0].files[0];
            var csrf = $("[name='csrfmiddlewaretoken']").val();
            var formData = new FormData();
    
            formData.append('pkey', pkey);
            formData.append('csrfmiddlewaretoken', csrf);
    
            $.ajax({
                url: '/upload_ssh_key/',
                type: 'post',
                data: formData,
                async: false,
                processData: false,
                contentType: false,
                mimeType: 'multipart/form-data',
                success: function (data) {
                    ssh_key = data;
                }
            });
        }
        alert(ssh_key)
        var connect_info1 = 'host=' + host + '&port=' + port + '&user=' + user + '&auth=' + auth;
        var connect_info2 = '&password=' + password + '&ssh_key=' + ssh_key;
        var connect_info = connect_info1 + connect_info2;
        return connect_info
    }
    
    
    function get_term_size() {
        var init_width = 9;
        var init_height = 17;
    
        var windows_width = $(window).width();
        var windows_height = $(window).height();
    
        return {
            cols: Math.floor(windows_width / init_width),
            rows: Math.floor(windows_height / init_height),
        }
    }
    
    
    function websocket() {
        var cols = get_term_size().cols;
        var rows = get_term_size().rows;
        var connect_info = get_connect_info();
    
        var term = new Terminal(
            {
                cols: cols,
                rows: rows,
                useStyle: true,
                cursorBlink: true
            }
            ),
            protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://',
            socketURL = protocol + location.hostname + ((location.port) ? (':' + location.port) : '') +
            '/webssh/?' + connect_info + '&width=' + cols + '&height=' + rows;
    
        var sock;
        sock = new WebSocket(socketURL);
    
        // Ouvrir une connexion websocket, ouvrir un terminal web
        sock.addEventListener('open', function () {
            $('#form').addClass('hide');
            $('#django-webssh-terminal').removeClass('hide');
            term.open(document.getElementById('terminal'));
        });
    
        // Lire les données envoyées par le serveur et les écrire dans le terminal web.
        sock.addEventListener('message', function (recv) {
            var data = JSON.parse(recv.data);
            var message = data.message;
            var status = data.status;
            if (status === 0) {
                term.write(message)
            } else {
                window.location.reload()
            }
        });
    
        /*
        * Le statut est 0, passe l'entrée de l'utilisateur au backend via websocket, les données sont les données passées, ignorez les paramètres cols et rows.
        /* Si le statut est 1, redimensionner la taille du terminal pty ssh, cols est le nombre maximum de mots par ligne, rows est le nombre maximum de mots par colonne, ignorer le paramètre data.
        */
        var message = {'status': 0, 'data': null, 'cols': null, 'rows': null};
    
        // Envoi de données vers le serveur
        term.on('data', function (data) {
            message['status'] = 0;
            message['data'] = data;
            var send_data = JSON.stringify(message);
            sock.send(send_data)
        });
    
        // Écoute de la fenêtre du navigateur, modification de la taille du terminal en fonction de la taille de la fenêtre du navigateur.
        $(window).resize(function () {
            var cols = get_term_size().cols;
            var rows = get_term_size().rows;
            message['status'] = 1;
            message['cols'] = cols;
            message['rows'] = rows;
            var send_data = JSON.stringify(message);
            sock.send(send_data);
            term.resize(cols, rows)
        })
    }
  </script>
</html>