{% autoescape off %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
</head>
<head>
    <title>Cori Digital</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
</head>
<body style="background-color: #ffffff; font-size: 16px;">
    <center>
        <div class="justify-center items-center">
            <a href="https://coridigital.com" target="_blank">
                <img src="https://coridigital.com/media/images/logo_cori_1.png" style="height:200px; width:300px;" alt="Cori Digital" />
            </a>
        </div>
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding:30px">
                    <p style="text-align:left">Bonjour {{ user.first_name }} {{ user.last_name }},<br><br>
                        Nous avons reçu une demande de création de compte pour cette
                        adresse e-mail {{ user.email }}. Pour valider et finaliser la création votre compte,
                        cliquez sur le lien ci-dessous.
                    </p>
                    <p>
                        <a target="_blank"
                            style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;"
                            href="https://coridigital.com{% url 'activate' uidb64=uid token=token %}?next_page={{ next_page }}">
                            <strong>confirmez votre inscription</strong></a>
                    </p>
                    <p style="text-align:left">Ce lien ne peut être utilisé qu'une seule fois. Si vous avez besoin de
                        réinitialiser votre mot de passe, veuillez visiter <a
                            href="https://coridigital.com"> coridigital.com </a>et demander une 
                        réinitialisation de mot de passe.<br><br>Si vous n'avez pas fait cette demande, vous pouvez simplement ignorer
                        cet e-mail.</p>
                    <p style="text-align:left">
                        Cordialement,<br>L'équipe d'administration de Coridigital
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</body>
</html>
{% endautoescape %}