{% autoescape off %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Document</title>
</head>
<body style="background-color: #ffffff; font-size: 16px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="49%">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
                            Commande : {{commande_code}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif;  font-size:14px;">
                Nom et Prenom : {{ user_first_name }} {{ user_last_name }}
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
                Téléphone : {{user_phone}}
            </td>
        </tr>

        <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-size:14px;">
                Email : {{user_email}}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
                <tr>
                    <td align="center" bgcolor="#ffffff" style="padding:30px">
                        <p style="text-align:left">
                            Demande : {{message}}.
                        </p>
                        <p style="text-align:left">
                            Détail : {{detail_demande}}.
                        </p>
                    </td>
                </tr>
            </table>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr style="padding-top: 0.3em; background-color: #0080ff; color: white; ">
                        <td style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            width="14%" height="32" align="center">
                            Type de la demande
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="10%" align="center">
                            Critique
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="10%" align="center">
                            Date livraison souhaite
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;"
                            width="10%" align="center">
                            Date livraison plus tard
                        </td>
                    </tr>
                    <tr style="padding-top: 0.1em;">
                        <td style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            height="32" align="center">
                            {{type_demande}}
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            align="center">
                            {{critique_demande}}
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            align="center">
                            {{date_livraison_souhaite}}
                        </td>
                        <td style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;"
                            align="center">
                            {{date_livraison_plus_tard}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{% endautoescape %}