{% extends 'index.html' %} {% block content %}
<div class="form-content my-3 justify-center items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-lg border-0 rounded-lg">
          <div class="card-header justify-content-center bg-blue-200">
            <h3 class="font-weight-light py-2 text-center">Créer un compte</h3>
          </div>
          <div class="card-body bg-gray-100">
            <form class="rounded p-2" {% if next_page %}
              action="/user/register/?next_page={{ next_page }}" {% else %} action="/user/register/" {% endif %}
              method="POST">
              {% csrf_token %}
              {% if form.non_field_errors %}
              <div class="mb-4 md:mr-2 md:mb-0 w-full justify-center">
                <div
                  class="flex text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 justify-center"
                  role="alert">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-exclamation-triangle-fill mt-3" viewBox="0 0 16 16">
                    <path
                      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                  <span class="font-bold mt-3">{{ form.non_field_errors }}</span>
                </div>
              </div>
              {% endif %}
              <div class="mb-4 md:flex md:justify-center">
                <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">

                  <label class="block mb-2 text-md font-bold" for="{{ form.first_name.id_for_label }}">
                    Prénom
                  </label>
                  {{ form.first_name }}
                </div>
                <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
                  <label class="block mb-2 text-md font-bold" for="{{ form.last_name.id_for_label }}">
                    Nom
                  </label>
                  {{ form.last_name }}
                </div>
              </div>
              <div class="mb-4 md:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                  {% comment %} {{ form.phone.errors }} {% endcomment %}
                  <label class="block mb-2 text-md font-bold" for="{{ form.phone.id_for_label }}">
                    Téléphone
                  </label>
                  {{ form.phone }}
                </div>
                <div class="md:ml-2 w-full md:w-1/2">
                  {% comment %} {{ form.email.errors }} {% endcomment %}
                  <label class="block mb-2 text-md font-bold" for="{{ form.email.id_for_label }}">
                    Email
                  </label>
                  {{ form.email }}
                </div>
              </div>
              <div class="mb-4 md:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                  {% comment %} {{ form.country.errors }} {% endcomment %}
                  <label class="block mb-2 text-md font-bold" for="{{ form.country.id_for_label }}">
                    Pays
                  </label>
                  {{ form.country }}
                </div>
                <div class="md:ml-2 w-full md:w-1/2">
                  {% comment %} {{ form.address.errors }} {% endcomment %}
                  <label class="block mb-2 text-md font-bold" for="{{ form.address.id_for_label }}">
                    Adresse
                  </label>
                  {{ form.address }}
                </div>
              </div>
              <div class="mb-4 md:flex md:justify-between">
                <div class="mb-4 md:mr-2 md:mb-0 w-full md:w-1/2">
                  <label class="block mb-2 text-md font-bold" for="{{ form.password.id_for_label }}">
                    Mot de passe
                  </label>
                  {{ form.password }}
                </div>
                <div class="md:ml-2 w-full md:w-1/2">
                  {{ form.password_confirm.errors }}
                  <label class="block mb-2 text-md font-bold" for="{{ form.password_confirm.id_for_label }}">
                    Confirmer mot de passe
                  </label>
                  {{ form.password_confirm }}
                </div>
              </div>
              <div class="flex w-full mb-4">
                <button type="submit"
                  class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in">
                  <span class="mr-2 uppercase">Enregistrer</span>
                  <span class="material-symbols-outlined">save</span>
                </button>
              </div>
              <hr class="mb-6 border-t" />
              <div class="text-right">
                <a class="inline-block text-md text-black-500 align-baseline text-blue-600 hover:text-blue-800" href={% url 'login' %}>
                  J'ai déjà un compte
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}