<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script> 
{% load static %}
<!--
<script src="{% static 'js/get_analytics.js' %}" type="text/javascript"></script>
<script src="{% static 'js/get_analytics_for_graph.js' %}" type="text/javascript"></script>
-->

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <a href="{% url 'admin_user' %}">
          <div class="p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute text-blue-600">
              <i class="material-icons opacity-10">person</i>
            </div>
            <div class="text-end pt-1 text-black">
              <p class="text-sm mb-0 text-capitalize">Clients</p>
              <div class="grid grid-cols-2">
                <p class="mb-0 text-black text-left">Evolution : <span class="text-sm font-weight-bolder {% if client.create_user_pourcent > 0 %}text-success{% else %}text-danger{% endif %}">{% if client.create_user_pourcent %}{{ client.create_user_pourcent }} {% else %}0{% endif %} %</span></p>
                <h4 class="mb-0">{% if client.count %}{{ client.count }} {% else %}0{% endif %}</h4>
              </div>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3 ">
            <div class="grid grid-cols-2">
              <div>
                <p class="mb-0 text-black">Connections : <span class="text-primary text-sm font-weight-bolder">{% if client.login %}{{ client.login }} {% else %}0{% endif %}</span></p>
              </div>
              <div>
                <p class="mb-0 text-black">Déconnections : <span class="text-primary text-sm font-weight-bolder">{% if client.logout %}{{ client.logout }} {% else %}0{% endif %}</span></p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <a href="{% url 'admin_instance' %}">
          <div class="p-3 pt-2 text-black">
            <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute text-blue-600">
              <i class="material-icons opacity-10">computer</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Instances</p>
              <div class="grid grid-cols-2">
                <p class="mb-0 text-black text-left">Evolution : <span class="text-sm font-weight-bolder {% if instance.create_instance_pourcent > 0 %}text-success{% else %}text-danger{% endif %}">{% if instance.create_instance_pourcent %}{{ instance.create_instance_pourcent }} {% else %}0{% endif %} %</span></p>
                <h4 class="mb-0">{% if instance.count %}{{ instance.count }} {% else %}0{% endif %}</h4>
              </div>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <div class="grid grid-cols-2">
              <p class="mb-0 text-black">Aujourd'hui : <span class="text-primary text-sm font-weight-bolder">{% if instance.create_instance_event_today %}{{ instance.create_instance_event_today }} {% else %}0{% endif %}</span></p>
              <p class="mb-0 text-black">Hier : <span class="text-primary text-sm font-weight-bolder">{% if instance.create_instance_event_yesterday %}{{ instance.create_instance_event_yesterday }} {% else %}0{% endif %}</span></p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <a href="{% url 'admin_commande' %}">
          <div class="p-3 pt-2 text-black">
            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute text-blue-600">
              <i class="material-icons opacity-10">point_of_sale</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Commandes</p>
              <div class="grid grid-cols-2">
                <p class="mb-0 text-black text-left">Evolution : <span class="text-sm font-weight-bolder {% if commande.create_commande_pourcent > 0 %}text-success{% else %}text-danger{% endif %}">{% if commande.create_commande_pourcent %}{{ commande.create_commande_pourcent }} {% else %}0{% endif %} %</span></p>
                <h4 class="mb-0">{% if commande.count %}{{ commande.count }} {% else %}0{% endif %}</h4>
              </div>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <div class="grid grid-cols-2">
              <p class="mb-0 text-black">Aujourd'hui : <span class="text-primary text-sm font-weight-bolder">{% if commande.create_commande_event_today %}{{ commande.create_commande_event_today }} {% else %}0{% endif %}</span></p>
              <p class="mb-0 text-black">Hier : <span class="text-primary text-sm font-weight-bolder">{% if commande.create_commande_event_yesterday %}{{ commande.create_commande_event_yesterday }} {% else %}0{% endif %}</span></p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <a href="{% url 'admin_paiement' %}">
          <div class="p-3 pt-2 text-black">
            <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute text-blue-600">
              <i class="material-icons opacity-10">payments</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Paiements</p>
              <div class="grid grid-cols-2">
                <p class="mb-0 text-black text-left">Evolution : <span class="text-sm font-weight-bolder {% if paiement.create_paiement_pourcent > 0 %}text-success{% else %}text-danger{% endif %}">{% if paiement.create_paiement_pourcent %}{{ paiement.create_paiement_pourcent }} {% else %}0{% endif %} %</span></p>
                <h4 class="mb-0">{% if paiement.count %}{{ paiement.count }} {% else %}0{% endif %}</h4>
              </div>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
            <div class="grid grid-cols-2">
              <p class="mb-0 text-black">Aujourd'hui : <span class="text-primary text-sm font-weight-bolder">{% if paiement.create_paiement_event_today %}{{ paiement.create_paiement_event_today }} {% else %}0{% endif %}</span></p>
              <p class="mb-0 text-black">Hier : <span class="text-primary text-sm font-weight-bolder">{% if paiement.create_paiement_event_yesterday %}{{ paiement.create_paiement_event_yesterday }} {% else %}0{% endif %}</span></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- ********************** Graph pour les evenements ********************** -->
  <!--*************-->
  <div class="w-full">
    <form id='form_analytics_for_drawchart' class="flex space-x-4 justify-end">
      <div class="divide-y divide-blue-500">
        <div class='text-center'>
          Groupé par 
        </div>
        <div class="md:flex md:space-x-4 justify-end pt-2">
          <div class="flex items-center p-2 rounded border border-gray-200 dark:border-gray-700">
              <input  id="group_by_day" type="radio" value="day" name="group_by" class="form_analytics_input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="group_by_day" class="ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Jour</label>
          </div>
          <div class="flex items-center p-2 rounded border border-gray-200 dark:border-gray-700">
              <input id="group_by_week" type="radio" value="week" name="group_by" class="form_analytics_input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="group_by_week" class="ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Semaine</label>
          </div>
          <div class="flex items-center p-2 rounded border border-gray-200 dark:border-gray-700">
            <input  id="group_by_month" type="radio" value="month" name="group_by" class="form_analytics_input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="group_by_month" class="ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Mois</label>
          </div>
          <div class="flex items-center p-2 rounded border border-gray-200 dark:border-gray-700">
            <input  id="group_by_year" type="radio" value="year" name="group_by" class="form_analytics_input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="group_by_year" class="ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Année</label>
          </div>
        </div>
      </div>
      <div class="divide-y divide-blue-500">
        <div class='text-center'>
          Période 
        </div>
        <div class="md:flex md:space-x-4 justify-end pt-2">
          <div>
            <label for="date_start">Date début :</label>
            <input type="date" id="date_start" name="date_start" value="{{ data.thirty_days_ago|date:'Y-m-d' }}" min="2018-01-01" max="{{ data.today|date:'Y-m-d' }}" class="form_analytics_input h-10 rounded border border-gray-200 dark:border-gray-700">
          </div>
          <div>
            <label for="date_end">Date fin :</label>
            <input type="date" id="date_end" name="date_end" value="{{ data.today|date:'Y-m-d' }}" max="{{ data.today|date:'Y-m-d' }}" class="form_analytics_input h-10 rounded border border-gray-200 dark:border-gray-700">
          </div>
        </div>
      </div>
      <!--
      <div class="flex space-x-2 justify-center items-end">
        <button type="button" class="button-analytics inline-block px-2 py-1 h-8 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
          Appliquer
        </button>
      </div>
      -->
    </form>
  </div>
  <!--*************-->
  <div class='flex flex-wrap w-full justify-center'>
    <div id="paiement_piechart_3d" class='border-2 md:w-1/3'></div> 
    <div id="commande_piechart_3d" class='border-2 md:w-1/3'></div>
    <div id="instance_piechart_3d" class='border-2 md:w-1/3'></div>
  </div>
  <!--#####-->
  <div class='flex flex-wrap w-full justify-centers'>
    <div id="barchart_div_paiement" class="border-2 md:w-1/3"></div>
    <div id="barchart_div_commande" class="border-2 md:w-1/3"></div>
    <div id="barchart_div_instance" class="border-2 md:w-1/3"></div>
  </div>
  <!--#####-->
  <!--*************-->
    <div class='m-4'>
      <form id='form_analytics_activities_on_app' class="flex space-x-4 justify-end">
        <div class="divide-y divide-blue-500">
          <div class='text-center'>
            Groupé par 
          </div>
          <div class="md:flex md:space-x-4 justify-end pt-2">
            <div class="flex items-center p-2 rounded border border-gray-200 dark:border-gray-700">
              <input  id="analytics_activities_group_by_day" type="radio" value="day" name="analytics_activities_group_by" class="form_analytics_activities_input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="analytics_activities_group_by_day" class="ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Jour</label>
            </div>
            <div class="flex items-center p-2 rounded border border-gray-200 dark:border-gray-700">
              <input id="analytics_activities_group_by_week" type="radio" value="week" name="analytics_activities_group_by" class="form_analytics_activities_input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="analytics_activities_group_by_week" class="ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Semaine</label>
            </div>
            <div class="flex items-center p-2 rounded border border-gray-200 dark:border-gray-700">
              <input  id="analytics_activities_group_by_month" type="radio" value="month" name="analytics_activities_group_by" class="form_analytics_activities_input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="analytics_activities_group_by_month" class="ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Mois</label>
            </div>
            <div class="flex items-center p-2 rounded border border-gray-200 dark:border-gray-700">
              <input  id="analytics_activities_group_by_year" type="radio" value="year" name="analytics_activities_group_by" class="form_analytics_activities_input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="analytics_activities_group_by_year" class="ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">Année</label>
            </div>
          </div>
        </div>
        <div class="divide-y divide-blue-500">
          <div class='text-center'>
            Période 
          </div>
          <div class="md:flex md:space-x-4 justify-end pt-2">
            <div>
              <label for="analytics_activities_date_start">Date début :</label>
              <input type="date" id="analytics_activities_date_start" name="analytics_activities_date_start" value="{{ data.thirty_days_ago|date:'Y-m-d' }}" min="2018-01-01" max="{{ data.today|date:'Y-m-d' }}" class="form_analytics_activities_input h-10 rounded border border-gray-200 dark:border-gray-700">
            </div>
            <div>
              <label for="analytics_activities_date_end">Date fin :</label>
              <input type="date" id="analytics_activities_date_end" name="analytics_activities_date_end" value="{{ data.today|date:'Y-m-d' }}" max="{{ data.today|date:'Y-m-d' }}" class="form_analytics_activities_input h-10 rounded border border-gray-200 dark:border-gray-700">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class='w-full' id="container_test"></div>
    <div class='w-full' id="container_graph"></div>
    
  </div>
</div>
<script>
  $(function() {
    $('#form_analytics_activities_on_app').find('input[name="analytics_activities_group_by"]')[0].checked = true;
    $('#form_analytics_activities_on_app').find('input[name="analytics_activities_date_start"]').val("{{ data.thirty_days_ago|date:'Y-m-d' }}");
    $('#form_analytics_activities_on_app').find('input[name="analytics_activities_date_end"]').val("{{ data.today|date:'Y-m-d' }}");
    //
    group_by = $('#form_analytics_activities_on_app').find('input[name="analytics_activities_group_by"]:checked').val();
    date_start = $('#form_analytics_activities_on_app').find('input[name="analytics_activities_date_start"]').val();
    date_end = $('#form_analytics_activities_on_app').find('input[name="analytics_activities_date_end"]').val();
    csrfmiddlewaretoken = '{{ csrf_token }}';
    dataType = "json";
    do_analytics_activities_on_app_form(group_by,date_start,date_end,csrfmiddlewaretoken,dataType)
  })
//
  function do_analytics_activities_on_app_form(group_by,date_start,date_end,csrfmiddlewaretoken,dataType){
    do_analytics_activities_on_app_form_promise(group_by,date_start,date_end,csrfmiddlewaretoken,dataType)
      .then((data) => {
          Highcharts.chart('container_graph', {
          title: {
              text: 'Historique des evenements sur la plateforme'
          },
          xAxis: {
              categories: data.categories
          },
      
          plotOptions: {
              series: {
                  stacking: 'normal'
              }
          },
      
          series: data.series
      
          });
      })
      .catch((error) => {})
  }
//   
  function do_analytics_activities_on_app_form_promise(group_by,date_start,date_end,csrfmiddlewaretoken,dataType) {
    return new Promise((resolve, reject) => {
        $.ajax({
            url: "/adm/account/analytics/slice/group/",
            type: "POST",
            data: {
                group_by : group_by,
                date_start : date_start,
                date_end : date_end,
                csrfmiddlewaretoken : csrfmiddlewaretoken,
                dataType : dataType
            },
            success: function (data) {
                resolve(data)
            },
            error: function (error) {
                reject(error)
            },
        })
    })
  }
    //
  $(".form_analytics_activities_input").change(function(){
      var group_by,date_start,date_end
      group_by = $('#form_analytics_activities_on_app').find('input[name="analytics_activities_group_by"]:checked').val();
      date_start = $('#form_analytics_activities_on_app').find('input[name="analytics_activities_date_start"]').val();
      date_end = $('#form_analytics_activities_on_app').find('input[name="analytics_activities_date_end"]').val();
      //
      if( !date_start ) {
        $('#form_analytics_for_drawchart').find('input[name="date_start"]').val("{{ data.thirty_days_ago|date:'Y-m-d' }}");
      }
      //
      if( !date_end ) {
        $('#form_analytics_for_drawchart').find('input[name="date_end"]').val("{{ data.today|date:'Y-m-d' }}");
      }
      //
      if( !group_by ) {
        $('#form_analytics_for_drawchart').find('input[name="group_by"]')[0].checked = true;
      }
      //
      csrfmiddlewaretoken = '{{ csrf_token }}',
      dataType = "json",
      //
      do_analytics_activities_on_app_form(group_by,date_start,date_end,csrfmiddlewaretoken,dataType)
  })
//
  $(function() {
    $('#form_analytics_for_drawchart').find('input[name="group_by"]')[0].checked = true;
    $('#form_analytics_for_drawchart').find('input[name="date_start"]').val("{{ data.thirty_days_ago|date:'Y-m-d' }}");
    $('#form_analytics_for_drawchart').find('input[name="date_end"]').val("{{ data.today|date:'Y-m-d' }}");
    //
    group_by = $('#form_analytics_for_drawchart').find('input[name="group_by"]:checked').val();
    date_start = $('#form_analytics_for_drawchart').find('input[name="date_start"]').val();
    date_end = $('#form_analytics_for_drawchart').find('input[name="date_end"]').val();
    csrfmiddlewaretoken = '{{ csrf_token }}';
    dataType = "json";
    //
    do_analytics_for_drawchart_form(group_by,date_start,date_end,csrfmiddlewaretoken,dataType)
  });
  //
  var group_by,date_start,date_end
  $(".form_analytics_input").change(function(){
    group_by = $('#form_analytics_for_drawchart').find('input[name="group_by"]:checked').val();
    date_start = $('#form_analytics_for_drawchart').find('input[name="date_start"]').val();
    date_end = $('#form_analytics_for_drawchart').find('input[name="date_end"]').val();
    //
    if( !date_start ) {
      $('#form_analytics_for_drawchart').find('input[name="date_start"]').val("{{ data.thirty_days_ago|date:'Y-m-d' }}");
    }
    //
    if( !date_end ) {
      $('#form_analytics_for_drawchart').find('input[name="date_end"]').val("{{ data.today|date:'Y-m-d' }}");
    }
    //
    if( !group_by ) {
      $('#form_analytics_for_drawchart').find('input[name="group_by"]')[0].checked = true;
    }
    //
    csrfmiddlewaretoken = '{{ csrf_token }}',
    dataType = "json",
    //
    do_analytics_for_drawchart_form(group_by,date_start,date_end,csrfmiddlewaretoken,dataType)
  });

  function do_analytics_for_drawchart_form_promise(group_by,date_start,date_end,csrfmiddlewaretoken,dataType) {
    return new Promise((resolve, reject) => {
        $.ajax({
            url: "/adm/account/analytics/drawchart",
            type: "POST",
            data: {
                group_by : group_by,
                date_start : date_start,
                date_end : date_end,
                csrfmiddlewaretoken : csrfmiddlewaretoken,
                dataType : dataType
            },
            success: function (data) {
                resolve(data)
            },
            error: function (error) {
                reject(error)
            },
        })
    })
  }
//
  function do_analytics_for_drawchart_form(group_by,date_start,date_end,csrfmiddlewaretoken,dataType){
    do_analytics_for_drawchart_form_promise(group_by,date_start,date_end,csrfmiddlewaretoken,dataType)
      .then((data) => {
          //******************************
        Highcharts.chart('paiement_piechart_3d', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Paiements'
          },
          subtitle: {
            text: 'Composition'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          accessibility: {
              point: {
                  valueSuffix: '%'
              }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                      distance: -50,
                      filter: {
                          property: 'percentage',
                          operator: '>',
                          value: 5
                      }
                  },
                  showInLegend: true
              }
            },
          series: data.data_analytic__for_piechart_3d.analytic_paiement,
        
        });
          //
        Highcharts.chart('commande_piechart_3d', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Commandes'
          },
          subtitle: {
            text: 'Composition'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          accessibility: {
              point: {
                  valueSuffix: '%'
              }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                      distance: -50,
                      filter: {
                          property: 'percentage',
                          operator: '>',
                          value: 5
                      }
                  },
                  showInLegend: true
              }
          },
          series: data.data_analytic__for_piechart_3d.analytic_commande,
        
        });
        //
        Highcharts.chart('instance_piechart_3d', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Instances'
          },
          subtitle: {
            text: 'Composition'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          accessibility: {
              point: {
                  valueSuffix: '%'
              }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                      distance: -50,
                      filter: {
                          property: 'percentage',
                          operator: '>',
                          value: 5
                      }
                  },
                  showInLegend: true
              }
          },
        series: data.data_analytic__for_piechart_3d.analytic_instance,
      
      });
      //******************************
      Highcharts.chart('barchart_div_paiement', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Historique des Paiements'
        },
        subtitle: {
            text: '<a ' +
                'href={% url "admin_paiement" %}' +
                '>Liste des paiements</a>'
        },
        xAxis: {
            categories: data.data_analytic__barchart.analytic_paiement.categories,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Motant(FCFA)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' FCFA'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
          enabled: false
        },
        credits: {
            enabled: false
        },
        series: [data.data_analytic__barchart.analytic_paiement.series]
      });
      /////
      Highcharts.chart('barchart_div_commande', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Historique des Commandes'
        },
        subtitle: {
            text: '<a ' +
                'href={% url "admin_commande" %}' +
                '>Liste des commandes</a>'
        },
        xAxis: {
            categories: data.data_analytic__barchart.analytic_commande.categories,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Nombre',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' commande(s)'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
          enabled: false
        },
        credits: {
            enabled: false
        },
        series: [data.data_analytic__barchart.analytic_commande.series]
      });
      /////
      Highcharts.chart('barchart_div_instance', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Historique des Instances'
        },
        subtitle: {
            text: '<a ' +
                'href={% url "admin_instance" %}' +
                '>Liste des instances</a>'
        },
        xAxis: {
            categories: data.data_analytic__barchart.analytic_instance.categories,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Nombre',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' instance(s)'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
          enabled: false
        },
        credits: {
            enabled: false
        },
        series: [data.data_analytic__barchart.analytic_instance.series]
      });
      //******************************
    })
    //
      .catch((error) => {})
  }
</script>
