<div class="w-full">
  {% extends 'admin_index.html' %}
  {% block content %}
  <div class="w-full md:flex overflow-y-auto">
    <div class="w-full md:w-64 border border-sky-500">{% include 'admin_menu.html' %}</div>
    <div class="w-full flex justify-center overflow-y-auto">
      {% if object == 'service' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_service.html'%}
      </div>
      {% elif object == 'groupe_service' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_grp_service.html' %}
      </div>
      {% elif object == 'action' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {%include 'admin_action.html' %}
      </div>
      {% elif  object == 'instance' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_instance.html'%}
      </div>
      {% elif object == 'commande' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_commande.html'%}
      </div>
      {% elif object == 'paiement' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_paiement.html'%}
      </div>
      {% elif object == 'user' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_user.html'%}
      </div>
      {% elif object == 'Offresurmesure' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_offresurmesure.html'%}
      </div>
      {% elif object == 'Offresurmesuredetail' %}
      <div>
        {% include 'admin_detail_offresurmesure.html'%}
      </div>
      {% elif object == 'forfait' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_forfait.html'%}
      </div>
      {% elif object == 'admin' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_add_admin.html'%}
      </div>
      {% elif object == 'setting' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_setting.html'%}
      </div>
      {% elif  object == 'application' %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin/admin_application.html'%}
      </div>
      {% else %}
      <div class="w-full flex justify-center overflow-y-auto">
        {% include 'admin_content.html' %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>