
<div class="flex flex-wrap w-full">
    <div class="mb-4 border-b border-gray-400 dark:border-gray-700 w-full">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 uppercase" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true" onclick="changeAtiveTab(event,'tab-profile')">Profile</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 uppercase" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false" onclick="changeAtiveTab(event,'tab-dashboard')">Dashboard</button>
            </li>
            <li class="mr-2" role="presentation">
                <button class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 uppercase" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false" onclick="changeAtiveTab(event,'tab-settings')">Settings</button>
            </li>
            <li role="presentation">
                <button class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 uppercase" id="admins-tab" data-tabs-target="#admins" type="button" role="tab" aria-controls="admins" aria-selected="false" onclick="changeAtiveTab(event,'tab-admins')">admins</button>
            </li>
            <li role="presentation">
                <button class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 uppercase" id="paiement-tab" data-tabs-target="#paiement" type="button" role="tab" aria-controls="paiement" aria-selected="false" onclick="changeAtiveTab(event,'tab-paiement')">Paiement</button>
            </li>
            <li role="presentation">
                <button class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 uppercase" id="scheduler-tab" data-tabs-target="#scheduler" type="button" role="tab" aria-controls="scheduler" aria-selected="false" onclick="changeAtiveTab(event,'tab-scheduler')">Action Automique / Action planifie</button>
            </li>
        </ul>
    </div>
    <div id="myTabContent" class="w-full">
        <div class="p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% include 'admin_profile.html' %}
        </div>
        <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
        <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
           {% include 'admin_config.html' %}
        </div>
        <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="admins" role="tabpanel" aria-labelledby="admins-tab">
            {% include 'admin_admins.html' %}
        </div>
        <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="paiement" role="tabpanel" aria-labelledby="paiement-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">paiement tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
        </div>
        <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="scheduler" role="tabpanel" aria-labelledby="scheduler-tab">
            {% include 'admin_scheduler.html' %}
        </div>
    </div>
</div>
<script src="https://unpkg.com/flowbite@latest/dist/flowbite.js"></script>
<script>
    const tabElements = [
        {
            id: 'tab-profile',
            triggerEl: document.querySelector('#profile-tab'),
            targetEl: document.querySelector('#profile')
        },
        {
            id: 'tab-dashboard',
            triggerEl: document.querySelector('#dashboard-tab'),
            targetEl: document.querySelector('#dashboard')
        },
        {
            id: 'tab-settings',
            triggerEl: document.querySelector('#settings-tab'),
            targetEl: document.querySelector('#settings')
        },
        {
            id: 'tab-admins',
            triggerEl: document.querySelector('#admins-tab'),
            targetEl: document.querySelector('#admins')
        },
        {
            id: 'tab-paiement',
            triggerEl: document.querySelector('#paiement-tab'),
            targetEl: document.querySelector('#paiement')
        },
        {
            id: 'tab-scheduler',
            triggerEl: document.querySelector('#scheduler-tab'),
            targetEl: document.querySelector('#scheduler')
        }
        
    ];
    //
    const options = {
        defaultTabId: 'tab-profile',
        activeClasses: 'border-b-2 text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-400 border-blue-600 dark:border-blue-500',
        inactiveClasses: 'text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300',
        onShow: () => {
        }
    };
    // inactiveClasses
    const tabs = new Tabs(tabElements, options);
    tabs.show("tab-profile");
    // onClick Button
    function changeAtiveTab(event,tabID){

        const tabs = new Tabs(tabElements, options);
        tabs.show(tabID);
        if (tabID=='tab-settings') {
            getParameters();
          } 
    }
</script>
