<div class="modal fade w-full" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content w-full"></div>
    </div>
</div>
<div class="w-full md:text-lg text-xs">
    <div class="justify-between">
        <div class="flex w-full justify-end my-2 p-2 space-x-1">
          <form class="" action="{% url 'action_user' %}" method="post">
            {% csrf_token %}
            <input class="hidden" type="checkbox" checked value="{{ user_detail.id }}" id="{{ user_detail.id }}" name = "select_items"/>
            {% if user_detail.enabled %}
            <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='deactiver'>
              Déactiver
            </button>
            {% else %}
            <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='activer'>
              Activer
            </button>
            {% endif %}
            <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='supprimer'>
              Supprimer
            </button>
          </form>
          <div>
            <button class="border-2 border-blue-500 p-1 rounded-md update-user" data-id="{% url 'update_user' user_detail.id %}">
                Modifier
            </button>
          </div>
        </div>
        <div class="flex w-full justify-center my-2 border-2 p-2 border-blue-500">
            <div class="flex-1">
                <div class='flex'>
                    <div>
                        <p class="font-bold">{{ user_detail.first_name }} {{ user_detail.last_name }} ({{ user_detail.code }})</p>
                    </div>
                    <div class="flex-1 text-right">
                        <p class="text-gray-600">Etat : 
                            {% if user_detail.enabled %}
                            <span class="text-green-500">Activé</span>
                            {% else %}
                            <span class="text-red-500">Désactivé</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <p class="font-bold">Eamil : {{ user_detail.email }}</p>
                <p class="font-bold">Téléphone : {{ user_detail.phone}}</p>
                <p class="font-bold">Adresse : {{ user_detail.address}}</p>
                <p class="font-bold">Pays : {{ user_detail.country.name }}</p>
            </div>
        </div>
        <div class="w-full justify-center my-2 border-2 p-2 border-blue-500">
          <!--
            <div class="accordion accordion-flush" id="accordion{{ user_detail.code }}">
                {% comment %} Services {% endcomment %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ user_detail.code }}_commande">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ user_detail.code }}_commande" aria-expanded="false" aria-controls="flush-collapse{{ user_detail.code }}_commmande">
                        Commandes 
                      </button>
                    </h2>
                    <div id="flush-collapse{{ user_detail.code }}_commande" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ user_detail.code }}commande" data-bs-parent="#accordion{{ user_detail.code }}">
                      <div class="accordion-body">
                          <div>
                            <table class="table-auto w-full">
                                <thead class="border-4 border-gray-200 justify-between">
                                  <tr class="bg-indigo-600">
                                    <th class="px-1 py-3">
                                      <span class="text-indigo-50"></span>
                                    </th>
                                    <th class="px-5 py-3 text-center">
                                      <span class="text-indigo-50">Code</span>
                                    </th>
                                    <th class="px-5 py-3 text-center">
                                      <span class="text-indigo-50">Date Heure</span>
                                    </th>
                                    <th class="px-5 py-3 text-center">
                                      <span class="text-indigo-50">Price Total</span>
                                    </th>
                                    <th class="px-5 py-3 text-center">
                                      <span class="text-indigo-50">Status</span>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="bg-gray-200">
                                  {% for commande in user_detail.commande_proprietaire.all %}
                                  <tr class="bg-white border-4 border-gray-200 text-center">
                                    <td class="px-1 py-2 items-center">
                                      <span><input type="checkbox" value="{{ commande.id }}" id="{{ commande.id }}" name = "select_items"/></span>
                                    </td>
                                    <td class="px-5 py-3">
                                      <a href="?code={{ commande.code }}">
                                        <span class="text-center font-semibold">{{ commande.code }}</span>
                                      </a>
                                    </td>
                                    <td class="px-5 py-3">{{ commande.date_created }}</td>
                                    <td class="px-5 py-3">
                                      <span>{{ commande.total_price }} FCFA</span>
                                    </td>
                          
                                    <td class="px-5 py-3">
                                      <span class="text-center">
                                        {% if commande.state == 'validat' %}
                                        <span class="text-blue-600">Validé/Paiement en cours</span>
                                        {% elif  commande.state == 'paid' %}
                                        <span class="text-green-500">Validé/Payé</span>
                                        {% elif commande.state == 'open' %}
                                        <span class="text-blue-500">En cours</span>
                                        {% elif commande.state == 'cancel' %}
                                        <span class="text-red-500">Annulé</span>
                                        {% endif %}
                                      </span>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ user_detail.code }}_instance">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ user_detail.code }}_instance" aria-expanded="false" aria-controls="flush-collapse{{ user_detail.code }}_instance">
                        Instances 
                      </button>
                    </h2>
                    <div id="flush-collapse{{ user_detail.code }}_instance" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ user_detail.code }}_instance" data-bs-parent="#accordion{{ user_detail.code }}">
                      <div class="accordion-body">
                          <div>
                              <table class="table-auto w-full">
                                  <thead class="border-4 border-gray-200 justify-center">
                                      <tr class="bg-indigo-600 justify-center">
                                          <th class="px-5 py-3 text-center">
                                              <span class="text-indigo-50">Code</span>
                                          </th>
                                          <th class="px-5 py-3 text-center">
                                              <span class="text-indigo-50">ID Distant</span>
                                          </th>
                                          <th class="px-5 py-3 text-center">
                                              <span class="text-indigo-50">Date</span>
                                          </th>
                                          <th class="px-5 py-3 text-center">
                                              <span class="text-indigo-50">Date de Révocation</span>
                                          </th>
                                          <th class="px-5 py-3 text-center">
                                              <span class="text-indigo-50">Status</span>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody class="bg-gray-200">
                                      {% for instance_value in user_detail.instance_proprietaire.all %}
                                      <tr class="bg-white border-4 border-gray-200 text-center px-5 py-3">
                                          <td>
                                              <a href="/adm/account/list/instance?code={{ instance_value.code }}">
                                                  <span class="text-center font-semibold">{{ instance_value.code }}</span>
                                              </a>
                                          </td>
                                          <td class="px-5 py-3">{{ instance_value.remote_id }}</td>
                                          <td class="px-5 py-3">{{ instance_value.date_created }}</td>
                                          <td class="px-5 py-3">{{ instance_value.date_revoked }}</td>
                                          <td class="px-5 py-3">
                                            <span class="text-center">
                                                {% if instance_value.state == 'started' %}
                                                <span class="text-green-500"> Démarrée</span>
                                                {% elif instance_value.state == 'open' %}
                                                <span class="text-blue-500">En cours de Construction</span>
                                                {% elif instance_value.state == 'pending' %}
                                                <span class="text-blue-500">En cours de Démarrage</span>
                                                {% elif instance_value.state == 'stopped' %}
                                                <span class="text-blue-500">Arrêtée</span>
                                                {% elif instance_value.state == 'revoked' %}
                                                <span class="text-red-500">Révoquée</span>
                                                {% elif instance_value.state == 'error' %}
                                                <span class="text-red-500">Erreur</span>
                                                {% elif instance_value.state == 'expire' %}
                                                <span class="text-red-500">Expirée</span>
                                                {% endif %}
                                              </span>
                                          </td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
            </div>
          -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".update-user").each(function () {
        $(this).modalForm({ formURL: $(this).data('id') });
      });
</script>