{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<!-- You can alternatively load the minified version -->
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% comment %} Bootstrap Modal Form {% endcomment %}
<!-- MATERIAL-SYMBOLS -->
<link href="{% static 'material-symbols/index.css' %}" rel="stylesheet">
<!-- FLOWBITE -->
<script src="{% static 'js/flowbite-1.6.5.js' %}" defer></script>
<style type="text/css"> 
    a:link 
    { 
        text-decoration:none; 
    } 
</style>