<div class="modal fade w-full" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content w-full"></div>
    </div>
</div>
<div class="w-full">
    <div class="justify-between">
        <div class="flex w-full justify-end md:my-2 my-1 md:p-2 p-1 space-x-1">
            <form class="" action="{% url 'action_groupe_service' %}" method="post">
                {% csrf_token %}
                <input class="hidden" type="checkbox" checked value="{{ grp_service_detail.id }}"
                    id="{{ grp_service_detail.id }}" name="select_items" />
                {% if grp_service_detail.enabled %}
                <button class="border-2 border-blue-500 md:p-2 p-1 md:text-lg text-xs rounded-md" type='submit'
                    name='deactiver'>
                    Déactiver
                </button>
                {% else %}
                <button class="border-2 border-blue-500 md:p-2 p-1 md:text-lg text-xs rounded-md" type='submit'
                    name='activer'>
                    Activer
                </button>
                {% endif %}
                <button class="border-2 border-blue-500 md:p-2 p-1 md:text-lg text-xs rounded-md" type='submit'
                    name='supprimer'>
                    Supprimer
                </button>
            </form>
            <div>
                <button class="border-2 border-blue-500 md:p-2 p-1 md:text-lg text-xs rounded-md update-grp-service"
                    data-id="{% url 'update_groupe_service' grp_service_detail.id %}">
                    Modifier
                </button>
            </div>
        </div>
        <div class="flex w-full justify-center mx-1 md:my-2 my-1 border-2 md:p-2 p-1 border-blue-500">
            <div class="flex-1">
                <div class='flex'>
                    <div>
                        <span class="md:text-lg text-xs font-bold">{{ grp_service_detail.code }}</span>
                    </div>
                    <div class="flex-1 text-right md:text-lg text-xs">
                        <p class="text-gray-600">Etat :
                            {% if grp_service_detail.enabled %}
                            <span class="text-green-500">Activé</span>
                            {% else %}
                            <span class="text-red-500">Désactivé</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <p class="text-gray-600 border-2 md:text-xs text-sm">{{ grp_service_detail.description }}</p>
                <p class="text-gray-600 border-2 md:text-xs text-sm">{{ grp_service_detail.info_sup }}</p>
            </div>
        </div>
        <div class="w-full justify-center mx-1 my-2 md:my-2 my-1 border-2 md:p-2 p-1 border-blue-500">
            <div class="accordion accordion-flush" id="accordion{{ grp_service_detail.code }}">
                {% for service in grp_service_detail.services_groupe_service.all %}
                <div class="accordion-item" id="accordion-collapse" data-accordion="collapse">
                    <h5 id="accordion-collapse-heading-{{ service.code }}" class="md:text-xs text-sm">
                        <button type="button"
                            class="flex items-center justify-between w-full p-3 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 focus:bg-blue-400 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                            data-accordion-target="#flush-collapse{{ service.code }}"
                            aria-controls="flush-collapse{{ service.code }}" aria-expanded="false">
                            <span>{{ service.code }}( {{ service.name }} )</span>
                            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </h5>
                    <div id="flush-collapse{{ service.code }}" class="hidden"
                        aria-labelledby="accordion-collapse-heading-{{ service.code }}">
                        <div class="w-full overflow-x-scroll">
                            <table class="table-auto w-full overflow-x-scroll md:text-xs text-sm">
                                <thead class="border-4 border-gray-200 justify-center">
                                    <tr class="bg-indigo-600 justify-center">
                                        <th class="px-2 py-3 text-center">
                                            <span class="text-indigo-50">Code</span>
                                        </th>
                                        <th class="px-2 py-3 text-center">
                                            <span class="text-indigo-50">ID Distant</span>
                                        </th>
                                        <th class="px-2 py-3 text-center">
                                            <span class="text-indigo-50">Date</span>
                                        </th>
                                        <th class="px-2 py-3 text-center">
                                            <span class="text-indigo-50">Date de Révocation</span>
                                        </th>
                                        <th class="px-2 py-3 text-center">
                                            <span class="text-indigo-50">Status</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-gray-200">
                                    {% for instance in service.instance_service.all %}
                                    <tr class="bg-white border-4 border-gray-200 text-center px-5 py-3">
                                        <td>
                                            <a href="/adm/account/list/instance?code={{ instance.code }}">
                                                <span class="text-center font-semibold">{{ instance.code }}</span>
                                            </a>
                                        </td>
                                        <td class="px-2 py-3">{{ instance.remote_id }}</td>
                                        <td class="px-2 py-3">{{ instance.date_created }}</td>
                                        <td class="px-2 py-3">{{ instance.date_revoked }}</td>
                                        <td class="px-2 py-3">
                                            <span class="text-center">
                                                {% if instance.state == 'started' %}
                                                <span class="text-green-500"> Démarrée</span>
                                                {% elif instance.state == 'stopped' %}
                                                <span class="text-blue-500">Arrêtée</span>
                                                {% elif instance.state == 'revoked' %}
                                                <span class="text-red-500">Révoquée</span>
                                                {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".update-grp-service").each(function () {
        console.log($(this).data('id'))
        $(this).modalForm({ formURL: $(this).data('id') });
    });
</script>