{% if action == 'add' %}
    {% include 'admin_add_user.html' %}
{% elif action == 'edit' %}

{% elif action == 'delete' %}

{% else %}
<div class="w-full mt-1 flex flex-col md:text-lg text-xs">
    {% if not user_detail %}
    <form class="w-full" action="{% url 'action_user' %}" method="post">
        {% csrf_token %} 
        <div class='md:flex space-x-2 justify-end p-2'>
            {% include 'dropdown_action_object.html' %}
        </div>
        {% if page %}
        <div class="inline-block w-full overflow-x-scroll">
            <table class="w-full md:text-lg text-xs">
                <thead class="border-4 border-gray-200 justify-center">
                    <tr class="bg-indigo-600 justify-center">
                        <th class="px-1 py-3 text-center">
                            <span class="text-indigo-50"></span>
                        </th>
                        <th class="px-2 py-3 text-center ">
                            <span class="text-indigo-50">Code</span>
                        </th>
                        <th class="px-2 py-3 text-center ">
                            <span class="text-indigo-50">Prénom Nom</span>
                        </th>
                        <th class="px-2 py-3 text-center ">
                            <span class="text-indigo-50">Email</span>
                        </th>
                        <th class="px-2 py-3 text-center ">
                            <span class="text-indigo-50">Téléphone</span>
                        </th>
                        <th class="px-2 py-3 text-center ">
                            <span class="text-indigo-50">Adresse</span>
                        </th>
                        <th class="px-2 py-3 text-center ">
                            <span class="text-indigo-50">Pays</span>
                        </th>
                        <th class="px-2 py-3 text-center ">
                            <span class="text-indigo-50">Etat</span>
                        </th>
                        <th class="px-2 py-3 text-center ">
                            <span class="text-indigo-50">Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    {% for user in page.object_list %}
                    <tr class="bg-white border-4 border-gray-200 text-center">
                        <td class="px-1 py-2 items-center">
                            <span><input type="checkbox" value="{{ user.id }}" id="{{ user.id }}" name = "select_items"/></span>
                        </td>
                        <td>
                            <a href="?code={{ user.code }}">
                                <span class="text-center">{{ user.code }}</span>
                            </a>
                        </td>
                        <td class="px-2 py-3">
                            <span class="text-center">{{ user.first_name }} {{ user.last_name }}</span>
                        </td>
                        <td class="px-2 py-3">
                            <span class="text-center">{{ user.email }}</span>
                        </td>
                        <td class="px-2 py-3">
                            <span class="text-center">{{ user.phone }}</span>
                        </td>
                        <td class="px-2 py-3">
                            <span class="text-center">{{ user.address }}</span>
                        </td>
                        <td class="px-2 py-3">
                            <span class="text-center">{{ user.country.name }}</span>
                        </td>
                        <td class="px-2 py-3">
                            {% if user.enabled %}
                            <span class="text-center text-green-700">Activé</span>
                            {% else %}
                            <span class="text-center text-red-700">Désactivé</span>
                            {% endif %}
                        </td>
                        <td class="px-1 py-3 ">
                            <div class="">
                                <a href="#" class="text-white text-center bg-blue-600 rounded-xl p-1">
                                    Modifier mot de pass
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </form>
    {% if page %}
    <div class="w-full mt-auto">
        {% include 'pagination.html' %}
    </div>
    {% endif %}
    {% elif  user_detail %}
    {% include 'admin_detail_user.html' %}
    {% endif %}
</div>
{% endif %}
