<div class="modal fade w-full" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content w-full"></div>
    </div>
</div>
<div class="w-full">
    <div class="justify-between">
        <div class="flex w-full justify-end my-2 p-2 space-x-1">
            <form class="" action="{% url 'action_service' %}" method="post">
                {% csrf_token %}
                <input class="hidden" type="checkbox" checked value="{{ service_detail.id }}" id="{{ service_detail.id }}" name = "select_items"/>
                {% if service_detail.enabled %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='deactiver'>
                    Déactiver
                </button>
                {% else %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='activer'>
                    Activer
                </button>
                {% endif %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='supprimer'>
                    Supprimer
                </button>
            </form>
            <div>
                <button class="border-2 border-blue-500 p-1 rounded-md update-service" data-id="{% url 'update_service' service_detail.id %}">
                    Modifier
                </button>
            </div>
        </div>
        <div class="flex w-full justify-center my-2 border-2 p-2 border-blue-500">
            <div class="flex-1">
                <div class='flex'>
                    <div>
                        <p class="font-bold">{{ service_detail.code }} ({{ service_detail.groupe_service }} : {{ service_detail.name }})</p>
                    </div>
                    <div class="flex-1 text-right">
                        <p class="text-gray-600">Etat : 
                            {% if service_detail.enabled %}
                            <span class="text-green-500">Activé</span>
                            {% else %}
                            <span class="text-red-500">Désactivé</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <p class="font-bold">Prix : {{ service_detail.price }} F CFA</p>
                <p class="font-bold">Exécuteur : {{ service_detail.executor }}</p>
                <p class="text-gray-600 border-2">{{ service_detail.description }}</p>
            </div>
        </div>
        <div class="w-full justify-center mx-1 my-2 md:my-2 my-1 border-2 md:p-2 p-1 border-blue-500">
            <div class="accordion accordion-flush" id="accordion_{{ service_detail.code }}">
                <div class="accordion-item" id="accordion-collapse" data-accordion="collapse">
                    <h5 id="accordion-collapse-heading-{{ service_detail.code }}_action" class="md:text-xs text-sm">
                        <button type="button"
                            class="flex items-center justify-between w-full p-3 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 focus:bg-blue-400 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                            data-accordion-target="#flush-collapse{{ service_detail.code }}_action"
                            aria-controls="flush-collapse{{ service_detail.code }}_action" aria-expanded="false">
                            <span>Actions</span>
                            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </h5>
                    <div id="flush-collapse{{ service_detail.code }}_action" class="hidden"
                        aria-labelledby="accordion-collapse-heading-{{ service_detail.code }}_action">
                        <div class="w-full overflow-x-scroll">
                            <table class="table-auto w-full">
                                <thead class="border-4 border-gray-200 justify-center">
                                    <tr class="bg-indigo-600 justify-center">
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Code</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Nom</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Description</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Executeur</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Etat</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-gray-200">
                                    {% for action in service_detail.action.all %}
                                    <tr class="bg-white border-4 border-gray-200 text-center">
                                        <td>
                                            <a href="/adm/account/list/action?code={{ action.code }}">
                                                <span class="text-center font-semibold">{{ action.code }}</span>
                                            </a>
                                        </td>
                                        <td class="px-5 py-3">
                                            <span class="text-center font-semibold">{{ action.name }}</span>
                                        </td>
                                        <td class="px-5 py-3">
                                            <span class="text-center font-semibold">{{ action.description }}</span>
                                        </td>
                                        <td class="px-5 py-3">
                                            <span class="text-center font-semibold">{{ action.executor }}</span>
                                        </td>
                                        <td class="px-5 py-3">
                                            {% if action.enabled %}
                                            <span class="text-center font-semibold text-green-700">Activé</span>
                                            {% else %}
                                            <span class="text-center font-semibold text-red-700">Désactivé</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--
                <div class="accordion-item" id="accordion-collapse" data-accordion="collapse">
                    <h5 id="accordion-collapse-heading-{{ service_detail.code }}_instance" class="md:text-xs text-sm">
                        <button type="button"
                            class="flex items-center justify-between w-full p-3 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 focus:bg-blue-400 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                            data-accordion-target="#flush-collapse{{ service_detail.code }}_instance"
                            aria-controls="flush-collapse{{ service_detail.code }}_instance" aria-expanded="false">
                            <span>Instances</span>
                            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </h5>
                    <div id="flush-collapse{{ service_detail.code }}_instance" class="hidden"
                        aria-labelledby="accordion-collapse-heading-{{ service_detail.code }}_instance">
                        <div class="w-full overflow-x-scroll">
                            <table class="table-auto w-full">
                                <thead class="border-4 border-gray-200 justify-center">
                                    <tr class="bg-indigo-600 justify-center">
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Code</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">ID Distant</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Date</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Date de Révocation</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Status</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-gray-200">
                                    {% for instance in service_detail.instance_service.all %}
                                    <tr class="bg-white border-4 border-gray-200 text-center px-5 py-3">
                                        <td>
                                            <a href="/adm/account/list/instance?code={{ instance.code }}">
                                                <span class="text-center font-semibold">{{ instance.code }}</span>
                                            </a>
                                        </td>
                                        <td class="px-5 py-3">{{ instance.remote_id }}</td>
                                        <td class="px-5 py-3">{{ instance.date_created }}</td>
                                        <td class="px-5 py-3">{{ instance.date_revoked }}</td>
                                        <td class="px-5 py-3">
                                            <span class="text-center">
                                            {% if instance.state == 'started' %}
                                            <span class="text-green-500"> Démarrée</span>
                                            {% elif instance.state == 'stopped' %}
                                            <span class="text-blue-500">Arrêtée</span>
                                            {% elif instance.state == 'revoked' %}
                                            <span class="text-red-500">Révoquée</span>
                                            {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".update-service").each(function () {
        $(this).modalForm({ formURL: $(this).data('id') });
      });
</script>