<div class="modal fade w-full" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content w-full"></div>
  </div>
</div>
<div class="w-full">
  <div class="justify-between">
    
    <div class="flex w-full justify-center my-2 border-2 p-2 border-blue-500">
      <div class="flex-1">
        <div class='flex'>
          <div>
            <h2 class="text-2xl font-bold">{{ paiement_detail.code }}</h2>
          </div>
          <div class="flex-1 text-right">
            <p class="text-gray-600 font-bold">Status :
              {% if offresurmesure_detail.state == 'validat' %}
              <span class="text-green-500"> Valider</span>
              {% elif offresurmesure_detail.state == 'encours' %}
              <span class="text-blue-500"> En cours de Traitement </span>
              {% elif offresurmesure_detail.state == 'cancel' %}
              <span class="text-red-500"> Annuler </span>
              {% endif %}
            </p>
          </div>
        </div>
        <div>
          <h4 class="text-xl font-bold">Nom & Prénom: {{ offresurmesure_detail.proprietaire.last_name }}
            {{offresurmesure_detail.proprietaire.first_name }} </h4>
          <h4 class="text-xl font-bold">Téléphone : {{ offresurmesure_detail.proprietaire.phone }}</h4>
          <h4 class="text-xl font-bold">Email : {{ offresurmesure_detail.proprietaire.email }}</h4>

          <div class="space-x-4">
            <h4></h4>
            <h4 class="text-xl center font-bold"> 1- type de demande : {{ offresurmesure_detail.type_demande }}</h4>
            <h4 class="text-xl center font-bold"> 2- Critique de demande : {{ offresurmesure_detail.critique_demande }}
            </h4>

            <h4 class="text-xl center font-bold"> 3- Description de la demande :
               <details style="margin-left:5%;"> 
                  <p>{{ offresurmesure_detail.message }}</p>
               </details>
            </h4>
            <h4 class="text-xl center font-bold"> 4- Détail de la demande :
              <details style="margin-left:5%;"> 
                 <p>{{ offresurmesure_detail.detail_demande }}</p>
              </details>
           </h4>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <script type="text/javascript">
    $(".update-paiement").each(function () {
      $(this).modalForm({ formURL: $(this).data('id') });
    });
  </script>