<div class="">
    <div class="justify-between items-center text-center w-full py-2 bg-blue-100 rounded-t">
        <span class="text-xl font-bold block uppercase text-blue-700">cori digital Admin Profile</span>
    </div>
    <div class="border-b-2 block md:flex space-x-2 space-y-2">
        <div class="w-full md:w-2/5 p-2 bg-white shadow-md">
            <div class="w-full p-6 flex justify-center rounded  shadow">
                <img id="showImage" class="items-center border" src="{{ STATIC_URL }}/media/images/logo_cori.png" alt="">                          
            </div>
            <div class="w-full rounded  shadow p-4">
                <form id="form_edit_admin_password" action="{% url 'admin_setting_edit_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="bg-blue-600 p-2 rounded justify-center items-center text-center hidden my-4" id='div_edit_password_button'>
                        <button class="font-bold text-white w-full" type="submit">Modifier Mot de Passe</button>
                    </div>
                    <div>
                        <div class="pb-4">
                            <input  name='admin_old_password' id="admin_old_password" class="border-{% if msg_edit_old_password %}2 border-rose-600{% else %}1{% endif %}  rounded-r px-4 py-2 w-full" type="password" placeholder="Mot de passe actuel" required/>
                        </div>
                        <div class="pb-4">
                            <input  name='admin_password' id="admin_password" class="border-{% if msg_edit_password %}2 border-rose-600{% else %}1{% endif %}  rounded-r px-4 py-2 w-full" type="password" placeholder="Nouveau mot de passe" required/>
                        </div>
                        <div class="pb-4">
                            <input  name='admin_confirme_password' id="admin__confirme_password" class="border-{% if msg_edit_password %}2 border-rose-600{% else %}1{% endif %}  rounded-r px-4 py-2 w-full" type="password" placeholder="Confirmer Nouveau mot de passe" required/>
                        </div>
                        {% if msg_edit_password or msg_edit_old_password %}
                        <div class="bg-red-100 p-2 rounded">
                            {% if msg_edit_password %}
                            <span class="text-red-600">{{ msg_edit_password }}<span>
                            {% endif %}
                            {% if msg_edit_old_password %}
                            <span class="text-red-600">{{ msg_edit_old_password }}<span>
                            {% endif %} 
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="w-full md:w-3/5 p-2 bg-white shadow-md">
            <form id="form_edit_admin_profil" action="{% url 'admin_setting_edit_profil' %}" method="POST">
                {% csrf_token %}
                <div class="bg-blue-600 p-2 rounded justify-center items-center text-center hidden" id='div_edit_button'>
                    <button class="font-bold text-white w-full">Modifier Profil</button>
                </div>
                <div class="rounded  shadow p-4">
                    <div class="pb-4">
                        <label for="admin_last_name" class="font-semibold text-gray-700 block pb-1">Nom {% if msg_last_name %}<span class='text-rose-600'>( {{ msg_last_name }} )</span>{% endif %}</label>
                        <input name="last_name" id="admin_last_name" class="rounded-r px-4 py-2 w-full border-{% if msg_last_name %}2 border-rose-600{% else %}1{% endif %}" type="text" value="{{ admin_user.last_name }}" required />
                    </div>
                    <div class="pb-4">
                        <label for="admin_first_name" class="font-semibold text-gray-700 block pb-1">Prénom {% if msg_first_name %}<span class='text-rose-600'>( {{ msg_first_name }} )</span>{% endif %}</label>
                        <input name="first_name" id="admin_first_name" class="rounded-r px-4 py-2 w-full border-{% if msg_first_name %}2 border-rose-600{% else %}1{% endif %}" type="text" value="{{ admin_user.first_name }}" required />
                    </div>
                    <div class="pb-4">
                        <label for="admin_email" class="font-semibold text-gray-700 block pb-1">Email {% if msg_email %}<span class='text-rose-600'>( {{ msg_email }} )</span>{% endif %}</label>
                        <input  name="email" id="admin_email" class="rounded-r px-4 py-2 w-full border-{% if msg_email %}2 border-rose-600{% else %}1{% endif %}" type="email" value="{{ admin_user.email }}" required />
                    </div>
                    <div class="pb-4">
                        <label for="admin_phone" class="font-semibold text-gray-700 block pb-1">Téléphone {% if msg_phone %}<span class='text-rose-600'>( {{ msg_phone }} )</span>{% endif %}</label>
                        <input  name="phone" id="admin_phone" class="rounded-r px-4 py-2 w-full border-{% if msg_phone %}2 border-rose-600{% else %}1{% endif %}" type="tel" value="{{ admin_user.phone }}" required />
                    </div>
                    <div class="pb-4">
                        <label for="admin_address" class="font-semibold text-gray-700 block pb-1">Adresse</label>
                        <input name="address" id="admin_address" class="border-1  rounded-r px-4 py-2 w-full" type="text" value="{{ admin_user.address }}" required />
                    </div>
                    <div class="pb-4">
                        <label for="admin_country" class="font-semibold text-gray-700 block pb-1">pays</label>
                        <select name="country" id="admin_country" class="border-1  rounded-r px-4 py-2 w-full" required > 
                            {% for county in  list_countries %}
                            {% if county.code == admin_user.country.code %}
                            <option value="{{ county.code }}" selected="selected">{{ county.name }}</option>
                            {% else %}
                            <option value="{{ county.code }}">{{ county.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#form_edit_admin_profil").on("input", function() {
        $('#div_edit_button').show();
    });
    //
    $("#form_edit_admin_password").on("input", function() {
        $('#div_edit_password_button').show();
    });
    //
    {% if msg_edit_old_password or  msg_edit_password %}
    $('#admin_old_password').focus();
    {% endif %}
    //
    {% if msg_last_name %}
    $('#admin_last_name').focus();
    {% elif msg_first_name %}
    $('#admin_first_name').focus();
    {% elif msg_email %}
    $('#admin_email').focus();
    {% elif msg_phone %}
    $('#admin_phone').focus();
    {% endif %}
</script>