<div class="w-full p-2 bg-white rounded-lg lg:rounded-l-none flex justify-center">
    <div class="col-lg-8">
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-header justify-content-center bg-blue-200">
                <h3 class="font-weight-light py-2 text-center">Ajouter un Service</h3>
            </div>
            <div class="card-body bg-gray-100">
                <form class="p-2 rounded" action="/adm/account/add/service/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form_service.non_field_errors %}
                    <div class="mb-4 md:mr-2 md:mb-0 w-full justify-center">
                        <div class="flex text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 justify-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill mt-3" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <span class="font-bold mt-3">{{ form.non_field_errors }}</span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="mb-4 md:flex md:justify-center">
                        <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">

                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form_service.name.id_for_label }}">
                                Nom
                            </label>
                            {{ form_service.name }}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form_service.image.id_for_label }}">
                                Image
                            </label>
                            {{ form_service.image }}
                        </div>
                    </div>
                    <div class="mb-4 md:flex md:justify-center">
                        <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">

                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form_service.price.id_for_label }}">
                                Prix
                            </label>
                            {{ form_service.price}}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form_service.currency.id_for_label }}">
                                Devis
                            </label>
                            {{ form_service.currency }}
                        </div>
                    </div>
                    <div class="mb-4 md:flex md:justify-center">
                        
                        <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">

                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form_service.groupe_service.id_for_label }}">
                                Groupe de Service
                            </label>
                            {{ form_service.groupe_service}}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form_service.executor.id_for_label }}">
                                Exécuteur
                            </label>
                            {{ form_service.executor }}
                        </div>
                    </div>
                    <div class="mb-4 md:flex md:justify-center">
                        <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form_service.action.id_for_label }}">
                                Action
                            </label>
                            {{ form_service.action }}
                        </div>
                        <div class="md:ml-2 w-full md:w-1/2 fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form_service.description.id_for_label }}">
                                Description
                            </label>
                            {{ form_service.description}}
                        </div>
                    </div>
                    <div class="m-2 text-center">
                        <button
                            class="px-4 py-2 font-bold text-black bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                            type="submit">
                            Enregistrer
                        </button>
                    </div>
                    <hr class="mb-6 border-t" />
                    <div></div>
                </form>
            </div>
        </div>
    </div>
</div>