<div class="">
    <div class="justify-between items-center text-center w-full py-2 bg-blue-100 rounded-t">
        <span class="text-xl font-bold block uppercase text-blue-700">Paramétres Généraux</span>
    </div>
    <div class="border-b-2 block md:flex space-x-2 space-y-2">
        <div class="w-full md:w-2/5 p-2 bg-white shadow-md">
            <div class="w-full p-6 flex justify-center rounded  shadow">
                <img id="showImage" class="items-center border" src="{{ STATIC_URL }}/media/images/logo_cori.png" alt="">                          
            </div>
            <div class="w-full rounded  shadow p-4">
                
            </div>
        </div>
        <div class="w-full md:w-3/5 p-2 bg-white shadow-md">
            <div class="w-full text-right p-2">
                <button class="font-bold text-white p-2 bg-blue-600 rounded mb-2" id="bt_for_new_param">Nouveau Paramètre</button>
                <form id="form_for_new_param" class="hidden" method="POST">
                    <div>
                        <div class="pb-4 items-center text-center hidden" id='div_for_error'>
                            <span class='text-rose-600'> Une erreur s'est produite veuillez réessayer.
                        </div>
                        <div class="pb-4 text-left">
                            <label id="label_param_name"  class="text-rose-600 block hidden"></label>
                            <input  name='param_name' id="admin_param_name" class="border-1 rounded-r px-4 py-2 w-full" type="text" placeholder="Nom" required/>
                        </div>
                        <div class="pb-4 text-left">
                            <label id="label_param_value" class="text-rose-600 block hidden"></label>
                            <input name='param_value' id="admin_param_value" class="border-1 rounded-r px-4 py-2 w-full" type="text" placeholder="Valeur" required/>
                        </div>
                        <div class="pb-4">
                            <textarea  name='param_desc' id="admin_param_desc" class="border-1 rounded-r px-4 py-2 w-full" type="text" placeholder="Déscription" required rows="2"></textarea>
                        </div>
                    </div>
                    <div class="bg-blue-600 rounded justify-center items-center text-center my-2" id='div_edit_password_button'>
                        <button id="bt_submit_param_form" class="p-2 font-bold text-white w-full" type="sumbit" action='new'>Ajouter Paramètre</button>
                    </div>
                </form>
            </div>
            <div class="rounded  shadow p-2 space-y-2" id="div_list_parameters">
        
                <div class="flex space-x-1">
                    <div class="bg-red-600 w-8 shadow p-0.5">
                        {% comment %} <button class="w-full h-full bg-blue-600" id="bt_get_param_detail"></button> {% endcomment %}
                        <button id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider" class="w-full font-bold text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                            <span class="material-symbols-outlined">
                                more_vert
                            </span>
                        </button>
                        <div id="dropdownDivider" class="hidden z-40 w-24 bg-blue-300 rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-1 text-sm dark:text-gray-200" aria-labelledby="dropdownDividerButton">
                            <li>
                                <button class="block py-2 px-2 w-full hover:bg-gray-100 dark:hover:bg-gray-600">Editer</button>
                            </li>
                            <li>
                                <button class="block py-2 px-2 w-full hover:bg-gray-100 dark:hover:bg-gray-600">Supprimer</button>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bg-blue-600 w-full grid md:grid-cols-3 grid-cols-1 gap-4">
                        <div>01</div>
                        <div>02</div>
                        <div>03</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>
    $("#bt_for_new_param").click(function(){
        $("#bt_submit_param_form").attr('action','new')
        $("#bt_submit_param_form").text("Ajouter Paramètre")
        $('#form_for_new_param')[0].reset();
        $('#form_for_new_param').show();
        $("#admin_param_name").focus();
        $("#bt_for_new_param").hide();
    });
    //##
    $('#form_for_new_param').on('submit', function(e){
        action=$("#bt_submit_param_form").attr('action')
        e.preventDefault();
        if(action=='new'){
            $.ajax({
                type : "POST", 
                url: "{% url 'admin_setting_new_param' %}",
                data: {
                    param_name : $('#admin_param_name').val(),
                    param_value : $('#admin_param_value').val(),
                    param_desc : $('#admin_param_desc').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",
            
                },
                success: function(data){
                    console.log(data)
                    if(data && data.msg && data.msg=='success'){
                        $('#form_for_new_param')[0].reset();
                        $('#form_for_new_param').hide();
                        $("#bt_for_new_param").show();
                        getParameters()
                    }
                    else if (data){
                        if (data.msg_name)
                        {
                            $('#label_param_name').text(data.msg_name);
                            $('#label_param_name').show();
                        }
                        if (data.msg_value)
                        {
                            $('#label_param_value').text(data.msg_value);
                            $('#label_param_value').show();
                        }
                    }
                    else
                    {
                        $('#div_for_error').show();
                    }

                },
                failure: function() {
                }
            });
        }
        else if(action=='edit'){
            id_param = $("#bt_submit_param_form").attr('id_param')
            if(id_param){
                $.ajax({
                    type : "POST", 
                    url: "{% url 'admin_setting_new_param' %}",
                    data: {
                        param_name : $('#admin_param_name').val(),
                        param_value : $('#admin_param_value').val(),
                        param_desc : $('#admin_param_desc').val(),
                        param_id : id_param,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        dataType: "json",
                
                    },
                    success: function(data){
                        if(data && data.msg && data.msg=='success'){
                            $('#form_for_new_param')[0].reset();
                            $('#form_for_new_param').hide();
                            $("#bt_for_new_param").show();
                            getParameters()
                        }
                        else if (data){
                            if (data.msg_name)
                            {
                                $('#label_param_name').text(data.msg_name);
                                $('#label_param_name').show();
                            }
                            if (data.msg_value)
                            {
                                $('#label_param_value').text(data.msg_value);
                                $('#label_param_value').show();
                            }
                        }
                        else
                        {
                            $('#div_for_error').show();
                        }
                    },
                    failure: function() {
                    }
                });
            }
        }
    });    
    //##
    function getParameters(){
        $.ajax({
            url: "{% url 'admin_setting_get_param' %}",
            type: "GET",
            dataType: "json",
            success: (data) => {
                if(data && data.parameters){
                    parameters=data.parameters
                    $("#div_list_parameters").empty();
                    for (var i = 0; i < parameters.length; i++){
                        html_code ='<div class="flex space-x-1 ">'
                        html_code += '<div class="bg-red-600 w-8 shadow p-0.5 grid justify-items-center space-y-2">'
                        html_code += '<button class="w-full bg-blue-600" id="bt_get_param_detail_'+parameters[i].id+'" onclick="loadEditForm('+parameters[i].id+')">'
                        html_code += '<span class="material-symbols-outlined">edit</span></button>'
                        html_code += '<button class="w-full  bg-blue-600" id="bt_delte_param_'+parameters[i].id+'" onclick="deleteParam('+parameters[i].id+')">'
                        html_code += '<span class="material-symbols-outlined">delete</span></button>'
                        html_code += '</div>'
                        html_code += '<div class="bg-blue-500 w-full grid md:grid-cols-3 grid-cols-1 gap-1 justify-center p-0.5">'
                        html_code += '<div class="bg-gray-100 p-2"><span>'+parameters[i].name+'</span></div>'
                        html_code += '<div class="bg-gray-100 p-2"><span>'+parameters[i].value+'</span></div>'
                        html_code += '<div class="bg-gray-100 p-2"><span>'+parameters[i].description+'</span></div>'
                        $('#div_list_parameters').append(html_code);
                    }
                }
            },
            error: (error) => {
            }
        });
    }
    //##
    function loadEditForm(id_param)
    {
        $.ajax({
            url: "/adm/account/setting/param/get/"+id_param,
            type: "GET",
            dataType: "json",
            success: (data) => {
                if(data && data.parameter){
                    $('#form_for_new_param')[0].reset();
                    $("#admin_param_name").val(data.parameter.name);
                    $("#admin_param_value").val(data.parameter.value);
                    $("#admin_param_desc").val(data.parameter.description);
                    $("#bt_submit_param_form").attr('action','edit')
                    $("#bt_submit_param_form").attr('id_param',id_param)
                    $("#bt_submit_param_form").text("Modifier Paramétre")
                    $('#form_for_new_param').show();
                    $("#bt_for_new_param").show();
                }
            },
            error: (error) => {
            }
        }); 
        
    }
    //##
    function deleteParam(id_param)
    {   $.ajax({
            url: "/adm/account/setting/param/delete/"+id_param,
            type: "GET",
            dataType: "json",
            success: (data) => {
                if(data && data.msg && data.msg=='success'){
                    getParameters()
                    $('#form_for_new_param').hide();
                    $("#bt_for_new_param").show();
                }
            },
            error: (error) => {
            }
        }); 
    }
</script>