{% if action == 'add' %}
  {% include 'admin_add_commande.html' %}
{% elif action == 'edit' %}

{% elif action == 'delete' %}

{% else %}
<div class="w-full mt-1 flex flex-col md:text-lg text-xs">
  {% if not admin_commande %}
  <form class="w-full" action="{% url 'action_commande' %}" method="post">
    {% csrf_token %} 
    <div class='flex justify-end'>
        <div class="m-2">
          {% include 'dropdown_action_object.html' %}
        </div>
    </div>
    {% if page %}
    <div class="inline-block w-full overflow-x-scroll">
      <table class="table-auto w-full md:text-lg text-xs">
        <thead class="border-4 border-gray-200 justify-between">
          <tr class="bg-indigo-600">
            <th class="px-1 py-3">
              <span class="text-indigo-50"></span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Code</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Date Heure</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Price Total</span>
            </th>
            <th class="px-3 py-2 text-center">
              <span class="text-indigo-50">Status</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          {% for commande in page.object_list %}
          <tr class="bg-white border-4 border-gray-200 text-center">
            <td class="px-1 py-2 items-center">
              <span><input type="checkbox" value="{{ commande.id }}" id="{{ commande.id }}" name = "select_items"/></span>
            </td>
            <td class="px-3 py-2">
              <a href="?code={{ commande.code }}">
                <span class="text-center">{{ commande.code }}</span>
              </a>
            </td>
            <td class="px-3 py-2">{{ commande.date_created }}</td>
            <td class="px-3 py-2">
              <span>{{ commande.total_price }} FCFA</span>
            </td>
  
            <td class="px-3 py-2">
              <span class="text-center">
                {% if commande.state == 'validat' %}
                <span class="text-blue-600">Validé/Paiement en cours</span>
                {% elif  commande.state == 'paid' %}
                <span class="text-green-500">Validé/Payé</span>
                {% elif commande.state == 'open' %}
                <span class="text-blue-500">En cours</span>
                {% elif commande.state == 'cancel' %}
                <span class="text-red-500">Annulé</span>
                {% endif %}
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </form>
  {% if page %}
  <div class="w-full mt-auto">
    {% include 'pagination.html' %}
  </div>
  {% endif %}
  {% elif admin_commande %}
  {% include 'admin_detail_commande.html' %}
  {% endif %}
</div>
{% endif %}