<!DOCTYPE html>  
<html lang="en">  
{% load tailwind_tags %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="author" content="ANS">
  <title>Cori Digital</title>
  <link rel="icon" href="{{ STATIC_URL }}/media/images/logo_cori.png"/>
  {% include 'admin_script_link.html' %}
  {% tailwind_css %}
</head>
<body class="flex flex-col min-h-screen">
  <div class="w-full">
    {% include 'admin_header.html' %}
  </div>
  <div class="w-full md:px-2 px-1 items-center justify-center text-center">
    {% include 'notification_message.html' %}
  </div>
  <div class="w-full flex-grow">
    {% block content %}
      {% include 'content.html' %}
    {% endblock content %}
  </div>
  <div class="w-full md:px-2 px-1 mt-auto">
    {% include 'footer.html' %}
  </div>
</body>
</html>
