<div class="w-full p-2 bg-white rounded-lg lg:rounded-l-none flex justify-center">
    <div class="col-lg-8">
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-header justify-content-center bg-blue-200">
                <h3 class="font-weight-light py-2 text-center">Ajouter une Commande </h3>
            </div>
            <div class="card-body bg-gray-100">
                <form class="p-2 rounded" action="add_groupe_service" method="POST">
                    {% csrf_token %}
                    {% if form_commande.non_field_errors %}
                    <div class="mb-4 md:mr-2 md:mb-0 w-full justify-center">
                        <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800"
                            role="alert">
                            <span class="font-medium">Danger alert!</span> Change a few things up and try submitting
                            again.
                        </div>
                        <div id="alert-additional-content-3" class="p-4 mb-4 bg-green-100 rounded-lg dark:bg-green-200"
                            role="alert">
                            <div class="flex items-center">
                                <svg class="mr-2 w-5 h-5 text-green-700 dark:text-green-800" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <h3 class="text-lg font-medium text-green-700 dark:text-green-800">
                                    Info
                                </h3>
                            </div>
                            <div class="mt-2 mb-4 text-sm text-green-700 dark:text-green-800">
                                {{ form_commande.non_field_errors }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="mb-4 md:flex md:justify-center gap-2">
                        <div class="mb-4 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black" for="{{ form.name.id_for_label }}">
                                Date de création
                            </label>
                            {{ form_commande.date_created }}
                        </div>
                        <div class="mb-4 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black" for="{{ form.name.id_for_label }}">
                                Code
                            </label>
                            {{ form_commande.code}}
                        </div>
                       
                    </div>
                    <div class="mb-4 md:flex md:justify-center gap-2">
                        <div class="mb-4 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black" for="{{ form.name.id_for_label }}">
                                Prix
                            </label>
                            {{ form_commande.price }}
                        </div>
                        <div class="mb-4 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black" for="{{ form.name.id_for_label }}">
                                TVA
                            </label>
                            {{ form_commande.TVA }}
                        </div>
                        
                    </div>
                    <div class="mb-4 md:flex md:justify-center gap-2">
                        <div class="w-full md:w-1/2 fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form.description.id_for_label }}">
                                Prix total
                            </label>
                            {{ form_commande.total_price }}
                        </div>
                        <div class="mb-4 md:mb-0 md:w-1/2 w-full justify-center fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black" for="{{ form.name.id_for_label }}">
                                Etat
                            </label>
                            {{ form_commande.state }}
                        </div>
                    </div>
                    <div class="mb-4 md:flex">
                        <div class="w-full md:w-1/2 fieldWrapper">
                            <label class="block mb-2 text-md font-bold text-black"
                                for="{{ form.description.id_for_label }}">
                                Propriétaire
                            </label>
                            {{ form_commande.proprietaire }}
                        </div>
                    </div>

                    <div class="mb-6 text-center">
                        <button
                            class="px-4 py-2 font-bold text-black bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                            type="submit">
                            Enregistrer
                        </button>
                    </div>
                    <hr class="mb-6 border-t" />
                    <div></div>
                </form>
            </div>
        </div>
    </div>
</div>