{% if action == 'add' %}
   {% include 'admin_add_image_systeme.html' %} 
{% elif action == 'edit' %}

{% elif action == 'delete' %}

{% else %}
<div class="w-full my-2">
    {% if not image_systeme_detail %}
    <form class="w-full" action="{% url 'action_image_systeme' %}" method="post">
        {% csrf_token %} 
        <div class='md:flex'>
            <div class="w-full text-center my-2">
                <a href="{% url 'add_image_systeme' %}" class="rounded-md font-semibold py-2 px-2 border-2 bg-white border-gray-700">Ajouter Image Système </a>
            </div>
            <div class="m-2">
                {% include 'dropdown_action_object.html' %}
            </div>
        </div>
        {% if page %}
        <div class="inline-block w-full overflow-x-scroll">
            <table class="table-auto w-full md:text-lg text-xs">
                <thead class="border-4 border-gray-200 justify-center">
                    <tr class="bg-indigo-600 justify-center">
                        <th class="px-1 py-3 text-center">
                            <span class="text-indigo-50"></span>
                        </th>
                        <th class="px-3 py-2 text-center md:font-bold uppercase">
                            <span class="text-indigo-50">Code</span>
                        </th>
                        <th class="px-3 py-2 text-center md:font-bold uppercase">
                            <span class="text-indigo-50">Nom</span>
                        </th>
                        <th class="px-3 py-2 text-center md:font-bold uppercase">
                            <span class="text-indigo-50">Description</span>
                        </th>
                        <th class="px-3 py-2 text-center md:font-bold uppercase">
                            <span class="text-indigo-50">Executeur</span>
                        </th>
                        <th class="px-3 py-2 text-center md:font-bold uppercase">
                            <span class="text-indigo-50">Etat</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    {% for action in page.object_list %}
                    <tr class="bg-white border-4 border-gray-200 text-center">
                        <td class="px-1 py-2 items-center">
                            <span><input type="checkbox" value="{{ action.id }}" id="{{ action.id }}" name = "select_items"/></span>
                        </td>
                        <td>
                            <a href="?code={{ action.code }}">
                                <span class="text-center font-semibold">{{ action.code }}</span>
                            </a>
                        </td>
                        <td class="px-3 py-2">
                            <span class="text-center">{{ action.name }}</span>
                        </td>
                        <td class="px-3 py-2">
                            <span class="text-center">{{ action.description }}</span>
                        </td>
                        <td class="px-3 py-2">
                            <span class="text-center">{{ action.executor }}</span>
                        </td>
                        <td class="px-3 py-2">
                            {% if action.enabled %}
                            <span class="text-center text-green-700">Activé</span>
                            {% else %}
                            <span class="text-center text-red-700">Désactivé</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="w-full">
            {% include 'pagination.html' %}
        </div>
        {% endif %}
    </form>
    {% elif action_detail %}
    {% include 'admin_detail_action.html'  %}
    {% endif %}
</div>
{% endif %}
