<div class="modal fade w-full" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content w-full"></div>
    </div>
</div>
<div class="w-full md:text-lg text-xs">
    <div class="justify-between">
        <div class="flex w-full justify-end my-2 p-2 space-x-1">
            <form class="" action="{% url 'action_instance' %}" method="post">
                {% csrf_token %}
                <input class="hidden" type="checkbox" checked value="{{ instance_detail.id }}" id="{{ instance_detail.id }}" name = "select_items"/>
                {% if instance_detail.state != 'revoked' %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='resilier'>
                    Révoquer
                </button>
                {% endif %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='supprimer'>
                    Supprimer
                </button>
                {% if instance_detail.state == 'error' or instance_detail.state == 'stopped' %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='demarrer'>
                    Démarrer
                </button>
                {% endif %}
                {% if instance_detail.state == 'started' or  instance_detail.state == 'error' %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='arreter'>
                    Arrêter
                </button>
                {% endif %}
            </form>
            <div>
                <button class="border-2 border-blue-500 p-1 rounded-md update-instance" data-id="{% url 'update_instance' instance_detail.id %}">
                    Modifier
                </button>
            </div>
        </div>
        <div class="flex w-full justify-center my-2 border-2 p-2 border-blue-500">
            <div class="flex-1">
                <p class="font-bold">{{ instance_detail.code }}</p>
                <p class="font-semibold">Service : {{ instance_detail.service }}</p>
                <p class="font-semibold">Propriétaire : {{ instance_detail.owner }}</p>
                <p class="font-semibold">Commande : 
                    <a href="{% url 'admin_commande' %}?code={{ instance_detail.code_commande }}">
                        <span class="text-center font-semibold">{{ instance_detail.code_commande }}</span>
                    </a>
                </h3>
                <p class="text-gray-600">Date création : {% if instance_detail.date_created %} {{ instance_detail.date_created }} {% endif %}</p>
                <p class="text-gray-600">Date Construction : {% if instance_detail.build_date %} {{ instance_detail.build_date }} {% endif %}</p>
                <p class="text-gray-600">Date Révocation : {% if instance_detail.date_revoked %} {{ instance_detail.date_revoked }} {% endif %}</p>
                <p class="text-gray-600">Remote ID : {{ instance_detail.remote_id }}</p>
            </div>
            <div class="flex-1 text-right">
                <p class="text-gray-600">Status : 
                    {% if instance_detail.state == 'started' %}
                    <span class="text-green-500"> Démarrée</span>
                    {% elif instance_detail.state == 'open' %}
                    <span class="text-blue-500">En cours de Construction</span>
                    {% elif instance_detail.state == 'pending' %}
                    <span class="text-blue-500">En cours de Démarrage</span>
                    {% elif instance_detail.state == 'deleting' %}
                    <span class="text-blue-500">En cours de Suppression</span>
                    {% elif instance_detail.state == 'stopping' %}
                    <span class="text-blue-500">En cours d'Arret</span>
                    {% elif instance_detail.state == 'revoking' %}
                    <span class="text-blue-500">En cours de révocation</span>
                    {% elif instance_detail.state == 'stopped' %}
                    <span class="text-blue-500">Arrêtée</span>
                    {% elif instance_detail.state == 'revoked' %}
                    <span class="text-red-500">Révoquée</span>
                    {% elif instance_detail.state == 'error' %}
                    <span class="text-red-500">Erreur</span>
                    {% elif instance_detail.state == 'expire' %}
                    <span class="text-red-500">Expirée</span>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="w-full justify-center my-2 border-2 p-2 border-blue-500">
            {% for action_value in instance_detail.instance_action_value_instance.all %}
            <div class="text-left w-full my-2 border-2 p-2 border-blue-500">
                {% if action_value.action.name == 'SSH' %}
                <p class="flex text-gray-600 text-left">{{ action_value.action }} :  {{ instance_detail.code }}_access_key.pem
                    <a href="{% url 'admin_instance_file' code=action_value.code filename=instance_detail.code|add:'_access_key.pem' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download mx-2 my-1" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                    </a>
                </p>
                {% else %}
                <p class="text-gray-600 text-left">{{ action_value.action }}  :  {{ action_value.value }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
  <script type="text/javascript">
    $(".update-instance").each(function () {
        $(this).modalForm({ formURL: $(this).data('id') });
      });
</script>