<div class="py-2 px-2 bg-white">
  <nav class="md:px-2 md:py-2.5">
    <div class="flex flex-wrap justify-between items-center mx-auto">
      <div class="flex items-center md:order-2">
        <button data-collapse-toggle="mobile-menu-language-select" type="button" class="inline-flex items-center ml-1 bg-gray-50 text-sm rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-language-select" aria-expanded="false">
          <span class="material-symbols-outlined text-blue-600 font-bold">
            menu
          </span>
        </button>
      </div>
      <div class="hidden mt-8 justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-language-select"> 
        <ul class="space-y-10 content-start justify-start">
          <li class='py-2 bg-indigo-600 rounded-md'>
            <a href="{% url 'admin_account' %}" class="flex items-center text-sm font-bold text-white ransition duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-4 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 10a1 1 0 011-1h4a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 01-1-1v-4z" />
              </svg>
                DASHBOARD
              </a>
          </li>
          <li {% if object == 'groupe_service' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_groupe_service' %}" 
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'groupe_service' %} text-indigo-600 {% endif %}"
            hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'groupe_service' %} text-indigo-600 {% endif %}" viewBox="0 0 16 16">
                <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
              </svg>
              GROUPE SERVICES</a>
            <div id="dropdownRight"
              class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
            </div>
          </li>
          <li {% if object == 'service' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_service' %}"
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'service' %} text-indigo-600 {% endif %}"
            hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-square h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'service' %} text-indigo-600 {% endif %}" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
              </svg>
              SERVICES</a>
            <div id="dropdownRight"
              class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
            </div>
          </li>
          <li {% if object == 'action' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_action' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'action' %} text-indigo-600 {% endif %}"
              hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'action' %} text-indigo-600 {% endif %}" viewBox="0 0 16 16">
                <path d="M3.5 2A1.5 1.5 0 0 1 5 3.5V5H3.5a1.5 1.5 0 1 1 0-3zM6 5V3.5A2.5 2.5 0 1 0 3.5 6H5v4H3.5A2.5 2.5 0 1 0 6 12.5V11h4v1.5a2.5 2.5 0 1 0 2.5-2.5H11V6h1.5A2.5 2.5 0 1 0 10 3.5V5H6zm4 1v4H6V6h4zm1-1V3.5A1.5 1.5 0 1 1 12.5 5H11zm0 6h1.5a1.5 1.5 0 1 1-1.5 1.5V11zm-6 0v1.5A1.5 1.5 0 1 1 3.5 11H5z"/>
              </svg>
              ACTIONS</a>
          </li>
          <li {% if object == 'instance' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_instance' %}"
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'instance' %} text-indigo-600 {% endif %}"
            hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'instance' %} text-indigo-600 {% endif %}" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
              </svg>
              INSTANCES</a>
          </li>
          <li {% if object == 'application' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_application' %}"
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'application' %} text-indigo-600 {% endif %}"
            hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'application' %} text-indigo-600 {% endif %}" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
              </svg>
              APPLICATIONS</a>
          </li>
          <li {% if object == 'commande' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_commande' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'commande' %} text-indigo-600 {% endif %}"
              hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'commande' %} text-indigo-600 {% endif %}" viewBox="0 0 16 16">
                <path d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z"/>
                <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
              </svg>
              COMMANDES</a>
          </li>
          <li {% if object == 'Offresurmesure' or object == 'Offresurmesuredetail' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_offresurmesure' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'Offresurmesure' or object == 'Offresurmesuredetail' %} text-indigo-600 {% endif %}"
              hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'Offresurmesure' or object == 'Offresurmesuredetail' %} text-indigo-600 {% endif %}" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd" />
              </svg>
              OFFRES SUR MESURE</a>
          </li>
          <li {% if object == 'paiement' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_paiement' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'paiement' %} text-indigo-600 {% endif %}"
              hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'paiement' %} text-indigo-600 {% endif %}" viewBox="0 0 16 16">
                <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.501.501 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89L8 0ZM3.777 3h8.447L8 1 3.777 3ZM2 6v7h1V6H2Zm2 0v7h2.5V6H4Zm3.5 0v7h1V6h-1Zm2 0v7H12V6H9.5ZM13 6v7h1V6h-1Zm2-1V4H1v1h14Zm-.39 9H1.39l-.25 1h13.72l-.25-1Z"/>
              </svg>
              PAIEMENTS</a>
          </li>
          <li {% if object == 'user' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_user' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'user' %} text-indigo-600 {% endif %}"
              hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'user' %} text-indigo-600 {% endif %}" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
              </svg>
              UTILISATEUR</a>
          </li>
          <li {% if object == 'forfait' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_forfait' %}"
              class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'forfait' %} text-indigo-600 {% endif %}"
              hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'forfait' %} text-indigo-600 {% endif %}" viewBox="0 0 16 16">
                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
              </svg>
              FORFAITS</a>
          </li>
          <li {% if object == 'setting' or object == 'admin' %} class='border-2 border-blue-500 py-2' {% endif %}>
            <a href="{% url 'admin_setting' %}"
            class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200 {% if object == 'setting' or object == 'admin' %} text-indigo-600 {% endif %}"
              hover:text-indigo-600>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200 {% if object == 'setting' or object == 'admin' %} text-indigo-600 {% endif %}" viewBox="0 0 16 16">
                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
              </svg>
              PARAMETRAGE</a>
          </li>
          <li>
            <a href="{% url 'logout' %}" class="flex items-center text-sm font-semibold text-gray-500 hover:text-indigo-600 transition duration-200">
              <svg xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mr-4 text-gray-400 hover:text-indigo-600 transition duration-200" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
              </svg>
              LOGOUT</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</div>