{% if action == 'add' %}
{% include 'admin_add_grp_service.html' %}
{% elif action == 'edit' %}
{% elif action == 'delete' %}
{% else %}
<div class="w-full mt-1 flex flex-col">
    {% if not grp_service_detail %}
    <form class="w-full" action="{% url 'action_groupe_service' %}" method="post">
        {% csrf_token %}
        <div class='md:flex space-x-2 justify-end p-2 md:text-lg text-xs'>
            {% include 'dropdown_action_object.html' %}
        </div>
        {% if page %}
        <div class="inline-block w-full overflow-x-scroll">
            <table class="table-auto w-full md:text-lg text-xs">
                <thead class="border-4 border-gray-200 justify-center">
                    <tr class="bg-indigo-600 justify-center">
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50"></span>
                        </th>
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Code</span>
                        </th>
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Image</span>
                        </th>
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Nom</span>
                        </th>
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Description</span>
                        </th>
                      
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Etat</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    {% for grp_service in page.object_list %}
                    <tr class="bg-white border-2 border-gray-200 text-center">
                        <td class="px-1 py-2 items-center">
                            <span><input type="checkbox" value="{{ grp_service.id }}" id="{{ grp_service.id }}" name = "select_items"/></span>
                        </td>
                        <td class="">
                            <a href="?code={{ grp_service.code }}">
                                <span class="text-center">{{ grp_service.code }}</span>
                            </a>
                        </td>
                        <td class="px-3 py-2 flex flex-row items-center justify-center">
                            <img class="h-8 w-8 object-cover" src="{{ grp_service.image.url }}" alt="" />
                        </td>
                        <td>
                            <span class="text-center">{{ grp_service.name }}</span>
                        </td>
                        <td>
                            <span class="text-left">{{ grp_service.description }}</span>
                        </td>
                      
                        <td class="px-3 py-2">
                            {% if grp_service.enabled %}
                            <span class="text-center text-green-700">Activé</span>
                            {% else %}
                            <span class="text-center text-red-700">Désactivé</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </form>
    {% if page %}
    <div class="w-full mt-auto">
        {% include 'pagination.html' %}
    </div>
    {% endif %}
    {% elif grp_service_detail %}
    {% include 'admin_detail_grp_service.html' %}
    {% endif %}
</div>
{% endif %}