{% load mathfilters %}
<div class="md:text-lg text-xs">
    {% if next_commande or prev_commande %}
    <div class="mt-4 flex text-center items-center justify-center relative">
      {% if prev_commande %}
      <a href="?code={{ prev_commande.code }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-left-square-fill h-6 w-6 mr-4 text-gray-700 hover:text-indigo-600 transition duration-200"
          viewBox="0 0 16 16">
          <path
            d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
        </svg>
      </a>
      {% endif %}
      {% if next_commande %}
      <a href="?code={{ next_commande.code }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right-square-fill h-6 w-6 mr-4 text-gray-700 hover:text-indigo-600 transition duration-200"
          viewBox="0 0 16 16">
          <path
            d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z" />
        </svg>
      </a>
      {% endif %}
    </div>
    {% endif %}
    <div class="justify-between mt-4">
      <div class="flex mb-4">
        <div class="flex-1">
          <p class="font-bold ">{{ admin_commande.code }}</p>
          <p class="text-gray-600">Date Heure : {{ admin_commande.date_created }}</p>
        </div>
        <div class="flex text-right">
          <div class="text-right">
            <div class="text-gray-600 relative right-0 top-0 h-8 border-4 font-bold">
              Status :
              {% if admin_commande.state == 'validat' %}
              <span class="text-green-500 w-full h-full">Validé/Paiement en cours</span>
              {% elif admin_commande.state == 'paid' %}
              <span class="text-green-500 w-full h-full">Validé/Payé</span>
              {% elif admin_commande.state == 'open' %}
              <span class="text-blue-500 w-full h-full">En cours</span>
              {% elif admin_commande.state == 'cancel' %}
              <span class="text-red-500 w-full h-full">Annulé</span>
              {% endif %}
            </div>
            {%if admin_commande.state == 'paid'%}
            <div class="flex relative text-center bg-blue-500 font-bold hover:bg-blue-700 justify-center">
              <a href="/adm/account/action/facture/?code={{ admin_commande.code }}&action=view" target="_blank" class="w-full h-full">
                <button class="text-white font-bold py-2 px-4 rounded">
                  Facture
                </button>
              </a>
            </div>
            {%else%}
            <div class="flex relative text-center bg-blue-500 font-bold hover:bg-blue-700 justify-center">
              <a href="/adm/account/action/facture/?code={{ admin_commande.code }}&action=view" target="_blank" class="w-full h-full">
                <button class="text-white font-bold py-2 px-4 rounded">
                  Devis
                </button>
              </a>
            </div>

            
            {%endif%}

          </div>
        </div>
      </div>
      <div>
        <div>
          {% if admin_commande.commmande_ligne_commande.all %}
          <div class="w-full overflow-x-scroll mb-4">
            <table class="w-full md:text-lg text-xs">
              <thead class="justify-between">
                <tr class="border-b-4 border-gray-200">
                  <th class="">
                    <div class="text-gray-300 bg-indigo-600 px-3 py-2" style="max-width:200px;">Serveur Métier</div>
                  </th>
                </tr>
                <tr class="bg-indigo-600">
                <tr class="bg-indigo-600 justify-center">
                  <th class="px-3 py-2 border-gray-200 text-center text-center tracking-wider">
                    <span class="text-gray-300">Nom</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Prix Unitaire Mensuel</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Quantité</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300"> Durée </span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Réduction</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Prix Unitaire Mensuel avec Réduction</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Prix Total</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-gray-200">
                {% for match_service in admin_commande.commmande_ligne_commande.all %}
                <tr class="bg-white border-4 border-gray-200">
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.service.groupe_service.name }} : {{ match_service.service.name }}</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.price }} {{ match_service.service.currency }}</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.quantity }}</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.durree }} Mois</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.reduction }} % par Mois</span>
                  </td>
                  {% widthratio match_service.reduction 100 match_service.price as prix_reduction_un_mois %}
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.price|sub:prix_reduction_un_mois|floatformat:1 }} {{ match_service.service.currency }}</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center">{{ match_service.total_price }} {{ match_service.service.currency }}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
          {% if admin_commande.commmande_ligne_app_commande.all %}
          <div class="w-full overflow-x-scroll">
            <table class="w-full md:text-lg text-xs">
              <thead class="justify-between">
                <tr class="border-b-4 border-gray-200">
                  <th class="">
                    <div class="text-gray-300 bg-indigo-600 px-3 py-2" style="max-width:200px;">Application Métier</div>
                  </th>
                </tr>
                <tr class="bg-indigo-600">
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Nom</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Prix Unitaire Mensuel</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Quantité</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Durée</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center tracking-wider">
                    <span class="text-gray-300">Réduction</span>
                  </th>
                  <th class="px-3 py-2 border-b-2 border-gray-200 text-center md:font-bold tracking-wider">
                    <span class="text-gray-300">Prix Total</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-gray-200">
                {% for match_app in admin_commande.commmande_ligne_app_commande.all %}
                <tr class="bg-white border-4 border-gray-200">
                  <td class="items-center justify-center text-center px-3 py-2 md:table-cell">
                    <span class="text-center items-center md:font-bold">{{ match_app.app_name }} : {{ match_app.package }}</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2 uppercase">
                    <span class="text-center items-center md:font-bold">{{ match_app.price|floatformat:0 }} fcfa</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center md:font-bold">{{ match_app.quantity }}</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center md:font-bold">{{ match_app.durree }} Mois</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center md:font-bold">{{ match_app.reduction }} %</span>
                  </td>
                  <td class="items-center justify-center text-center px-3 py-2">
                    <span class="text-center items-center md:font-bold uppercase">{{ match_app.total_price|floatformat:0 }} fcfa</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
          <div class="felx text-right underline">
            <p class="text-xl font-bold my-4 mx-8 underline">Montant Total: {{ admin_commande.total_price }} FCFA</p>
          </div> 
        </div>
      </div>
    </div>
</div>