<div class="absolute hidden md:block bg-red-500 top-4 right-0 mx-2 text-right px-2">
    <span>Ce site est en cours de construction</span>
</div>
<div class="bg-red-500 w-full text-right px-2 md:hidden">
    <span>Ce site est en cours de construction</span>
</div>
<nav class="bg-white border-gray-200 rounded dark:bg-gray-900">
    <div class="w-full flex  bg-gradient-to-r from-white to-blue-200">
        <div class="justify-center items-center">
            <a href="/">
                <img src="{{ STATIC_URL }}/media/images/logo_cori_1.png" class="md:w-64 w-40 h-32" alt="logo" />
            </a>
        </div>
        <div
            class="w-full row text-center justify-center items-center text-blue-800 font-bold  bg-gradient-to-r from-white to-blue-500">
            <div
                class="w-full row text-center justify-center items-center text-blue-800 font-bold  bg-gradient-to-r from-white to-blue-500">
                <span class="md:text-xl text-sm">Cori Digital</span>
                <span class="md:text-lg text-xs">
                    <span> Notre mission : Vous accompagnez au quotidien dans votre transformation numérique avec le
                        cloud </span>
                </span>
            </div>
            <div class="container flex flex-wrap justify-between justify-items-stretch items-center mx-auto">
                <div></div>
                <div class="flex items-center md:order-2 justify-self-end">
                    <button type="button" data-collapse-toggle="mobile-menu-2" aria-controls="mobile-menu-2"
                        aria-expanded="false"
                        class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                    <div class="hidden relative md:block mx-4">
                        <!--
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Search icon</span>
                        </div>
                        -->
                        <div id="search-navbar">
                            <form class="flex items-center justify-center mb-3 xl:w-96 mt-10">
                                <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
                                    <input type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Recherche..." aria-label="Search" aria-describedby="button-addon2">
                                    <button class="btn inline-block px-6 py-2.5 bg-blue-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-800 hover:shadow-lg focus:bg-blue-800  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="button" id="button-addon2">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="dropdown relative flex p-1 space-x-4 justify-end">
                        <a class="text-white hidden-arrow flex items-center mr-2" href="{% url 'panier_services' %}">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart" class="md:w-8 md:h-8 w-6 h-6"
                                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                <path fill="black"
                                    d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z">
                                </path>
                            </svg>
                            {% if request.session and request.session.panier %}
                            <span class="text-white bg-red-700 absolute rounded-full text-xs -mt-2.5 ml-4 py-0 px-1"
                            id="panier_count"></span>
                            {% endif %}
                        </a>
                        <button type="button"
                            class="flex text-sm bg-white rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 "
                            id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                            data-dropdown-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle md:w-8 md:h-8 w-6 h-6" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </button>
                        <div class="md:text-sm text-xs hidden z-50 w-48 my-4 bg-white text-base list-none rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                            id="user-dropdown">
                            {% if request.user.is_authenticated %}
                            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white text-left">
                                <div>
                                    <span class="tracking-tight text-center">{{ request.user.first_name}}</span>
                                    <span class="tracking-tight text-center">{{ request.user.last_name}}</span>
                                </div>
                                <div class="font-medium truncate">
                                    <span class="tracking-tight text-center">{{ request.user.email}}</span>
                                </div>
                            </div>
                            <div class="py-1 text-left">
                                <a href="{% url 'account' %}"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tableau
                                    de Bord</a>
                            </div>
                            <div class="py-1 text-left">
                                <a href="{% url 'account' %}"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mon
                                    Compte</a>
                            </div>
                            <div class="py-1 text-left">
                                <a href="{% url 'user_profil' %}"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profil</a>
                            </div>
                            <div class="py-1">
                                <a href="{% url 'logout' %}"
                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Se
                                    Déconnecter</a>
                            </div>
                            {% else %}
                            <div class="py-1 text-left">
                                <a href="{% url 'login' %}"
                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Se
                                    Connecter</a>
                            </div>
                            <div class="py-1 text-left">
                                <a href="{% url 'register' %}"
                                    class="block px-4 py-2 text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Créer
                                    Un Compte</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Dropdown menu -->
                    
                    <button data-collapse-toggle="mobile-menu-2" type="button"
                        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="mobile-menu-2" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
                    <div class="relative mt-3 md:hidden">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <div id="search-navbar">
                            <form class="flex items-center justify-center">
                                <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
                                    <input type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Recherche..." aria-label="Search" aria-describedby="button-addon2">
                                    <button class="btn inline-block px-6 py-2.5 bg-blue-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-800 hover:shadow-lg focus:bg-blue-800  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="button" id="button-addon2">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <ul
                        class="flex flex-col mt-2 px-4 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                        <li class="block rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 md:p-2">
                            <button id="mega-menu-full-dropdown-button_produits_services" aria-expanded="false"
                                data-dropdown-toggle="mega-menu-full-dropdown_produits_services"
                                data-dropdown-placement="bottom"
                                class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Produits
                                & Services<svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg></button>
                        </li>
                        <li class="block rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 md:p-2">
                            <button id="mega-menu-full-dropdown-button_nos_offres_projet" aria-expanded="false"
                                data-dropdown-toggle="mega-menu-full-dropdown_nos_offres_projet"
                                data-dropdown-placement="bottom"
                                class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Nos
                                offres projet<svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg></button>
                        </li>
                        <li class="block rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 md:p-2">
                            <button id="mega-menu-full-dropdown-button_nos_offres_metier" aria-expanded="false"
                                data-dropdown-toggle="mega-menu-full-dropdown_nos_offres_metier"
                                data-dropdown-placement="bottom"
                                class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Nos
                                offres métier<svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg></button>
                        </li>
                        <li class="block rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 md:p-2">
                            <button id="mega-menu-full-dropdown-button_a_propros_de_nous" aria-expanded="false"
                                data-dropdown-toggle="mega-menu-full-dropdown_a_propros_de_nous"
                                data-dropdown-placement="bottom"
                                class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
                                A propose de nous<svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg></button>
                        </li>
                        <li class="block rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 md:p-2">
                            <a href="{% url 'account' %}">
                                <button id="mega-menu-full-dropdown-button_espace_client" aria-expanded="false"
                                    class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium md:font-bold md:text-sm text-xs text-gray-700 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Espace
                                    client</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="sous-menu">
        <div id="mega-menu-full-dropdown_produits_services"
            class="hidden z-50 mt-1 bg-gray-50 border-gray-200 shadow-sm md:bg-white border-y dark:bg-gray-800 dark:border-gray-600">
            <div class="flex flex-wrap py-4 text-gray-900 dark:text-white justify-left">
                <ul>
                    <li class="px-4">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Service Cloud</div>
                        </span>
                        <ul class="" id="dropdown-menu_groupe_services">
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Hébergement</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Nom de domaine & DNS</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Email pro</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Hébergement</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">SSL certificat</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Support</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Support HO</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Support HNO pro</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Support dédié</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Ouvrir un ticket</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">BIG DATA, AI</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Etude marcketing</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Valorisation des données</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Création de ouveau business</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Stockage Backup service</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Cori backup</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Cori backup pro</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Supervision</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Supervision 24/7 </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Monitoring serveur</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Nom de domaine</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Achat de nom de domaine</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mega-menu-full-dropdown_nos_offres_projet"
            class="w-full hidden z-50 mt-1 bg-gray-50 border-gray-200 shadow-sm md:bg-white border-y dark:bg-gray-800 dark:border-gray-600">
            <div class="flex flex-wrap py-4 text-gray-900 dark:text-white justify-left">
                <ul class="">
                    <li>
                        <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Etude & conseil</div>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Un nouveau projet</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Cloud public</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Cloud privé</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Cloud hybride</div>
                                </a>
                            </li>
                            <li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Formation</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Cloud public</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Cloud privé</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Cloud hybride</div>
                                </a>
                            </li>
                            <li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mega-menu-full-dropdown_nos_offres_metier"
            class="w-full hidden z-50 mt-1 bg-gray-50 border-gray-200 shadow-sm md:bg-white border-y dark:bg-gray-800 dark:border-gray-600">
            <div class="flex flex-wrap py-4 text-gray-900 dark:text-white justify-left">
                <ul class="">
                    <li>
                        <a href="/page/page_erp" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Erp</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_hrm" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Hrm</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_education"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Education</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_e-commerce"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">E-commerce</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_sondage"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Sondage</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_analytique"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Analayte</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_mailing"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Mailing</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_booking"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Booking</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_sap-ngu"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">SAP dans NGU</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_projet"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Gestion de projet</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_support"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Support help desk</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_fact-pme"
                            class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Facturation des freelances, PME</div>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Sécurité</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Caméra de surveillance</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Santé</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">stockage de données d'analyse médical</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Éducation</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">virtuel pour chaque étudiant</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_hrm" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Finance</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_hrm" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Transport</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_hrm" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Services</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_hrm" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Assurances</div>
                        </a>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="/page/page_hrm" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">BTP</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mega-menu-full-dropdown_a_propros_de_nous"
            class="w-full hidden z-50 mt-1 bg-gray-50 border-gray-200 shadow-sm md:bg-white border-y dark:bg-gray-800 dark:border-gray-600">
            <div class="flex flex-wrap py-4 text-gray-900 dark:text-white justify-left">
                <ul>
                    <li class="px-4 ">
                        <span class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Nous connaître</div>
                        </span>
                        <ul class="">
                            <li>
                                <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <div class="font-semibold">Sur base info B</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="">
                    <li>
                        <a href="#" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="font-semibold">Documentation</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
        $.ajax({
            url: "{% url 'count_panier_content' %}",
            data: {

            },
            dataType: 'json',
            success: function (data) {
                $("#panier_count").text(data.counter);
            }
        });
        //
        function getAllGroupeService() {
            $.ajax({
                url: "{% url 'api_list_groupe_service' %}",
                type: "GET",
                dataType: "json",
                success: (data) => {
                    if (data && data.groupes_services) {
                        groupe_services = data.groupes_services
                        $("#dropdown-menu_groupe_services").empty();
                        for (var i = 0; i < groupe_services.length; i++) {
                            html_code = '<li><a href="/groupe_service/?name=' + groupe_services[i].name + '&methode=list" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"><div class="font-semibold">' + groupe_services[i].name + '</div></a></li>'
                            //html_code ='<li class="px-4 "><a class="text-left inline-flex items-center text-black" href="/groupe_service/?name='+groupe_services[i].name+'&methode=list">'+groupe_services[i].name+'</a></li>'
                            $('#dropdown-menu_groupe_services').append(html_code);
                        }
                    }
                },
                error: (error) => {
                }
            });

        }
        //
        getAllGroupeService()
    });
</script>