<div class="modal fade w-full" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content w-full"></div>
    </div>
</div>
<div class="w-full md:w-full p-2 bg-white shadow-md">
    {% include 'modal_edit_password.html' %}
    <div class="w-full text-right p-2">
        <button class="font-bold text-white p-2 bg-blue-600 rounded mb-2">
            <a href="{% url 'add_admin' %}" class="font-bold text-white">
                Nouveau Admin</button>
            </a>
    </div>
    <div class="rounded  shadow p-2 space-y-2 overflow-x-scroll">
        <table class="w-full md:text-lg text-xs">
            <thead class="border-4 border-gray-200 justify-center">
                <tr class="bg-indigo-600 justify-center">
                    <th class="px-1 py-3 text-center">
                        <span class="text-indigo-50"></span>
                    </th>
                    <th class="px-2 py-3 text-center md:font-bold uppercase">
                        <span class="text-indigo-50">Code</span>
                    </th>
                    <th class="px-2 py-3 text-center md:font-bold uppercase">
                        <span class="text-indigo-50">Prénom Nom</span>
                    </th>
                    <th class="px-2 py-3 text-center md:font-bold uppercase">
                        <span class="text-indigo-50">Email</span>
                    </th>
                    <th class="px-2 py-3 text-center md:font-bold uppercase">
                        <span class="text-indigo-50">Téléphone</span>
                    </th>
                    <th class="px-2 py-3 text-center md:font-bold uppercase">
                        <span class="text-indigo-50">Adresse</span>
                    </th>
                    <th class="px-2 py-3 text-center md:font-bold uppercase">
                        <span class="text-indigo-50">Pays</span>
                    </th>
                    <th class="px-2 py-3 text-center md:font-bold uppercase">
                        <span class="text-indigo-50">Etat</span>
                    </th>
                </tr>
            </thead>
            <tbody class="bg-gray-200">
                {% for admin in admins %}
                <tr class="bg-white border-4 border-gray-200 text-center">
                    <td class="px-1 py-2 items-center">
                        <!--
                            <span><input type="checkbox" value="{{ admin.id }}" id="{{ admin.id }}" name = "select_items"/></span>
                        -->
                        <div class="bg-red-600 w-16 shadow p-0.5 grid grid-cols-2 justify-items-center gap-1">
                            <button class="w-full bg-blue-600 h-full update-admin" data-id="{% url 'update_admin' admin.id %}">
                                <span class="material-symbols-outlined">edit</span>
                            </button>
                            <button class="w-full bg-blue-600 h-full" onclick="editPasswordAdmin({{ admin.id }})">
                                <span class="material-symbols-outlined">
                                    password
                                </span>
                            </button>
                            <button class="w-full bg-blue-600 h-full" onclick="actionAdmin({{ admin.id }},{% if admin.enabled %} 'disable' {% else %} 'enable' {% endif %})" id="bt_admin_status_{{ admin.id }}">
                                {% if admin.enabled %}
                                <span class="material-symbols-outlined">unpublished</span>
                                {% else %}
                                <span class="material-symbols-outlined">check_circle</span>
                                {% endif %}
                            </button>
                            <button class="w-full  bg-blue-600 h-full delete-admin" data-id="{% url 'delete_admin' admin.id %}">
                                <span class="material-symbols-outlined">delete</span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <span class="text-center font-semibold text-blue-600">{{ admin.code }}</span>
                    </td>
                    <td class="px-2 py-3">
                        <span class="text-center">{{ admin.first_name }} {{ admin.last_name }}</span>
                    </td>
                    <td class="px-2 py-3">
                        <span class="text-center">{{ admin.email }}</span>
                    </td>
                    <td class="px-2 py-3">
                        <span class="text-center">{{ admin.phone }}</span>
                    </td>
                    <td class="px-2 py-3">
                        <span class="text-center">{{ admin.address }}</span>
                    </td>
                    <td class="px-2 py-3">
                        <span class="text-center">{{ admin.country.name }}</span>
                    </td>
                    <td class="px-2 py-3" id='td_status_{{ admin.id }}'>
                        {% if admin.enabled %}
                        <span class="text-center text-green-700">Activé</span>
                        {% else %}
                        <span class="text-center text-red-700">Désactivé</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(".update-admin").each(function () {
        $(this).modalForm({ formURL: $(this).data('id') });
      });
    //
    $(".delete-admin").each(function () {
        $(this).modalForm({ formURL: $(this).data('id'), isDeleteForm: true });
      });
    //
    $(".create-admin").each(function () {
        $(this).modalForm({ formURL: $(this).data('id') });
      });
    //
    function actionAdmin(id_admin,status)
    {
        $.ajax({
            url: "/adm/account/enable_disable/admin/"+id_admin+"/"+status ,
            type: "GET",
            dataType: "json",
            success: (data) => {
                if(data && data.msg ){
                    if(data.msg=='success' && status=='enable' ){
                        $('#td_status_'+id_admin).html('<span class="text-center text-green-700">Activé</span>')
                        $('#bt_admin_status_'+id_admin).attr("onclick","actionAdmin("+id_admin+",'disable')");
                        $('#bt_admin_status_'+id_admin).html('<span class="material-symbols-outlined">unpublished</span>')
                    }
                    else if(data.msg=='success' && status=='disable' ){
                        $('#td_status_'+id_admin).html('<span class="text-center text-red-700">Désactivé</span>')
                        $('#bt_admin_status_'+id_admin).attr("onclick","actionAdmin("+id_admin+",'enable')");
                        $('#bt_admin_status_'+id_admin).html('<span class="material-symbols-outlined">check_circle</span>')
                    }
                }
            },
            error: (error) => {
            }
        }); 
        
    }
    //
    function editPasswordAdmin(id_admin){
        $("#myModal").modal('show');
        $("#myModal").attr('idadmin',id_admin)
    }
</script>