<div class="modal fade w-full" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content w-full"></div>
    </div>
</div>
<div class="w-full md:text-lg text-xs">
    <div class="justify-between">
        <div class="flex w-full justify-end my-2 p-2 space-x-1">
            <form class="" action="{% url 'action_paiement' %}" method="post">
                {% csrf_token %}
                <input class="hidden" type="checkbox" checked value="{{ paiement_detail.id }}" id="{{ paiement_detail.id }}" name = "select_items"/>
                {% if paiement_detail.state == 'open' %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='valider'>Valider</button>
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='annuler'>Annuler</button>
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='rejeter'>Rejeter</button>
                {% endif %}
                <button class="border-2 border-blue-500 p-1 rounded-md" type='submit' name='supprimer'>Supprimer</button>
            </form>
            <div>
                <button class="border-2 border-blue-500 p-1 rounded-md update-paiement" data-id="{% url 'update_paiement' paiement_detail.id %}">
                    Modifier
                </button>
            </div>
        </div>
        <div class="flex w-full justify-center my-2 border-2 p-2 border-blue-500">
            <div class="flex-1">
                <div class='flex'>
                    <div>
                        <p class="font-bold">{{ paiement_detail.code }}</p>
                    </div>
                    <div class="flex-1 text-right">
                        <p class="text-gray-600">Status : 
                            {% if paiement_detail.state == 'validat' %}
                            <span class="text-green-500"> Valider</span>
                            {% elif paiement_detail.state == 'open' %}
                            <span class="text-blue-500"> En Cours </span>
                            {% elif paiement_detail.state == 'cancel' %}
                            <span class="text-red-500"> Annuler </span>
                            {% elif paiement_detail.state == 'reject' %}
                            <span class="text-red-500"> Rejeter </span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <p class="font-bold">Montant : {{ paiement_detail.montant }} F CFA</p>
                <p class="font-bold">Mode Paiement : {{ paiement_detail.mode_paiement }}</h4>
                <p class="font-bold">Numéro Transaction : {{ paiement_detail.numTransaction_or_numCarte }}</p>
                <p class="font-bold">Utilisateur : {{ paiement_detail.proprietaire }}</p>
                <p class="font-bold">Commande : <a href="/adm/account/list/commande?code={{ paiement_detail.commande.code }}">{{ paiement_detail.commande }}</a></p>
                <p class="text-gray-600 border-2">Date :  {{ paiement_detail.date_paiement }}</p>
            </div>
        </div>
        <div class="w-full justify-center mx-1 my-2 md:my-2 my-1 border-2 md:p-2 p-1 border-blue-500">
            <div class="accordion accordion-flush" id="accordion_{{ paiement_detail.code }}">
                <div class="accordion-item" id="accordion-collapse" data-accordion="collapse">
                    <h5 id="accordion-collapse-heading-{{ paiement_detail.code }}instance" class="md:text-xs text-sm">
                        <button type="button"
                            class="flex items-center justify-between w-full p-3 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 focus:bg-blue-400 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                            data-accordion-target="#flush-collapse{{ paiement_detail.code }}instance"
                            aria-controls="flush-collapse{{ paiement_detail.code }}instance" aria-expanded="false">
                            <span>Instances</span>
                            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </h5>
                    <div id="flush-collapse{{ paiement_detail.code }}instance" class="hidden"
                        aria-labelledby="accordion-collapse-heading-{{ paiement_detail.code }}instance">
                        <div class="w-full overflow-x-scroll">
                            <table class="table-auto w-full md:text-lg text-xs">
                                <thead class="border-4 border-gray-200 justify-center">
                                    <tr class="bg-indigo-600 justify-center">
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Code</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">ID Distant</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Date</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Date de Révocation</span>
                                        </th>
                                        <th class="px-5 py-3 text-center">
                                            <span class="text-indigo-50">Status</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-gray-200">
                                    {% for instance in service_detail.instance_service.all %}
                                    <tr class="bg-white border-4 border-gray-200 text-center px-5 py-3">
                                        <td>
                                            <a href="/adm/account/list/instance?code={{ instance.code }}">
                                                <span class="text-center font-semibold">{{ instance.code }}</span>
                                            </a>
                                        </td>
                                        <td class="px-5 py-3">{{ instance.remote_id }}</td>
                                        <td class="px-5 py-3">{{ instance.date_created }}</td>
                                        <td class="px-5 py-3">{{ instance.date_revoked }}</td>
                                        <td class="px-5 py-3">
                                            <span class="text-center">
                                            {% if instance.state == 'started' %}
                                            <span class="text-green-500"> Démarrée</span>
                                            {% elif instance.state == 'stopped' %}
                                            <span class="text-blue-500">Arrêtée</span>
                                            {% elif instance.state == 'revoked' %}
                                            <span class="text-red-500">Révoquée</span>
                                            {% endif %}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".update-paiement").each(function () {
        $(this).modalForm({ formURL: $(this).data('id') });
      });
</script>