{% if action == 'add' %}
    {% include 'admin_add_forfait.html' %}
{% elif action == 'edit' %}

{% elif action == 'delete' %}

{% else %}
<div class="modal fade w-full" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content w-full"></div>
    </div>
</div>
<div class="w-full mt-1 flex flex-col md:text-lg text-xs">
    <form class="w-full" action="{% url 'action_forfait' %}" method="post">
        {% csrf_token %} 
        <div class='md:flex space-x-2 justify-end p-2'>
            {% include 'dropdown_action_object.html' %}
        </div>
        {% if page %}
        <div class="inline-block w-full overflow-x-scroll">
            <table class="w-full md:text-lg text-xs">
                <thead class="border-4 border-gray-200 justify-center">
                    <tr class="bg-indigo-600 justify-center">
                        <th class="px-1 py-3 text-center">
                            <span class="text-indigo-50"></span>
                        </th>
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Code</span>
                        </th>
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Durée</span>
                        </th>
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Réduction</span>
                        </th>
                        <th class="px-3 py-2 text-center">
                            <span class="text-indigo-50">Eat</span>
                        </th>
                        <th class="text-center">
                            
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-gray-200">
                    {% for forfait in page.object_list %}
                    <tr class="bg-white border-4 border-gray-200 text-center">
                        <td class="px-1 py-2 items-center">
                            <span><input type="checkbox" value="{{ forfait.id }}" id="{{ forfait.id }}" name = "select_items"/></span>
                        </td>
                        <td>
                            <a href="?code={{ forfait.code }}">
                                <span class="text-center">{{ forfait.code }}</span>
                            </a>
                        </td>
                        <td class="px-3 py-2">
                            <span class="text-center">{{ forfait.durree }} Mois </span>
                        </td>
                        <td class="px-3 py-2">
                            <span class="text-center">{{ forfait.reduction }} %</span>
                        </td>
                        <td class="px-3 py-2">
                            {% if forfait.enabled %}
                            <span class="text-center text-green-700">Activé</span>
                            {% else %}
                            <span class="text-center text-red-700">Désactivé</span>
                            {% endif %}
                        </td>
                        <td class="">
                            <div class="">
                                <a href="#" class="update-forfait text-white bg-blue-600 rounded-xl text-center p-1"  data-id="{% url 'update_forfait' forfait.id %}">
                                    Modifier
                                </a>
                            </div>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </form>
    {% if page %}
    <div class="w-full mt-auto">
        {% include 'pagination.html' %}
    </div>
    {% endif %}
</div>
{% endif %}
<script type="text/javascript">
    $(".update-forfait").each(function () {
        $(this).modalForm({ formURL: $(this).data('id') });
      });
</script>
