{% if object == 'paiement'  %}
<div class="bg-white flex flex-wrap justify-end space-x-2 ">
    <div class=""><a href="{% url 'admin_add_paiement' %}" class="my-auto">Ajouter Paiement</a></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='valider'>Valider</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='annuler'>Annuler</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='rejeter'>Rejeter</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'instance' %}
<div class="bg-white flex flex-wrap justify-end space-x-2">
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1">
        <button type='submit' name='compare'>Rapprochement</button>
    </div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='arreter'>Arréter</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='demarrer'>Démarrer</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='resilier'>Résilier</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'commande' %}
<div class="bg-white flex flex-wrap justify-end space-x-2 ">
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='valider'>Valider</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='annuler'>Annuler</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'groupe_service' %}
<div class="bg-white flex flex-wrap justify-end space-x-2 ">
    <div class="">
        <a href="{% url 'add_groupe_service' %}" class="my-auto">Ajouter Groupe Service</a>
    </div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='activer'>Activer</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='deactiver'>Déactiver</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'service' %}
<div class="bg-white flex flex-wrap justify-end space-x-2 ">
    <div class="">
        <a href="{% url 'add_service' %}" class="my-auto">Ajouter Service</a>
    </div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='activer'>Activer</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='deactiver'>Déactiver</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'action' %}
<div class="bg-white flex flex-wrap justify-end space-x-2 ">
    <div class="">
        <a href="{% url 'add_action' %}" class="my-auto">Ajouter Action</a>
    </div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='activer'>Activer</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='deactiver'>Déactiver</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'user' %}
<div class="bg-white flex flex-wrap justify-end space-x-2 ">
    <div class="">
        <a href="{% url 'admin_add_user' %}" class="my-auto">Ajouter Utilisateur</a>
    </div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='activer'>Activer</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='deactiver'>Déactiver</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'forfait' %}
<div class="bg-white flex flex-wrap justify-end space-x-2 ">
    <div class="">
        <a href="{% url 'admin_add_forfait' %}" class="my-auto">Ajouter Forfait</a>
    </div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='activer'>Activer</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='deactiver'>Déactiver</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'Offresurmesure' %}
<div class="bg-white flex flex-wrap justify-end space-x-2 ">
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='valider'>Valider</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='annuler'>Annuler</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% elif object == 'application' %}
<div class="bg-white flex flex-wrap justify-end space-x-2">
    <div class=""><a href="{% url 'admin_add_application' %}" class="my-auto">Ajouter Application</a></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1">
        <button type='submit' name='compare'>Rapprochement</button>
    </div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='arreter'>Arréter</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='demarrer'>Démarrer</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='resilier'>Résilier</button></div>
    <div class="rounded-md py-1 hover:bg-gray-100 border-2 border-gray-700 px-1"><button type='submit' name='supprimer'>Supprimer</button></div>
</div>
{% endif %}




