<div id="myModal" class="modal fade" tabindex="-1">
    <form class="rounded" action="" method="POST" id="form_for_password">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Créer/Modifier Mot de Passe</h5>
                    <button  type="button" class="close rounded-md bg-red-700 py-1 px-2 font-bold button_exit_modal" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <span class="text-center my-1 p-2 w-full bg-red-100 text-red-700 hidden" id="msg_error"></span>
                <div class="modal-body">
                    <div class="pb-4 form-group">
                        <input  name='admin_password_new' id="admin_password_new" class="border-1 rounded-r px-4 py-2 w-full" type="password" placeholder="Nouveau mot de passe" required/>
                    </div>
                    <div class="pb-4 form-group">
                        <input  name='admin_confirme_password' id="admin_confirme_password" class="border-1 rounded-r px-4 py-2 w-full" type="password" placeholder="Confirmer Nouveau mot de passe" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="sumbit" class="btn btn-primary" >Valider</button>
                    <button type="button" class="btn btn-secondary button_exit_modal" data-dismiss="modal">Anuller</button>
                </div>
            </div>
        </div>
    </form>
</div>
  <script type="text/javascript">
    $(".button_exit_modal").click(function () {
        $("#myModal").modal("hide");
    });
    // 
    {% comment %} $("#button_cancel_edit").click(function () {
        $("#myModal").modal("hide");
    }); {% endcomment %}
    //
    $(document).ready(function(){
        $("#myBtn").click(function(){
            $("#myModal").modal('show');
        });
    });
    //
    $('#form_for_password').on('submit', function(e){
        id=$("#myModal").attr('idadmin')
        e.preventDefault();
        if(id){
            $.ajax({
                type : "POST", 
                url: "/adm/account/edit_password/admin/"+id,
                data: {
                    admin_password : $('#admin_password_new').val(),
                    admin_confirme_password : $('#admin_confirme_password').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dataType: "json",
            
                },
                success: function(data){
                    console.log(data)
                    if(data && data.msg && data.msg=='success'){
                        $('#form_for_password')[0].reset();
                        $("#myModal").modal("hide");
                    }
                    else
                    {
                        $('#msg_error').text(data.msg);
                        $('#msg_error').show();
                    }
    
                },
                failure: function() {
                    $('#msg_error').text(data.msg);
                    $('#msg_error').show();
                }
            });
        }
    });
</script>
