{% extends 'index.html' %}
{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="alert alert-info">
                    <div class="card-header justify-content-center card shadow-lg border-0 rounded-lg">
                        <h3>Mot de passe bien réinitialisé !!!</h3>
                    </div>
                    <div class="card-body">
                        <p>Votre mot de passe a été réinitialisé. Vous pouvez continuer et <a href="{% url 'login' %}">Connectez-vous ici</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}