{% extends 'index.html' %}
{% block content %}
<div class="form-content my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center bg-blue-200">
                        <h3 class="font-weight-light py-2 text-center">Mot de passe oublié ?</h3>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <form method="POST" class="space-y-4">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                <div class="form-group">
                                  <label class="small mb-1" for="id_email">Email</label>
                                    <input type="email" name="email"  class="form-control"
                                           autocomplete="email" maxlength="254" required id="id_email"
                                           placeholder="votre email">
                                </div>
                            </div>
                        </div>
                            <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                                <div class="form-group mt-0 mb-1">
                                    <button type="submit" class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 uppercase">Envoyer
                                    </button>
                                </div>
                             </div>
                           </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-4">
                        <div class="text-right space-y-2">
                            <a class="m-2" href="{% url 'register' %}">Créer un nouveau compte</a><br>
                            <a class="m-2" href="{% url 'login' %}">Retour connexion</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}