{% extends 'index.html' %}
{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg ">
                <div class="alert alert-info">
                    <div class="card-header justify-content-center card shadow-lg border-0 rounded-lg">
                        <h3>Vérifiez votre boîte de réception !!!</h3>
                    </div>
                    <div class="card-body">
                        <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe. Vous devriez recevoir l'e-mail sous peu !</p>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}