{% extends 'index.html' %}
{% block content %}
    <div class="form-content my-3 p-3 justify-center items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center bg-blue-200">
                              <h3 class="font-weight-light py-2 text-center">Réinitialisez votre mot de passe</h3>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors" class="text-center">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <form method="POST" class="space-y-4">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password1">Nouveau mot de passe</label>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control" required id="id_new_password1"
                                                       placeholder="Entrer le mot de passe"/>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password2">Confirmation du nouveau mot de passe</label>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="Confirmez le mot de passe"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-1">
                                                <button type="submit" class="col-md-12 btn btn-dark" id="reset">Réinitialiser le mot de passe</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        <div class="card-header justify-content-center card shadow-lg border-0 rounded-lg">
                            <h3>Le lien de réinitialisation du mot de passe est invalide !!!</h3>
                        </div>
                        <div class="card-body">
                            <p>
                                Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
                                <br>
                                Veuillez demander une nouvelle réinitialisation du mot de passe.
                                <br>
                                <a href="{% url 'login' %}">Connectez-vous ici</a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}